﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.BreakDownEntry
@{
    /**/

    /**/

    Layout = null;
}

@using (Html.BeginForm("CreateBreakDown", "ProductionPage", FormMethod.Post, new { @id = "frmcreateBreakDown" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("isOverNight", (Boolean)ViewBag._isOverNight)
    @Html.HiddenFor(i => i.TimeOfEntry)
    @Html.HiddenFor(i => i.StartTime)
    @Html.HiddenFor(i => i.EndTime)
    @Html.HiddenFor(i => i.UserID)
    @Html.HiddenFor(i => i.OrganizationId)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(i => i.BreakDownID)
    @Html.HiddenFor(model => model.ProductionDate, new { @id = "hdBreakdownProdDate", @class = "lblProductionDateBD" })
    <div class="form-group col-xs-12 col-md-4" style="display:none;">
        @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.MachineID, UserUtility.AllMachine, "Select Machine", new { @class = "form-control current_machine" })
        @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.ReasonId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.ReasonId, UserUtility.ActiveReasons, "Select Reason", new { @class = "form-control", @required = "required" ,@onchange="selectSoppageSubReason()"})
        @Html.ValidationMessageFor(model => model.ReasonId, "", new { @class = "text-danger" })
    </div>


    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.SubReasonId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.SubReasonId, UserUtility.ActiveSubReasons, "Select Sub Reason", new { @class = "form-control"})
        @Html.ValidationMessageFor(model => model.SubReasonId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-4" style="display:none;">
        @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.UserID, UserUtility.AllUser, "Select Operator", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-4 Hidden">
        @Html.LabelFor(model => model.OperatorID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.OperatorID, UserUtility.AllUser, "Select Operator", new { @class = "form-control Operator" })
        @Html.ValidationMessageFor(model => model.OperatorID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-4 Hidden">
        @Html.LabelFor(model => model.SupervisorID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.SupervisorID, UserUtility.AllUser, "Select Supervisor", new { @class = "form-control Supervisor" })
        @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
    </div>

    @*<div class="form-group col-xs-12 col-md-4">
            @Html.LabelFor(model => model.TimeOfEntry, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TimeOfEntry, new { htmlAttributes = new { @class = "form-control timepicker" } })
            @Html.ValidationMessageFor(model => model.TimeOfEntry, "", new { @class = "text-danger" })
        </div>*@

    <div class="form-group col-xs-12 col-md-4" style="display:none;">
        @Html.LabelFor(model => model.ShiftId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.ShiftId, UserUtility.AllShift, "Select Shift", new { @class = "form-control current_shift" })
        @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
    </div>


    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.sBreakDownStartTime, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.sBreakDownStartTime, new { htmlAttributes = new { @class = "form-control TimePick", @min = ViewBag._shiftStart, @max = ViewBag._shiftEnd, @onblur = "CalculateTotalBreakDownTime()", @type = "number" } })
        @Html.ValidationMessageFor(model => model.sBreakDownStartTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.sBreakDownEndTime, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.sBreakDownEndTime, new { htmlAttributes = new { @class = "form-control TimePick", @min = ViewBag._shiftStart, @max = ViewBag._shiftEnd, @onblur = "CalculateTotalBreakDownTime()", @type = "number" } })
        @Html.ValidationMessageFor(model => model.sBreakDownEndTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.TotalStoppageTime, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.TotalStoppageTime, new { @class = "form-control", @type = "number", @min = "0", @step = "1", @required = "required" })
        @Html.ValidationMessageFor(model => model.TotalStoppageTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        <label class="control-label">&nbsp;</label>
        <input type="button" command="Breakdown" onclick="return BreakDownSubmitWithCheck();" id="btn" value="Save" class="btn btn-create-user" @(Model.IsSaved ? "disabled" : "") />
    </div>
    @*@section Scripts {*@

    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/js/bundles/asyncproduction.min.js"></script>
    <script src="~/js/bundles/bootstrap.min.js"></script>
    <script src="~/js/bundles/custom.min.js"></script>

        @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/asyncproduction")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/custom")*@
    //}
}


