﻿@using Newtonsoft.Json
@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ViewModel.ProductionBreakDownEntryViewModel
@{

    ViewBag.Title = "Production Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<script>
        const apiURL = @Json.Serialize(@Configuration.GetSection("ApiUrls").Value)
</script>
<style>
    .RowBGColor {
        background-color: lightgray;
    }

    #myModal .modal-dialog {
        width: 100%;
        height: 98%;
        padding: 0;
    }

    #myModal .modal-content {
        height: 99%;
        top: -29px;
    }

    #rejectiontbl tbody tr td {
        padding: 6px !important;
    }
</style>
<div id="MainContentDiv">
    @{  
        var orgids = Model.CurrentOrganizationId;
        var allshiftdatalst = Model.lstAllShiftData;
        // var productiondata = ViewBag.ShiftProductionData;
        // var allproductlist = Model.lstAllProduct;
    }
    @Html.HiddenFor(i => i.CurrentOrganizationId)
    <div class="row">

        <section id="productshiftsection">

            <div class="box">
                <div class="box-body">
                    <h1> Manual Production Entry For </h1>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                            @Html.LabelFor(model => model.ProductionDate, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ProductionDate, "{0:yyyy-MM-dd}", new { @id = "ProdDate", @class = "form-control newdatepicker", @readonly = true })
                            @Html.ValidationMessageFor(model => model.ProductionDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-md-2">
                            @Html.LabelFor(model => model.CurrentShiftId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.CurrentShiftId, Model.lstAllShift, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CurrentShiftId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-md-3" style="margin-top:17px;">
                            <input type="button" class="btn-primary" value="InsertData" onclick="InserData()" />
                        </div>
                        @*for showing alert*@

                        <div id="alert_message" class="alert form-group col-xs-12 col-md-3" style="width:150px;background-color:#f8d7da;display:none">
                            <div class="row" style="margin-left:20px"><span><strong>Atention!</strong></span></div>
                            <div class="row" style="margin-left:5px"><span>Please select shift</span></div>
                        </div>

                        @*upto here*@

                    </div>

                    @*<div class="overlay" style="z-index: 1000; display: none" id="dvInput_Loading_production">
                            <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                        </div>*@
                </div>
            </div>


        </section>
    </div>
    @*for showing modal*@
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ffc001">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="display:inline" id="modalheader">
                        Manual Production Entry
                    </h4>
                    <h5 style="display:inline"><span id="spanProdDate"></span></h5>
                    <h5 style="display:inline">
                        <span id="spanShift"></span>
                        <span id="notificationBadge" style="display: none;background-color: red;"
                              class="badge badge-pill badge-danger">You have un-saved changes. Please click "Save to Server".</span>
                    </h5>
                </div>
                <div class="modal-body" style="background-color: #fff;">


                    <div id="nav">
                        <ul class="nav nav-tabs">
                            <li style="width:60%">
                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-md-4">
                                        <div>
                                            @Html.LabelFor(model => model.CurrentMachineId, "Select Machine", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div>

                                            @Html.DropDownListFor(m => m.CurrentMachineId, Model.lstAllMachine, new { @class = "form-control", onchange = "fillproduct()" })
                                            @Html.ValidationMessageFor(model => model.CurrentMachineId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">

                                        <div>
                                            @Html.LabelFor(model => model.OperatorID, "Select Operator", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div>
                                            @Html.DropDownListFor(m => m.OperatorID, Model.lstAllOperators, new { @class = "form-control MasterOperator" })
                                            @Html.ValidationMessageFor(model => model.OperatorID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-4" style=" margin-top: 5px;display:none" id="savedatabtndiv">
                                        <input type="button" class="btn-primary" onclick="SaveDate()" value="SaveDataToServer" />
                                    </div>


                                </div>
                            </li>
                            <li class="active"><a href="#tab_0" id="Excisting_Pop" data-toggle="tab" aria-expanded="true">Production Entry</a></li>
                            @if (UserUtility.CurrentUser.HasBreakdown)
                            {
                            <li class=""><a href="#tab_1" id="New_Pop" data-toggle="tab" aria-expanded="false">BreakDown Entry</a></li>
                            }
                        </ul>

                    </div>
                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_0">
                            <div class="box box-solid box-warning">
                                <div class="box-body">

                                    <div class="row">
                                        <div class="col-md-2">
                                            <div>
                                                @Html.LabelFor(model => model.CurrentProductId, "Select Product", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div>
                                                <select id="CurrentProductId" class="form-control" onchange="GetProductUnit()"></select>

                                                @*@Html.DropDownListFor(m => m.CurrentProductId, Model.lstAllProduct, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.CurrentProductId, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">

                                            <div>
                                                @Html.Label("", "TotalProduction", htmlAttributes: new { @class = "control-label" })
                                                <span class="input-group-text" id="spanUnitPro">Unit</span>
                                            </div>
                                            <div>
                                                @Html.TextBox("TotalProduction", null, htmlAttributes: new { @class = "form-control", @type = "number", @min = "1", @step = "1" })

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>
                                                @Html.Label("ReWork", null, htmlAttributes: new { @class = "control-label" })
                                                <span class="input-group-text" id="spanUnitRew">Unit</span>
                                            </div>
                                            <div>
                                                @Html.TextBox("ReWork", null, htmlAttributes: new { @class = "form-control", @type = "number", @min = "1", @step = "1", onchange = "return validateRejectionReworkTotalWOReason()" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>
                                                @Html.Label("Total Rejection", null, htmlAttributes: new { @class = "control-label" })
                                                <span class="input-group-text" id="spanUnitRej">Unit</span>
                                            </div>
                                            <div>
                                                @*change "validateRejectionReworkTotalWOReason" to "validateRejectionReworkTotal" when apply rejection reason*@
                                                @Html.TextBox("TotalRejection", null, htmlAttributes: new { @class = "form-control ", @type = "number", @min = "1", @step = "1", onchange = "return validateRejectionReworkTotalWOReason()" })
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top:19px;">
                                            @if (UserUtility.CurrentUser.HasRejection)
                                            {
                                            <input type="button" class="btn-primary" value="Add Rejections" onclick="InserRejData()" />
                                            }
                                            

                                        </div>
                                        @*un-comment below button when apply rejection reason*@
                                        @*<div class="col-md-2" style="margin-top:19px;">
                                                <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                    Rejection Enteries
                                                </a>
                                            </div>*@
                                        <div class="col-md-2" style="margin-top:15px;">
                                            <input type="button" id="addRow" class="btn-primary" onclick="AddMoreData('Production')" value="AddMoreData" />

                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="collapse" id="collapseExample">
                                            <div class="card card-body">
                                                @foreach (var rejectrason in Model.lstAllRejectReason)
                                                {
                                                    <div class="col-md-2">
                                                        <div>
                                                            @Html.Label("", rejectrason.Rejectiondiscription, htmlAttributes: new { @class = "control-label" })
                                                        </div>
                                                        <div>
                                                            @Html.TextBox(rejectrason.RejectionreasonID.ToString(), null, htmlAttributes: new { @class = "form-control Reject_Reason_Class", @id = "Reject_Reason_" + rejectrason.RejectionreasonID, @type = "number", @min = "1", @step = "1", onchange = "setTotalvalue(" + rejectrason.RejectionreasonID + ")" })
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-sm" id="tblProductionData" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>ProductionRowIndex</th>
                                                        <th>ProductionId</th>
                                                        <th>OrganizationId </th>
                                                        <th>ProductionDate </th>
                                                        <th>ShiftId </th>
                                                        <th>Shift </th>
                                                        <th>MachineID </th>
                                                        <th>Machine </th>
                                                        <th>OperatorID </th>
                                                        <th>Operator </th>
                                                        <th>ProductID </th>
                                                        <th>Product </th>
                                                        <th>Production </th>
                                                        <th>ReWork </th>
                                                        <th>Rejection </th>
                                                        <th>Reject Reason </th>

                                                        <th>ProductionStartTime </th>
                                                        <th>ProductionEndTime </th>
                                                        <th>IsSaved </th>
                                                        <th>IsDeleted</th>
                                                        <th>Remove</th>
                                                        @*@foreach (var rejectrason in Model.lstAllRejectReason)
                                                            {
                                                                <th>@rejectrason.Rejectiondiscription</th>
                                                            }*@

                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_1">
                            <div class="box box-solid box-warning">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div>
                                                @Html.LabelFor(model => model.StoppageReaseonID, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div>

                                                @Html.DropDownListFor(m => m.StoppageReaseonID, Model.lstAllStopageReason, new { @class = "form-control", onchange = "fillsubreasondrp()" })
                                                @Html.ValidationMessageFor(model => model.StoppageReaseonID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div>
                                                @Html.Label("", "Sub Reason", htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div>
                                                <select id="subreasonselect" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div>
                                                @Html.Label("Start Time", null, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div>
                                                @Html.TextBox("Start Time", null, htmlAttributes: new { @class = "form-control", @required = "required", @id = "strttime" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div>
                                                @Html.Label("End Time", null, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div>
                                                @Html.TextBox("End Time", null, htmlAttributes: new { @class = "form-control", @required = "required", @id = "endtime" })
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div>
                                                @Html.Label("Total Time", null, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div>
                                                @Html.TextBox("TotalStoppageTime", null, htmlAttributes: new { @class = "form-control readonly", @readonly = "readonly", onfocusin = "FillTotalStoopageTIme()", @type = "number", @min = "1", @step = "1" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                @Html.Label("Remark", null, htmlAttributes: new { @class = "control-label" })
                                            </div>
                                            <div>
                                                @Html.TextBox("Remarks", null, htmlAttributes: new { @class = "form-control", @type = "text" })
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top:15px;">
                                            <input type="button" id="addRow" class="btn-primary" onclick="AddMoreData('Breakdown')" value="Add More" />

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-sm" id="breaktbl" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>BreakdownRowIndex</th>
                                                        <th>BreakdownId</th>
                                                        <th>OrganizationId </th>
                                                        <th>ProductionDate </th>
                                                        <th>ShiftId </th>
                                                        <th>Shift </th>
                                                        <th>MachineID </th>
                                                        <th>Machine </th>
                                                        <th>OperatorID </th>
                                                        <th>Operator </th>
                                                        <th>StartTime </th>
                                                        <th>EndTime </th>
                                                        <th>StoppageTime </th>
                                                        <th>Remark </th>
                                                        <th>ReasonId</th>
                                                        <th>Reason </th>
                                                        <th>subReasonId</th>
                                                        <th>Sub Reason </th>
                                                        <th>IsSaved </th>
                                                        <th>IsDeleted</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="overlay" style="z-index: 1000; display: none" id="dvInput_Loading">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>*@


                </div>

                <div class="modal-footer" style="background-color: #fff;">
                    <button type="button" class="btn btn-default" href="myModal" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>

    </div>

    @*upto here*@

    <div class="modal fade" id="myRejModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header" style="background-color: #ffc001">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="display:inline" id="modalheader">
                            Rejection Entries for
                        </h4>
                        <h5 style="display:inline"><span id="spanProdDateRej"></span></h5>
                        <h5 style="display:inline">
                            <span id="spanShiftRej"></span>

                        </h5>
                    </div>*@
                <div class="modal-body" style="background-color: #fff;">
                    <div style="background-color: #eeeeee; text-align: center;padding:5px;">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h5 style="display:inline">
                            <span id="spanMachineNameRej"></span>

                        </h5>
                        <h5 class="modal-title" style="display:inline" id="modalheader">
                            Rejection Entries
                        </h5>
                        <h5 style="display:inline"><span id="spanProdDateRej"></span></h5>
                        <h5 style="display:inline">
                            <span id="spanShiftRej"></span>

                        </h5>
                    </div>
                    <table class="table table-striped table-bordered table-sm" id="rejectiontbl" style="width:100%">
                        <thead>
                            <tr style="background-color:#d4a40e;white-space:nowrap;">

                                <th>
                                    Reason Name
                                </th>
                                <th>
                                    Count
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.lstAllRejectionReason.Count(); i++)
                            {
                                <tr>



                                    <td>
                                        @Html.HiddenFor(item => Model.lstAllRejectionReason[i].ReasonId)
                                        @Html.DisplayFor(item => Model.lstAllRejectionReason[i].ReasonName)
                                        @Html.HiddenFor(item => Model.lstAllRejectionReason[i].ReasonName)
                                    </td>

                                    <td>
                                        @Html.TextBoxFor(item => Model.lstAllRejectionReason[i].ReasonQuantity, new {@class= "Rejection_Reason_Count", @type = "number", @min = "0", @step = "1", @onchange = "validateRejectionReasonTotal()" })
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer" style="background-color: #fff;">
                    <button type="button" class="btn btn-default pull-left" href="#myRejModal" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary pull-right" onclick="AddRejectionData()">Submit</button>
                </div>

            </div>
        </div>

    </div>
</div>


@section Scripts {

    @*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>*@

    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />*@

    <link rel="stylesheet" type="text/css" href="~/Scripts/dataTables.bootstrap.min.css" />
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    @*<link href="~/Scripts/BootstrapTimePicker/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />

        <script src="~/Scripts/BootstrapTimePicker/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>*@
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script>
        $(function () {
            //$('#strttime').inputmask({ alias: "datetime", placeholder: "HH:MM AM", inputFormat: "hh:MM TT", insertMode: false, showMaskOnHover: false, hourFormat: 12 })
            $('input[id$="strttime"]').inputmask(
                "hh:mm", {
                placeholder: "HH:MM",
                insertMode: false,
                showMaskOnHover: false,
                hourFormat: "24"
            }
            );
            $('input[id$="endtime"]').inputmask(
                "hh:mm", {
                placeholder: "HH:MM",
                insertMode: false,
                showMaskOnHover: false,
                hourFormat: "24"
            }
            );

        });

    </script>
    <script>
        //var apiurl ="http://localhost:53703"
            var Productiondata = [];
            var RejectionData = [];
            var RejectionEntryByShiftAndDateVM = [];
        var productionrowindex = 1;
        var BreakDownData = [];
        var breakdownrowindex = 1;
        var totrejectioncount = 0;
        var substoopageReason = "";
            var productlst = "";
            var rejectionlst = "";
        var savedataflag = "No";
        var currentRowID = "";
        var currentrejectlist = "";
        var modifiedrejectionlist = [];
        var ProductionEditedData = [];
        var currentProductionID = "";
    var rejecttotacount = 0;
        var shiftproductionapidata = "";
        $(".Hidden").hide();
       // $("select").chosen();
        $('select').chosen('destroy');
        $(document).ready(function ()
        {
            $('select').chosen('destroy');
            substoopageReason =@Html.Raw(JsonConvert.SerializeObject(Model.lstAllSubStopageReason));
            productlst =@Html.Raw(JsonConvert.SerializeObject(Model.lstvmAllProduct));
            rejectionlst =@Html.Raw(JsonConvert.SerializeObject(Model.lstAllRejectionReason));
            $('#rejectiontbl').DataTable
                ({
                    "destroy": true,
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    "searching": false,
                    "pageLength": 20,
                    "lengthChange": false

                });

           // PopulateRejectionTbl(rejectionlst);
            $("#StoppageReaseonID").val("0");
            $('#tblProductionData').DataTable
                ({
                    responsive: true,
                    "lengthMenu": [[ 25, 50, -1], [ 25, 50, "All"]],
                   // scrollX: true,
                   // "ordering": false,
                    "order": [[0, "desc"]],
                    "data": [],
                    "columns": [
                        { "data": "ProductionRowIndex", "visible": false, "searchable": false},
                        { "data": "ProductionId", "visible": false, "searchable": false },
                        { "data": "OrganizationId", "visible": false, "searchable": false },
                        { "data": "ProductionDate", "visible": false, "searchable": false },
                        { "data": "ShiftId", "visible": false, "searchable": false },
                        { "data": "ShiftName", "visible": false, "searchable": false },
                        { "data": "MachineID", "visible": false, "searchable": false },
                        { "data": "MachineName", "orderable": false },
                        { "data": "OperatorID", "visible": false, "searchable": false },
                        { "data": "OperatorName", "orderable": false },
                        { "data": "ProductID", "visible": false, "searchable": false },
                        { "data": "ProductName", "orderable": false },
                        { "data": "TotalProduction", "orderable": false },
                        { "data": "ReWork", "orderable": false },
                        {
                            "data": "Rejection", "orderable": false,
                            "render": function (data, type, full) {
                                debugger;
                                var x = "";
                                var rejObj = "";
                                var rejObj = full.RejectionReasonList;
                                if (!rejObj === 'undefined' || rejObj!=null) {
                                    debugger;
                                    for (j in rejObj) {
                                        x +=  rejObj[j].ReasonName ;
                                        x +=  '<b> : '+rejObj[j].ProdCount+'</b><br />' ;
                                    }
                                    // }
                                } else { x += 'No Rejection entries entered!'; }
                                //var content= '<span data-toggle="tooltip" title="' + x + '">' + 'View' + '</span>';
                                return '<a href="#" data-toggle="popover" class="rejectionpopover"  data-html="true" data-trigger="focus"  title="Rejections" data-content="'+x+'">'+data+'</a>';
                            }
                        },
                        //{ "data": "Rejection", "orderable": false },
                        {
                            //Set visible true when apply rejection reason
                            "data": "RejectionList", "orderable": false, "visible": false,
                            "render": function (data, type, full, meta) {
                                debugger;
                                var x = "";

                                    //var obj = JSON.parse(data)
                                    //for (i in obj) {
                                //var rejObj = full.RejectionReasonList;
                                //if (rejObj.length > 0) {
                                //        for (j in rejObj) {
                                //            x += "<h2>" + rejObj[j].ReasonName + "</h2>";
                                //            x += "<h1>" + rejObj[j].ProdCount + "</h1><br />";
                                //        }
                                //   // }
                                //} else { x += 'No Rejection entries entered!';}
                                return '<span data-toggle="tooltip" title="' + x + '">' + 'View' + '</span>';
                            }
                        },
                        { "data": "ProductionStartTime", "visible": false, "searchable": false },
                        { "data": "ProductionEndTime", "visible": false, "searchable": false },
                        { "data": "IsSaved", "visible": false, "searchable": false },
                        { "data": "IsDeleted", "visible": false, "searchable": false },
                        {
                            "data": "ProductionRowIndex", "orderable": false,
                            "render": function (data, type, full) {
                                return '<a id=' + data + ' class="btn btn-info btn-sm btnProductionRemove" href=#/' + data + '>' + 'Remove' + '</a>';
                            }
                        }]
                });
            $('#tblProductionData').on('click', '.btnProductionRemove', function () {
                var table = $('#tblProductionData').DataTable();
                var rowdata = table.row($(this).closest('tr')).data()
                var rowindex = rowdata.ProductionRowIndex;
                $('#savedatabtndiv').show();
                $('#notificationBadge').show();
               // debugger;
                var i;
                for ( i = 0; i < Productiondata.length; i++){
                    if (Productiondata[i].ProductionRowIndex === rowindex) {
                        Productiondata.splice(i, 1);
                        break;
                    }
            }
                table.row($(this).parents('tr')).remove().draw(false);


            });
            $('#breaktbl').DataTable
                ({
                    responsive: true,
                    "lengthMenu": [[ 25, 50, -1], [ 25, 50, "All"]],
                    // scrollX: true,
                    //"ordering": false,
                    "order": [[0, "desc"]],
                    "data": [],
                    "columns": [
                        { "data": "BreakdownRowIndex", "visible": false, "searchable": false },
                        { "data": "BreakdownId", "visible": false, "searchable": false },
                        { "data": "OrganizationId", "visible": false, "searchable": false },
                        { "data": "ProductionDate", "visible": false, "searchable": false },
                        { "data": "ShiftId", "visible": false, "searchable": false },
                        { "data": "ShiftName", "visible": false, "searchable": false },
                        { "data": "MachineID", "visible": false, "searchable": false },
                        { "data": "MachineName", "orderable": false },
                        { "data": "OperatorID", "visible": false, "searchable": false },
                        { "data": "OperatorName", "orderable": false },
                    { "data": "strStartTime", "orderable": false },
                        { "data": "strEndTime", "orderable": false },
                        { "data": "TotalStoppageTime", "orderable": false},
                        { "data": "Remarks", "orderable": false },
                        { "data": "ReasonId", "visible": false, "searchable": false },
                        { "data": "ReasonName", "visible": false, "searchable": false },
                        { "data": "SubReasonId", "visible": false, "searchable": false },
                        { "data": "SubReasonName", "visible": false, "searchable": false },
                        { "data": "IsSaved", "visible": false, "searchable": false },
                        { "data": "IsDeleted", "visible": false, "searchable": false },
                        {
                            "data": "BreakdownRowIndex", "orderable": false,
                            "render": function (data, type, full) {
                                return '<a id=' + data + ' class="btn btn-info btn-sm btnBreakdownRemove" href=#/' + data + '>' + 'Remove' + '</a>';
                            }
                        }]
                });
            $('#breaktbl').on('click', '.btnBreakdownRemove', function () {
                var table = $('#breaktbl').DataTable();
                var rowdata = table.row($(this).closest('tr')).data()
                var rowindex = rowdata.BreakdownRowIndex;
                $('#savedatabtndiv').show();
                $('#notificationBadge').show();
                // debugger;
                var i;
                for (i = 0; i < BreakDownData.length; i++) {
                    if (BreakDownData[i].BreakdownRowIndex === rowindex) {
                        BreakDownData.splice(i, 1);
                        break;
                    }
                }
                table.row($(this).parents('tr')).remove().draw(false);


            });


            var oTable = $('#tblProductionData').DataTable();
            var oTableBreak = $('#breaktbl').DataTable();
            $('#CurrentMachineId').change(function () {
                var searchtxt = $("#CurrentMachineId option:selected").text();
                oTable.search(searchtxt).draw();
                oTableBreak.search(searchtxt).draw();
            });
        });


        function fillsubreasondrp()
        {
          var reasonid= $("#StoppageReaseonID").val();
            if (reasonid == "0")
            {
                alert("Please Select Valid Reason");
                return;
            }
            var datasubreasonbasedonID = substoopageReason.filter(a => a.ReasonId == reasonid);

            var options = "";
            $('#subreasonselect').empty();
            options = options + '<option value="0">Select Sub Reason</option>';

            for (var j = 0; j < datasubreasonbasedonID.length; j++)
            {
                if (datasubreasonbasedonID[j].SubReasonId >0) {
                    options = options + '<option value=' + datasubreasonbasedonID[j].SubReasonId + '>' + datasubreasonbasedonID[j].SubReasonName + '</option>';
                }
            }

            $('#subreasonselect').append(options);
            //$('#subreasonselect').chosen();
            //$("#subreasonselect").trigger('chosen:updated');
            //$('#subreasonselect_chosen').css('width', '100%');
            $('#subreasoondiv').show();
        }
        function fillproduct() {
            var machineId = $("#CurrentMachineId").val();
            if (machineId == "0") {
                alert("Please Select a Machine");
                return;
            }
            debugger;
            var datasubreasonbasedonID = productlst.filter(a => a.MachineId == machineId);

            var options = "";
            $('#CurrentProductId').empty();
            options = options + '<option value="0">Select Product</option>';

            for (var j = 0; j < datasubreasonbasedonID.length; j++) {
                options = options + '<option value=' + datasubreasonbasedonID[j].ProductId + '>' + datasubreasonbasedonID[j].ProductName + '</option>';
            }

            $('#CurrentProductId').append(options);
            //$('#subreasonselect').chosen();
            //$("#subreasonselect").trigger('chosen:updated');
            //$('#subreasonselect_chosen').css('width', '100%');
           // $('#subreasoondiv').show();
            }
           
        function GetProductUnit()
        {
            var proId = $("#CurrentProductId").val();
            if (proId == "0") {
                alert("Please Select a Product");
                return;
            }
            var productLists = productlst.filter(a => a.ProductId == proId);
            var unit = productLists[0].ProductUnit;
            $("#spanUnitPro").text('(' + unit + ')');
            $("#spanUnitRej").text('(' + unit + ')');
            $("#spanUnitRew").text('('+unit+')');

        }
        function InserData()
        {
            debugger;
            Productiondata = [];
            BreakDownData = [];
            //$('#tblProductionData').DataTable().clear().draw();
            //$('#breaktbl').DataTable().clear().draw();
            var oTable = $('#tblProductionData').DataTable();
            var oTableBreak = $('#breaktbl').DataTable();
            oTable.search("").clear().draw();
            oTableBreak.search("").clear().draw();

            $("#spanProdDate").text(' For '+$("#ProdDate").val());
            $("#spanShift").text(' (' + $("#CurrentShiftId option:selected").text() + ')');
            $('#savedatabtndiv').hide();
            $('#notificationBadge').hide();
            var retrnvalue = ValidateData("InsertData");
            if (retrnvalue === "true" || retrnvalue === true)
                return;
            setTimelimit();
            GetShiftProductionData();
            GetShiftBreakdownData();
            //$('#CurrentMachineId_chosen').css('width', '200px');
            //$('#CurrentProductId_chosen').css('width', '200px');

            //$('#StoppageReaseonID_chosen').css('width', '100%');
            $("#CurrentMachineId").val("0");
           // $("#CurrentMachineId").trigger('chosen:updated');
            $("#OperatorID").css('width', '200px');
            //$("#OperatorID").chosen();
            //$('#OperatorID_chosen').css('width', '200px');
            $('#myModal').modal();

        }
            function InserRejData() {
                debugger;
                //$('#rejectiontbl').DataTable().clear().draw();
                //var table = $('#rejectiontbl').DataTable();
                //table.rows.add(rejectionlst).draw(false);
                var mname = $("#CurrentMachineId option:selected").text();
                $("#spanMachineNameRej").text(mname);

                $("#spanProdDateRej").text(' For ' + $("#ProdDate").val());
                $("#spanShiftRej").text(' (' + $("#CurrentShiftId option:selected").text() + ')');

                $('#myRejModal').modal();

            }
        function SaveDate()
        {

            var finalbreakdownobject = {};


            if (BreakDownData.length > 0)
            {
                finalbreakdownobject = {
                    breakdownentrylst: BreakDownData
                }
            }
            var typ = '';
            debugger;
            if (Productiondata.length === 0 && BreakDownData.length === 0 ) {
                typ = 'ProdBreak';
            }
            else if (Productiondata.length === 0 ) {
                typ = 'Production';
            }
            else if (BreakDownData.length === 0) {
                typ = 'Breakdown';
            }
            if (typ.length > 0) {
                var shiftid = $("#CurrentShiftId").val();
                var prodDate = $("#ProdDate").val();
                try {
                    debugger;
                    $.ajax({
                        url: apiURL + "/api/ProductionApi/deleteOnlyEntry?productionDate=" + prodDate + "&ShiftId=" + shiftid +"&typ="+typ+"",
                        type: "Post",
                        contentType: "application/json; charset=utf-8",
                        DataType: "json",
                        success: function (result) {

                            debugger;



                        },
                        error: function (err) {
                            debugger;
                            savedataflag = "Errorin save Data";
                            //  alert(err.statusText)
                        }
                    });

                }
                catch (err) {
                    alert(err.message);

                }
            }
            //if (Productiondata.length === 0 && BreakDownData.length === 0)
            //{
            //    alert("Please add data using addmore data button then add data to server");
            //    return;
            //}


            if (BreakDownData.length > 0)
              Productiondata.push(finalbreakdownobject);



            var finalobj =
            {
                ProductionEntry: Productiondata,
                breakdownlist: BreakDownData
            }




            savedataflag = "StartSaving";
            $("#CurrentMachineId").val("0");
           // $("#CurrentMachineId").trigger('chosen:updated');
            $("#CurrentProductId").val("0");
           // $("#CurrentProductId").trigger('chosen:updated');



            $("#dvInput_Loading").show();
            var jsonProductionData = JSON.stringify(Productiondata);
            console.log(jsonProductionData);

            console.log("string of json data " + JSON.stringify(jsonProductionData));


           // var jsonProductionData = JSON.stringify(finalobj);
            try {
                $.ajax({
                    url: apiURL+"/api/ProductionApi/saveProductionEntry",
                    type: "Post",
                    data: JSON.stringify(jsonProductionData),
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    success: function (result) {


                       
                            alert("Data Saved Suceesfully");




                        $("#dvInput_Loading").hide();
                        Productiondata = [];
                        BreakDownData = [];
                        savedataflag = "Saved";
                        var cleartable = $('#tblProductionData').DataTable();
                        cleartable.clear().draw();

                        var Cleartablebrakdwon = $('#breaktbl').DataTable();
                        Cleartablebrakdwon.clear().draw();

                        $('#myModal').modal('hide');
                        //Get That shift production Data
                       // GetShiftProductionData();
                       // RefreshBreakDownList();


                    },
                    error: function (err) {
                        $('#dvInput_Loading').hide();
                        $("#uploadpop").hide();
                        $('#myModal').modal('hide');
                        savedataflag = "Errorin save Data";
                        //  alert(err.statusText)
                    }
                });

            }
            catch (err) {
                alert(err.message);
                $('#myModal').modal('hide');
            }

        }
        function setTotalvalue(id)
        {
            $("#TotalRejection").val('');

            var rejectvalue = $("#Reject_Reason_" + id).val();

            if (rejectvalue === undefined || rejectvalue === null || rejectvalue == "")
                rejectvalue = 0;

            totrejectioncount = totrejectioncount + parseInt(rejectvalue);
            validateRejectionReworkTotal();

        }
        function validateRejectionReworkTotal() {
            debugger;
            var changetotprod = $("#TotalProduction").val();
            var changerework = $("#ReWork").val();
            if (parseInt(changerework) > parseInt(changetotprod)) {
                //document.getElementById("totrework").focus();
                $("#ReWork").val("");
                $("#ReWork").focus();
                alert("Total Rework must be less than Production");
                return;
            }
            var totrejectt = 0;

            var inputs = $("#tab_0 .Reject_Reason_Class");
            for (var i = 0; i < inputs.length; i++) {
               // alert($(inputs[i]).val());
           // for (var j = 1; j <= result; j++) {
                var value = $(inputs[i]).val();// $("#Reject_Reason_" + j + "").val();

                if (value == "" || value == undefined || value == null) {
                    value = 0;
                }
                if (parseInt(value) + (parseInt(totrejectt) + parseInt(changerework)) <= parseInt(changetotprod)) {
                    totrejectt = totrejectt + parseInt(value);
                    $("#TotalRejection").val(totrejectt);
                }
                else {
                    $(inputs[i]).val("");
                    $(inputs[i]).focus();
                    alert("Total Rejection and Rework must be less than Production");
                    return;
                }
               // currentrejectlist[j].RejectionValue = value;
            }

        }
        function validateRejectionReasonTotal() {
            debugger;
            
            var changerejection = $("#TotalRejection").val();
           
            var totrejectt = 0;

            var inputs = $("#rejectiontbl_wrapper .Rejection_Reason_Count");
            for (var i = 0; i < inputs.length; i++) {
              
                var value = $(inputs[i]).val();

                if (value == "" || value == undefined || value == null) {
                    value = 0;
                }
                if (parseInt(value) + (parseInt(totrejectt)) <= parseInt(changerejection)) {
                    totrejectt = totrejectt + parseInt(value);
                    
                }
                else {
                    $(inputs[i]).val("");
                    $(inputs[i]).focus();
                    alert("Rejection counts must be less than Total Rejection : " + changerejection);
                    return;
                }
                // currentrejectlist[j].RejectionValue = value;
            }

        }
        function validateRejectionReworkTotalWOReason() {
            debugger;
            var changetotprod = $("#TotalProduction").val();
            var changerework = $("#ReWork").val();
            if (parseInt(changerework) > parseInt(changetotprod)) {
                //document.getElementById("totrework").focus();
                $("#ReWork").val("");
                $("#ReWork").focus();
                alert("Total Rework must be less than Production");
                return;
            }
            var totrejectt = $("#TotalRejection").val();
            if (parseInt(changerework) + parseInt(totrejectt) > parseInt(changetotprod)) {
                //document.getElementById("totrework").focus();
                $("#TotalRejection").val("");
                $("#TotalRejection").focus();
                alert("Total Rework and Rejection must be less than Production");
                return;
            }

            }
            function AddRejectionData() {
                debugger;
                var sData = $('#rejectiontbl').DataTable().$('input').serializeArray();
                var mid = $("#CurrentMachineId").val();
                //sData;
               // RejectionData =  JSON.parse(JSON.stringify(sData))
                for (var i = 0; i < rejectionlst.length; i++) {

                    //var reason = sData[i * 3].name.split('.')[1];
                    var reasonid = sData[i * 3].value;
                    var reasonname = sData[i * 3 + 1].value;
                    var prodcount = sData[i * 3 + 2].value;
                    var obj =
                    {
                        MachineID: mid,
                        ReasonName: reasonname,
                        ReasonId: reasonid,
                        ProdCount: prodcount
                    }
                    RejectionEntryByShiftAndDateVM.push(obj);
                }

                $('#myRejModal').modal('hide');
            }
        function AddMoreData(parametre)
        {

            if (parametre === "Production") {
                var retrnvalueprod = ValidateData(parametre);
                if (retrnvalueprod === "true" || retrnvalueprod === true)
                    return;
            }
            else if (parametre === "Breakdown")
            {
                var retrnvaluebrk = ValidateData(parametre);
                if (retrnvaluebrk === "true" || retrnvaluebrk === true)
                    return;
            }

            $('#savedatabtndiv').show();
            $('#notificationBadge').show();

            savedataflag = "No";
            totrejectioncount = 0;
            var object = {};
            var objectbreakdown = {};
            var tbldataaraay = [];
            var temptbldataaraay = [];
            //tbldataaraay.push(0);
            var organizationID =@Model.CurrentOrganizationId;
            var userID = @Model.CurrentUserId;
            tbldataaraay.push(organizationID);
            var productiondate = $("#ProdDate").val();
            tbldataaraay.push(productiondate);

            var shit = $("#CurrentShiftId option:selected").text();
            var shiftidd = $("#CurrentShiftId").val();
            tbldataaraay.push(shiftidd);
            tbldataaraay.push(shit);
            var MachineName = $("#CurrentMachineId option:selected").text();
            var machineid = $("#CurrentMachineId").val();
            temptbldataaraay.push(MachineName);
            tbldataaraay.push(machineid);
            tbldataaraay.push(MachineName);
            var OperatorName = $("#OperatorID option:selected").text();
            var operatorid = $("#OperatorID").val();
            tbldataaraay.push(operatorid);
            tbldataaraay.push(OperatorName);
            temptbldataaraay.push(OperatorName);
            if (parametre === "Production")
            {
                var ProductName = $("#CurrentProductId option:selected").text();
                var productid = $("#CurrentProductId").val();
                tbldataaraay.push(productid);
                tbldataaraay.push(ProductName);
                temptbldataaraay.push(ProductName);
                var TotoalProduction = $("#TotalProduction").val();
                tbldataaraay.push(TotoalProduction);
                temptbldataaraay.push(TotalProduction);
                var Rework = $("#ReWork").val();
                tbldataaraay.push(Rework);
                temptbldataaraay.push(Rework);

               // var uploadedList = @Html.Raw(JsonConvert.SerializeObject(Model.lstAllRejectReason));
                var totalrejection = $("#TotalRejection").val();
                //var rejectiolstarray = [];
                //for (var j = 0; j < uploadedList.length; j++) {
                //    var datareject = $("#Reject_Reason_" + uploadedList[j].RejectionreasonID).val();

                //    if (datareject === undefined || datareject === null || datareject === "")
                //        datareject = 0;
                //    var obj =
                //    {
                //        RejectionValue: datareject,
                //        Rejectiondiscription: uploadedList[j].Rejectiondiscription,
                //        RejectionreasonID: uploadedList[j].RejectionreasonID
                //    }
                //    rejectiolstarray.push(obj);
                //    //un comment when apply rejection reason
                //   // totalrejection = totalrejection + parseInt(datareject);

                //   // tbldataaraay.push(datareject);
                //}
                tbldataaraay.push(totalrejection);
                temptbldataaraay.push(totalrejection);

                tbldataaraay.push(RejectionEntryByShiftAndDateVM);
                temptbldataaraay.push(RejectionEntryByShiftAndDateVM);
                //tbldataaraay.push(JSON.stringify(rejectiolstarray));
                //temptbldataaraay.push(JSON.stringify(rejectiolstarray));
                tbldataaraay.push("08");
                tbldataaraay.push("20");
                tbldataaraay.push("0");
                tbldataaraay.push("0");

                object =
                {
                    ProductionRowIndex: productionrowindex,
                    ProductionId: 0,
                    OrganizationId: organizationID,
                    ProductionDate: productiondate,
                    ShiftId: shiftidd,
                    ShiftName: shit,
                    MachineID: machineid,
                    MachineName: MachineName,
                    OperatorID: operatorid,
                    OperatorName: OperatorName,
                    ProductID: productid,
                    ProductName: ProductName,
                    TotalProduction: TotoalProduction,
                    ReWork: Rework,
                    Rejection: totalrejection,
                    RejectionReasonList: RejectionEntryByShiftAndDateVM,
                    //RejectionList: JSON.stringify(rejectiolstarray),
                    ProductionStartTime: "08",
                    ProductionEndTime: "20",
                    IsSaved: "0",
                    IsDeleted:"0",
                    UserID: userID
                 // SupervisorID: $("#OperatorID").val(),
                }
                debugger;
                Productiondata.unshift(object);
                productionrowindex = productionrowindex + 1;
                debugger;
                //console.log(tbldataaraay);
                //Populat data in datatable
                var table = $('#tblProductionData').DataTable();
                debugger;
                //table.row.add(tbldataaraay).draw(false);
                table.row.add(object).draw(false);
                RejectionEntryByShiftAndDateVM = [];
                //$('#rejectiontbl').DataTable().clear().draw();
                //var table = $('#rejectiontbl').DataTable();
                //$('#rejectiontbl').find('input').each(function () {
                //    alert(this.value);
                //});
                $('#rejectiontbl input[type=number]').each(function () { this.value=0; });
                $("#TotalProduction").val('');
                $("#ReWork").val('');
                $("#Rejection").val('');
                $("#TotalRejection").val('');
                //for (var j = 0; j < uploadedList.length; j++) {
                //    $("#Reject_Reason_" + uploadedList[j].RejectionreasonID).val('');
                //}
                $("#CurrentProductId").val("0");
               // $("#CurrentProductId").trigger('chosen:updated');
            }

            else if (parametre === "Breakdown")
            {
                var starttime = $("#strttime").val();
                tbldataaraay.push(starttime);

                var endtime = $("#endtime").val();
                tbldataaraay.push(endtime);

                var strStartTime = starttime;
                //tbldataaraay.push(starttime);

                var strEndTime = endtime;
                //tbldataaraay.push(endtime);

                var stopagereson = $("#StoppageReaseonID option:selected").text();
                var stpgeid = $("#StoppageReaseonID").val();

                tbldataaraay.push(stopagereson);

                var substopagereson = $("#subreasonselect option:selected").text();
                var substpgeid = $("#subreasonselect").val();

                if (substpgeid === "0")
                    substopagereson = "NA";

                tbldataaraay.push(substopagereson);

                FillTotalStoopageTIme();
                var totlstopagetime = $("#TotalStoppageTime").val();
                tbldataaraay.push(totlstopagetime);

                var remark = $("#Remarks").val();
                tbldataaraay.push(remark);
               // console.log("Breakdown tbale data " + tbldataaraay);

                objectbreakdown =
                    {
                    BreakdownRowIndex: breakdownrowindex,
                    BreakdownId: 0,
                    OrganizationId: organizationID,
                    ProductionDate: productiondate,
                    ShiftId: shiftidd,
                    ShiftName: shit,
                    MachineID: machineid,
                    MachineName: MachineName,
                    OperatorID: operatorid,
                    OperatorName: OperatorName,
                    ReasonId: stpgeid,
                    ReasonName: stopagereson,
                    SubReasonId: substpgeid,
                    SubReasonName: substopagereson,
                    StartTime: starttime,
                    EndTime: endtime,
                    strStartTime: strStartTime,
                    strEndTime: strEndTime,
                    TotalStoppageTime: totlstopagetime,
                    Remarks: remark,
                    IsSaved: "0",
                    IsDeleted: "0",
                    UserID: userID
                }
                if (validateBreakdownTime(strStartTime, strEndTime, machineid)) {
                    BreakDownData.push(objectbreakdown);
                    breakdownrowindex = breakdownrowindex + 1;
                    var tablebreak = $('#breaktbl').DataTable();
                    tablebreak.row.add(objectbreakdown).draw(false);
                //-------------- Initialize inputs-------------------
                setTimelimit();
                $("#Remarks").val('');
                $("#TotalStoppageTime").val("");
                $("#StoppageReaseonID").val("0");
               // $("#StoppageReaseonID").trigger('chosen:updated');
                $("#subreasonselect").val("0");
                    // $("#subreasonselect").trigger('chosen:updated');
                }
            }



        }

         function validateBreakdownTime(bstarttime,bendtime,machineid) {
             var shit = $("#CurrentShiftId").val();
            var shiflst =@Html.Raw(JsonConvert.SerializeObject(allshiftdatalst));

            var selectshidata = shiflst.filter(a => a.ShiftId == shit);

             var dbstarttime = formatTime(selectshidata[0].StartTime);
             var dbendtime = formatTime(selectshidata[0].EndTime);
             var dbIsOvernight = selectshidata[0].isOverNight;
             var productiondate = $("#ProdDate").val();
             debugger;
             //------------- Start--append date with shift time -------------------
             var dproddate = productiondate;
             var dproddatenext = moment(dproddate).add(1, 'days').format('YYYY-MM-DD');
             var dbstarttimewiddate = moment(dproddate + ' ' + dbstarttime, "YYYY-MM-DD HH:mm");
             var dbendtimewiddate = moment(dproddate + ' ' + dbendtime, "YYYY-MM-DD HH:mm");
             if (dbIsOvernight) {
                 dbendtimewiddate = moment(dproddatenext + ' ' + dbendtime, "YYYY-MM-DD HH:mm");
             }
             //------------- End-- append date with shift time -------------------
             //------------- Start-- validate date with shift time -------------------
             var bstarttimewiddate = moment(dproddate + ' ' + bstarttime, "YYYY-MM-DD HH:mm");
             var bendtimewiddate = moment(dproddate + ' ' + bendtime, "YYYY-MM-DD HH:mm");
             if (dbIsOvernight && parseInt(bstarttime.split(':')[0]) < 13) {
                 bstarttimewiddate = moment(dproddatenext + ' ' + bstarttime, "YYYY-MM-DD HH:mm");
             }
             if (dbIsOvernight && parseInt(bendtime.split(':')[0]) < 13) {
                 bendtimewiddate = moment(dproddatenext + ' ' + bendtime, "YYYY-MM-DD HH:mm");
             }
             var a = moment(bstarttimewiddate);
             var b = moment(bendtimewiddate);
             if (a.diff(b) >= 0) {
                 alert('End Time should be greater than Start Time.'); return false;
             }
             if (moment(bstarttimewiddate).isBetween(dbstarttimewiddate, dbendtimewiddate, undefined, '[]')) {
                 if (moment(bendtimewiddate).isBetween(dbstarttimewiddate, dbendtimewiddate, undefined, '[]')) {


                 } else { alert('End Time is out of Shift timings'); return false; }

             } else { alert('Start Time is out of Shift timings.'); return false; }
             //------------- End-- validate date with shift time -------------------
             //------------- Start-- get array of all breakdowns time -------------------
             var objStartEndTimes = BreakDownData
                 .filter(function (mobj) {
                     return mobj.MachineID == machineid;
                 })
                 .reduce(function (acc, obj) {
                     var mergeStartWithDate = moment(productiondate + ' ' + obj.strStartTime, "YYYY-MM-DD HH:mm");
                     var mergeEndWithDate = moment(productiondate + ' ' + obj.strEndTime, "YYYY-MM-DD HH:mm");
                     if (dbIsOvernight && parseInt(obj.strStartTime.split(':')[0]) < 13) {
                         mergeStartWithDate = moment(dproddatenext + ' ' + obj.strStartTime, "YYYY-MM-DD HH:mm");
                     }
                     if (dbIsOvernight && parseInt(obj.strEndTime.split(':')[0])<13) {
                         mergeEndWithDate = moment(dproddatenext + ' ' + obj.strEndTime, "YYYY-MM-DD HH:mm");
                     }

                     var dobj = {
                         Start: mergeStartWithDate._i,
                         End: mergeEndWithDate._i
                     }
                     acc.push(dobj);
                     return acc;
                 }, []);
             //------------- End-- get array of all breakdowns time -------------------
             //------------- Start-- validate entered values -------------------

             debugger;
             var j;
             for (j = 0; j < objStartEndTimes.length; j++) {
                 var c = moment(objStartEndTimes[j].Start);
                 var d = moment(objStartEndTimes[j].End);
                 if (a.diff(c) == 0 && b.diff(d) == 0) {
                     alert('Breakdown entry already exists for given time.'); return false;
                 }

                 if (moment(bstarttimewiddate).isBetween(objStartEndTimes[j].Start, objStartEndTimes[j].End)) {
                     alert('Start Time is already exists in Breakdown entries.');
                    // break;
                     return false;
                 }
                 if (moment(objStartEndTimes[j].Start).isBetween(bstarttimewiddate, bendtimewiddate)) {
                     alert('Time is overlapping existing Breakdown entries.');
                     // break;
                     return false;
                 }
                 if (moment(bendtimewiddate).isBetween(objStartEndTimes[j].Start, objStartEndTimes[j].End)) {
                     alert('End Time is already exists in Breakdown entries.');
                    // break;
                     return false;
                 }
             }

             //------------- End-- validate entered values -------------------
             return true;
        }
        function formatTime(timestr) {
            if (parseFloat(timestr) > 24) {
                timestr = parseFloat(timestr) - 24;
            }
            var formatstrttime = "";
            var strttiming = String(timestr);
            strttiming = strttiming.split('.');
            var strttim = parseInt(strttiming[0]);

            if (strttim < 10 && strttiming[0].length===1)
                formatstrttime = "0" + strttiming[0];
            else
                formatstrttime = strttiming[0];

            if (strttiming.length > 1) {

                if (parseInt(strttiming[1]) < 10 && parseInt(strttiming[1]) > 0 && strttiming[1].length === 1)
                    formatstrttime = formatstrttime + strttiming[1] + ":0";
                else
                    if (parseInt(strttiming[1]) === 0)
                    formatstrttime = formatstrttime + ":00" ;
                else
                    formatstrttime = formatstrttime + ":" + strttiming[1];
            }
            else
                formatstrttime = formatstrttime + ":00";
            return formatstrttime;
        }
        function setTimelimit()
        {
            var shit = $("#CurrentShiftId").val();
            var shiflst =@Html.Raw(JsonConvert.SerializeObject(allshiftdatalst));

            var selectshidata = shiflst.filter(a => a.ShiftId == shit);

             var dbstarttime = formatTime(selectshidata[0].StartTime);
             var dbendtime = formatTime(selectshidata[0].EndTime);

            $('#strttime').val(dbstarttime);
            $('#endtime').val(dbendtime);
            //Calculatetimespan(dbstarttime, dbendtime);
        }

        function Calculatetimespan(starttimestr, endtimestr)
        {
            var shit = $("#CurrentShiftId").val();
            var shiflst =@Html.Raw(JsonConvert.SerializeObject(allshiftdatalst));
            var selectshidata = shiflst.filter(a => a.ShiftId == shit);
             //var dbstarttime = formatTime(selectshidata[0].StartTime);
             //var dbendtime = formatTime(selectshidata[0].EndTime);
             var dbIsOvernight = selectshidata[0].isOverNight;
            var productiondate = $("#ProdDate").val();
            var dproddate = productiondate;
            var dproddatenext = moment(dproddate).add(1, 'days').format('YYYY-MM-DD');

            var bstarttimewiddate = moment(dproddate + ' ' + starttimestr, "YYYY-MM-DD HH:mm");
            var bendtimewiddate = moment(dproddate + ' ' + endtimestr, "YYYY-MM-DD HH:mm");
            if (dbIsOvernight && parseInt(starttimestr.split(':')[0]) < 13) {
                 bstarttimewiddate = moment(dproddatenext + ' ' + starttimestr, "YYYY-MM-DD HH:mm");
             }
            if (dbIsOvernight && parseInt(endtimestr.split(':')[0]) < 13) {
                bendtimewiddate = moment(dproddatenext + ' ' + endtimestr, "YYYY-MM-DD HH:mm");
            }
            debugger;
             var a = moment(bstarttimewiddate);
             var b = moment(bendtimewiddate);
            var workingMins = b.diff(a, 'minutes', true);
            $("#TotalStoppageTime").val(workingMins);

        }
        function FillTotalStoopageTIme()
        {
            var strttiming = String($("#strttime").val());
            var endtiming = String($("#endtime").val());
            var dbstarttime = formatTime(strttiming);
            var dbendtime = formatTime(endtiming);

            Calculatetimespan(dbstarttime, dbendtime);
        }

        function ValidateData(parametre)
        {
            var returnvalue=false
            if (parametre === "InsertData")
            {
                var date = $("#ProdDate").val();
                var shit = $("#CurrentShiftId").val();
                if (date == undefined || date === "" || date === null ||
                    shit == undefined || shit === "" || shit === null ||
                    shit === "0")
                {

                    returnvalue = true;
                    $('#alert_message').show();
                    setTimeout(function ()
                    {

                        $("#alert_message").fadeIn(300).slideUp(600, function () {
                            $(this).hide();
                        });
                    }, 400);

                    return returnvalue;
                }
            }

            if (parametre == "Production" || parametre == "Breakdown") {

                if ($("#CurrentMachineId").val() == "0" || $("#CurrentMachineId").val() === undefined
                    || $("#CurrentMachineId").val() === "" || $("#CurrentMachineId").val() === null) {
                    alert("Please Select Machine First");
                    returnvalue = true;
                    return returnvalue;
                }

                if (parametre === "Breakdown") {
                    if ($("#StoppageReaseonID").val() == "0" || $("#StoppageReaseonID").val() === undefined
                        || $("#StoppageReaseonID").val() === "" || $("#StoppageReaseonID").val() === null) {
                        alert("Please Select StoppageReason First");
                        returnvalue = true;
                        return returnvalue;
                    }
                    if ($("#subreasonselect").val() === undefined
                        || $("#subreasonselect").val() === "" || $("#subreasonselect").val() === null) {
                        alert("Please Select SubStoppage Reason First");
                        returnvalue = true;
                        return returnvalue;
                    }
                }
            }





            if (parametre == "Production")
            {
                if ($("#CurrentProductId").val() == "0" || $("#CurrentProductId").val() === undefined
                    || $("#CurrentProductId").val() === "" || $("#CurrentProductId").val() === null)
                {
                    alert("Please Select Product First");
                    returnvalue = true;
                    return returnvalue;
                    return;
                }
            }



        }


        function CalculateTotalBreakDownTime()
        {
            var StartTimeVal = $('#sBreakDownStartTime').val();
            var EndTimeVal = $('#sBreakDownEndTime').val();
            Calculatetimespan(StartTimeVal, EndTimeVal, "EditBreakTotalStoppagetime");
            //calculateStoppageTime("sBreakDownStartTime", "sBreakDownEndTime", "TotalStoppageTime");
        }

          function GetShiftProductionData()
        {

            $("#productiontablebox").hide();
            //var orgid = organizationID;

              var shiftid = $("#CurrentShiftId").val();
              var prodDate = $("#ProdDate").val();
             // var prodDateFormated = prodDate.split("/").reverse();
           // $("#dvInput_Loading_production").show();

            try {
                $.ajax({
                    url: "/ProductionEntryDataByShiftAndDatep?ProdDate=" + prodDate +"&Shiftid="+shiftid+"&organizationID="+@Model.CurrentOrganizationId+"",
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    success: function (result)
                    {
                        if (result != null && result.length > 0) {
                            debugger;
                           // var data = JSON.parse(text);
                            for (i = 0; i < result.length; i++) {
                                Productiondata.push(result[i]);
                            }
                            productionrowindex = i + 1;
                            //alert(productionrowindex);
                            var table = $('#tblProductionData').DataTable();
                            table.rows.add(result).draw(false);
                           // alert('Success');
                        }


                        else
                        {
                           // var table = $('#tblProductionData').DataTable();
                            //table.clear().draw();
                           // alert("Data not Found for this shift");
                           // $("#dvInput_Loading_production").hide();
                        }



                       // console.log("Shift ID Data is "+result);

                    },
                    error: function (err) {
                       // $("#dvInput_Loading_production").hide();;
                        $("#uploadpop").hide();
                        savedataflag = "Errorin save Data";
                        //  alert(err.statusText)
                    }
                });

            }
            catch (err) {
              //  $("#dvInput_Loading_production").hide();
                alert(err.message);
            }



        }
         function GetShiftBreakdownData()
        {

            $("#productiontablebox").hide();
            //var orgid = organizationID;

              var shiftid = $("#CurrentShiftId").val();
              var prodDate = $("#ProdDate").val();
             // var prodDateFormated = prodDate.split("/").reverse();
            //$("#dvInput_Loading_production").show();

            try {
                $.ajax({
                    url: "/BreakDownEntryDataByShiftAndDatep?ProdDate=" + prodDate +"&Shiftid="+shiftid+"&organizationID="+@Model.CurrentOrganizationId+"",
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    success: function (result)
                    {

                        if (result.length > 0) {
                            debugger;
                           // var data = JSON.parse(text);
                            for (i = 0; i < result.length; i++) {
                                BreakDownData.push(result[i]);
                            }
                            breakdownrowindex = i + 1;
                            //alert(productionrowindex);
                            var table = $('#breaktbl').DataTable();
                            table.rows.add(result).draw(false);
                           // alert('Success');
                        }


                        else
                        {
                            //var table = $('#breaktbl').DataTable();
                            //table.clear().draw();
                           // alert("Data not Found for this shift");
                           // $("#dvInput_Loading_production").hide();
                        }



                        console.log("Shift ID Data is "+result);

                    },
                    error: function (err) {
                      //  $("#dvInput_Loading_production").hide();;
                        $("#uploadpop").hide();
                        savedataflag = "Errorin save Data";
                        //  alert(err.statusText)
                    }
                });

            }
            catch (err) {
              //  $("#dvInput_Loading_production").hide();
                alert(err.message);
            }



    }
    </script>

    <script>
        $(document).ready(function () {
            var popOverSettings = {
                placement: 'left',
                container: 'body',
                html: true,
                selector: '[data-toggle="popover"]', //Sepcify the selector here
                content: function () {
                    return $('#popover-content').html();
                },
                trigger: 'focus'
            }

            $('body').popover(popOverSettings);

        });
    </script>
}

