﻿@using ProEfficient.Core.Utility
@using ProEfficient.Dal.Utility
@{
    Layout = null;
}
@model IEnumerable<ProEfficient.Core.Models.ProductionEntry>
<div class="clearfix"></div>
<div class="table-responsive production">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                @*<th>
                        @Html.DisplayNameFor(model => model.ProductionId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.MachineID)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OperatorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupervisorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfEntry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalProduction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReWork)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rejection)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        <b>   @UserUtility.getMachine(item.MachineID.ToInteger0()).MachineName</b>
                    </td>
                    <td>
                        @UserUtility.getProduct(item.ProductID.ToInteger0()).ProductName
                    </td>
                    <td>
                        @UserUtility.getUserName(item.UserID.ToInteger0())
                    </td>
                    <td>
                        @UserUtility.getUserName(item.OperatorID.ToInteger0())
                    </td>
                    <td>
                        @UserUtility.getUserName(item.SupervisorID.ToInteger0())
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOfEntry)
                    </td>
                    <td>
                        @UserUtility.getShift(item.ShiftId.ToInteger0()).ShiftName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalProduction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReWork)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rejection)
                    </td>
                    <td class="edit">
                        @if (!item.IsSaved)
                        {
                            <a onclick="EditAction('Edit','@item.ProductionId','CreateProductionPage','production')" href="javascript:void(0)"> Edit</a>
                            <a class="delete-confirm" onclick="DeleteAction('DeleteProduction','@item.ProductionId','CreateProductionPage','production')" href="javascript:void(0)"> Delete</a>
                            
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
