﻿@using ProEfficient.Core.Utility
@using ProEfficient.Dal.Utility

@model ProEfficient.Core.Models.ProductionReportAllMachine

@{
    ViewBag.Title = "Production Efficiency Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@try
{
    @Html.AntiForgeryToken();
}
catch
{

}
@using (Html.BeginForm("DisplaySearchResults", "MachineEfficiencyReport", FormMethod.Post))
{


    <div class="row">
        <div class="col-xs-12">
            <section class="globalForm">
                <h1>  <span>Efficiency Report For Machine </span></h1>
                <hr />

                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.MachineID, UserUtility.AllMachine, "Select Machine", new { @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-3" style="display:none;">
                    @Html.LabelFor(model => model.ShiftId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.ShiftId, UserUtility.AllShift, "Select Shift", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-xs-12  col-md-4">
                    <input type="submit" name="command" command="Search" value="Search" class="btn btn-primary" style="margin-top:7%" />
                    @*<input type="submit" name="command" command="ExportExcel" value="Export To Excel" class="btn btn-primary" />
            <input type="submit" name="command" command="ExportPdf" value="Export To Pdf" class="btn btn-primary" />*@
                    @*<button type="button" onclick="printJS('printJS-form', 'html')">
                Export To Pdf
            </button>*@
                </div>

                <div id="printJS-form" class="printJS-wrapper">
                    @if (UserUtility.AllMachineCategory.FirstOrDefault(i => i.Value == Model.MachineID.ToStringx()) != null)
                    {
                        <center> <h2>Productivity Report for [ @(UserUtility.AllMachineCategory.FirstOrDefault(i => i.Value == Model.MachineID.ToStringx()).Text) ] </h2></center>
                        <center><h3>Start Date @Model.StartDate.ToDateTime().ToString("dd/MM/yyyy") and End Date @Model.EndDate.ToDateTime().ToString("dd/MM/yyyy")</h3></center>
                    }
                    else if (Model.StartDate != null && Model.EndDate != null)
                    {
                        <center> <h2>Efficiency Report for Machine </h2></center>
                        <center><h3>Start Date @Model.StartDate.ToDateTime().ToString("dd/MM/yyyy") and End Date @Model.EndDate.ToDateTime().ToString("dd/MM/yyyy")</h3></center>
                    }
                    <hr />
                    <div class="form-group col-xs-12 report-table">
                        @try
                        {
                            @Html.Partial("~/Views/ProdEfficiencyAllMachine/ProdReportList.cshtml", Model.dtAverage);
                        }
                        catch
                        { }
                    </div>
                    <div class="form-group col-xs-12 report-table">
                        @try
                        {
                            @Html.Partial("~/Views/ProdEfficiencyAllMachine/ProdReportList.cshtml", Model.dtProd);
                        }
                        catch
                        { }
                    </div>





                </div>

            </section>
        </div>
    </div>




}
