﻿
@{
    //   ViewBag.Title = "DemoDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 999px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            background: red;
            cursor: inherit;
            display: block;
        }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
</style>

<div class="container-fluid">

    <form id="ExcelUpload">
        <div class="row">
            <div class="col-md-12">
                <span style="color:red;font:bolder;" id="fileErrorMessage"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div>
                    @Html.Label("", "Select Master", htmlAttributes: new { @class = "control-label" })
                </div>
                <div>
                    <select class="form-control" id="masterType">
                        <option value="0">Select</option>
                        <option value="1">Machine</option>
                        <option value="2">Product</option>
                        <option value="3">Machine-Product Mapping</option>
                    </select>
                </div>

            </div>
            <div class="col-md-4">

                <div>
                    @Html.Label("", "Browse file", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse...
                            <input data-url="/upload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" type="file" id="ExcelFileUpload">
                        </span>
                    </span>
                    <input readonly="readonly" placeholder="Master File" class="form-control" id="filename" type="text">
                </div>

            </div>
            <div class="col-md-4" style="margin-top:19px">
                <button type="button" class="btn btn-primary" onclick="UploadExcel()">Upload</button>
            </div>
        </div>
    </form>


</div>


<script>

    $(function () {
        $('input[type=file]').change(function () {
            debugger;
            var t = $(this).val();
            var labelText = 'File : ' + t.substr(12, t.length);
            $("#filename").val(labelText);
        })
    });

    function UploadExcel() {
        var noofrecord = $("#masterType").val();
        if (noofrecord == 0) {
            alert("Please Select Master Type");
            return;
        }

        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('ExcelFileUpload');
        var fileHas = $("#ExcelFileUpload").val();
        if (!fileHas) { alert("No file selected"); return;}
        var filename = fileInput.files[0].name
        var extension = filename.split('.').pop().toUpperCase();
        if (extension != "XLS" && extension != "XLSX") {
            fileErrorMessage.innerHTML = 'Please select onlly .xls or .xlsx files';
        }
        else {
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            var mastertype = $("#masterType option:selected").text();
            $.ajax({
                url: "/ImportMaster/UploadFile/?Type=" + mastertype,
                type: 'POST',
                data: formdata, // Posting the uploaded excel file to controller
                async: false,
                dataType: "html",
                success: function (response) {
                    alert(response);
                },
                error: function (e) {
                    alert(response);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }
    }

</script>
