﻿@using ProEfficient.Core.Models
@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.MasterProduct

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    try
    {
        using (Html.BeginForm("Create", "Product", FormMethod.Post))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(i => i.ProductId)
            @Html.HiddenFor(i => i.AddBy)
            @Html.HiddenFor(i => i.EdittedBy)
            @Html.HiddenFor(i => i.IsActive)
            @Html.HiddenFor(i => i.OrganizationId)
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <section class="globalForm">
                        <h1> Create Product</h1>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                @Html.Label("", "Product Type", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ProductTypeName, new SelectList(Enum.GetNames(typeof(ProductType))), htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-3">
                                @Html.LabelFor(model => model.ProductCategoryID, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ProductCategoryID, UserUtility.OrganizatioProdutcategory, new { @class = "form-control", onchange = "CheckCategorySelect()" })
                                @Html.ValidationMessageFor(model => model.ProductCategoryID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-xs-12 col-md-3">
                                <input type="button" style="margin-top:15px" class="btn-primary" value="Add New Category" onclick="ShowNewCategoryTextbox()" />
                            </div>
                            <div class="form-group col-xs-12 col-md-3">

                                @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.CustomerID, UserUtility.OrganizationCustomer, new { @class = "form-control", onchange = "CheckCustomerSelect()" })

                                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-xs-12 col-md-3">
                                <input type="button" style="margin-top:15px" class="btn-primary" value="Add New Customer" onclick="ShowNewCustomerTextbox()" />
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group " id="addnewcategoryform" style="display:none">

                                    @Html.Label("", "Add New Category", htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.NewCategory, new { @class = "form-control", autocomplete = "off" })
                                    @*@Html.ValidationMessageFor(model => model.NewCategory, "", new { @class = "text-danger" })*@

                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group " id="addnewcustomerform" style="display:none">

                                    @Html.Label("", "Add New Customer", htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.NewCustomerName, new { @class = "form-control", autocomplete = "off" })
                                    @*@Html.ValidationMessageFor(model => model.NewCategory, "", new { @class = "text-danger" })*@

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-xs-12 col-md-6">
                                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6 col-md-6">
                                @Html.LabelFor(model => model.UnitID, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.UnitID, UserUtility.OrganizatioUnits, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group col-xs-12 col-md-6">
                                @Html.LabelFor(model => model.CycleTime, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.CycleTime, new { @class = "form-control", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.CycleTime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group col-xs-6 col-md-6">*@
                        @*@Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.OrganizationId, ProEfficient.Utility.UserUtility.AllOrganizations, "Select Organization", new { @class = "form-control",  @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })*@
                        @*</div>*@

                        <div class="form-group col-xs-12 col-md-4">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                        </div>

                        <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                            <input type="submit" value="Create" class="btn btn-create-user" />
                        </div>






                    </section>
                </div>
            </div>
        }
    }
    catch (Exception ex)
    {
    }
}

@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <script>
        function ShowNewCategoryTextbox() {
            $("#addnewcategoryform").show();
        }

        function CheckCategorySelect() {
            var seelctedcat = $("#ProductCategoryID option:selected").val();
            var addcateg = $("#NewCategory").val();

            if ((seelctedcat == "0" || seelctedcat == "" || seelctedcat == null || seelctedcat == undefined) && (addcateg == "NA" || addcateg == "")) {
                alert("Please select category or add category");
                return;
            }
        }
    </script>
    <script>
        function ShowNewCustomerTextbox() {
            $("#addnewcustomerform").show();
        }

        function CheckCustomerSelect() {
            var seelctedcust = $("#CustomerID option:selected").val();
            var addcust = $("#NewCustomerName").val();

            if ((seelctedcust == "0" || seelctedcust == "" || seelctedcust == null || seelctedcust == undefined) && (addcust == "NA" || addcust == "")) {
                alert("Please select customer or add customer");
                return;
            }
        }
    </script>

}
