﻿@using ProEfficient.Core.Models
@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.MasterProduct

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(i => i.ProductId)
    @Html.HiddenFor(i => i.AddBy)
    @Html.HiddenFor(i => i.EdittedBy)
    @Html.HiddenFor(i => i.IsActive)
    @Html.HiddenFor(i => i.OrganizationId)
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1> Edit Product</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    @Html.Label("", "Product Type", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.ProductTypeName, new SelectList(Enum.GetNames(typeof(ProductType))), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.ProductCategoryID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.ProductCategoryID, UserUtility.OrganizatioProdutcategory, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductCategoryID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CustomerID, UserUtility.OrganizationCustomer, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.UnitID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.UnitID, UserUtility.OrganizatioUnits, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.UnitID, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.CycleTime, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.CycleTime, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CycleTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-6" style="display:none">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.OrganizationId, UserUtility.AllOrganizations, "Select Organization", new { @class = "form-control", @required = "required", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                </div>





                <div class="form-group col-xs-12 col-md-4">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                </div>

                <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                    <input type="submit" value="Save" class="btn btn-create-user" />
                </div>

            </section>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
