﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Utility
@using ProEfficient.Dal.DAL
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model IEnumerable<ProEfficient.Core.Models.MasterProduct>

@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var k = 0;
    List<ProductCategory> productcategorlist = new List<ProductCategory>();
    List<ProductUnits> productUnitslst = new List<ProductUnits>();
    List<ProductCustomer> productcustomerlist = new List<ProductCustomer>();
}

<h2 class="page-title">Product List @Html.ActionLink("Create New Product", "Create", "Product", null, new { @class = "btn btn-primary" })</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.ProductId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.OrganizationId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CycleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>


            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                if (k == 0)
                {
                    productcategorlist = new OrganizationDAL(Configuration).OrganizationCategoeylst(item.OrganizationId);
                    productUnitslst = new OrganizationDAL(Configuration).OrganizationUnitlst(item.OrganizationId);
                    productcustomerlist = new OrganizationDAL(Configuration).OrganizationCustomerlst(item.OrganizationId);
                    k = 1;
                }

        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            @*<td>
                    @(new OrganizationDAL(Configuration).GetOrganization(new Organization() { OrganizationId = item.OrganizationId.ToInteger() }).OrganizationName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CycleTime)
            </td>
            @if (item.UnitID != 0)
                    {
            <td>
                @(productUnitslst?.Find(a => a.id == item.UnitID)?.unitName)
            </td>
                    }
                    else
                    {
            <td>
                NA
            </td>
                    }
            <td>
                @(item.IsActive.ToBoolean() ? "Active" : "InActive")
            </td>
            <td>
                @(item.ProductType)
            </td>

            @if (item.ProductCategoryID != 0)
                    {
            <td>
                @(productcategorlist.Find(a => a.CategoryID == item.ProductCategoryID).CategoryName)
            </td>
                    }
                    else
                    {
            <td>
                NA
            </td>
                    }
            @if (item.CustomerID != 0 && productcustomerlist!=null && productcustomerlist.Count>0)
                    {
            <td>
                @(productcustomerlist.Find(a => a.CustomerID == item.CustomerID).CustomerName)
            </td>
                    }
                    else
                    {
            <td>
                NA
            </td>
                    }
            <td class="edit">
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
                @Html.ActionLink((item.IsActive.ToBoolean() ? "Deactivate" : "Activate"), "Delete", new { id = item.ProductId }, new { @class = "DeleteAnc" })
            </td>
        </tr>
            }
    </tbody>
</table> 
