﻿body {
}
.modal-header {
    background: #3c8dbc;
    color: white;
}

.close span {
    color: black;
}

.clearfix {
    margin-top: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 10px;
    color: white;
    background-color: #36304a;
    margin-top: 20px;   
    margin-left:-5px;
    height:140px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-body {
    margin: 5px;
}
.loading{
    padding-top:40px;
    vertical-align:central;
}
.green-circle {
    background: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.yellow-circle {
    background: yellow;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.red-circle {
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.machine-monitor-container {
    text-align: center;
    border: 5px solid #161719;
    height: 380px;
    overflow-x: hidden;
    padding-left: 30px;    
    padding-right: 30px;
}