﻿@using Newtonsoft.Json
@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ViewModel.ProductionBreakDownEntryViewModel
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<script>

    const apiURL = @Json.Serialize(@Configuration.GetSection("ApiUrls").Value)
</script>
<style>
    .RowBGColor {
        background-color: lightgray;
    }

    .modal-dialog {
        width: 100%;
        height: 98%;
        padding: 0;
    }

    .modal-content {
        height: 99%;
        top: -29px;
    }

    .loader {
        top: 100px;
        left: 0;
        position: fixed;
        opacity: 0.8;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .strip-holder {
        top: 150px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 50%;
        margin-left: -100px;
        position: relative;
    }

    .table.table-bordered thead tr th {
        text-align: left;
    }

    .table.table-bordered tbody tr td:first-child {
        border-left: solid 1px #e9e6f4;
    }

    .table.table-bordered tbody tr:nth-child(odd) td {
        background-color: #f2f2f2;
    }

    .table.table-bordered thead tr th:last-child {
        background: #36304a;
        border-bottom: solid 5px #fed24c;
        text-align: left;
    }


    .table.table-bordered tbody tr td {
        vertical-align: middle;
        font-weight: 500;
        border: none;
        padding: 0px;
        border-bottom: solid 1px #e9e6f4;
        text-align: left;
    }

        .table.table-bordered tbody tr td:last-child {
            background: none !important;
            border-bottom: solid 1px #e9e6f4;
            text-align: left;
        }

    .table.table-bordered tbody tr.odd td:last-child {
        background: #f2f2f2 !important;
        border-bottom: solid 1px #e9e6f4;
        text-align: left;
    }

    .table.table-bordered tbody tr td {
        vertical-align: middle;
        font-weight: 500;
        border: none;
        padding: 0px;
        border-bottom: solid 1px #e9e6f4;
        padding: 10px;
    }
</style>
@*<link rel="stylesheet" href="~/css/loader.css" type="text/css" />*@

<div id="MainContentDiv">
    @{
        var orgids = Model.CurrentOrganizationId;
        var allshiftdatalst = Model.lstAllShiftData;
        // var productiondata = ViewBag.ShiftProductionData;
        // var allproductlist = Model.lstAllProduct;
    }
    @Html.HiddenFor(i => i.CurrentOrganizationId)
    <div class="row">

        <section id="productshiftsection">

            <div class="box">
                <div class="box-body">
                    <h1> View Production Entries For </h1>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                            @Html.LabelFor(model => model.ProductionDate, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ProductionDate, "{0:yyyy-MM-dd}", new { @id = "ProdDate", @class = "form-control newdatepicker", @readonly = true })
                            @Html.ValidationMessageFor(model => model.ProductionDate, "", new { @class = "text-danger" })
                        </div>
                          <div class="form-group col-xs-12 col-md-4">
                            @Html.LabelFor(model => model.ProductionToDate, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ProductionToDate, "{0:yyyy-MM-dd}", new { @id = "ProdToDate", @class = "form-control newdatepicker", @readonly = true })
                            @Html.ValidationMessageFor(model => model.ProductionToDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-md-2">
                            @Html.LabelFor(model => model.CurrentShiftId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.CurrentShiftId, Model.lstAllShift, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CurrentShiftId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-md-2" style="margin-top:17px;">
                            <input type="button" class="btn-primary" value="View Data" onclick="ViewData()" />
                        </div>
                        @*for showing alert*@

                        <div id="alert_message" class="alert form-group col-xs-12 col-md-12" style="width:150px;background-color:#f8d7da;display:none">
                            <div class="row" style="margin-left:20px"><span><strong>Atention!</strong></span></div>
                            <div class="row" style="margin-left:5px"><span>Please select shift</span></div>
                        </div>

                        @*upto here*@

                    </div>

                    @*<div class="overlay" style="z-index: 1000; display: none" id="dvInput_Loading_production">
                        <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                        </div>*@
                </div>
            </div>


        </section>
    </div>
    @*for showing modal*@
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color: #ffc001">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="display:inline" id="modalheader">
                        Production Entries
                    </h4>
                    <h5 style="display:inline"><span id="spanProdDate"></span></h5>
                    <h5 style="display:inline">
                        <span id="spanShift"></span>
                        <span id="notificationBadge" style="display: none;background-color: red;"
                              class="badge badge-pill badge-danger">You have un-saved changes. Please click "Save to Server".</span>
                    </h5>
                </div>
                <div class="modal-body" style="background-color: #fff;">


                    <div id="nav">
                        <ul class="nav nav-tabs">

                            <li class="active"><a href="#tab_0" id="Excisting_Pop" data-toggle="tab" aria-expanded="true">Production Entry</a></li>
                            @if (UserUtility.CurrentUser.HasBreakdown)
                            {
                                <li class=""><a href="#tab_1" id="New_Pop" data-toggle="tab" aria-expanded="false">BreakDown Entry</a></li>
                            }
                        </ul>

                    </div>
                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_0">

                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <div class="loader" id="AjaxLoader" style="display:none;">
                                        <div class="strip-holder">
                                            <img src="~/Images/loader.gif" alt="Loader" />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-11">
                                        </div>
                                        <div class="col-md-1">
                                            <input type="button" class="btn btn-success" id="btnExportProductionData" value="Export" />
                                        </div>
                                        <hr />
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-sm" id="tblProductionData" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>ProductionRowIndex</th>
                                                        <th>ProductionId</th>
                                                        <th>OrganizationId </th>
                                                        <th>ProductionDate </th>
                                                        <th>ShiftId </th>
                                                        <th>Shift </th>
                                                        <th>MachineID </th>
                                                        <th>Machine </th>
                                                        <th>OperatorID </th>
                                                        <th>Operator </th>
                                                        <th>ProductID </th>
                                                        <th>Product </th>
                                                        <th>Production </th>
                                                        <th>ReWork </th>
                                                        <th>Rejection </th>
                                                        <th>Reject Reason </th>

                                                        <th>ProductionStartTime </th>
                                                        <th>ProductionEndTime </th>
                                                        <th>IsSaved </th>
                                                        <th>IsDeleted</th>
                                                        <th>Remove</th>
                                                        @*@foreach (var rejectrason in Model.lstAllRejectReason)
                                                            {
                                                            <th>@rejectrason.Rejectiondiscription</th>
                                                            }*@

                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_1">

                            <div class="box box-solid box-primary">
                                <div class="box-body">
                                    <div class="loader" id="AjaxLoader1" style="display:none;">
                                        <div class="strip-holder">
                                            <img src="~/Images/loader.gif" alt="Loader" />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-sm" id="breaktbl" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>BreakdownRowIndex</th>
                                                        <th>BreakdownId</th>
                                                        <th>OrganizationId </th>
                                                        <th>ProductionDate </th>
                                                        <th>ShiftId </th>
                                                        <th>Shift </th>
                                                        <th>MachineID </th>
                                                        <th>Machine </th>
                                                        <th>OperatorID </th>
                                                        <th>Operator </th>
                                                        <th>StartTime </th>
                                                        <th>EndTime </th>
                                                        <th>StoppageTime </th>
                                                        <th>Remark </th>
                                                        <th>ReasonId</th>
                                                        <th>Reason </th>
                                                        <th>subReasonId</th>
                                                        <th>Sub Reason </th>
                                                        <th>IsSaved </th>
                                                        <th>IsDeleted</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="overlay" style="z-index: 1000; display: none" id="dvInput_Loading">
                        <i class="fa fa-refresh fa-spin"></i>
                        </div>*@


                </div>

                <div class="modal-footer" style="background-color: #fff;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>

    </div>
    @*upto here*@


</div>


@section Scripts {


<link rel="stylesheet" type="text/css" href="~/Scripts/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/moment.min.js"></script>


<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>

<script>
        //var apiurl ="http://localhost:53703"
        var Productiondata = [];
        var productionrowindex = 1;
        var BreakDownData = [];
        var breakdownrowindex = 1;
        var totrejectioncount = 0;
        var substoopageReason = "";
        var productlst = "";
        var savedataflag = "No";
        var currentRowID = "";
        var currentrejectlist = "";
        var modifiedrejectionlist = [];
        var ProductionEditedData = [];
        var currentProductionID = "";
    var rejecttotacount = 0;
        var shiftproductionapidata = "";
        $(".Hidden").hide();
       // $("select").chosen();
        $('select').chosen('destroy');
        $(document).ready(function ()
        {
            $('select').chosen('destroy');
            $('#tblProductionData').DataTable
                ({
                    responsive: true,
                    "lengthMenu": [[ 25, 50, -1], [ 25, 50, "All"]],
                   // scrollX: true,
                   // "ordering": false,
                    "order": [[0, "desc"]],
                    "data": [],
                    "columns": [
                        { "data": "ProductionRowIndex", "visible": false, "searchable": false},
                        { "data": "ProductionId", "visible": false, "searchable": false },
                        { "data": "OrganizationId", "visible": false, "searchable": false },
                        { "data": "ProductionDate", "visible": false, "searchable": false },
                        { "data": "ShiftId", "visible": false, "searchable": false },
                        { "data": "ShiftName", "visible": false, "searchable": false },
                        { "data": "MachineID", "visible": false, "searchable": false },
                        { "data": "MachineName", "orderable": false },
                        { "data": "OperatorID", "visible": false, "searchable": false },
                        { "data": "OperatorName", "orderable": false },
                        { "data": "ProductID", "visible": false, "searchable": false },
                        { "data": "ProductName", "orderable": false },
                        { "data": "TotalProduction", "orderable": false },
                        { "data": "ReWork", "orderable": false },
                        {
                            "data": "Rejection", "orderable": false,
                            "render": function (data, type, full) {
                                debugger;
                                var x = "";
                                var rejObj = full.RejectionReasonList;
                                if (!rejObj === 'undefined' || rejObj != null) {
                                    debugger;
                                    for (j in rejObj) {
                                        x +=  rejObj[j].ReasonName ;
                                        x +=  '<b> : '+rejObj[j].ProdCount+'</b><br />' ;
                                    }
                                    // }
                                } else { x += 'No Rejection entries entered!'; }
                                //var content= '<span data-toggle="tooltip" title="' + x + '">' + 'View' + '</span>';
                                return ' <a href="#" data-toggle="popover" class="rejectionpopover"  data-html="true" data-trigger="focus"  title="Rejections" data-content="'+x+'">'+data+'</a>';
                            }
                        },
                        //{ "data": "Rejection", "orderable": false },
                        {
                            //Set visible true when apply rejection reason
                            "data": "RejectionList", "orderable": false, "visible": false,
                            "render": function (data, type, full, meta) {
                                debugger;
                                var x = "";

                                    //var obj = JSON.parse(data)
                                    //for (i in obj) {
                                //var rejObj = full.RejectionReasonList;
                                //if (rejObj.length > 0) {
                                //        for (j in rejObj) {
                                //            x += "<h2>" + rejObj[j].ReasonName + "</h2>";
                                //            x += "<h1>" + rejObj[j].ProdCount + "</h1><br />";
                                //        }
                                //   // }
                                //} else { x += 'No Rejection entries entered!';}
                                return '<span data-toggle="tooltip" title="' + x + '">' + 'View' + '</span>';
                            }
                        },
                        { "data": "ProductionStartTime", "visible": false, "searchable": false },
                        { "data": "ProductionEndTime", "visible": false, "searchable": false },
                        { "data": "IsSaved", "visible": false, "searchable": false },
                        { "data": "IsDeleted", "visible": false, "searchable": false },
                        {
                            "data": "ProductionRowIndex", "orderable": false, "visible": false,
                            "render": function (data, type, full) {
                                return '<a id=' + data + ' class="btn btn-info btn-sm btnProductionRemove" href=#/' + data + '>' + 'Remove' + '</a>';
                            }
                        }]
                });
            $('#tblProductionData').on('click', '.btnProductionRemove', function () {
                var table = $('#tblProductionData').DataTable();
                var rowdata = table.row($(this).closest('tr')).data()
                var rowindex = rowdata.ProductionRowIndex;
                $('#savedatabtndiv').show();
                $('#notificationBadge').show();
               // debugger;
                var i;
                for ( i = 0; i < Productiondata.length; i++){
                    if (Productiondata[i].ProductionRowIndex === rowindex) {
                        Productiondata.splice(i, 1);
                        break;
                    }
            }
                table.row($(this).parents('tr')).remove().draw(false);


            });
            $('#breaktbl').DataTable
                ({
                    responsive: true,
                    "lengthMenu": [[ 25, 50, -1], [ 25, 50, "All"]],
                    // scrollX: true,
                    //"ordering": false,
                    "order": [[0, "desc"]],
                    "data": [],
                    "columns": [
                        { "data": "BreakdownRowIndex", "visible": false, "searchable": false },
                        { "data": "BreakdownId", "visible": false, "searchable": false },
                        { "data": "OrganizationId", "visible": false, "searchable": false },
                        { "data": "ProductionDate", "visible": false, "searchable": false },
                        { "data": "ShiftId", "visible": false, "searchable": false },
                        { "data": "ShiftName", "visible": false, "searchable": false },
                        { "data": "MachineID", "visible": false, "searchable": false },
                        { "data": "MachineName", "orderable": false },
                        { "data": "OperatorID", "visible": false, "searchable": false },
                        { "data": "OperatorName", "orderable": false },
                    { "data": "strStartTime", "orderable": false },
                        { "data": "strEndTime", "orderable": false },
                        { "data": "TotalStoppageTime", "orderable": false},
                        { "data": "Remarks", "orderable": false },
                        { "data": "ReasonId", "visible": false, "searchable": false },
                        { "data": "ReasonName", "visible": false, "searchable": false },
                        { "data": "SubReasonId", "visible": false, "searchable": false },
                        { "data": "SubReasonName", "visible": false, "searchable": false },
                        { "data": "IsSaved", "visible": false, "searchable": false },
                        { "data": "IsDeleted", "visible": false, "searchable": false },
                        {
                            "data": "BreakdownRowIndex", "orderable": false, "visible": false,
                            "render": function (data, type, full) {
                                return '<a id=' + data + ' class="btn btn-info btn-sm btnBreakdownRemove" href=#/' + data + '>' + 'Remove' + '</a>';
                            }
                        }]
                });
            $('#breaktbl').on('click', '.btnBreakdownRemove', function () {
                var table = $('#breaktbl').DataTable();
                var rowdata = table.row($(this).closest('tr')).data()
                var rowindex = rowdata.BreakdownRowIndex;
                $('#savedatabtndiv').show();
                $('#notificationBadge').show();
                // debugger;
                var i;
                for (i = 0; i < BreakDownData.length; i++) {
                    if (BreakDownData[i].BreakdownRowIndex === rowindex) {
                        BreakDownData.splice(i, 1);
                        break;
                    }
                }
                table.row($(this).parents('tr')).remove().draw(false);


            });


            var oTable = $('#tblProductionData').DataTable();
            var oTableBreak = $('#breaktbl').DataTable();

        });


          function GetShiftProductionData()
        {

            $("#productiontablebox").hide();
            //var orgid = organizationID;

              var shiftid = $("#CurrentShiftId").val();
              var prodDate = $("#ProdDate").val();
              var prodToDate = $("#ProdToDate").val();
             // var prodDateFormated = prodDate.split("/").reverse();
           // $("#dvInput_Loading_production").show();

            try {
                $.ajax({
                    url: "/ProductionEntryDataByShiftAndDate?ProdDate=" + prodDate +"&ProdToDate=" + prodToDate +"&Shiftid="+shiftid+"&organizationID="+@Model.CurrentOrganizationId+"",
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    beforeSend: function () {
                        // Show image container
                        $('#AjaxLoader').show();
                    },
                    success: function (result)
                    {
                        if (result != null && result.length > 0) {
                            debugger;
                           // var data = JSON.parse(text);
                            for (i = 0; i < result.length; i++) {
                                Productiondata.push(result[i]);
                            }
                            productionrowindex = i + 1;
                            //alert(productionrowindex);
                            var table = $('#tblProductionData').DataTable();
                            table.rows.add(result).draw(false);
                           // alert('Success');
                        }


                        else
                        {
                            $('#AjaxLoader').hide();
                        }


                    },
                    error: function (err) {
                        $('#AjaxLoader').hide();
                    }
                    ,
                    complete: function (data) {
                        // Hide image container
                        $('#AjaxLoader').hide();
                    }
                });

            }
            catch (err) {
              //  $("#dvInput_Loading_production").hide();
                alert(err.message);
            }



        }
         function GetShiftBreakdownData()
        {

            $("#productiontablebox").hide();
            //var orgid = organizationID;

              var shiftid = $("#CurrentShiftId").val();
              var prodDate = $("#ProdDate").val();
               var prodToDate = $("#ProdToDate").val();
             // var prodDateFormated = prodDate.split("/").reverse();
            //$("#dvInput_Loading_production").show();

            try {
                $.ajax({
                    url: "/BreakDownEntryDataByShiftAndDate?ProdDate=" + prodDate +"&ProdToDate=" + prodToDate +"&Shiftid="+shiftid+"&organizationID="+@Model.CurrentOrganizationId+"",
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    beforeSend: function () {
                        // Show image container
                        $('#AjaxLoader1').show();
                    },
                    success: function (result)
                    {

                        if (result.length > 0) {
                            debugger;
                           // var data = JSON.parse(text);
                            for (i = 0; i < result.length; i++) {
                                BreakDownData.push(result[i]);
                            }
                            breakdownrowindex = i + 1;
                            //alert(productionrowindex);
                            var table = $('#breaktbl').DataTable();
                            table.rows.add(result).draw(false);
                           // alert('Success');
                        }


                        else
                        {

                        }
                    },
                    error: function (err) {
                        $('#AjaxLoader1').hide();
                    },
                    complete: function (data) {
                        // Hide image container
                        $('#AjaxLoader1').hide();
                    }
                });

            }
            catch (err) {
              //  $("#dvInput_Loading_production").hide();
                alert(err.message);
            }



            }
            function ViewData() {
                debugger;
                Productiondata = [];
                BreakDownData = [];
                //$('#tblProductionData').DataTable().clear().draw();
                //$('#breaktbl').DataTable().clear().draw();
                var oTable = $('#tblProductionData').DataTable();
                var oTableBreak = $('#breaktbl').DataTable();
                oTable.search("").clear().draw();
                oTableBreak.search("").clear().draw();

                $("#spanProdDate").text(' For ' + $("#ProdDate").val());
                $("#spanShift").text(' (' + $("#CurrentShiftId option:selected").text() + ')');
                $('#savedatabtndiv').hide();
                $('#notificationBadge').hide();
                var retrnvalue = ValidateData("InsertData");
                if (retrnvalue === "true" || retrnvalue === true)
                    return;

                GetShiftProductionData();
                GetShiftBreakdownData();

                $('#myModal').modal();

            }
            function ValidateData(parametre) {
                var returnvalue = false
                if (parametre === "InsertData") {
                    var date = $("#ProdDate").val();
                    var shit = $("#CurrentShiftId").val();
                    if (date == undefined || date === "" || date === null ||
                        shit == undefined || shit === "" || shit === null ||
                        shit === "0") {

                        returnvalue = true;
                        $('#alert_message').show();
                        setTimeout(function () {

                            $("#alert_message").fadeIn(300).slideUp(600, function () {
                                $(this).hide();
                            });
                        }, 400);

                        return returnvalue;
                    }
                }
                }
</script>

<script>
    $(document).ready(function () {
        var popOverSettings = {
            placement: 'left',
            container: 'body',
            html: true,
            selector: '[data-toggle="popover"]', //Sepcify the selector here
            content: function () {
                return $('#popover-content').html();
            },
            trigger: 'focus'
        }

        $('body').popover(popOverSettings);

    });

    $(document).on('click', '#btnExportProductionData', function () {
        var shiftid = $("#CurrentShiftId").val();
          var prodDate = $("#ProdDate").val();
          var prodToDate = $("#ProdToDate").val();
        try {
            $.ajax({
                url: "/ExportProductionEntryDataByShiftAndDate?ProdDate=" + prodDate +"&ProdToDate=" + prodToDate +"&Shiftid="+shiftid+"&organizationID="+@Model.CurrentOrganizationId+"",
                type: "Get",
                contentType: "application/json; charset=utf-8",
                processData: true,
                DataType: "json",
                beforeSend: function () {
                    // Show image container
                    $('#AjaxLoader').show();
                },
                success: function (response){
                    //get the file name for download
                    if (response.fileName != "") {
                        window.location.href = "@Url.RouteUrl(new
                         { Controller = "Report", Action = "Download"})/?file=" + response.fileName;
                }
            else {
                $('#AjaxLoader').hide();
                alert(response.errorMessage);
            }
                },
                error: function (err,xx,yy) {
                    $('#AjaxLoader').hide();
                }
                ,
                complete: function (data) {
                    // Hide image container
                    $('#AjaxLoader').hide();
                }
            });

        }
        catch (err) {
          //  $("#dvInput_Loading_production").hide();
            alert(err.message);
        }
    });
</script>

}

