﻿@model ProEfficient.Core.Models.HomeDashBoardModels.ChartsModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .divcolor {
        background-color: #212123
    }

    .bar.total rect {
        fill: steelblue;
    }

    .bar.positive rect {
        fill: #00a65a;
    }

    .bar.negative rect {
        fill: crimson;
    }

    .bar line.connector {
        stroke: white;
        /* stroke-dasharray: 3;*/
    }

    .bar text {
        fill: white;
        font: 12px sans-serif;
        text-anchor: middle;
    }

    .axis text {
        fill: white;
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: white;
        /*stroke: #fff;*/
        shape-rendering: crispEdges;
    }

    .bubble {
        font-weight: bold;
    }

    .ellipse {
        fill: #f39c12;
        stroke: #f4f4f4;
        stroke-width: 2;
    }
</style>
<div class="container-fluid divcolor">

   
   
    <div class="row" >
        <div class="col-md-12 chart">
            <svg id="svg1"></svg>
        </div>
       
    </div>

</div>

<script src="https://d3js.org/d3.v4.min.js"></script>

<script>
   

    $(document).ready(function ()
    {

      //  var lstWaterFall = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.waterFallList) as String)';
        var lstBubbleChart ='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.bubbleChartList) as String)';

       // DisplayWaterFallChart(lstWaterFall);
       DisplayBubbleChart(lstBubbleChart);

    });
   
   
    function DisplayBubbleChart(response) {
        var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            a = w.innerWidth || e.clientWidth || g.clientWidth,
            b = w.innerHeight || e.clientHeight || g.clientHeight;
        
        var da = $.parseJSON(response);
    dataset = { "children": da };
        var diameter = a/4;
        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var bubble = d3.pack(dataset)
            .size([diameter, diameter])
            .padding(1.5);

        var svg = d3.select("#svg1")
            //.append("svg")
            .attr("width", diameter)
            .attr("height", diameter);
            //.attr("class", "bubble");

        var nodes = d3.hierarchy(dataset)
            .sum(function (d) { return d.Count; });

        var node = svg.selectAll(".node")
            .data(bubble(nodes).descendants())
            .enter()
            .filter(function (d) {
                return !d.children
            })
            .append("g")
            .attr("class", "node")
            .attr("transform", function (d) {
                //debugger;
                return "translate(" + d.x + "," + d.y + ")";
            });

        node.append("title")
            .text(function (d) {
                return d.data.Name + ": " + d.data.Count;
            });

        node.append("circle")
            .attr("r", function (d) {
                return d.r;
            })
            .style("fill", function (d, i) {
                return color(i);
            });

        node.append("text")
            .attr("dy", ".2em")
            .style("text-anchor", "middle")
            .text(function (d) {
                return d.data.Name.substring(0, d.r / 3);
            })
            .attr("font-family", "sans-serif")
            .attr("font-size", function (d) {
                return d.r / 5;
            })
            .attr("fill", "white");

        node.append("text")
            .attr("dy", "1.3em")
            .style("text-anchor", "middle")
            .text(function (d) {
                return d.data.Count;
            })
            .attr("font-family", "Gill Sans", "Gill Sans MT")
            .attr("font-size", function (d) {
                return d.r / 5;
            })
            .attr("fill", "white");

        d3.select(self.frameElement)
            .style("height", a/4 + "px");
}
</script>

