﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Utility
@using ProEfficient.Dal.DAL
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@model IEnumerable<ProEfficient.Core.Models.MasterOperation>

@{
    ViewBag.Title = "Operation List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2 style="display:inline;">Operation List</h2>
    <table style="display:inline;float:right;">
        <tr>
            <td>@Html.ActionLink("Create New Operation", "Create","Operation", null, new { @class = "btn btn-primary" })</td>           
        </tr>
    </table>
</div>


<br />

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.OperationDescription)
                </th>              
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>

                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @if (Model!=null){
                foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.OperationDescription)
                        </td>                       

                        <td>
                            @(item.IsActive.ToBoolean() ? "Active" : "InActive")
                        </td>

                        <td class="edit">
                            @Html.ActionLink("Edit", "Edit", new { id = item.OperationId })
                            @Html.ActionLink((item.IsActive.ToBoolean() ? "Deactivate" : "Activate"), "Delete", new { id = item.OperationId }, new { @class = "DeleteAnc" })
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>