﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pro Efficient v1.0</title>

    <script src="~/js/bundles/modernizr.min.js"></script>
    <link href="wwwroot/css/css.min.css" />

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")*@


    <script src="~/js/bundles/jquery.min.js"></script>
    <script src="~/js/bundles/bootstrap.min.js"></script>
    <script src="~/js/bundles/custom.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
