﻿@using ProEfficient.Core.Utility
@using ProEfficient.Dal.Utility
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pro Efficient v1.0</title>


    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/Scripts/datatables.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/CustomCss/custom.css" rel="stylesheet" />
    <link href="~/Content/CustomCss/print.min.css" rel="stylesheet" />



    <script src="~/js/bundles/jquery.min.js"></script>
    <script src="~/js/bundles/bootstrap.min.js"></script>
    <script src="~/js/bundles/custom.min.js"></script>
    <script src="~/js/bundles/modernizr.min.js"></script>

    <script src="~/Scripts/chosen.jquery.min.js"></script>

    <script src="~/fullCal3.4/moment.min.js"></script>
    <script src="~/admin-lte/plugins/mqtt/mqttws31.js"></script>
    <script src="~/admin-lte/plugins/mqtt/mqtt_wrapper.js"></script>

    <link href="~/admin-lte/css/AdminLTE.css" rel="stylesheet" />    
    <script src="~/plugins/selectize/selectize.min.js"></script>
    <link href="~/plugins/selectize/selectize.bootstrap4.css" rel="stylesheet" />
    <link href="~/plugins/selectize/selectize.css" rel="stylesheet" />
    <link href="~/plugins/selectize/selectize.default.css" rel="stylesheet" />
    <script type="text/javascript">

        $(document).ready(function () {
            var success_message = '@Convert.ToString(TempData["SuccessAlertMessage"])';
            var error_message = '@Convert.ToString(TempData["ErrorAlertMessage"])';
            if (success_message != undefined && success_message != '' && success_message != null && success_message != 'undefined') {
                alert(success_message);
            }
            if (error_message != undefined && error_message != '' && error_message != null && error_message != 'undefined') {
                alert(error_message);
            }

            $(".chosen-select").selectize({
                create: true,
                sortField: "text",
            });

        })
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img class="header-logo" src="~/Content/img/logo.png" />
                <span> @Html.ActionLink((UserUtility.CurrentUser == null ? "" : (UserUtility.CurrentUser.OrganizationName + " ")) + " ", "UserDashBoard", "UserDashBoard", new { area = "" }, new { @class = "navbar-brand" })</span>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @if (UserUtility.IsAuthenticated && UserUtility.CurrentUser != null)
                    {
                        if (UserUtility.IsAdmin(UserUtility.CurrentUser.UserTypeId.ToInteger()))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Utility Master <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Operator", "index", "Operator")</li>
                                    <li>@Html.ActionLink("Operation", "index", "Operation")</li>
                                    <li>@Html.ActionLink("Die", "index", "Die")</li>
                                    <li>@Html.ActionLink("Mould", "index", "Mould")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Master Details <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("User", "index", "User")</li>
                                    <li>@Html.ActionLink("Product", "Index", "Product")</li>
                                    <li>@Html.ActionLink("Machine", "Index", "Machine")</li>
                                    <li>@Html.ActionLink("Shift", "Index", "Shift")</li>
                                    @if (UserUtility.CurrentUser.HasBreakdown)
                                    {
                                        <li>@Html.ActionLink("Stoppage Reason", "Index", "StoppageReason")</li>
                                    }
                                    @if (UserUtility.CurrentUser.HasRejection)
                                    {
                                        <li>@Html.ActionLink("Rejection Reason", "Index", "RejectionReason")</li>
                                    }
                                    <li>@Html.ActionLink("Machine Product Mapping", "Index", "MachineProduct")</li>
                                    <li>@Html.ActionLink("Product Die Mapping", "Index", "ProductDie")</li>
                                    <li>@Html.ActionLink("Product Mould Mapping", "Index", "ProductMould")</li>
                                    @*<li>@Html.ActionLink("Raw Data", "Index", "DataD")</li>*@
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Scheduler <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("Supervisor Schedule", "Index", "SupervisorMachines")</li>
                                    <li>@Html.ActionLink("Holiday Calendar", "Index", "Holidays")</li>
                                    <li>@Html.ActionLink("User Report Config", "Index", "UserMachineReport")</li>


                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Production <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    @if (UserUtility.CurrentUser.IsManualProductionEntry)
                                    {
                                        <li>@Html.ActionLink("Add Production", "Index", "ProductionPage")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("View Production", "Index", "ProdBreakView")</li>
                                    }
                                    @if (UserUtility.CurrentUser.HasBreakdown)
                                    {
                                        <li>@Html.ActionLink("Rejection Entry", "Index", "ProductionBreakdownEntry")</li>
                                        <li>@Html.ActionLink("Edit Breakdown", "Index", "BreakdownEntryEdit")</li>
                                    }

                                    <li>@Html.ActionLink("Add Production Planning", "Index", "ProductionPlanningPage")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Reports <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("OEE Report", "Index", "Report")</li>
                                    @if (UserUtility.CurrentUser.HasBreakdown)
                                    {
                                        <li>@Html.ActionLink("Breakdown Report", "LossIndex", "Report")</li>
                                        <li>@Html.ActionLink("Production Report", "ProductionReport", "Report")</li>
                                    }
                                    @if (UserUtility.CurrentUser.HasRejection)
                                    {
                                        <li>@Html.ActionLink("Rejection Report", "RejIndex", "Report")</li>
                                    }
                                </ul>
                            </li>

                            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                        }
                        if (UserUtility.IsSuperAdmin(UserUtility.CurrentUser.UserTypeId.ToInteger()))
                        {
                            @*<li>@Html.ActionLink("Change Organization", "ChangeOrganization", "Organization")</li>*@
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Master Details <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Organization", "Index", "Organization")</li>*@
                                    <li>@Html.ActionLink("User", "index", "User")</li>
                                    @*<li>@Html.ActionLink("Product", "Index", "Product")</li>
                            <li>@Html.ActionLink("Machine", "Index", "Machine")</li>
                            <li>@Html.ActionLink("Shift", "Index", "Shift")</li>
                            <li>@Html.ActionLink("Stoppage Reason", "Index", "StoppageReason")</li>
                            <li>@Html.ActionLink("Rejection Reason", "Index", "RejectionReason")</li>
                            <li>@Html.ActionLink("Machine Product Mapping", "Index", "MachineProduct")</li>*@
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Scheduler <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    @*<li>@Html.ActionLink("Supervisor Schedule", "Index", "SupervisorMachines")</li>
                            <li>@Html.ActionLink("Holiday Calendar", "Index", "Holidays")</li>*@
                                    <li>@Html.ActionLink("User Report Config", "Index", "UserMachineReport")</li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Change Organization <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @foreach (SelectListItem org in UserUtility.AllOrganizationsList)
                                    {
                                        <li>
                                            @Html.ActionLink(org.Text, "ChangeOrganization", "Login", new
                                {
                                id = org.Value,
                                controllername = ViewContext.RouteData.Values["controller"].ToString(),
                                actionname = ViewContext.RouteData.Values["action"].ToString()
                                })
                                        </li>

                                    }
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                        }

                        if (UserUtility.IsApprover(UserUtility.CurrentUser.UserTypeId.ToInteger()))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Scheduler <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("Supervisor Schedule", "Index", "SupervisorMachines")</li>
                                    <li>@Html.ActionLink("Holiday Calendar", "Index", "Holidays")</li>
                                    <li>@Html.ActionLink("User Report Config", "Index", "UserMachineReport")</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Production <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    @if (UserUtility.CurrentUser.IsManualProductionEntry)
                                    {
                                        <li>@Html.ActionLink("Add Production", "Index", "ProductionPage")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("View Production", "Index", "ProdBreakView")</li>
                                    }
                                    @if (UserUtility.CurrentUser.HasBreakdown)
                                    {
                                        <li>@Html.ActionLink("Rejection Entry", "Index", "ProductionBreakdownEntry")</li>
                                        <li>@Html.ActionLink("Edit Breakdown", "Index", "BreakdownEntryEdit")</li>
                                    }

                                    <li>@Html.ActionLink("Add Production Planning", "Index", "ProductionPlanningPage")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Reports <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("OEE Report", "Index", "Report")</li>
                                    @if (UserUtility.CurrentUser.HasBreakdown)
                                    {
                                        <li>@Html.ActionLink("Breakdown Report", "LossIndex", "Report")</li>
                                        <li>@Html.ActionLink("Production Report", "ProductionReport", "Report")</li>
                                    }
                                    @if (UserUtility.CurrentUser.HasRejection)
                                    {
                                        <li>@Html.ActionLink("Rejection Report", "RejIndex", "Report")</li>
                                    }
                                </ul>
                            </li>

                            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                        }
                        if (UserUtility.IsNormalUser(UserUtility.CurrentUser.UserTypeId.ToInteger()))
                        {


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Production <span class="caret"></span></a>
                                <ul class="dropdown-menu">

                                    <li>@Html.ActionLink("View Production", "Index", "ProdBreakView")</li>
                                    <li>@Html.ActionLink("Edit Breakdown", "Index", "BreakdownEntryEdit")</li>

                                </ul>
                            </li>

                            <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                        }

                    }
                    else
                    {
                        if (ViewBag.IsLoginPage == null)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Login")</li>
                        }

                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @*   <div id="divAlert" class="alert-danger" style="display:none;">
        <div id="alertcontent"></div>
        </div>
        @if (TempData["ErrorMessage"] != null)
        {
        <div class="alert-danger">
        @TempData["ErrorMessage"].ToStringWithNullEmpty()
        </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
        <div class="alert-success">
        @TempData["SuccessMessage"].ToStringWithNullEmpty()
        </div>
        }
        *@
        @RenderBody()


    </div>
    <div class="modal_main"></div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Pro Efficient</p>
    </footer>

    @if (IsSectionDefined("scripts"))
    {
        @RenderSection("scripts", required: true)
    }
</body>
</html>
