﻿@{
    var machineProductMap = new List<ProEfficient.Core.Models.MachineProductMap>();
    if (ViewBag.MachineProductMapList != null)
    {
        machineProductMap = (List<ProEfficient.Core.Models.MachineProductMap>)ViewBag.MachineProductMapList;
    }
    var AllOperators = (SelectList)ViewBag.AllOperators;
    var AllOperations = (SelectList)ViewBag.AllOperations;
    var AllMoulds = (List<ProEfficient.Core.Models.MasterMould>)ViewBag.AllMoulds;
    var AllDies = (List<ProEfficient.Core.Models.MasterDie>)ViewBag.AllDies;

    var DieList = new SelectList(AllDies, "DieId", "DieDescription");
    var MouldList = new SelectList(AllMoulds, "MouldId", "MouldDescription");
    String productCycleJson = ViewBag.ProductCycleList;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#machine_productTable').DataTable();

        var SelectMappingTab = '@Convert.ToString(TempData["SavedMachineProductMap"])';

        if (SelectMappingTab != undefined && SelectMappingTab != '' && SelectMappingTab != null && SelectMappingTab != 'undefined') {
            $("#tb_machine_product_map").trigger("click");
        }
       

    })
       function GetMouldCavityCount(id,recid) {
        $.get("/MachineProduct/GetMouldCavityCount/id='" + $(id).val() + "'", function (data, status) {
            debugger;
            $("#Mould_Cavity_" + recid).attr("max", data);
            $("#Mould_Cavity_" + recid).val(data);

        });
    }
    function GetDieCavityCount(id, recid) {
        $.get("/MachineProduct/GetDieCavityCount/id='" + $(id).val() + "'", function (data, status) {
            debugger;
            $("#Die_Cavity_" + recid).attr("max", data);
            $("#Die_Cavity_" + recid).val(data);
        });

    }
    function SetCycleAndTimeRequired(prouctList, cycleTimeControl, TimeRequiredControl, TargetProductionCountControl) {
        try {
            var JsonVal = JSON.parse($("#productCycle").val());
            var find = JsonVal.find(el => el.productId == $(prouctList).val());
            $("#" + cycleTimeControl).val(find.cycletime);
            var timeRequired = (parseFloat(find.cycletime * $("#" + TargetProductionCountControl).val()) / 60).toFixed(2);
            if (isNaN(timeRequired)) {
                timeRequired = 0;
            }
            $("#" + TimeRequiredControl).val(timeRequired);
        }
        catch (ex) {
            $("#" + cycleTimeControl).val(0);
            $("#" + TimeRequiredControl).val(0);
            $("#" + TargetProductionCountControl).val(0);
        }

    }
    function CheckValidToSelect(obj, recId) {
        var ProductSelect = $("#ddlProductList_" + recId);
        var OperatorSelect = $("#Operators_" + recId);
        var TargetProduction = $("#TargetProduction_" + recId);
        var SelectedMapping = $("#SelectedMapping_" + recId);
        SelectedMapping.val(false);
        debugger;
        var errorMessage = "";
        if (ProductSelect != undefined) {
            if (ProductSelect.val() == 0) {
                errorMessage = "Select a product";
                ProductSelect.focus();
            }
        }
        if (OperatorSelect != undefined) {
            if (OperatorSelect.val() == '') {
                errorMessage = errorMessage + "\n" + "Select an operator";
                OperatorSelect.focus();
            }
        }
        if (TargetProduction.val() == '' || TargetProduction.val() == '0' || TargetProduction.val() <= 0) {
            errorMessage = errorMessage + "\n" + "Enter target production";
            TargetProduction.focus();
        }
        if (errorMessage != "") {
            alert(errorMessage);
            $(obj).attr("checked", false);
             SelectedMapping.val(false);
        }
        SelectedMapping.val($(obj).is(":checked"));
    }
</script>
@using (Html.BeginForm("SaveProductionEntry", "MachineProduct", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.Hidden("productCycle",productCycleJson)
            <table id="machine_productTable" class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th style="width:10%">
                            Machine Name
                        </th>

                        <th style="width:10%">
                            Product
                        </th>
                        @if (ViewBag.AllOperators != null && ViewBag.IsOperator != false)
                        {
                            <th style="width:10%">
                                Operators
                            </th>
                        }
                        @if (ViewBag.AllOperations != null && ViewBag.IsOperation != false)
                        {
                            <th style="width:10%">
                                Operations
                            </th>
                        }
                        @if (MouldList != null && ViewBag.IsMould != false)
                        {
                            <th style="width:10%">
                                Mould
                            </th>
                            <th style="width:5%">
                                Cavity count
                            </th>
                        }
                        @if (DieList != null && ViewBag.IsDie != false)
                        {

                            <th style="width:10%">
                                Die
                            </th>
                            <th style="width:5%">
                                Cavity count
                            </th>
                        }
                        <th style="width:5%">
                            Target Production
                        </th>
                        <th style="width:5%">
                            Time Required(M)
                        </th>
                        <th style="width:10%">
                            Cycle Time
                        </th>
                        <th style="width:5%">
                            Select
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @{
                        int index = 1;
                    }

                    @foreach (var productmachinemodel in machineProductMap)
                    {
                        <tr>
                            <td style="width:10%">
                                @Html.Hidden("hdMachineId_"+index.ToString(),productmachinemodel.MachineID.ToString(),new { id="hdMachineId_"+index.ToString()})
                                @productmachinemodel.MachineName
                            </td>
                            <td style="width:10%">
                                @{
                                    var SelectionList = (IEnumerable<SelectListItem>)ViewBag.ProductList;

                                }
                                @Html.DropDownList("ddlProductList_" + index.ToString(),
                        new SelectList(SelectionList, "Value", "Text",productmachinemodel.ProductID.ToString()),
                        new { id = ("ddlProductList_" + index.ToString()), @class = "form-control chosen-select ddlProductList",@onchange="SetCycleAndTimeRequired(this,'"+"CyceTime"+ index.ToString()+"',"+"'TimeRequired_"+ index.ToString()+"',"+"'TargetProduction_"+ index.ToString()+"')" })
                            </td>
                            @if (ViewBag.AllOperators != null && ViewBag.IsOperator != false)
                            {
                                <td style="width:10%">
                                    @Html.DropDownList("Operators_"+ index.ToString(),new SelectList(AllOperators.ToList(), "Value", "Text",productmachinemodel.OperatorId.ToString()) ,"Please select" , new {  @class = "form-control chosen-select" })
                                </td>
                            }

                            @if (ViewBag.AllOperations != null && ViewBag.IsOperation != false)
                            {
                                <td style="width:10%">
                                    @Html.DropDownList("Operations_"+ index.ToString(),new SelectList(AllOperations.ToList(), "Value", "Text",productmachinemodel.OperationId.ToString()) ,"Please select", new {  @class = "form-control chosen-select" })
                                </td>
                            }

                            @if (MouldList != null && ViewBag.IsMould != false)
                            {
                                <td style="width:10%">
                                    @Html.DropDownList("Mould_"+ index.ToString(),new SelectList(MouldList.ToList(), "Value", "Text",productmachinemodel.MouldId.ToString()) ,"Please select" , new {  @class = "form-control chosen-select" ,@onchange="GetMouldCavityCount(this,"+index.ToString()+")"})
                                </td>
                                <td style="width:5%">
                                    @Html.TextBox("Mould_Cavity_"+ index.ToString(),productmachinemodel.MouldCavity.ToString(),new {@type="number",@class = "form-control"})
                                </td>
                            }
                            @if (DieList != null && ViewBag.IsDie != false)
                            {

                                <td style="width:10%">
                                    @Html.DropDownList("Die_"+ index.ToString(),new SelectList(DieList.ToList(), "Value", "Text",productmachinemodel.DieId.ToString()) ,"Please select",new {  @class = "form-control chosen-select",@onchange="GetDieCavityCount(this,"+index.ToString()+")" })
                                </td>
                                <td style="width:5%">
                                    @Html.TextBox("Die_Cavity_"+ index.ToString(),productmachinemodel.DieCavity.ToString(),new {@type="number",@class = "form-control "})
                                </td>
                            }

                            <td style="width:5%">
                                @Html.TextBox("TargetProduction_"+ index.ToString(),productmachinemodel.TargetProduction.ToString(),new {@type="number",@onchange="$('#ddlProductList_" + index.ToString()+"').trigger( 'change')",@class = "form-control"})
                            </td>
                            <td style="width:5%">
                                @Html.TextBox("TimeRequired_"+ index.ToString(),((productmachinemodel.TargetProduction*productmachinemodel.ProductCycleTime)/60).ToString("##.##"),new {@class = "form-control", @readonly="readonly"})
                            </td>
                            <td style="width:10%">
                                @Html.TextBox("CyceTime"+ index.ToString(),productmachinemodel.ProductCycleTime.ToString(),new {@type="number",@class = "form-control", @readonly="readonly"})
                            </td>
                            <td style="width:5%">
                                @Html.CheckBox("Select"+ index.ToString(),false,new {@onclick="CheckValidToSelect(this,"+index.ToString()+")"})
                                @Html.Hidden("SelectedMapping_"+ index.ToString(),false)
                            </td>
                        </tr>

                        index++;
                    }

                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button type="submit" style="width:100px;" st class="btn btn-success">Save</button>
        </div>
    </div>
}