﻿@{
    var BreakDownList = new SelectList((List<SelectListItem>)ViewBag.BreakDownReasonList, "Value", "Text");
}
<link href="~/admin-lte/css/machine_monitor.css" rel="stylesheet" />
<script src="~/scripts/customjs/machine_monitor.js"></script>
<!-- Modal -->
<div class="modal fade" id="breakdownReasonModal" tabindex="-1" role="dialog" aria-labelledby="breakdownReasonModalTitle" aria-hidden="true">
    @Html.Hidden("hdMachine",(String) ViewBag.MachineList)

    @Html.Hidden("hdPublishTopic",(String) ViewBag.PublishTopic)
    @Html.Hidden("hdSubscribeTopic",(String) ViewBag.SubscribeTopic)
    @Html.Hidden("hdMqttIpAddress",(String) ViewBag.MqttIpAddress)
    @Html.Hidden("hdMqttPortNo",(String) ViewBag.MqttPortNo)
    @Html.Hidden("hdClientId",(String) ViewBag.ClientId)
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @Html.Hidden("hdSelectedMachineId","")
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="modal-title" id="exampleModalLongTitle">Select Add Reason</h5>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>


            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <span><b> Add Reason</b></span>
                    </div>
                    <div class="col-md-6">                        
                        @Html.DropDownList("ddlBreakDownReason",BreakDownList, new { @id = "ddlBreakDownReason",@class="form-select form-control"})
                    </div>

                </div>
                <div class="clearfix">
                </div>               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveReason()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 machine-monitor-container">
    <h5 style="color:white;margin-bottom:-5px;">Realtime machine monitoring details</h5>
    <div id="machine_main_status_container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-light loading">Loading...</h1>
            </div>
        </div>
       
    </div>


</div>
