﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ViewModel.UtilityMasterMapping
@{
    String ModalName = "Modal-" + Model.ProductId.ToString() + "-" + Model.MachineId.ToString();
    Boolean IsMappingDone = false;
    if (Model.DieId != null || Model.DieId != 0)
    {
        IsMappingDone = true;
    }
    if (Model.MouldId != null || Model.MouldId != 0)
    {
        IsMappingDone = true;
    }
    if (Model.OperationId != null || Model.OperationId != 0)
    {
        IsMappingDone = true;
    }
    if (Model.OperatorId != null || Model.OperatorId != 0)
    {
        IsMappingDone = true;
    }
    List<ProEfficient.Core.Models.MasterMould> AllMoulds = null;
    SelectList mouldList = null;
    if (ViewBag.AllMoulds != null)
    {
        AllMoulds = (List<ProEfficient.Core.Models.MasterMould>)ViewBag.AllMoulds;
        if (ViewBag.ProductMouldMapping != null)
        {
            var selectedMould = (List<ProEfficient.Core.Models.Product_Mould_Rel>)ViewBag.ProductMouldMapping;
            var allmouldIds = selectedMould.FindAll(i => i.ProductID == Model.ProductId).Select(k => k.MouldId);
            List<ProEfficient.Core.Models.MasterMould> selectedMoulds = new List<ProEfficient.Core.Models.MasterMould>();

            foreach (var mould in allmouldIds)
            {
                var find = AllMoulds.FirstOrDefault(i => i.MouldId == mould);
                if (find != null)
                {
                    selectedMoulds.Add(find);
                }
            }
            mouldList = new SelectList(selectedMoulds, "MouldId", "MouldDescription");

        }

    }
    List<ProEfficient.Core.Models.MasterDie> AllDies = null;
    SelectList DieList = null;
    if (ViewBag.AllDies != null)
    {
        AllDies = (List<ProEfficient.Core.Models.MasterDie>)ViewBag.AllDies;
        if (ViewBag.ProductDieMapping != null)
        {
            var selectedDie = (List<ProEfficient.Core.Models.Product_Die_Rel>)ViewBag.ProductDieMapping;
            var allDieIds = selectedDie.FindAll(i => i.ProductID == Model.ProductId).Select(k => k.DieId);
            List<ProEfficient.Core.Models.MasterDie> selectedDies = new List<ProEfficient.Core.Models.MasterDie>();

            foreach (var Die in allDieIds)
            {
                var find = AllDies.FirstOrDefault(i => i.DieId == Die);
                if (find != null)
                {
                    selectedDies.Add(find);
                }
            }
            DieList = new SelectList(selectedDies, "DieId", "DieDescription");

        }

    }


    Model.RecId = (Model.RecId == null ? 0 : Model.RecId);
    String OperatorId = "OperatorId" + Model.RecId.ToString();
    String OperationId = "OperationId" + Model.RecId.ToString();
    String MouldId = "MouldId" + Model.RecId.ToString();
    String DieId = "DieId" + Model.RecId.ToString();
    String TargetProduction = "TargetProduction" + Model.RecId.ToString();
    String OrganizationId = "OrganizationId" + Model.RecId.ToString();
    String MachineId = "MachineId" + Model.RecId.ToString();
    String ProductId = "ProductId" + Model.RecId.ToString();

}
<!-- Button trigger modal -->
<button type="button" class="btn @(IsMappingDone?"btn-success": "btn-primary")" data-toggle="modal" data-target="#@ModalName">
    Mapping
</button>
<script type="text/javascript">

    function SaveMappingData(id) {
        debugger;
        var mapping = {
            OrganizationId: $("#OrganizationId" + id).val() == undefined ? 0 : $("#OrganizationId" + id).val(),
            MachineId: $("#MachineId" + id).val(),
            ProductId: $("#MouldId" + id).attr("productid"),
            OperatorId: $("#OperatorId" + id).val() == undefined ? 0 : $("#OperatorId" + id).val(),
            MouldId: $("#MouldId" + id).val() == undefined ? 0 : $("#MouldId" + id).val(),
            OperationId: $("#OperationId" + id).val() == undefined ? 0 : $("#OperationId" + id).val(),
            DieId: $("#DieId" + id).val() == undefined ? 0 : $("#DieId" + id).val(),
            TargetProduction: ($("#TargetProduction" + id).val() == "" ? 0 : $("#TargetProduction" + id).val()),
            MouldCavity: $("#MouldCavity" + id).val(),
            DieCavity: $("#DieCavity" + id).val()
        };
        $.get("/MachineProduct/SaveMachineUtilityMapping/id='" + JSON.stringify(mapping) + "'", function (data, status) {
            try {
                PublishMapping(mapping);
            }
            catch (ex) {
            }

            alert("Saved...");
            $("[data-dismiss=modal]").trigger({ type: "click" });
        });
    }
    

    function GetMouldCavityCount(id) {
        $.get("/MachineProduct/GetMouldCavityCount/id='" + $(id).val() + "'", function (data, status) {
            debugger;
            $("#MouldCavity" + $(id).attr("recid")).attr("max", data);
            $("#MouldCavity" + $(id).attr("recid")).val(data);

        });
    }
    function GetDieCavityCount(id) {
        $.get("/MachineProduct/GetDieCavityCount/id='" + $(id).val() + "'", function (data, status) {
            debugger;
            $("#DieCavity" + $(id).attr("recid")).attr("max", data);
            $("#DieCavity" + $(id).attr("recid")).val(data);
        });

    }

    $(document).ready(function () {       
        $(".currentDie").val("");
        $(".currentMould").val("");
    })

</script>
<!-- Modal -->
<div class="modal fade" id="@ModalName" tabindex="-1" role="dialog" aria-labelledby="@(ModalName+"ModalLabel")" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mapping Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m=>m.OrganizationId,new {@id=OrganizationId})
                @Html.HiddenFor(m=>m.ProductId,new {@id=ProductId})
                @Html.HiddenFor(m=>m.MachineId,new {@id=MachineId})
                <div class="row">
                    @if (ViewBag.AllOperators != null && ViewBag.IsOperator != false)
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Operator</label>
                                @Html.DropDownListFor(m => m.OperatorId,(SelectList)ViewBag.AllOperators,"Select Operator",new {@class="form-control" ,@id=OperatorId})
                            </div>
                        </div>
                    }

                    @if (ViewBag.AllOperations != null && ViewBag.IsOperation != false)
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Operations</label>
                                @Html.DropDownListFor(m => m.OperationId,(SelectList)ViewBag.AllOperations,"Select Operation",new {@class="form-control",@id=OperationId})
                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    @if (mouldList != null && ViewBag.IsMould != false)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Mould</label>
                                @Html.DropDownListFor(m => m.MouldId,mouldList,"Select Mould",new {@class="form-control currentMould",@id=MouldId,@productid=Model.ProductId.ToString(),@recid=Model.RecId.ToString(),onchange="GetMouldCavityCount(this);"})
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Cavity</label>
                                <input id="@("MouldCavity"+Model.RecId.ToString())" type="number" min="1" class="form-control" max="1" value="1" />
                            </div>
                        </div>
                    }

                    @if (DieList != null && ViewBag.IsDie != false)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>AllDies</label>
                                @Html.DropDownListFor(m => m.DieId,DieList,"Select Die",new {@class="form-control currentDie",@productid=Model.ProductId.ToString(),@recid=Model.RecId.ToString(),@id=DieId,@onchange="GetDieCavityCount(this);"})
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Cavity</label>
                                <input id="@("DieCavity"+Model.RecId.ToString())" type="number" min="1" class="form-control" max="1" value="1" />
                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Target Production</label>
                            @Html.TextBox("targetProduction",Model.TargetProduction,new {@class="form-control",@id=TargetProduction,@type="number"})
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submitMachineMapping" type="button" onclick="SaveMappingData(@Model.RecId)" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>