﻿@{
    Boolean IsMould = ViewBag.IsMould == null ? false : Convert.ToBoolean(ViewBag.IsMould);
    Boolean IsDie = ViewBag.IsDie == null ? false : Convert.ToBoolean(ViewBag.IsDie);
    Boolean IsOperator = ViewBag.IsOperator == null ? false : Convert.ToBoolean(ViewBag.IsOperator);
    Boolean IsOperation = ViewBag.IsOperation == null ? false : Convert.ToBoolean(ViewBag.IsOperation);
}


<script type="text/javascript">

    $(document).ready(function () {
        Load();
    })
    function Load() {
        $("#updateModulePanel").hide();
        $("#login_section").show();
    }
    function superAdminLogin() {
        $.get("/MachineProduct/SuperAdminLogin/id='" + $("#superAdminPassword").val() + "'", function (data, status) {
            // alert(data);
            if (data == true) {
                alert("login Success");
                $("#updateModulePanel").show();
                $("#login_section").hide();
            }
            //$("[data-dismiss=modal]").trigger({ type: "click" });
        });
    }
    function SaveUtilityConfig() {
        var config = {
            "mouldId": ($("#chkMould").is(":checked") ? 1 : 0),
            "dieId": ($("#chkDie").is(":checked") ? 1 : 0),
            "operatorId": ($("#chkOperator").is(":checked") ? 1 : 0),
            "operationId": ($("#chkOperation").is(":checked") ? 1 : 0),
            "organizationId": 0
        }

        $.get("/MachineProduct/SaveUtilityModuleConfig/id='" + JSON.stringify(config) + "'", function (data, status) {
            // alert(data);
            if (data == true) {
                debugger;                
                alert("Data saved successfully");               
            }
            else
            {
                alert("Data is not saved");
            }
            //$("[data-dismiss=modal]").trigger({ type: "click" });
        });
    }

</script>
<!-- Button trigger modal -->
<input type="button" class="btn btn-primary" data-toggle="modal" data-target="#superAdminLogin" value="Utility" />
<!-- Modal -->
<div class="modal fade" id="superAdminLogin" tabindex="-1" role="dialog" aria-labelledby="superAdminLoginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="login_section">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-1"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="col-md-8">
                            <h5 class="modal-title" id="superAdminLoginLabel">Super Admin Login</h5>

                        </div>
                        <div class="col-md-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>


                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="superAdminPassword" placeholder="Password" maxlength="50">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSuperAdminLogin" onclick="superAdminLogin()">Login</button>
                </div>
            </div>

        </div>
        <div id="updateModulePanel" style="background: white;">
            <div class="modal-header">Select Utility Module Details</div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Module Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Die</td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="chkDie" @(IsDie?"checked":"")>
                                <label class="form-check-label" for="chkDie">
                                    Die
                                </label>
                            </td>

                        </tr>

                        <tr>
                            <th scope="row">2</th>
                            <td>Mould</td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="chkMould" @(IsMould?"checked":"")>
                                <label class="form-check-label" for="chkMould">
                                    Mould
                                </label>
                            </td>

                        </tr>

                        <tr>
                            <th scope="row">3</th>
                            <td>Operator</td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="chkOperator" @(IsOperator?"checked":"")>
                                <label class="form-check-label" for="chkOperator">
                                    Operator
                                </label>
                            </td>

                        </tr>


                        <tr>
                            <th scope="row">4</th>
                            <td>Operation</td>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="chkOperation" @(IsOperation?"checked":"")>
                                <label class="form-check-label" for="chkOperation">
                                    Operation
                                </label>
                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Load();">Close</button>
                <button type="button" class="btn btn-primary" id="btnSaveSettings" onclick="SaveUtilityConfig()">Save</button>
            </div>
        </div>

    </div>
</div>
