﻿@model ProEfficient.Ui.Entity.OrganizationProductCategory


@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>OrganizationProductCategory</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrganizationId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrganizationId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RejectionReasonIds)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RejectionReasonIds)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>
