﻿@model ProEfficient.Ui.Entity.OrganizationProductCategory


@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>OrganizationProductCategory</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrganizationId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrganizationId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RejectionReasonIds)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RejectionReasonIds)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
