﻿@model ProEfficient.Core.Models.ViewModel.ProductCategoryViewModel


@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
    using (Html.BeginForm("Edit", "ProductCategories", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(i => i.Id)
        @Html.HiddenFor(i => i.OrganizationId)
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <section class="globalForm">
                    <h1> Edit Product Category</h1>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">

                        <div class="form-group col-xs-12 col-md-12">
                            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*<div class="row">

                            <div class="form-group col-xs-12 col-md-12">
                                @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.OrganizationId, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                    <div class="row">

                        <div class="form-group col-xs-12 col-md-12">
                            @Html.LabelFor(model => model.RejectionReasonIds, htmlAttributes: new { @class = "control-label" })
                            @Html.ListBoxFor(model => model.arrRejectionReasonIds, (IEnumerable<SelectListItem>)ViewBag.RejectionReasons, new { @class = "listbox", id = "allRejectionReasons" })
                            @*@Html.EditorFor(model => model.RejectionReasonIds, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })*@
                            @Html.ValidationMessageFor(model => model.RejectionReasonIds, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                    </div>

                    <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                        <input type="submit" value="Modify" class="btn btn-create-user" />
                    </div>
                </section>
            </div>
        </div>

    }
}
@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>
    <link href="~/Multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="~/Multiselect/bootstrap-multiselect.js"></script>
}
<script type="text/javascript">
    $(function () {
        $('.listbox').chosen('destroy');
        $('.listbox').multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%',
            maxHeight: 300,
            buttonClass: 'form-control',
            selectedClass: 'multiselect-selected'

        });
        $('.listbox').chosen('destroy');
    });
</script>
