﻿@model IEnumerable<ProEfficient.Core.Models.ViewModel.ProductCategoryViewModel>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .multiselect-search{
        max-width:100%;
    }
</style>

<h2 class="page-title">Category List @Html.ActionLink("Create New", "Create", "ProductCategories", null, new { @class = "btn btn-primary" })</h2>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width:20%">
                Category
            </th>

            <th style="text-align:center">
                Rejection Reasons
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.OrganizationId)
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>

                <td>
                    @Html.ListBoxFor(modelItem => item.arrRejectionReasonIds, (IEnumerable<SelectListItem>)ViewBag.RejectionReasons, new { @class = "listbox", id = "allRejectionReasons" })
                    @*@Html.DisplayFor(modelItem => item.RejectionReasonIds)*@
                </td>
                <td class="edit">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })


                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>
    <link href="~/Multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="~/Multiselect/bootstrap-multiselect.js"></script>
}
<script type="text/javascript">
    $(function () {
        $('.listbox').chosen('destroy');
        $('.listbox').multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%',
           
            buttonClass: 'form-control',
            selectedClass: 'multiselect-selected'

        });
        $('.listbox').chosen('destroy');
    });
</script>
