﻿<div class="box">
    <div class="box-body">
        <div id='calendar'></div>

    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Schedule</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="hdSupervisorMachineId" value="0" />
                    <div class="form-group">
                        <label>Machine</label>
                        <select id="MachineId" class="form-control" asp-items="ViewBag.MachineId"></select>
                    </div>
                    <div class="form-group">
                        <label>Shift</label>
                        <select id="ShiftId" class="form-control">
                            @foreach (var item in ViewBag.ShiftId)
                            {
                                <option value="item.Value">item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Supervisor</label>
                        <select id="SupervisorId" class="form-control">
                            @foreach (var item in ViewBag.SupervisorId)
                            {
                                <option value="item.Value">item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="StartDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" id="divEndDate">
                        <label>End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="EndDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>

                    @*<div class="form-group">
                            <label>Theme Color</label>
                            <select id="ddThemeColor" class="form-control">
                                <option value="">Default</option>
                                <option value="red">Red</option>
                                <option value="blue">Blue</option>
                                <option value="black">Black</option>
                                <option value="green">Green</option>
                            </select>
                        </div>*@
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/SupervisorMachines/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                title:'Test',
                                supervisorMachineId: v.SupervisorMachineId,
                                machineId: v.MachineId,
                                shiftId: v.ShiftId,
                                supervisorId: v.SupervisorId,
                                start: moment(v.StartDate),
                                end: v.EndDate != null ? moment(v.EndDate) : null,
                                isActive: true,
                                isFullDay: true
                            });
                        })

                        Generatecalendar(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            function Generatecalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                       // $('#myModal #eventTitle').text(calEvent.title);
                        //var $description = $('<div/>');
                        //$description.append($('<p/>').html('<b>Start:</b>' + calEvent.startDate.format("DD-MMM-YYYY HH:mm a")));
                        //if (calEvent.end != null) {
                        //    $description.append($('<p/>').html('<b>End:</b>' + calEvent.endDate.format("DD-MMM-YYYY HH:mm a")));
                        //}
                        //$description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        //$('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            supervisorMachineId: 0,
                            machineId: 0,
                            shiftId: 0,
                            supervisorId: 0,
                            startDate: start,
                            endDate: end,
                            isActive: true,
                            isFullDay: true
                           // color: ''
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            SupervisorMachineId: event.supervisorMachineId,
                            MachineId: event.machineId,
                            ShiftId: event.shiftId,
                            SupervisorId: event.supervisorId,
                            StartDate: event.startDate.format('DD/MM/YYYY HH:mm A'),
                            EndDate: event.endDate != null ? event.endDate.format('DD/MM/YYYY HH:mm A') : null,
                            IsActive: true,
                            IsFullDay: true

                           // ThemeColor: event.color,
                        };
                        SaveEvent(data);
                    }
                })
            }

            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                openAddEditForm();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: '/SupervisorMachines/DeleteEvent',
                        data: { 'supervisorMachineId': selectedEvent.supervisorMachineId },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calendar
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })
            $('#dtp1,#dtp2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm A'
            });
            //$('#chkIsFullDay').change(function () {
            //    if ($(this).is(':checked')) {
            //        $('#divEndDate').hide();
            //    }
            //    else {
            //        $('#divEndDate').show();
            //    }
            //});
            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdSupervisorMachineId').val(selectedEvent.supervisorMachineId);
                   // $('#txtSubject').val(selectedEvent.title);
                    $('#txtStartDate').val(selectedEvent.startDate.format('DD/MM/YYYY HH:mm A'));
                    //$('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    //$('#chkIsFullDay').change();
                    $('#txtEndDate').val(selectedEvent.endDate != null ? selectedEvent.endDate.format('DD/MM/YYYY HH:mm A') : '');
                    //$('#txtDescription').val(selectedEvent.description);
                    //$('#ddThemeColor').val(selectedEvent.color);
                }
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }
            $('#btnSave').click(function () {
                //Validation/
                //if ($('#txtSubject').val().trim() == "") {
                //    alert('Subject required');
                //    return;
                //}
                if ($('#txtStartDate').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#txtEndDate').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                //if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                //    alert('End date required');
                //    return;
                //}
                //else {
                    var startDate = moment($('#txtStartDate').val(), "DD/MM/YYYY HH:mm A").toDate();
                    var endDate = moment($('#txtEndDate').val(), "DD/MM/YYYY HH:mm A").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                //}

                var data = {
                    SupervisorMachineId: $('#hdSupervisorMachineId').val(),
                    MachineId: $('#MachineId').val(),
                    ShiftId: $('#ShiftId').val(),
                    SupervisorId: $('#SupervisorId').val(),
                    //Subject: $('#txtSubject').val().trim(),
                    Start: $('#txtStartDate').val().trim(),
                    End:  $('#txtEndDate').val().trim(),
                    //Description: $('#txtDescription').val(),
                    //ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: true,
                    IsActive: true
                }
                SaveEvent(data);
                // call function for submit data to the server
            })
            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/SupervisorMachines/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calendar
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }
        })
    </script>
