﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fc-more-popover {
        max-height: 400px;
        overflow-y: scroll;
    }
</style>
<div id="MainContentDiv">


    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter Calendar</h3>
                    <div class="box-tools pull-right">

                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label>Machine</label>
                        <select id="MachineIdsArr" class="form-control" asp-items="ViewBag.MachineId" multiple="multiple"></select>
                    </div>
                    <div class="form-group">
                        <label>Shifts</label>
                        <select id="ShiftIdsArr" class="form-control" asp-items="ViewBag.ShiftId" multiple="multiple"></select>
                    </div>
                    <div class="form-group">
                        <label>Supervisors</label>
                        <select id="SupervisorIdsArr" class="form-control" asp-items="ViewBag.SupervisorId" multiple="multiple"></select>
                    </div>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" id="btnSearch" class="btn btn-success">Filter</button>
                </div><!-- box-footer -->
                
            </div><!-- /.box -->
        </div>
        <div class="col-md-9">
            <div class="box box-danger">
                <div class="box-body">
                    <div id='calendar'></div>

                </div>
            </div>
        </div>

    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="fa fa-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="fa fa-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Schedule</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hdSupervisorMachineId" value="0" />
                    <div class="form-group">
                        <label>Machine</label>
                        <select id="arrMachineIds" class="form-control" asp-items="ViewBag.MachineId" ></select>
                        
                    </div>
                    <div class="form-group">
                        <label>Shift</label>
                        <select id="ShiftId" class="form-control" asp-items="ViewBag.ShiftId"></select>
                    </div>
                    <div class="form-group">
                        <label>Supervisor</label>
                        <select id="SupervisorId" class="form-control" asp-items="ViewBag.SupervisorId"></select>
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <input type="text" id="StartDate" class="form-control" />
                        @*<div class="input-group date" id="dtp1">
                            <input type="text" id="StartDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>*@
                    </div>

                    <div class="form-group" id="divEndDate">
                        <label>End</label>
                        <input type="text" id="EndDate" class="form-control" />
                        @*<div class="input-group date" id="dtp2">
                            <input type="text" id="EndDate" class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>*@
                    </div>

                    @*<div class="form-group">
                            <label>Theme Color</label>
                            <select id="ddThemeColor" class="form-control">
                                <option value="">Default</option>
                                <option value="red">Red</option>
                                <option value="blue">Blue</option>
                                <option value="black">Black</option>
                                <option value="green">Green</option>
                            </select>
                        </div>*@
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="~/fullCal3.4/fullcalendar.min.css" rel="stylesheet" />
<link href="~/fullCal3.4/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="~/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@section Scripts{
    <link href="~/Multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="~/Multiselect/bootstrap-multiselect.js"></script>
    <script src="~/fullCal3.4/moment.min.js"></script>
    <script src="~/fullCal3.4/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#arrMachineIds').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
            });
            $('#MachineIdsArr').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                numberDisplayed: 2
            });
            $('#ShiftIdsArr').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
            });
            $('#SupervisorIdsArr').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
            });
           
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                var modelObj = {
                    MachineIdsArr: $('#MachineIdsArr').val(),
                    SupervisorIdsArr: $('#SupervisorIdsArr').val(),
                    ShiftIdsArr: $('#ShiftIdsArr').val()
                }
                debugger;
                events = [];
                $.ajax({
                    type: "POST",
                    url: "/SupervisorMachines/GetEvents",
                    data: modelObj,
                    success: function (data) {
                        debugger;
                        $.each(data.data, function (i, v) {
                            events.push({
                                title: v.SupervisorName + ' | ' + v.MachineName + ' | ' + v.ShiftName,
                                supervisorMachineId: v.SupervisorMachineId,
                                arrMachineIds: v.arrMachineIds,
                                shiftId: v.ShiftId,
                                supervisorId: v.SupervisorId,
                                start: moment(v.StartDate),
                            end: v.EndDate != null ? moment(v.EndDate).add(1, 'days') : null,
                                isActive: true,
                                allDay: true,
                                color: v.ThemeColor
                            });
                        })
                        console.log(events);
                        Generatecalendar(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            function Generatecalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    allDayDefault: true,
                    contentHeight: 400,
                    defaultDate: new Date(),
                    // timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + moment(calEvent.end).add(-1, 'days').format("DD-MMM-YYYY")));
                        }

                        //$description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                       end =moment(end).add(-1, 'days')
                        selectedEvent = {
                            supervisorMachineId: 0,
                            arrMachineIds: [],
                            shiftId: 0,
                            supervisorId: 0,
                            start: start,
                            end: end,
                            isActive: true,
                            allDay: true,
                            color: 'Green'
                        };
                        openAddEditForm('Add');
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        debugger;
                        var data = {
                            SupervisorMachineId: event.supervisorMachineId,
                            arrMachineIds: event.arrMachineIds,
                            ShiftId: event.shiftId,
                            SupervisorId: event.supervisorId,
                            StartDate: event.start.format('DD-MMM-YYYY HH:mm A'),
                            EndDate: event.end != null ? moment(event.end).add(1, 'days').format('DD-MMM-YYYY HH:mm A') : null,
                            IsActive: true,
                            IsFullDay: true

                            // ThemeColor: event.color,
                        };
                        SaveEvent(data);
                    }
                })
            }
            $('#btnSearch').click(function () {
               
                FetchEventAndRenderCalendar();
            })
            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                openAddEditForm('Edit');
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Are you sure to delete this Schedule?')) {
                    $.ajax({
                        type: "POST",
                        url: '/SupervisorMachines/DeleteEvent',
                        data: { 'supervisorMachineId': selectedEvent.supervisorMachineId },
                        success: function (data) {
                            if (data.data.status) {
                                //Refresh the calendar
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })
            //$('#dtp1,#dtp2').datetimepicker({
            //    format: 'DD/MM/YYYY'
            //});
            $('#StartDate,#EndDate').datetimepicker({
                format: 'DD-MMM-YYYY'
            });
        
            //$('#chkIsFullDay').change(function () {
            //    if ($(this).is(':checked')) {
            //        $('#divEndDate').hide();
            //    }
            //    else {
            //        $('#divEndDate').show();
            //    }
            //});
            function openAddEditForm(mode) {
                debugger;
                if (mode === 'Edit') {                  
               
                    $('#arrMachineIds').removeAttr('multiple');
                    $('#arrMachineIds').multiselect('rebuild');
                  

                } else {
                    $('#arrMachineIds').attr('multiple', 'multiple');
                    $('#arrMachineIds').multiselect('rebuild');
                  
                }
                if (selectedEvent != null) {
                    if (mode === 'Edit') {
                        $('#EndDate').val(selectedEvent.end != null ? moment(selectedEvent.end).add(-1, 'days').format('DD-MMM-YYYY') : '');
                    } else {
                        $('#EndDate').val(selectedEvent.end != null ? moment(selectedEvent.end).format('DD-MMM-YYYY') : '');
                    }
                    $('#hdSupervisorMachineId').val(selectedEvent.supervisorMachineId);
                    // $('#txtSubject').val(selectedEvent.title);
                    $('#arrMachineIds').val(selectedEvent.arrMachineIds);

                    $("#arrMachineIds").multiselect("refresh");
                    $('#ShiftId').val(selectedEvent.shiftId);
                    $('#SupervisorId').val(selectedEvent.supervisorId);
                    $('#StartDate').val(selectedEvent.start.format('DD-MMM-YYYY'));
                    //$('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    //$('#chkIsFullDay').change();
                   // $('#EndDate').val(selectedEvent.end != null ? moment(selectedEvent.end).add(-1, 'days').format('DD/MM/YYYY') : '');
                    //$('#txtDescription').val(selectedEvent.description);
                    //$('#ddThemeColor').val(selectedEvent.color);
                }
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }
            $('#btnSave').click(function () {
                //Validation/
                //if ($('#txtSubject').val().trim() == "") {
                //    alert('Subject required');
                //    return;
                //}
                if ($('#StartDate').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#EndDate').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                var machines = $('#arrMachineIds > option:selected');
                if (machines.length == 0) {
                    alert('No Machine Selected');
                    return;
                }
                //if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                //    alert('End date required');
                //    return;
                //}
                //else {
                var startDate = moment($('#StartDate').val(), "DD-MMM-YYYY").toDate();
                var endDate = moment($('#EndDate').val(), "DD-MMM-YYYY").toDate();
                if (startDate > endDate) {
                    alert('Invalid end date');
                    return;
                }
                //}

                var data = {
                    SupervisorMachineId: $('#hdSupervisorMachineId').val(),
                    arrMachineIds: $('#arrMachineIds').val(),
                    ShiftId: $('#ShiftId').val(),
                    SupervisorId: $('#SupervisorId').val(),
                    //Subject: $('#txtSubject').val().trim(),
                    StartDate: $('#StartDate').val().trim(),
                    EndDate: $('#EndDate').val().trim(),
                    //Description: $('#txtDescription').val(),
                    //ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: true,
                    IsActive: true
                }
                SaveEvent(data);
                // call function for submit data to the server
            })
            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/SupervisorMachines/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.data.status) {
                            if (data.data.msgerror.length > 5) {                                
                                alert(data.data.msgerror.replace(/,/g,'\n'));
                            } else {
                                //Refresh the calendar
                                FetchEventAndRenderCalendar();
                                $('#myModalSave').modal('hide');
                            }
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }
        })
    </script>
}
