﻿@model IList<ProEfficient.Core.Models.ViewModel.PMMachineVM>

@using (Html.BeginForm("MachineDemandTypePost", "MachineProduct", FormMethod.Post, new { id = "MachineFrm" }))
{
    <div class="box box-primary">
        <div class="box-body">

            <div style="padding-left:0;padding-right:0;">
                <table id="machineTable" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Machine Code
                            </th>
                            <th>
                                Machine Name
                            </th>
                            <th>
                                Location
                            </th>

                            <th>
                                Category
                            </th>
                            <th>
                                Demand Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                @Html.HiddenFor(modelItem => modelItem[i].MachineID)
                                
                               
                                <td>@Html.CheckBoxFor(modelItem => Model[i].isChecked, new { @class = "tblinput" })</td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].MachineCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].MachineName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].MachineLocation)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].MachineCategory)
                                </td>
                                <td>
                                    @*@Html.DropDownListFor(modelItem => modelItem[i].MachineDemandType, Html.GetEnumSelectList(typeof(ProEfficient.Core.Models.ProductType)))*@
                                    @Html.DropDownListFor(modelItem => modelItem[i].MachineDemandType, new SelectList(Enum.GetNames(typeof(ProEfficient.Core.Models.ProductType))))                                   
                                    @*@Html.EditorFor(modelItem => modelItem[i].MachineDemandType)*@
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="form-group">
                <input type="submit" value="Update Demand Type" class="btn  btn-primary pull-right" />
            </div>
        </div>
    </div>
}
<script>
    var demandTypes = [
        "None",
        "Runner",
        "Repeater",
        "Stranger"
    ];
    $(function () {
        var tableMachine =  $('#machineTable').DataTable({
            "paging": true,
            "ordering": false,
            "info": false,
            "searching": true,
            "columns": [
                null, null, null, null, null,null
                //{
                //    "render": function (d, t, r) {
                //        var $select = $("<select></select>", {
                //            "id": r[0] + "start",
                //            "value": d
                //        });
                //        $.each(demandTypes, function (k, v) {
                //            var $option = $("<option></option>", {
                //                "text": v,
                //                "value": v
                //            });
                //            if (d === v) {
                //                $option.attr("selected", "selected")
                //            }
                //            $select.append($option);
                //        });
                //        return $select.prop("outerHTML");
                //    }
                //}
            ]
        });
    //});
    //$(function () {
    //    var table = $('#machineTable').DataTable({
    //        "paging": true,
    //        "ordering": false,
    //        "info": false,
    //        "searching": true

    //    })

         $("#MachineFrm").submit(function (e) {
            debugger;
           // if ($(this).valid()) {
                e.preventDefault();
               // alert($(this).serialize());
             var sData = tableMachine.$('input,select').serialize();

                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: sData,
                    success: function (res) {
                        debugger;
                        if (res.length > 200) {
                            $("#OpPartialMachine").html("");
                            $("#OpPartialMachine").html(res);
                            alert('Saved Successfully ');
                            }
                        else {alert(res); }

                    }
                });
           // }
        });

    });
</script>
