﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ViewModel.ProductMachineVMSelect

@using (Html.BeginForm("MachineProductSelect", "MachineProduct", FormMethod.Post, new { id = "SearchFrm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.OrganizationId)
    <script type="text/javascript">
        $(function () {
            $('.listbox').multiselect({
                includeSelectAllOption: true,
                buttonWidth: '100%',
                maxHeight: 300,
                buttonClass: 'form-control',
                selectedClass: 'multiselect-selected',
                enableFiltering: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            $("#SearchFrm").submit(function (e) {
                var machines = $('#allMachines > option:selected');
                if (machines.length == 0) {
                    alert('No Machine Selected');
                    return false;
                }
                var products = $('#allProducts > option:selected');
                if (products.length == 0) {
                    alert('No Product Selected');
                    return false;
                }

                //if ($(this).valid()) {

                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (res) {

                        if (res.length > 40) {
                            $("#OpPartialMachineProductLst").html("");
                            $("#OpPartialMachineProductLst").html(res);
                        } else {
                            $("#OpPartialMachineProductLst").html("");
                        }
                    }
                });
                // }
            });
        });
    </script>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <div class="form-group">
                <label>Choose Machine </label>
                @Html.ListBoxFor(m => m.arrMachineIds, UserUtility.AllMachine, new { @class = "listbox", id = "allMachines" })
            </div>

        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <div class="form-group">
                <label>Choose Product </label>
                @Html.ListBoxFor(m => m.arrProductIds, UserUtility.AllProduct, new { @class = "listbox", id = "allProducts" })
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <input type="submit" class="btn-primary" value="Get Mapping List" />
        </div>
    </div>


}




