﻿@model IList<ProEfficient.Core.Models.ViewModel.ProductMachineVM>
@using ProEfficient.Core.Models.ViewModel
@using (Html.BeginForm("MachineProductList", "MachineProduct", FormMethod.Post, new { id = "MappingFrm" }))
{
    @Html.Hidden("hdPublishTopic",(String) ViewBag.PublishTopic)
    @Html.Hidden("hdSubscribeTopic",(String) ViewBag.SubscribeTopic)
    @Html.Hidden("hdMqttIpAddress",(String) ViewBag.MqttIpAddress)
    @Html.Hidden("hdMqttPortNo",(String) ViewBag.MqttPortNo)
    @Html.Hidden("hdClientId",(String) ViewBag.ClientId)

    <div class="box box-primary">
        <div class="box-body">

            <div style="padding-left:0;padding-right:0;">
                <table id="MappingTable" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Machine Code
                            </th>
                            <th>
                                Machine Name
                            </th>
                            <th>
                                Location
                            </th>


                            <th>
                                Product Code
                            </th>

                            <th>
                                Product Name
                            </th>
                            <th>
                                Product Cycle Time
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                @Html.HiddenFor(modelItem => modelItem[i].MachineID)
                                @Html.HiddenFor(modelItem => modelItem[i].ProductId)
                                <td>
                                    @Html.CheckBoxFor(modelItem => modelItem[i].IsMapped)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].MachineCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].MachineName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].MachineLocation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].ProductCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].ProductName)
                                </td>
                                <td>
                                    @Html.EditorFor(modelItem => modelItem[i].ProductCycleTime, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", } })
                                </td>
                                <td>
                                    @{
                                        var mapping = new UtilityMasterMapping()
                    {
                        MachineId = Model[i].MachineID,
                        ProductId = Model[i].ProductId,
                        RecId = i
                    };
                                        if (Model[i].mapping != null)
                                        {
                                            mapping.DieId = Model[i].mapping?.DieId;
                                            mapping.MouldId = Model[i].mapping?.MouldId;
                                            mapping.OperationId = Model[i].mapping?.OperationId;
                                            mapping.OperatorId = Model[i].mapping?.OperatorId;
                                            mapping.TargetProduction = Model[i].mapping?.TargetProduction;

                                        }
                                        else
                                        {
                                            Model[i].mapping = new UtilityMasterMapping();
                                            Model[i].mapping.RecId = i;
                                        }
                                        @Html.Partial("_UtilityMapping",mapping)
                                    }

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="form-group">
                <input type="submit" value="Modify Machine-Product Mapping" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        var table = $('#MappingTable').DataTable({
            "paging": true,
            "ordering": false,
            "info": false,
            "searching": true

        })

        // Handle form submission event
        $("#MappingFrm").submit(function (e) {
            debugger;
            // if ($(this).valid()) {
            e.preventDefault();
            // alert($(this).serialize());
            var sData = table.$('input').serialize();
            debugger;
            // alert(sData.length);
            if (sData.length > 20) {
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: sData,
                    success: function (res) {
                        debugger;
                        if (res.length > 200) {
                            $("#OpPartialMachineProductLst").html("");
                            $("#OpPartialMachineProductLst").html(res);
                            alert('Saved Successfully ');
                        }
                        else { alert(res); }

                    }
                });
            }
            //}
        });

    });
</script>

