﻿@model ProEfficient.Core.Models.ViewModel.ProductMachineViewModel
<script src="~/scripts/customjs/machine_monitor.js"></script>
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Machines</a></li>
        <li><a href="#tab2" data-toggle="tab">Products</a></li>
        <li><a href="#tab3" id="tb_machine_product_map" data-toggle="tab">Machine Product</a></li>

    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="tab1" role="tabpanel">
            <div class="row">
                <div class="col-md-12">
                    <div id="OpPartialMachine">
                        <partial name="_machines" model="Model.lstproductmachineMachineVM" />

                    </div>
                </div>

            </div>
        </div>

        <div class=" tab-pane" id="tab2">
            <div class="row">
                <div class="col-md-12">
                    <div id="OpPartialProducts">
                        <partial name="_products" model="Model.lstproductmachineProductVM" />
                    </div>
                </div>

            </div>
        </div>

        <div class=" tab-pane" id="tab3">
           @Html.Partial("_MachineProductMapping")
        </div>

    </div>

</div>
@section Scripts {
    <link href="~/Multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="~/Multiselect/bootstrap-multiselect.js"></script>
}
