﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Utility
@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.BreakDownEntry
@{
    Decimal ShiftStart = 0.00m;
    Decimal ShiftEnd = 100.00m;
    Boolean IsOverNight = false;
    Decimal OverNightValue = 0;
    if (ViewBag.CurrentShift != null)
    {

        Shift objShift = new Shift();
        objShift = (Shift)ViewBag.CurrentShift;

        if (!objShift.isOverNight)
        {
            ShiftStart = objShift.StartTime.ToDecimal0();
            ShiftEnd = objShift.EndTime.ToDecimal0();

        }
        else
        {
            IsOverNight = objShift.isOverNight;
            OverNightValue = 24;
        }

    }

}

@using (Html.BeginForm("AddBreakdown", "Production", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(i => i.BreakDownID)
    @Html.HiddenFor(i => i.TimeOfEntry)
    @Html.HiddenFor(model => model.ProductionDate, new { @id = "hdBreakdownProdDate", @class = "lblProductionDateBD" })
    <div class="form-group col-xs-12 col-md-4" style="display:none;">
        @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.MachineID, UserUtility.AllMachine, "Select Machine", new { @class = "form-control current_machine" })
        @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.ReasonId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.ReasonId, UserUtility.ActiveReasons, "Select Reason", new { @class = "form-control", @onchange = "selectSoppageSubReason()" })
        @Html.ValidationMessageFor(model => model.ReasonId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.SubReasonId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.SubReasonId, UserUtility.ActiveSubReasons, "Select Sub Reason", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SubReasonId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-4" style="display:none;">
        @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.UserID, UserUtility.AllUser, "Select Operator", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-4 Hidden">
        @Html.LabelFor(model => model.OperatorID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.OperatorID, UserUtility.AllUser, "Select Operator", new { @class = "form-control Operator" })
        @Html.ValidationMessageFor(model => model.OperatorID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-4 Hidden">
        @Html.LabelFor(model => model.SupervisorID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.SupervisorID, UserUtility.AllUser, "Select Supervisor", new { @class = "form-control Supervisor" })
        @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
    </div>

    @*<div class="form-group col-xs-12 col-md-4">
            @Html.LabelFor(model => model.TimeOfEntry, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TimeOfEntry, new { htmlAttributes = new { @class = "form-control timepicker" } })
            @Html.ValidationMessageFor(model => model.TimeOfEntry, "", new { @class = "text-danger" })
        </div>*@

    <div class="form-group col-xs-12 col-md-4" style="display:none;">
        @Html.LabelFor(model => model.ShiftId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.ShiftId, UserUtility.AllShift, "Select Shift", new { @class = "form-control current_shift" })
        @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
    </div>


    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.BreakDownStartTime, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.BreakDownStartTime, new { htmlAttributes = new { @class = "form-control TimePick", @onblur = "CalculateTotalBreakDownTime()", @type = "number", @min = ShiftStart, @max = ShiftEnd } })
        @Html.ValidationMessageFor(model => model.BreakDownStartTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.BreakDownEndTime, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.BreakDownEndTime, new { htmlAttributes = new { @class = "form-control TimePick", @onblur = "CalculateTotalBreakDownTime()", @type = "number", @min = ShiftStart, @max = ShiftEnd } })
        @Html.ValidationMessageFor(model => model.BreakDownEndTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.TotalStoppageTime, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.TotalStoppageTime, new { @class = "form-control", @type = "number", @min = "0", @step = "1" })
        @Html.ValidationMessageFor(model => model.TotalStoppageTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        <label class="control-label">&nbsp;</label>
        <input type="submit" command="Breakdown" onclick="return SubmitCheck();" id="btn" value="Save" class="btn btn-create-user" @(Model.IsSaved ? "disabled" : "") />
    </div>

}



@section Scripts {

    <script src="~/js/bundles/jqueryval.min.js"></script>

    @*@Scripts.Render("~/bundles/jqueryval")*@
}
