﻿@using ProEfficient.Core.Utility
@using ProEfficient.Dal.Utility
@model IEnumerable<ProEfficient.Core.Models.BreakDownEntry>

<div class="clearfix"></div>
<div class="table-responsive breakdown">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.BreakDownID)
                    </th>*@
                <th>
                   Machine
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReasonId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OperatorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupervisorID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfEntry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalStoppageTime)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AddBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EdittedBy)
                    </th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.BreakDownID)
                    </td>*@
                        <td>
                         <b>   @UserUtility.getMachine(item.MachineID.ToInteger0()).MachineName</b>
                        </td>
                        <td>
                            @UserUtility.getReason(item.ReasonId.ToInteger0()).ReasonName
                        </td>
                        <td>
                            @UserUtility.getUser(item.UserID.ToInteger0()).UserName
                        </td>
                        <td>
                            @UserUtility.getUser(item.OperatorID.ToInteger0()).UserName
                        </td>
                        <td>
                            @UserUtility.getUser(item.SupervisorID.ToInteger0()).UserName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeOfEntry)
                        </td>
                        <td>
                            @if (item.ShiftId > 0)
                            {
                                <div>@UserUtility.getShift(item.ShiftId.ToInteger0()).ShiftName</div>

                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalStoppageTime)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EdittedBy)
                    </td>*@

                        <td class="edit">
                            @if (!item.IsSaved)
                            {
                                @Html.ActionLink("Edit", "EditBreakDown", new { id = item.BreakDownID })
                                @Html.ActionLink("Delete", "DeleteBreakDown", new { id = item.BreakDownID }, new { @class = "DeleteAnc" })
                            }
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>
