﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Models.HomeDashBoardModels
@model ProEfficient.Core.Models.HomeDashBoardModels.FinalResultSetModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<script src="~/DashboradjsModel/DashboardMOdel.js"></script>*@



<link rel="stylesheet" type="text/css" href="~/plugins/daterangepicker/daterangepicker.css" />

@*<script src="~/DashboradjsModel/SweetAlert.js"></script>*@
<script src="https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"></script>
<style>
    .swal-wide {
        width: 750px !important;
    }

    #nav > ul > li > a {
        background-color: lightgray;
        border: 1px;
        border-top-left-radius: 4px 4px 0 0;
    }

    .body-content {
        background-color: #161719
    }

    .containerhead {
        background-color: #e8b271;
        height: 40px;
        border: 1px solid;
        border-radius: 5px;
    }

    .swal2-popup {
        min-width: 60em;
        background: #d0d0d0
    }

    .divcolor {
        background-color: #212123
    }

    .mypichart {
        padding: 5px;
    }

        .mypichart > canvas {
            height: 80px;
        }

    .zeroPadding {
        padding-left: 5px !important;
    }
</style>

<div class="clearfix">&nbsp;</div>
<div class="container-fluid containerhead divcolor">
    <div class="row">
        <div class="col-md-6" >
            <div style="width:30%;float:left">
                <p style="margin-top:10px;color:white;margin-left:20px">
                    Report Name
                </p>
            </div>
            <div style="width:50%;float:left;top: 2px; position: relative;">


                <select class="form-control" asp-items="@Model.MachineList" id="MachineDrp">
                </select>

            </div>
            <div style="width:18%;float:left;margin-left:2px;top: 2px; position: relative;" >
                @*<div style="float:left;top:2px;position:relative">*@
                    @Html.ActionLink("Add New", "Index", "UserMachineReport", null, new { @class = "btn btn-info" })
                    
                @*</div>*@

            </div>
        </div>
        <div class="col-md-6">
            <div style="width:20%;float:left">
                <p style="margin-top:10px;color:white">Select Date</p>

            </div>
            <div style="width:50%;float:left;top: 2px; position: relative;">
                <button type="button" class="btn btn-default" id="daterange-btn">
                    <span>
                        <i class="fa fa-calendar"></i> Date range picker
                    </span>
                    <i class="fa fa-caret-down"></i>
                </button>
                @*<input class="form-control" placeholder="select Date" autocomplete="off" id="txtDateRange" />*@
            </div>
            <div style="width: 18%; float: left; top: 2px; position: relative; margin-left: 5px;">
                <input type="button" onclick="getData()" class="btn btn-success" value="GetData" />
            </div>
        </div>

        
       
    </div>
</div>
<div class="clearfix">
    &nbsp;

</div>
<div class="container-fluid divcolor">


    <div class="row" style="margin-top:25px">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-6" style="height:150px;border:5px solid #161719;text-align:center;color:#d0cfcd">
                    <div style="padding:10px 0px">
                        <input type="hidden" id="rptMonth" data-value="@ViewBag.rptMonth" />
                        <input type="hidden" id="rptMachine" data-value="@ViewBag.rptMachine" />
                        <input type="hidden" id="rptDate" data-value="@ViewBag.rptDate" />
                        @*<span style="margin-right:15px;cursor:pointer" onclick="SetPreviousmonth()">
                            <img src="~/Images/PrevTrans.png" />
                        </span>*@
                        <span id="curmonspan" style="color:white">

                        </span>
                        @*<span style="margin-left:15px;cursor:pointer" onclick="Setnextmonth()">
                            <img src="~/Images/NextTrans.png" />
                        </span>*@
                    </div>


                    @*<h6 id="monhead">Plant OEE August</h6>*@
                    <div style="top: 25%;position: relative;font-size: 42px;font-weight: 800;" id="ploeecrmon">
                        N/A
                    </div>

                </div>
                <div class="col-md-6" style="height:150px;border:5px solid #161719;text-align:center;color:#d0cfcd">
                    <h6>Plant OEE YTD</h6>
                    <div style="position: relative;
    font-size: 42px;
    font-weight: 800;
    top: 10%;" id="ploeeytd">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" style="border-right: 5px solid #161719;border-left: 5px solid #161719;">
                    <div class="col-md-3">
                        <div id="easypichartAR" class="mypichart" data-percent="73">
                            <span class="label" id="spanAR" style="background-color: #000000f2;position:relative;top:0px;left:25%"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="easypichartPR" class="mypichart" data-percent="73">
                            <span class="label" id="spanPR" style="background-color: #000000f2;position:relative;top:0px;left:25%"></span>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div id="easypichartQR" class="mypichart" data-percent="73">
                            <span class="label" id="spanQR" style="background-color: #000000f2;position:relative;top:0px;left:25%"></span>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div id="easypichartOEE" class="mypichart" data-percent="73">
                            <span class="label" id="spanOEE" style="background-color: #000000f2;position:relative;top:0px;left:25%"></span>
                        </div>
                    </div>

                </div>

                <div class="col-md-6" style="border-right: 5px solid #161719;border-left: 5px solid #161719;">
                    <div class="col-md-3">
                        <div id="easypichartMAR" class="mypichart" data-percent="73">
                            <span class="label" id="spanAR" style="background-color: #000000f2;position:relative;top:0px;left:25%"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="easypichartMPR" class="mypichart" data-percent="73">
                            <span class="label" id="spanPR" style="background-color: #000000f2;position:relative;top:0px;left:25%"></span>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div id="easypichartMQR" class="mypichart" data-percent="73">
                            <span class="label" id="spanQR" style="background-color: #000000f2;position:relative;top:0px;left:25%"></span>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div id="easypichartMOEE" class="mypichart" data-percent="73">
                            <span class="label" id="spanOEE" style="background-color: #000000f2;position:relative;top:0px;left:25%"></span>
                        </div>
                    </div>

                </div>



            </div>





            <div class="row">

                <div class="col-md-12" style="border:5px solid #161719">

                    <div style="position:relative;">
                        <h6 style="text-align:center;color:#717173">Runner Repeater Comparison</h6>
                        <div id="chartContainerrunnerrepeater" style="height: 300px; width: 100%;"></div>
                        @*<img src="~/img/RunnerRepeater.jpeg" style="max-width:100%;height:250px" />*@
                    </div>


                </div>
                <div class="col-md-6" style="border:5px solid #161719;display:none;">
                    <div style="position:relative">
                        <h6 style="text-align:center;color:#717173">Customer Category</h6>
                        <div id="CustomerChartContainer" style="height: 300px; width: 100%;"></div>
                        @*<img src="~/img/CustomerCategory.jpeg" style="max-width:100%;height:250px" />*@
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4" style="text-align:center;height: 601px;border:5px solid #161719">
            <h4 style="color:white">Loss Report</h4>
            <div style="position:relative" id="displaylossdiv">
                <table class="table" id="tblLoss">
                    <!-- here goes our data! -->
                </table>
                @*//For DisplayLoss value*@
                @*<img src="~/img/LossData.jpeg" style="max-width:100%;height:350px" />*@

            </div>
            <div id="nav">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_0" id="Excisting_Pop" data-toggle="tab" aria-expanded="true">Duration</a></li>
                    <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Frequency</a></li>
                </ul>
            </div>
            <div class="tab-content">

                <div class="tab-pane active" id="tab_0">
                    <div class="myCanvaCustom" id="paretochartContainer" style="height: 300px; width: 100%;">
                        @*Draw Pareto here*@
                    </div>
                </div>
                <div class="tab-pane" id="tab_1">
                    <div class="myCanvaCustom" id="paretochartContainerFreequency" style="height: 300px; width: 100%;">
                        @*Draw Pareto here*@
                    </div>
                </div>
            </div>
            @*<div class="overlay" style="z-index: 1000; display: none" id="dvInput_Loading">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>*@


        </div>


    </div>

</div>

<div style="display: flex;" id="divWEEK">

</div>
@*<div class="col-md-3" style="color:#d0cfcd;text-align:center;height: 160px;border:5px solid #161719">
        <h6>W1 OEE</h6>
        <div style="position:relative;top:20%">
            <h1 style="font-size:50px;">0.7</h1>
        </div>
    </div>
    <div class="col-md-3" style="color:#d0cfcd;text-align:center;height: 160px;border:5px solid #161719">
        <h6>W2 OEE</h6>
        <div style="position:relative;top:20%">
            <h1 style="font-size:50px">0.85</h1>
        </div>
    </div>
    <div class="col-md-3" style="color:#d0cfcd;text-align:center;height: 160px;border:5px solid #161719">
        <h6>W3 OEE</h6>
        <div style="position:relative;top:20%">
            <h1 style="font-size:50px">0.78</h1>
        </div>
    </div>
    <div class="col-md-3" style="color:#d0cfcd;text-align:center;height: 160px;border:5px solid #161719">
        <h6>W4 OEE</h6>
        <div style="position:relative;top:20%">
            <h1 style="font-size:50px">0.95</h1>

        </div>
    </div>*@

<div class="modal fade" id="LossDetailsModel" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalheader"></h4>
            </div>
            <div class="modal-body">

                <table class="table table-striped table-sm" id="tblLossDetails" style="width:100%">
                    <thead>
                        <tr>
                            <th class="zeroPadding">Date</th>
                            <th class="zeroPadding">SubReason</th>
                            <th class="zeroPadding">Duration</th>
                            <th class="zeroPadding">Line</th>
                            <th class="zeroPadding">Remark</th>
                        </tr>
                    </thead>
                </table>

                <div class="overlay" style="z-index: 1000; display: none" id="dvInput_ProdEdit_Loading">
                    <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                </div>


            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="~/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/plugins/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.flash.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.html5.min.js"></script>
@*<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>*@

<script type="text/javascript" src="~/plugins/datatables/jszip.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/pdfmake.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/vfs_fonts.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/plugins/datatables/buttons.dataTables.min.css" />
<script src="~/plugins/canvasjs.min.js"></script>
<script src="~/lib/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script>
    
    $(function() {
        $('#MachineDrp').change(function() {
        var url = $(this).val();
            if (url.toLowerCase() == "add new") {
           location.href = "@Url.Action("Index", "UserMachineReport")";
        }
    });
});
    let BreakDwninfo =
        [
            {
                LossName: "BreakDown",
                Duration: 34,
                Frequency: 2,
                Date: "2020-08-20"
            },
            {
                LossName: "ToolChange",
                Duration: 58,
                Frequency: 20,
                Date: "2020-08-20"
            },
            {
                LossName: "Adjustment",
                Duration: 100,
                Frequency: 5,
                Date: "2020-08-20"
            },
            {
                LossName: "Cleaning",
                Duration: 85,
                Frequency: 4,
                Date: "2020-08-20"
            },
            {
                LossName: "Lack of Material",
                Duration: 100,
                Frequency: 12,
                Date: "2020-08-20"
            },
            {
                LossName: "Lack of Operator",
                Duration: 100,
                Frequency: 50,
                Date: "2020-08-20"
            }

        ];
    let runner = [
        {
            AR: .78,
            PR: .85,
            QR: .65,
            Month: "Jan"
        },
        {
            AR: .88,
            PR: .65,
            QR: .55,
            Month: "Feb"
        },
        {
            AR: .63,
            PR: .75,
            QR: .85,
            Month: "Mar"
        },
        {
            AR: .67,
            PR: .95,
            QR: .55,
            Month: "Apr"
        },
        {
            AR: .79,
            PR: .55,
            QR: .45,
            Month: "May"
        },
        {
            AR: .69,
            PR: .55,
            QR: .85,
            Month: "Jun"
        },
        {
            AR: .56,
            PR: .95,
            QR: .65,
            Month: "Jul"
        },
        {
            AR: .74,
            PR: .52,
            QR: .60,
            Month: "Aug"
        }
    ]
    let Stranger = [
        {
            AR: .69,
            PR: .55,
            QR: .85,
            Month: "Jan"
        },
        {
            AR: .67,
            PR: .95,
            QR: .55,
            Month: "Feb"
        },
        {
            AR: .63,
            PR: .75,
            QR: .85,
            Month: "Mar"
        },
        {
            AR: .79,
            PR: .55,
            QR: .45,

            Month: "Apr"
        },
        {
            AR: .88,
            PR: .65,
            QR: .55,

            Month: "May"
        },
        {
            AR: .74,
            PR: .52,
            QR: .60,

            Month: "Jun"
        },
        {
            AR: .56,
            PR: .95,
            QR: .65,
            Month: "Jul"
        },
        {
            AR: .78,
            PR: .85,
            QR: .65,

            Month: "Aug"
        }
    ]

    let montharrya = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

    let arprqraray = [

        {
            month: "Jan",
            AR: .68,
            PR: .78,
            QR: .85
        },
        {
            month: "Feb",
            AR: .72,
            PR: .60,
            QR: .55
        },
        {
            month: "Mar",
            AR: .85,
            PR: .81,
            QR: .74
        },
        {
            month: "Apr",
            AR: .68,
            PR: .56,
            QR: .85
        },
        {
            month: "May",
            AR: .89,
            PR: .50,
            QR: .45
        },
        {
            month: "Jun",
            AR: .68,
            PR: .75,
            QR: .65
        },
        {
            month: "Jul",
            AR: .58,
            PR: .88,
            QR: .95
        },
        {
            month: "Aug",
            AR: .88,
            PR: .75,
            QR: .95
        },
    ]
    var rangeName = '';
    var lossReportData='';
    var d = new Date();
    var month = d.getMonth();
    var rptMonth = $("#rptMonth").data("value");
    var rptMachine = $("#rptMachine").data("value");
    var rptDate = $("#rptDate").data("value");
    function setRptDate(rptdate) {

        $("#rptDate").val(rptdate);

        rptDate = rptdate;
        //alert(rptDate);

    }
    if (rptMonth != null) {
        month = rptMonth - 1;
        $("#MachineDrp").val(rptMachine);
        $('#daterange-btn span').html(rptDate);
    }
    let setmonarry = [month+1];
    var monnumber = setmonarry.pop() - 1;
    if (monnumber >= 0) {
        $("#curmonspan").html('');
        $("#curmonspan").html(montharrya[monnumber]);
        setmonarry.push(monnumber);
        // findPLYTD(monnumber);
    }
    else {
        $("#curmonspan").html('');
        $("#curmonspan").html(montharrya[11]);
        setmonarry.push(0);
    }
   // $("#monhead").html('Plant OEE ' + montharrya[uptomonth] + '');
    function SetPreviousmonth()
    {
        $("#txtDateRange").val('');
        var machineid = $("#MachineDrp option:selected").val();
        var monnumber = setmonarry.pop() - 1;
        if (monnumber >= 0) {
            $("#curmonspan").html('');
            $("#curmonspan").html(montharrya[monnumber]);
            setmonarry.push(monnumber);
           // findPLYTD(monnumber);

        //else {
        //    $("#curmonspan").html('');
        //    $("#curmonspan").html(montharrya[11]);
        //    setmonarry.push(0);
        //  //  findPLYTD(11);
        //}

        var typeData =
        {
            typeofdata: "MonthWise",
            monthnumber: parseInt(monnumber),
            MachineID: machineid
        }
        //obj = JSON.stringify({ 'typeData': obj });

            $.ajax({

                type: "POST",
                contentType: "application/json",
                url: "/HomeDashBoard/FinalResult",
                data: JSON.stringify(typeData),
                // processData: true,
                dataType: "json",
                success: function (response) {
                   // debugger;
                    // var dataAll = $.parseJSON(response);
                    var dataperformance = JSON.stringify(response.PerformanceReportList);
                    var dataloss = response.LossReportList;
                    var lstWeek = response.PerformanceReportWEEKList;
                    var data = $.parseJSON(dataperformance);
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].DataLevel == 'PlantLevel') {
                            var data0 = data[i];
                            drawARChart(parseFloat(data0.AR));
                            drawPRChart(parseFloat(data0.PR));
                            drawQRChart(parseFloat(data0.QR));
                            drawOEEChart(parseFloat(data0.OEE));
                            setRptDate(data[0].rptDate);
                            findPLMON(parseFloat(data0.OEE));
                        }
                        if (data[i].DataLevel == 'YTD') {
                            var data0 = data[i];
                            drawMARChart(parseFloat(data0.AR));
                            drawMPRChart(parseFloat(data0.PR));
                            drawMQRChart(parseFloat(data0.QR));
                            drawMOEEChart(parseFloat(data0.OEE));
                            findPLYTD(month, parseFloat(data0.OEE));
                        }
                    }
                    RunnerRepeaterComparison(data);
                    CustomerCateGoryChart(data);
                    DisplayLossValue(JSON.stringify(dataloss));
                    fillWeek(JSON.stringify(lstWeek));

                },
                error: function (error) {
                    $("#dvInput_Loading_Data").hide();
                }
            });

        }

    }
    function Setnextmonth()
    {
        $("#txtDateRange").val('');
        var machineid = $("#MachineDrp option:selected").val();
        var monnumber = setmonarry.pop() + 1;
        var d = new Date();
        var n = d.getMonth();
        if (monnumber > n) {
            setmonarry.push(n);
            alert("Data Available Till month only");
            return;
        }
        if (monnumber <= 11) {
            $("#curmonspan").html('');
            $("#curmonspan").html(montharrya[monnumber]);
            setmonarry.push(monnumber);
           // findPLYTD(monnumber);
        }
        else {
            $("#curmonspan").html('');
            $("#curmonspan").html(montharrya[0]);
            setmonarry.push(0);
           // findPLYTD(0);
        }
        var obj =
        {
            typeofdata: "MonthWise",
            monthnumber: parseInt(monnumber),
            MachineID: machineid
        }

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/HomeDashBoard/FinalResult",
            data: JSON.stringify(obj),
            //processData: true,
            dataType: "json",
            success: function (response) {
                debugger;
                var dataperformance = JSON.stringify(response.PerformanceReportList);
                var dataloss = response.LossReportList;
                var lstWeek = response.PerformanceReportWEEKList;
                var data = $.parseJSON(dataperformance);
                for (var i = 0; i < data.length; i++) {
                    if (data[i].DataLevel == 'PlantLevel') {
                        var data0 = data[i];
                        drawARChart(parseFloat(data0.AR));
                        drawPRChart(parseFloat(data0.PR));
                        drawQRChart(parseFloat(data0.QR));
                        drawOEEChart(parseFloat(data0.OEE));
                        setRptDate(data[0].rptDate);
                        findPLMON(parseFloat(data0.OEE));
                    }
                    if (data[i].DataLevel == 'YTD') {
                        var data0 = data[i];
                        drawMARChart(parseFloat(data0.AR));
                        drawMPRChart(parseFloat(data0.PR));
                        drawMQRChart(parseFloat(data0.QR));
                        drawMOEEChart(parseFloat(data0.OEE));
                        findPLYTD(month, parseFloat(data0.OEE));
                    }
                }
                RunnerRepeaterComparison(data);
                CustomerCateGoryChart(data);
                DisplayLossValue(JSON.stringify(dataloss));
                fillWeek(JSON.stringify(lstWeek));

            },
            error: function (error) {
                $("#dvInput_Loading_Data").hide();
            }
        });




    }
    function fillWeek(res) {
        var data = $.parseJSON(res);

        $('#divWEEK').empty();
      //  $("div").empty();
        var str = "";
        if (data != null && data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                str += '<div style="color:#d0cfcd;text-align:center;height: 160px;border:5px solid #161719;display:inline-block; flex: 1;"><h5>' + data[i].DataLevel + ' : ' + data[i].weekno + '</h5><h6>OEE</h6><div style="position:relative;top:10%"><h1 style="font-size:50px">' + data[i].OEE.toFixed(3) +'</h1> </div></div>'
            }
            $('#divWEEK').append(str);
        }
        }

    let MachineType = ["Runner", "Repeater", "Stranger"]
    let Color = ["#e7ba39", "#7eb36d", "#5eb26d"]
    $(document).ready(function ()
    {
        debugger;
        var datearray = rptDate.split('to');
        var startd = new Date(datearray[0].trim()); ;
        var endd = new Date(datearray[1].trim());
        var start = moment(startd); //moment().subtract(29, 'days');
        var end = moment(endd); //moment();
        function cb(start, end) {
            $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        }
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                startDate: start,
                endDate: end,
                "showCustomRangeLabel": false,
                ranges: {
                    //'Today': [moment(), moment()],
                    //'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'This Week': [moment().startOf('isoWeek'), moment()],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    //,'This Year': [moment().startOf('year'), moment()]
                },

                //"alwaysShowCalendars": false
                //, startDate: datearray[0],
                //endDate: datearray[1]
            },
            cb);
        cb(start, end);
            //function (start, end) {
            //    $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'))

        $(".ranges ul li").click(function () {
            rangeName = $(this).text();
        });
        var lstPerformance ='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PerformanceReportList) as String)';
        var lstLoss = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.LossReportList) as String)';
        var lstWeek ='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PerformanceReportWEEKList) as String)';
        var data = $.parseJSON(lstPerformance);
        for (var i = 0; i < data.length; i++)
    {
            if (data[i].DataLevel == 'PlantLevel') {
                var data0 = data[i];
                drawARChart(parseFloat(data0.AR) );
                drawPRChart(parseFloat(data0.PR));
                drawQRChart(parseFloat(data0.QR));
                drawOEEChart(parseFloat(data0.OEE));
                setRptDate(data[0].rptDate);
                findPLMON(parseFloat(data0.OEE));
            }
            if (data[i].DataLevel =='YTD') {
                var data0 = data[i];
                drawMARChart(parseFloat(data0.AR));
                drawMPRChart(parseFloat(data0.PR));
                drawMQRChart(parseFloat(data0.QR));
                drawMOEEChart(parseFloat(data0.OEE));
                findPLYTD(month, parseFloat(data0.OEE));
            }
    }


        RunnerRepeaterComparison(data);
        CustomerCateGoryChart(data);

        DisplayLossValue(lstLoss);
        $('[href="#tab_1"]').on('shown.bs.tab', function (e) {
       // $('#tab_1').on("shown.bs.tab", function () {

            DrawParetoFreequency(lossReportData);
            $('#tab_1').off();//to remove the binded event after initial rendering
        });
        $('[href="#tab_0"]').on('shown.bs.tab', function (e) {
            // $('#tab_1').on("shown.bs.tab", function () {

            DrawPareto(lossReportData);
            $('#tab_0').off();//to remove the binded event after initial rendering
        });
        fillWeek(lstWeek);
       // DrawPareto();


        function toolTipContent(e) {
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> " + e.entries[i].dataSeries.name + "</span>: $<strong>" + e.entries[i].dataPoint.y + "</strong>bn<br/>";
                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:DodgerBlue;\"><strong>" + (e.entries[0].dataPoint.x).getFullYear() + "</strong></span><br/>";
            total = Math.round(total * 100) / 100;
            str3 = "<span style = \"color:Tomato\">Total:</span><strong> $" + total + "</strong>bn<br/>";
            return (str2.concat(str)).concat(str3);
        }



    });

    function getData()
    {
        var machineid = $("#MachineDrp option:selected").val();

        var sdat = "0";
        var edat = "0";
        var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
        if (daterange != "") {
            if (daterange.indexOf("to") > -1) {
                var datearray = daterange.split('to');
                sdat = datearray[0].trim();
                edat = datearray[1].trim();
            }
        }
        data =
        {
            StartDate: sdat,
            EndDate: edat,
            typeofdata: "DateWise",
            MachineID: machineid
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/HomeDashBoard/FinalResult",
            data: JSON.stringify(data),
           // processData: true,
            dataType: "json",
            success: function (response) {
                debugger;
                     var dataperformance = JSON.stringify(response.PerformanceReportList);
                var dataloss = response.LossReportList;
                var lstWeek = response.PerformanceReportWEEKList;
                     var data = $.parseJSON(dataperformance);
                for (var i = 0; i < data.length; i++) {
                    if (data[i].DataLevel == 'PlantLevel') {
                        var data0 = data[i];
                        drawARChart(parseFloat(data0.AR));
                        drawPRChart(parseFloat(data0.PR));
                        drawQRChart(parseFloat(data0.QR));
                        drawOEEChart(parseFloat(data0.OEE));
                        setRptDate(data[0].rptDate);
                        findPLMON(parseFloat(data0.OEE));
                    }
                    if (data[i].DataLevel == 'YTD') {
                        var data0 = data[i];
                        drawMARChart(parseFloat(data0.AR));
                        drawMPRChart(parseFloat(data0.PR));
                        drawMQRChart(parseFloat(data0.QR));
                        drawMOEEChart(parseFloat(data0.OEE));
                        findPLYTD(month, parseFloat(data0.OEE));
                    }
                }
                     RunnerRepeaterComparison(data);
                     CustomerCateGoryChart(data);
                DisplayLossValue(JSON.stringify(dataloss));
                fillWeek(JSON.stringify(lstWeek));

                //var data = $.parseJSON(response)


                //drawARChart(parseFloat(data[0].AR));
                //drawPRChart(parseFloat(data[0].PR));
                //drawQRChart(parseFloat(data[0].QR));
                //drawOEEChart(parseFloat(data[0].OEE));

                //drawMARChart(parseFloat(data[0].AR));
                //drawMPRChart(parseFloat(data[0].PR));
                //drawMQRChart(parseFloat(data[0].QR));
                //drawMOEEChart(parseFloat(data[0].OEE));
                //findPLYTD(month, parseFloat(data[0].OEE));


                //var finaldata = [];
                //for (var k = 0; k < MachineType.length; k++) {
                //    var obj =
                //    {
                //        name: MachineType[k],
                //        type: "stackedColumn",
                //        showInLegend: true,
                //        color: Color[k],
                //        dataPoints: []
                //    }

                //    finaldatapoint = [];
                //    var filterdata = data.filter(a => a.MachineType == MachineType[k])
                //    for (var h = 0; h < filterdata.length; h++) {
                //        var newdate = filterdata[h].date.split('-');

                //        var dataset = {};
                //        dataset =
                //        {
                //            x: new Date(parseInt(newdate[0]), parseInt(newdate[1] - 1), parseInt(newdate[2])),
                //            y: filterdata[h].AR

                //        }
                //        finaldatapoint.push(dataset);
                //    }
                //    obj.dataPoints = finaldatapoint;
                //    finaldata.push(obj);
                //}

                //DrawDateWisChart(finaldata);



            },
            error: function (error) {
                debugger;
                $("#dvInput_Loading_Data").hide();
            }
        });
    }
    function saveSearch() {
        var macid = $("#MachineDrp option:selected").val();
        var dateRange = rangeName;
        if (dateRange.length <= 2) {
            alert("No Range Selected!");
            return;
        }
        var userDashboard =
        {
            machineId:parseInt(macid),
            dateRange: rangeName
        }
       // debugger;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/HomeDashBoard/SaveDashboardView",
            data: JSON.stringify(userDashboard),
            // processData: true,
            dataType: "json",
            success: function (response) {

            },
            error: function (error) {
                $("#dvInput_Loading_Data").hide();
            }
        });
    }


    function DrawDateWisChart(datasets) {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true, backgroundColor: "#212123",
            title: {

                fontFamily: "arial black",
                fontColor: "#695A42"
            },
            axisX: {
                //interval: 1,
                //intervalType: "Day"
                valueFormatString: "DD-MMM",
                labelAngle: -50
            },
            axisY: {

                gridColor: "#B6B1A8",
                tickColor: "#B6B1A8"
            },
            toolTip: {
                shared: true,
                // content: toolTipContent
            },
            data: datasets
        });
        chart.render();

        //function toolTipContent(e) {
        //    var str = "";
        //    var total = 0;
        //    var str2, str3;
        //    for (var i = 0; i < e.entries.length; i++) {
        //        var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> " + e.entries[i].dataSeries.name + "</span>: $<strong>" + e.entries[i].dataPoint.y + "</strong>bn<br/>";
        //        total = e.entries[i].dataPoint.y + total;
        //        str = str.concat(str1);
        //    }
        //    str2 = "<span style = \"color:DodgerBlue;\"><strong>" + (e.entries[0].dataPoint.x).getFullYear() + "</strong></span><br/>";
        //    total = Math.round(total * 100) / 100;
        //    str3 = "<span style = \"color:Tomato\">Total:</span><strong> $" + total + "</strong>bn<br/>";
        //    return (str2.concat(str)).concat(str3);
        //}


    }

    function drawARChart(value) {
        var chartids = "easypichartAR";


        var avgar = value*100;



        drawEasyPIChart(avgar, "AR", chartids);
    }
    function drawPRChart(value) {
        var chartids = "easypichartPR";


        var avgar = value*100;



        drawEasyPIChart(avgar, "PR", chartids);
    }
    function drawQRChart(value) {
        var chartids = "easypichartQR";


        var avgar = value*100;



        drawEasyPIChart(avgar, "QR", chartids);
    }
    function drawOEEChart(value) {
        var chartids = "easypichartOEE";


        var avgar = value * 100;



        drawEasyPIChart(avgar, "OEE", chartids);
    }



    function drawMARChart(value) {
        var chartids = "easypichartMAR";


        var avgar = value * 100;



        drawEasyPIChart(avgar, "AR", chartids);
    }
    function drawMPRChart(value) {
        var chartids = "easypichartMPR";


        var avgar = value * 100;



        drawEasyPIChart(avgar, "PR", chartids);
    }
    function drawMQRChart(value) {
        var chartids = "easypichartMQR";


        var avgar = value * 100;



        drawEasyPIChart(avgar, "QR", chartids);
    }
    function drawMOEEChart(value) {
        var chartids = "easypichartMOEE";


        var avgar = value*100;



        drawEasyPIChart(avgar, "OEE", chartids);
    }
    function drawEasyPIChart(seteaspivalue, type, chrtids) {



        var dynaColorsSet = [
            "#FFFFFF", // red
            "#070AEB", // blue
            "#00a65a", // green
            "#FAF211", // yellow
            "#F76F30", // orange
            "#DC143C", //Crimson
            "#811331", //claret
            "#FF00FF", //Fuchsia
            "#C19A6B",//camel
            "#6F4E37",//coffee
            "#008080",//teal
            "#40E0D0",//Turquoise
            "#ADD8E6",//Light Blue
            "#00FFFF",//cyan
            "#2E8B57",//sea green
        ];
        var mybarcolor = "";
        if (seteaspivalue >= 50 && seteaspivalue < 70)
            mybarcolor = 'orange';
        else if (seteaspivalue < 50)
            mybarcolor = 'red';
        else if (seteaspivalue >= 70)
            mybarcolor = dynaColorsSet[2];;






        $('#' + chrtids + '').easyPieChart
            ({
                // The color of the curcular bar. You can pass either a css valid color string like rgb, rgba hex or string colors. But you can also pass a function that accepts the current percentage as a value to return a dynamically generated color.
                barColor: function (percent) {
                    return (percent < 50 ? 'red' : percent < 70 && percent >= 50 ? 'orange' : '#00a65a');
                },
                // The color of the track for the bar, false to disable rendering.
                trackColor: 'white',
                // The color of the scale lines, false to disable rendering.
                // scaleColor: 'orange',
                // Defines how the ending of the bar line looks like. Possible values are: butt, round and square.
                lineCap: 'butt',
                // Width of the bar line in px.
                lineWidth: 30,
                // Size of the pie chart in px. It will always be a square.
                size: 150,
                // Time in milliseconds for a eased animation of the bar growing, or false to deactivate.
                animate: 1000,
                // Callback function that is called at the start of any animation (only if animate is not false).
                onStart: $.noop,
                // Callback function that is called at the end of any animation (only if animate is not false).
                onStop: $.noop
            });

        var newValue = 25;
        var valueinspan = parseFloat(seteaspivalue / 100);
        var spanval = type + "-" + valueinspan.toFixed(3);
        var spanids = "span" + type;
        console.log("aaaaa", spanval)
        $('#' + chrtids + '').data('easyPieChart').update(seteaspivalue);
        $('#' + spanids + '', $('#' + chrtids + '')).text(spanval);

    }



    function findPLYTD(uptomonth,OEE) {


        //$("#monhead").html('');

        $("#ploeeytd").html('');
        if (OEE > 0.00) {
            $("#ploeeytd").html(OEE);

        } else {
            $("#ploeeytd").html('');

        }
       // $("#monhead").html('Plant OEE ' + montharrya[uptomonth] + '');

    }
    function findPLMON(OEE) {
        debugger;
        var datearray = rptDate.split('to');
        var monarr = datearray[0].split('-');
        var mon = monarr[1];
        var monthh = parseInt(mon);
        setmonarry = [monthh ];
        var monnumber = setmonarry.pop() - 1;
        if (monnumber >= 0) {
            $("#curmonspan").html('');
            $("#curmonspan").html(montharrya[monnumber]);
            setmonarry.push(monnumber);
            // findPLYTD(monnumber);
        }
        else {
            $("#curmonspan").html('');
            $("#curmonspan").html(montharrya[11]);
            setmonarry.push(0);
        }

        $("#ploeecrmon").html('');
        if (OEE > 0.00) {
            $("#ploeecrmon").html(OEE);

        } else {
            $("#ploeecrmon").html('');

        }




    }
    function DisplayLossValue(response) {
       // debugger;
                var data = $.parseJSON(response);
        let table = document.getElementById('tblLoss'); //document.querySelector("table");
        $("#tblLoss tr").remove();
        if (data!=null && data.length > 0) {
            let alldata = Object.keys(data[0]);
            generateTable(table, data); // generate the table first
            generateTableHead(table, alldata); // then the head

        }
        lossReportData = data;
        DrawPareto(lossReportData);
        DrawParetoFreequency(lossReportData);


    }

    function PassParetoPoints(data,typ) {
        var datapoints = [];
        if (data != null) {
           // debugger;
            //data.sort(function (a, b) {
            //    return a.Duration>b.Duration;
            //});
            for (var i = 0; i < data.length; i++) {
                if (typ === 'Freequency') {
                    data.sort((a, b) => parseInt(b.Freequency) - parseInt(a.Freequency));
                    datapoints.push({
                        "label": data[i].Reason,
                        y: data[i].Freequency

                    });
                   // datapoints.sort(function (a, b) { return b[1] - a[1]  });
                   // datapoints.reverse();
                }
                else {
                    data.sort((a, b) => parseInt(b.Duration) - parseInt(a.Duration));
                    datapoints.push({
                        "label": data[i].Reason,
                        y: data[i].Duration

                    });
                }
            }
        }
        return datapoints;
    }
    function DrawPareto(lossData) {
        var chart = new CanvasJS.Chart("paretochartContainer",
            {
                animationEnabled: true, backgroundColor: "#212123",

                title: {
                    text: "Duration"
                },
                axisX: {

                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "15"
                },
                axisY: {

                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "12",
                    title: "Duration",
                    lineColor: "#4F81BC",
                    tickColor: "#4F81BC",
                    labelFontColor: "#4F81BC",
                    maximum: 120
                },


                axisY2: {
                    title: "Percent",
                    suffix: "%",
                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "15"

                },
                data: [{
                    type: "column",
                    dataPoints: PassParetoPoints(lossData,'Duration')
                }]
            });
        chart.render();
        createPareto();
        function createPareto() {
            var dps = [];
            var yValue, yTotal = 0, yPercent = 0;

            for (var i = 0; i < chart.data[0].dataPoints.length; i++)
                yTotal += chart.data[0].dataPoints[i].y;

            for (var i = 0; i < chart.data[0].dataPoints.length; i++) {
                yValue = chart.data[0].dataPoints[i].y;
                yPercent += (yValue / yTotal * 100);
                dps.push({ label: chart.data[0].dataPoints[i].label, y: yPercent });
            }

            chart.addTo("data", { type: "line", yValueFormatString: "0.##\"%\"", dataPoints: dps });
            chart.data[1].set("axisYType", "secondary", false);
            chart.axisY[0].set("maximum", yTotal);
            chart.axisY2[0].set("maximum", 100);
        }
    }
     function DrawParetoFreequency(lossData) {
        var chart1 = new CanvasJS.Chart("paretochartContainerFreequency",
            {
                animationEnabled: true, backgroundColor: "#212123",

                title: {
                    text: "Frequency"
                },
                axisX: {

                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "15"
                },
                axisY: {

                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "12",
                    title: "Frequency",
                    lineColor: "#4F81BC",
                    tickColor: "#4F81BC",
                    labelFontColor: "#4F81BC",
                    maximum: 120
                },


                axisY2: {
                    title: "Percent",
                    suffix: "%",
                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "15"

                },
                data: [{
                    type: "column",
                    dataPoints: PassParetoPoints(lossData,'Freequency')
                }]
            });
        chart1.render();
        createPareto();
        function createPareto() {
            var dps = [];
            var yValue, yTotal = 0, yPercent = 0;

            for (var i = 0; i < chart1.data[0].dataPoints.length; i++)
                yTotal += chart1.data[0].dataPoints[i].y;

            for (var i = 0; i < chart1.data[0].dataPoints.length; i++) {
                yValue = chart1.data[0].dataPoints[i].y;
                yPercent += (yValue / yTotal * 100);
                dps.push({ label: chart1.data[0].dataPoints[i].label, y: yPercent });
            }

            chart1.addTo("data", { type: "line", yValueFormatString: "0.##\"%\"", dataPoints: dps });
            chart1.data[1].set("axisYType", "secondary", false);
            chart1.axisY[0].set("maximum", yTotal);
            chart1.axisY2[0].set("maximum", 100);
        }
    }
    function ShowData(loss) {


    ////    var htm = '';
    ////    htm += '<div><h4>' + loss[0].Reason + '</h4><table class="table"><tr style="font-size:15px;font-weight:800;"><th>Date</th><th style="text-align:center;">SubReason</th><th style="text-align:center;">Duration(min)</th><th style="text-align:center;">Line</th><th style="text-align:center;">Remark</th></tr>';
    ////    for (var j = 0; j < loss.length; j++) {
    ////        htm += '<tr style="font-size:13px;font-weight:600"><td>' + loss[j].ProductionDate + '</td><td>' + loss[j].SubReason + '</td><td>' + loss[j].TotalStoppagetime + '</td><td>' + loss[j].MachineName + '</td><td>' + loss[j].Remarks + '</td></tr>';
    ////    }
    ////htm += '</table ></div >';
    ////swal({
    ////    html: htm, customClass: 'swal-wide'
    ////});

       // $('#tblLossDetails').append('<caption style="caption-side: top">' + loss[0].Reason+' (From: 2020-07-01 - To: 2020-09-30)</caption>');
        var tblhead = loss[0].Reason + ' (' + rptDate+')';
        //$('#tblLossDetails tbody').empty();
        var table =$('#tblLossDetails').DataTable
            ({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: tblhead,
                        messageBottom: null
                    },
                    //{
                    //    extend: 'pdfHtml5',
                    //    orientation: 'landscape',
                    //    pageSize: 'A4',
                    //    customize: function (doc) {
                    //        doc.defaultStyle.fontSize = 12;
                    //        doc.styles.tableHeader.fontSize = 12;
                    //    },
                    //    messageBottom: null
                    //},
                    {
                        extend: 'print',
                        messageTop: tblhead,
                        messageBottom: null
                    }
                ]
            });
        table.clear().draw();
        for (var j = 0; j < loss.length; j++) {
            var tbldataaraay = [];
            tbldataaraay.push(loss[j].ProductionDate);
            tbldataaraay.push(loss[j].SubReason);
            tbldataaraay.push(loss[j].TotalStoppagetime);
            tbldataaraay.push(loss[j].MachineName);
            tbldataaraay.push(loss[j].Remarks);
            table.row.add(tbldataaraay).draw(false);
        }
        $("#modalheader").text(loss[0].Reason + ' (' + rptDate+')');
        $('#LossDetailsModel').modal();

    }

    function getdatapoints(dataAll,val,typ) {


        var cnt = 0;
        var endcnt = 0;
        var datapoints = [];
        if (typ == 'DemandType') {
            cnt = 1;
            endcnt = 4;
        }
        else if (typ == 'Customer') { cnt = 4; endcnt = dataAll.length; }

        for (var i = cnt; i < endcnt; i++) {
            if (i < dataAll.length) {

                var jsn = dataAll[i];
                if (jsn.DataLevel != 'YTD') {
                    datapoints.push({
                        y: jsn[val],
                        "label": jsn.DataLevel
                    });
                }
            }
        }
        return datapoints;
    }

    function RunnerRepeaterComparison(dataAll) {

        var chart = new CanvasJS.Chart("chartContainerrunnerrepeater", {
            animationEnabled: true,
            backgroundColor: "#212123",
            title: {

                fontFamily: "arial black",
                fontColor: "#695A42"
            },
            axisX: {

                labelFontColor: "White",
                labelFontWeight: "bold",
                labelFontSize: "15"
            },
            axisY: {

                labelFontColor: "White",
                labelFontWeight: "bold",
                labelFontSize: "15",

            },

            toolTip: {
                shared: true,
                content: toolTipContent
            },
            data: [{
                type: "stackedColumn",
                showInLegend: true,
                color: "#e7ba39",
                name: "AR",
                dataPoints: getdatapoints(dataAll,'AR','DemandType')

            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "PR",
                color: "#7eb36d",
                dataPoints: getdatapoints(dataAll, 'PR', 'DemandType')
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "QR",
                color: "#e8a51f",
                dataPoints: getdatapoints(dataAll, 'QR', 'DemandType')
            },


            {
                type: "line",
                showInLegend: true,
                name: "OEE",
                color: "Green",
                dataPoints: getdatapoints(dataAll, 'OEE', 'DemandType')
            }

            ]
        });
        chart.render();

        function toolTipContent(e) {
            console.log(e);
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> " + e.entries[i].dataSeries.name + "</span>:<strong>" + e.entries[i].dataPoint.y + "</strong><br/>";
                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:DodgerBlue;\"><strong>" + (e.entries[0].dataPoint.label) + "</strong></span><br/>";
            total = Math.round(total * 100) / 100;
            str3 = "<span style = \"color:Tomato\">Total:</span><strong> $" + total + "</strong>bn<br/>";
            return (str2.concat(str));
        }

    }


    function CustomerCateGoryChart(dataAll) {

        var chart = new CanvasJS.Chart("CustomerChartContainer", {
            animationEnabled: true,
            backgroundColor: "#212123",
            title: {

                fontFamily: "arial black",
                fontColor: "#695A42"
            },
            axisX: {

                labelFontColor: "White",
                labelFontWeight: "bold",
                labelFontSize: "15"
            },
            axisY: {

                labelFontColor: "White",
                labelFontWeight: "bold",
                labelFontSize: "15"
            },

            toolTip: {
                shared: true,
                content: toolTipContent
            },
            data: [{
                type: "stackedColumn",
                showInLegend: true,
                color: "#e7ba39",
                name: "AR",
                dataPoints: getdatapoints(dataAll, 'AR','Customer')
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "PR",
                color: "#7eb36d",
                dataPoints: getdatapoints(dataAll, 'PR', 'Customer')
            },
            {
                type: "stackedColumn",
                showInLegend: true,
                name: "QR",
                color: "#e8a51f",
                dataPoints: getdatapoints(dataAll, 'QR', 'Customer')
            },


            {
                type: "line",
                showInLegend: true,
                name: "OEE",
                color: "Green",
                dataPoints: getdatapoints(dataAll, 'OEE', 'Customer')
            }
            ]
        });
        chart.render();

        function toolTipContent(e) {
            console.log(e);
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> " + e.entries[i].dataSeries.name + "</span>:<strong>" + e.entries[i].dataPoint.y + "</strong><br/>";
                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:DodgerBlue;\"><strong>" + (e.entries[0].dataPoint.label) + "</strong></span><br/>";
            total = Math.round(total * 100) / 100;
            str3 = "<span style = \"color:Tomato\">Total:</span><strong> $" + total + "</strong>bn<br/>";
            return (str2.concat(str));
        }

    }
    function generateTableHead(table, data) {

        let thead = table.createTHead();
        let row = thead.insertRow();
        row.style.color = "white";
        for (let key of data) {
            if (key == 'Reason' || key == 'Duration' || key == 'Freequency') {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
        }

    }

    function generateTable(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            row.style.color = "white";
            for (key in element) {
                if (key == 'Reason' || key == 'Duration' || key == 'Freequency') {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[key]);
                    cell.appendChild(text);
                    if (key == 'Reason') {
                        cell.style.fontWeight = "bold";
                        cell.style.cursor = "pointer";
                        cell.style.textAlign = "left";
                        cell.onclick = function () {
                            ShowData(element.LossDetails);
                        };
                    }
                }
            }

        }
    }


</script>

