﻿@model IList<ProEfficient.Core.Models.ViewModel.PMProductVM>
@using (Html.BeginForm("ProductDemandTypePost", "MachineProduct", FormMethod.Post, new { id = "ProductFrm" }))
{
    <div class="box box-primary">
        <div class="box-body">

            <div style="padding-left:0;padding-right:0;">
                <table id="productTable" class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Product Code
                            </th>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Customer
                            </th>

                            <th>
                                Category
                            </th>
                            <th>
                                Demand Type
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                @Html.HiddenFor(modelItem => modelItem[i].ProductId)


                                <td>@Html.CheckBoxFor(modelItem => Model[i].isChecked, new { @class = "tblinput" })</td>

                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].ProductCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].ProductCustomer)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => modelItem[i].ProductCategory)
                                </td>
                                <td>
                                    @Html.DropDownListFor(modelItem => modelItem[i].ProductDemandType, new SelectList(Enum.GetNames(typeof(ProEfficient.Core.Models.ProductType))))
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="form-group">
                <input type="submit" value="Update Demand Type" class="btn  btn-primary pull-right" />
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        var tableProduct = $('#productTable').DataTable({
            "paging": true,
            "ordering": false,
            "info": false,
            "searching": true
            
        })
       
        $("#ProductFrm").submit(function (e) {
            debugger;
           // if ($(this).valid()) {
                e.preventDefault();
               // alert($(this).serialize());
            var sData = tableProduct.$('input,select').serialize();

                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: sData,
                    success: function (res) {
                        debugger;
                        if (res.length > 200) {
                            $("#OpPartialMachine").html("");
                            $("#OpPartialMachine").html(res);
                            alert('Saved Successfully ');
                        }
                        else { alert(res);  }

                    }
                });
           // }
        });
       
    });
</script>

