﻿@using ProEfficient.Core.Utility
@using ProEfficient.Dal.Utility
@{
    Layout = null;
}
@model ProEfficient.Core.Models.ProductionEntry

@using (Html.BeginForm("Create", "ProductionPage", FormMethod.Post, new { @id = "frmcreateProduction" }))
{
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    @Html.AntiForgeryToken()
    @Html.HiddenFor(i => i.ProductionId)
    @Html.HiddenFor(i => i.TimeOfEntry)
    @Html.HiddenFor(i => i.StartTime)
    @Html.HiddenFor(i => i.EndTime)
    @Html.HiddenFor(i => i.UserID)
    @Html.HiddenFor(i => i.OrganizationId)
    @Html.HiddenFor(i => i.RejectionReasons)


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductionDate, new { @class = "lblProductionDatePE" })

    <div class="form-group col-xs-12 col-md-4" style="display:none;">
        @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.MachineID, UserUtility.AllMachine, "Select Machine", new { @class = "form-control current_machine" })
        @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
    </div>

    @*<div class="form-group col-xs-12 col-md-4" style="display:none;">
            @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(m => m.UserID, ProEfficient.Utility.UserUtility.AllUser, "Select Operator", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
        </div>*@

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.ProductID, UserUtility.AllProduct, "Select Product", new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-4 Hidden">
        @Html.LabelFor(model => model.OperatorID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.OperatorID, UserUtility.AllUser, "Select Operator", new { @class = "form-control Operator" })
        @Html.ValidationMessageFor(model => model.OperatorID, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-4 Hidden">
        @Html.LabelFor(model => model.SupervisorID, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.SupervisorID, UserUtility.AllUser, "Select Supervisor", new { @class = "form-control Supervisor" })
        @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
    </div>

    @*<div class="form-group col-xs-12 col-md-2">
                @Html.LabelFor(model => model.TimeOfEntry, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.TimeOfEntry, new { @class = "form-control timepicker" })
                @Html.ValidationMessageFor(model => model.TimeOfEntry, "", new { @class = "text-danger" })
        </div>*@

    <div class="form-group col-xs-12 col-md-4" style="display:none;">
        @Html.LabelFor(model => model.ShiftId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(m => m.ShiftId, UserUtility.AllShift, "Select Shift", new { @class = "form-control current_shift" })
        @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.sProductionStartTime, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.sProductionStartTime, new { @class = "form-control TimePick", @min = ViewBag._shiftStart, @max = ViewBag._shiftEnd, @required = "required" })
        @Html.ValidationMessageFor(model => model.sProductionStartTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.sProductionEndTime, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.sProductionEndTime, new { @class = "form-control TimePick", @min = ViewBag._shiftStart, @max = ViewBag._shiftEnd, @required = "required" })
        @Html.ValidationMessageFor(model => model.sProductionEndTime, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.TotalProduction, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.TotalProduction, new { @class = "form-control", @type = "number", @min = "1", @step = "1", @required = "required" })
        @Html.ValidationMessageFor(model => model.TotalProduction, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.ReWork, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.ReWork, new { @class = "form-control", @type = "number", @min = "0", @step = "1" })
        @Html.ValidationMessageFor(model => model.ReWork, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-xs-12 col-md-2">
        @Html.LabelFor(model => model.Rejection, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Rejection, new { @class = "form-control rej-quantity", @type = "number", @min = "0", @step = "1", @onblur = "showrejectionreasonlist(" + Model.ProductionId.ToInteger0() + ")", @onkeyup = "KedownPop(" + Model.ProductionId.ToInteger0() + ")" })
        @Html.ValidationMessageFor(model => model.Rejection, "", new { @class = "text-danger" })
    </div>

    <div class="float-button">
        <input type="button" onclick="SubmitWithCheck();" value="Save" class="btn btn-create-user" @(Model.IsSaved ? "disabled" : "") />
    </div>
    @*@section Scripts {*@

        <script src="~/js/bundles/jqueryval.min.js"></script>
        <script src="~/js/bundles/asyncproduction.min.js"></script>
        <script src="~/js/bundles/bootstrap.min.js"></script>
        <script src="~/js/bundles/custom.min.js"></script>

        @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/asyncproduction")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/custom")*@
    //}

}

