﻿@using Newtonsoft.Json
@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ViewModel.VwProductionBreakDownEntry
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .RowBGColor {
        background-color: lightgray;
    }
</style>
<div id="MainContentDiv">
    @{
        var orgids = Model.CurrentOrganizationId;
        var allshiftdatalst = ViewBag.AllShifList;
        var productiondata = ViewBag.ShiftProductionData;
        var allproductlist = UserUtility.AllProduct;
    }
    @Html.HiddenFor(i => i.CurrentOrganizationId)
    <div class="row">

        <section id="productshiftsection">

            <div class="box">
                <div class="box-body">
                    <h1> Production and Down Time </h1>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-4">
                            @Html.LabelFor(model => model.strProductionDate, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ProductionDate, new { @id = "ProdDate", @class = "form-control newdatepicker", @readonly = true })
                            @Html.ValidationMessageFor(model => model.strProductionDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-md-2">
                            @Html.LabelFor(model => model.CurrentShiftId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.CurrentShiftId, UserUtility.AllShift, new { @class = "form-control", onChange = "RefreshBreakDownList()" })
                            @Html.ValidationMessageFor(model => model.CurrentShiftId, "", new { @class = "text-danger" })
                        </div>

                        @*for showing alert*@

                        <div id="alert_message" class="alert form-group col-xs-12 col-md-2" style="width:150px;background-color:#f8d7da;display:none">
                            <div class="row" style="margin-left:20px"><span><strong>Atention!</strong></span></div>
                            <div class="row" style="margin-left:5px"><span>Please select shift</span></div>
                        </div>

                        @*upto here*@

                    </div>
                    <div class="row" style="padding:5px;margin-left:10px">
                        <input type="button" class="btn-primary" value="InsertData" onclick="InserData()" />
                    </div>
                    <div class="overlay" style="z-index: 1000; display: none" id="dvInput_Loading_production">
                        <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                    </div>
                </div>
            </div>




            @*Bind Table For Production*@
            <div class="box" style="margin-top:20px" id="productiontablebox">
                <div class="box-header">
                    <h3>Current Shift Production Data</h3>
                </div>
                <div class="box-body" id="productiontableboxbody">
                    @*<table class="table" id="productiontable">
                        <thead>
                            <tr>

                                <th>ProductionDate</th>
                                <th>MachineName</th>
                                <th>ProductName</th>
                                <th>OperatorName</th>
                                <th>TotalProduction</th>
                                <th>ReWork</th>
                                <th>Rejection</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (int j = 0; j < Model.ListOfProduction.Count; j++)
                            {

                                var rejectionlist = Model.ListOfProduction[j].rejectionlist;
                                DateTime date = new DateTime();
                                DateTime.TryParse(@Model.ListOfProduction[j].ProductionDate.ToString(), out date);

                                <tr id="Row_@j">

                                    <td>@date.ToString("yyyy-MM-dd")</td>
                                    <td>@Model.ListOfProduction[j].MachineName</td>
                                    <td>@Model.ListOfProduction[j].ProductName</td>
                                    <td>@Model.ListOfProduction[j].OperatorName</td>
                                    <td>@Model.ListOfProduction[j].TotalProduction</td>
                                    <td>@Model.ListOfProduction[j].ReWork</td>
                                    <td>@Model.ListOfProduction[j].Rejection</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-2" style="margin-right:35px">
                                                <input type="button" class="btn-primary" value="Edit" onclick="EditDeleData('Edit',@Model.ListOfProduction[j].ProductionId,@j,@Model.ListOfProduction[j].rejectionlist)" />
                                            </div>
                                            <div class="col-md-2">
                                                <input type="button" class="btn-primary" value="Delete" onclick="EditDeleData('Delete',@Model.ListOfProduction[j].ProductionId,@j)" />
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                </div>
            </div>





            @*Bind Table For BreakDown*@
            <div class="box" id="breakdownlstbox">
                <div class="box-header">
                    <h3>Current Shift BreakDownInfo </h3>
                </div>
                <div class="box-body">
                    <div id="BreakDownListPage">

                    </div>

                    <div class="overlay" style="z-index: 1000; display: none" id="dvInput_ProdBreakEdit_Loading">
                        <i class="fa fa-refresh fa-spin" style="font-size:25px;color:orangered"></i>
                    </div>
                </div>
            </div>
            @*upto Here*@

        </section>
    </div>
    @*for showing modal*@
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalheader">Input Data</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-header with-border">

                            <h3 class="box-title">Production/BreakDown Entry</h3>

                        </div>
                        <div class="box-body">

                            <div class="row" style="margin-bottom:5px">
                                <div class="col-md-3">
                                    <div>
                                        @Html.LabelFor(model => model.CurrentMachineId, "Select Machine", htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div>

                                        @Html.DropDownListFor(m => m.CurrentMachineId, UserUtility.AllMachine, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CurrentMachineId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">

                                    <div>
                                        @Html.LabelFor(model => model.OperatorID, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div>
                                        @Html.DropDownListFor(m => m.OperatorID, UserUtility.AllUser, "Select Operator", new { @class = "form-control MasterOperator" })
                                        @Html.ValidationMessageFor(model => model.OperatorID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3" style="padding: 5px; margin-top: 5px;margin-left: 25px;display:none" id="savedatabtndiv">
                                    <input type="button" class="btn-primary" onclick="SaveDate()" value="SaveDataToServer" />
                                </div>


                            </div>



                            <div class="nav-tabs-custom" id="nav">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_0" id="Excisting_Pop" data-toggle="tab" aria-expanded="true">Production Entry</a></li>
                                    <li class=""><a href="#tab_1" id="New_Pop" data-toggle="tab" aria-expanded="false">BreakDown Entry</a></li>
                                </ul>

                            </div>
                            <div class="tab-content">

                                <div class="tab-pane active" id="tab_0">


                                    <div class="row" style="border-style:double;border-radius:15px">

                                        <div class="col-md-9">
                                            <div class="row" style="margin-top:5px">
                                                <div class="col-md-3">
                                                    <div>
                                                        @Html.LabelFor(model => model.CurrentProductId, "Select Product", htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>

                                                        @Html.DropDownListFor(m => m.CurrentProductId, allproductlist, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.CurrentProductId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-3" style="padding:5px">
                                                    <div>
                                                        @Html.Label("", "TotalProduction", htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        @Html.TextBox("TotalProduction", null, htmlAttributes: new { @class = "form-control", @type = "number", @min = "1", @step = "1" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="padding:5px">
                                                    <div>
                                                        @Html.Label("ReWork", null, htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        @Html.TextBox("ReWork", null, htmlAttributes: new { @class = "form-control", @type = "number", @min = "1", @step = "1", onchange = "return validateRejectionReworkTotal()" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3" style="padding:5px">
                                                    <div>
                                                        @Html.Label("TotalRejection", null, htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        @Html.TextBox("TotalRejection", null, htmlAttributes: new { @class = "form-control readonly", @readonly = "readonly", @type = "number", @min = "1", @step = "1" })
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <h4 style="padding:5px">Please Enter Rejection Enteries below</h4>

                                                @foreach (var rejectrason in Model.RejectReasonlst)
                                                {
                                                    <div class="col-md-3" style="padding:5px">
                                                        <div>
                                                            @Html.Label("", rejectrason.Rejectiondiscription, htmlAttributes: new { @class = "control-label" })
                                                        </div>
                                                        <div>
                                                            @Html.TextBox(rejectrason.RejectionreasonID.ToString(), null, htmlAttributes: new { @class = "form-control Reject_Reason_Class", @id = "Reject_Reason_" + rejectrason.RejectionreasonID, @type = "number", @min = "1", @step = "1", onchange = "setTotalvalue(" + rejectrason.RejectionreasonID + ")" })
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <div class="col-md-3" style="margin-top:190px;padding:10px">
                                            <input type="button" id="addRow" class="btn-primary" onclick="AddMoreData('Production')" value="AddMoreData" />

                                        </div>

                                    </div>




                                    <div class="row" style="margin-top:5px">

                                        <table class="table modalclasstable" id="tblProductionData" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Shift</th>
                                                    <th>MachineName</th>
                                                    <th>ProductName</th>
                                                    <th>OperatorName</th>
                                                    <th>TotoalProduction</th>
                                                    <th>Rework</th>

                                                    @foreach (var rejectrason in Model.RejectReasonlst)
                                                    {
                                                        <th>@rejectrason.Rejectiondiscription</th>
                                                    }
                                                    <th>TotalRejection</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>



                                </div>
                                <div class="tab-pane" id="tab_1">
                                    <div class="row" style="border-style:double;border-radius:15px">
                                        <div class="col-md-9">





                                            <div class="row">
                                                <div class="col-md-3">

                                                    <div>
                                                        @Html.LabelFor(model => model.StoppageReaseonID, htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        @Html.DropDownListFor(m => m.StoppageReaseonID, UserUtility.Getstoppagereasonlst(orgids), new { @class = "form-control MasterOperator", onchange = "fillsubreasondrp()" })
                                                    </div>
                                                </div>

                                                <div class="col-md-3" id="subreasoondiv" style="display:none;margin-left:60px">

                                                    <div>
                                                        @Html.Label("", "Sub Reason", htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        <select id="subreasonselect"></select>
                                                    </div>
                                                </div>




                                            </div>

                                            <div class="row">

                                                <div class="col-md-3" style="padding:5px">
                                                    <div>
                                                        @Html.Label("Start Time", null, htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        @Html.TextBox("Start Time", null, htmlAttributes: new { @class = "form-control", @required = "required", @id = "strttime" })
                                                    </div>
                                                </div>


                                                <div class="col-md-3" style="padding:5px">
                                                    <div>
                                                        @Html.Label("End Time", null, htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        @Html.TextBox("End Time", null, htmlAttributes: new { @class = "form-control", @required = "required", @id = "endtime" })
                                                    </div>
                                                </div>


                                                <div class="col-md-3" style="padding:5px">
                                                    <div>
                                                        @Html.Label("TotalStoppageTime", null, htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        @Html.TextBox("TotalStoppageTime", null, htmlAttributes: new { @class = "form-control readonly", @readonly = "readonly", onfocusin = "FillTotalStoopageTIme('TotalStoppageTime')", @type = "number", @min = "1", @step = "1" })
                                                    </div>
                                                </div>

                                                <div class="col-md-3" style="padding:5px">
                                                    <div>
                                                        @Html.Label("Remarks", null, htmlAttributes: new { @class = "control-label" })
                                                    </div>
                                                    <div>
                                                        @Html.TextBox("Remarks", null, htmlAttributes: new { @class = "form-control", @type = "text" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-3" style="margin-top:190px;padding:10px">
                                            <input type="button" id="addRow" class="btn-primary" onclick="AddMoreData('Breakdown')" value="AddMoreData" />

                                        </div>
                                    </div>

                                    <div class="row" style="margin-top:5px">

                                        <table class="table modalclasstable" id="breaktbl" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Shift</th>
                                                    <th>MachineName</th>
                                                    <th>OperatorName</th>
                                                    <th>StartTime</th>
                                                    <th>EndTime</th>
                                                    <th>StoppageReason</th>
                                                    <th>SubStoppageReason</th>
                                                    <th>TotalStoppageTime</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>


                                </div>

                            </div>




                            <div class="overlay" style="z-index: 1000; display: none" id="dvInput_Loading">
                                <i class="fa fa-refresh fa-spin"></i>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>

    </div>
    @*upto here*@

    @*production EditModel*@
    <div class="modal fade" id="ProductionModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalheader">Input Data</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-header with-border">

                            <h3 class="box-title">Edit Production Entry</h3>

                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Total Production</label>
                                    <input class="form-control" type="text" id="totprod" />
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Rework</label>
                                    <input class="form-control" type="text" id="totrework" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Total Rejection</label>
                                    <input class="form-control" readonly type="text" id="totmodalreject" />
                                </div>
                            </div>


                            <div class="row" id="fillrejectiondata">

                            </div>


                        </div>



                        <div class="overlay" style="z-index: 1000; display: none" id="dvInput_ProdEdit_Loading">
                            <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                        </div>


                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="SaveProductionEditedData()">Save Changes</button>
                </div>

            </div>
        </div>

    </div>
    @*uptohere*@

    @*Breakdown EditModal*@

    <div class="modal fade" id="EditBreakdonwModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modalheader">Input Data</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-header with-border">

                            <h3 class="box-title">Edit BreakDown Entry</h3>

                        </div>
                        <div class="box-body" id="editbreakdownview">
                        </div>

                        <div class="overlay" style="z-index: 1000; display: none" id="dvInput_ProdBreakSave_Loading">
                            <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                        </div>


                    </div>

                </div>



            </div>
        </div>

    </div>


    @*uptohere*@

</div>




@section Scripts {



    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />


    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
    @*<link href="~/Scripts/BootstrapTimePicker/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />

        <script src="~/Scripts/BootstrapTimePicker/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>*@
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script>
        $(function () {
            //$('#strttime').inputmask({ alias: "datetime", placeholder: "HH:MM AM", inputFormat: "hh:MM TT", insertMode: false, showMaskOnHover: false, hourFormat: 12 })
            $('input[id$="strttime"]').inputmask(
                "hh:mm", {
                placeholder: "HH:MM",
                insertMode: false,
                showMaskOnHover: false,
                hourFormat: "24"
            }
            );
            $('input[id$="endtime"]').inputmask(
                "hh:mm", {
                placeholder: "HH:MM",
                insertMode: false,
                showMaskOnHover: false,
                hourFormat: "24"
            }
            );
        });
        </script>
    <script>
        var apiurl ="http://localhost:53703"
        var Productiondata = [];
        var BreakDownData = [];
        var totrejectioncount = 0;
        var substoopageReason = "";
        var savedataflag = "No";
        var currentRowID = "";
        var currentrejectlist = "";
        var modifiedrejectionlist = [];
        var ProductionEditedData = [];
        var currentProductionID = "";
    var rejecttotacount = 0;
    var shiftproductionapidata = "";
        $(document).ready(function ()
        {

           substoopageReason =@Html.Raw(JsonConvert.SerializeObject(UserUtility.GetSubstoppagereasonlst()));

            //$('#strttime').timepicker({
            //    'timeFormat': 'H.i',
            //    'step': 2,
            //    'disableTextInput': true
            //});
            //$('#endtime').timepicker({
            //    'timeFormat': 'H.i',
            //    'step': 2,
            //    'disableTextInput': true
            //});
           // RefreshBreakDownList();
            $('#tblProductionData').DataTable
                ({
                    responsive: true,
                    "lengthMenu": [[1,5, 10, 25, 50, -1], [1,5, 10, 25, 50, "All"]],
                    scrollX: true

                });

            $('#breaktbl').DataTable
                ({
                    responsive: true,
                    "lengthMenu": [[1, 5, 10, 25, 50, -1], [1, 5, 10, 25, 50, "All"]],
                    scrollX: true

                });

            $('#productiontable').DataTable
                ({
                    "scrollX": true,
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "order": [[0, "asc"], [1, "asc"]],
                    dom: 'Bfrtip',

                    buttons: [

                        {
                            extend: 'csv',
                            title: 'Data'
                        },

                        {
                            extend: 'pdfHtml5',
                            orientation: 'landscape',
                            pageSize: 'A3',
                            customize: function (doc) {
                                doc.defaultStyle.fontSize = 12;
                                doc.styles.tableHeader.fontSize = 12;
                            },



                            title: ' Data'
                        },

                        {
                            extend: 'pageLength'

                        }
                    ],
                    "bLengthChange": true
                });


        });


        function fillsubreasondrp()
        {
          var reasonid= $("#StoppageReaseonID").val();
            if (reasonid == "0")
            {
                alert("Please Select Valid Reason");
                return;
            }
            var datasubreasonbasedonID = substoopageReason.Result.filter(a => a.ReasonID == reasonid);

            var options = "";
            $('#subreasonselect').empty();
            options = options + '<option value="0">Select Sub Reason</option>';

            for (var j = 0; j < datasubreasonbasedonID.length; j++)
            {
                options = options+'<option value=' + datasubreasonbasedonID[j].SubReasonID + '>' + datasubreasonbasedonID[j].SubReasonName+'</option>';
            }

            $('#subreasonselect').append(options);
            //$('#subreasonselect').chosen();
            $("#subreasonselect").trigger('chosen:updated');
            $('#subreasonselect_chosen').css('width', '200px');
            $('#subreasoondiv').show();
        }

        function InserData()
        {

            var retrnvalue = ValidateData("InsertData");
            if (retrnvalue === "true" || retrnvalue === true)
                return;
            setTimelimit();
            $('#CurrentMachineId_chosen').css('width', '200px');
            $('#CurrentProductId_chosen').css('width', '200px');

            $('#StoppageReaseonID_chosen').css('width', '200px');
            $("#CurrentMachineId").val("0");
            $("#CurrentMachineId").trigger('chosen:updated');
            $("#OperatorID").css('width', '200px');
            $("#OperatorID").chosen();
            $('#OperatorID_chosen').css('width', '200px');
            $('#myModal').modal();

        }

        function SaveDate()
        {

            var finalbreakdownobject = {};


            if (BreakDownData.length > 0)
            {
                finalbreakdownobject = {
                    breakdownentrylst: BreakDownData
                }
            }

            if (Productiondata.length === 0 && BreakDownData.length === 0)
            {
                alert("Please add data using addmore data button then add data to server");
                return;
            }


            if (BreakDownData.length > 0)
              Productiondata.push(finalbreakdownobject);



            var finalobj =
            {
                ProductionEntry: Productiondata,
                breakdownlist: BreakDownData
            }




            savedataflag = "StartSaving";
            $("#CurrentMachineId").val("0");
            $("#CurrentMachineId").trigger('chosen:updated');
            $("#CurrentProductId").val("0");
            $("#CurrentProductId").trigger('chosen:updated');



            $("#dvInput_Loading").show();
            var jsonProductionData = JSON.stringify(Productiondata);
            console.log(jsonProductionData);

            console.log("string of json data " + JSON.stringify(jsonProductionData));


           // var jsonProductionData = JSON.stringify(finalobj);
            try {
                $.ajax({
                    url: apiurl+"/api/ProductionApi/saveProductionEntry",
                    type: "Post",
                    data: JSON.stringify(jsonProductionData),
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    success: function (result) {


                        if (result)
                            alert("Data Saved Sucees Fully");




                        $("#dvInput_Loading").hide();
                        Productiondata = [];
                        BreakDownData = [];
                        savedataflag = "Saved";
                        var cleartable = $('#tblProductionData').DataTable();
                        cleartable.clear().draw();

                        var Cleartablebrakdwon = $('#breaktbl').DataTable();
                        Cleartablebrakdwon.clear().draw();

                        $('#myModal').modal('hide');
                        //Get That shift production Data
                       // GetShiftProductionData();
                       // RefreshBreakDownList();


                    },
                    error: function (err) {
                        $('#dvInput_Loading').hide();
                        $("#uploadpop").hide();
                        $('#myModal').modal('hide');
                        savedataflag = "Errorin save Data";
                        //  alert(err.statusText)
                    }
                });

            }
            catch (err) {
                alert(err.message);
                $('#myModal').modal('hide');
            }

        }
        function setTotalvalue(id)
        {
            $("#TotalRejection").val('');

            var rejectvalue = $("#Reject_Reason_" + id).val();

            if (rejectvalue === undefined || rejectvalue === null || rejectvalue == "")
                rejectvalue = 0;

            totrejectioncount = totrejectioncount + parseInt(rejectvalue);
            validateRejectionReworkTotal();

        }
        function validateRejectionReworkTotal() {
            debugger;
            var changetotprod = $("#TotalProduction").val();
            var changerework = $("#ReWork").val();
            if (parseInt(changerework) > parseInt(changetotprod)) {
                //document.getElementById("totrework").focus();
                $("#ReWork").val("");
                $("#ReWork").focus();
                alert("Total Rework must be less than Production");
                return;
            }
            var totrejectt = 0;

            //var cnt = $('#tab_0 .Reject_Reason_Class').length
            //var result = $('[id^=Reject_Reason_]').filter(function () {
            //    return this.id.match(/Reject_Reason_\d+$/); //regex for the pattern "Reject_Reason_ followed by a number"
            //}).length;
            var inputs = $("#tab_0 .Reject_Reason_Class");
            for (var i = 0; i < inputs.length; i++) {
               // alert($(inputs[i]).val());
           // for (var j = 1; j <= result; j++) {
                var value = $(inputs[i]).val();// $("#Reject_Reason_" + j + "").val();

                if (value == "" || value == undefined || value == null) {
                    value = 0;
                }
                if (parseInt(value) + (parseInt(totrejectt) + parseInt(changerework)) <= parseInt(changetotprod)) {
                    totrejectt = totrejectt + parseInt(value);
                    $("#TotalRejection").val(totrejectt);
                }
                else {
                    $(inputs[i]).val("");
                    $(inputs[i]).focus();
                    alert("Total Rejection and Rework must be less than Production");
                    return;
                }
               // currentrejectlist[j].RejectionValue = value;
            }

        }

        function AddMoreData(parametre)
        {

            if (parametre === "Production") {
                var retrnvalueprod = ValidateData(parametre);
                if (retrnvalueprod === "true" || retrnvalueprod === true)
                    return;
            }
            else if (parametre === "Breakdown")
            {
                var retrnvaluebrk = ValidateData(parametre);
                if (retrnvaluebrk === "true" || retrnvaluebrk === true)
                    return;
            }

            $('#savedatabtndiv').show();

            savedataflag = "No";
            totrejectioncount = 0;
            var object = {};
            var objectbreakdown = {};
            var tbldataaraay = [];


            var organizationID =@Model.CurrentOrganizationId;


            var productiondate = $("#ProdDate").val();
            tbldataaraay.push(productiondate);

            var shit = $("#CurrentShiftId option:selected").text();
            tbldataaraay.push(shit);
            var MachineName = $("#CurrentMachineId option:selected").text();
            tbldataaraay.push(MachineName);
            if (parametre === "Production")
            {
                var ProductName = $("#CurrentProductId option:selected").text();
                tbldataaraay.push(ProductName);
            }




            var OperatorName = $("#OperatorID option:selected").text();
            tbldataaraay.push(OperatorName);




            if (parametre === "Production")
            {
                var TotoalProduction = $("#TotalProduction").val();
                tbldataaraay.push(TotoalProduction);
                var Rework = $("#ReWork").val();
                tbldataaraay.push(Rework);

                var uploadedList = @Html.Raw(JsonConvert.SerializeObject(Model.RejectReasonlst));
                var totalrejection = 0;
                var rejectiolstarray = [];
                for (var j = 0; j < uploadedList.length; j++) {
                    var datareject = $("#Reject_Reason_" + uploadedList[j].RejectionreasonID).val();

                    if (datareject === undefined || datareject === null || datareject === "")
                        datareject = 0;



                    var obj =
                    {
                        RejectionValue: datareject,
                        Rejectiondiscription: uploadedList[j].Rejectiondiscription,
                        RejectionreasonID: uploadedList[j].RejectionreasonID
                    }
                    rejectiolstarray.push(obj);




                    totalrejection = totalrejection + parseInt(datareject);

                    tbldataaraay.push(datareject);
                }
                tbldataaraay.push(totalrejection);

                object =
                    {

                        MachineID: $("#CurrentMachineId").val(),
                        ProductID: $("#CurrentProductId").val(),
                        UserID: $("#OperatorID").val(),
                        OperatorID: $("#OperatorID").val(),
                       // SupervisorID: $("#OperatorID").val(),
                        OrganizationId: organizationID,
                        ShiftId: $("#CurrentShiftId").val(),
                        ProductionStartTime: "123",
                        ProductionEndTime: "123",
                        TotalProduction: TotoalProduction,
                        ReWork: Rework,
                        Rejection: totalrejection,
                        ProductionDate: productiondate,
                        IsSaved: "0",
                        ProdDate: productiondate,
                        MachineName: MachineName,
                        ProductName: ProductName,
                        rejectinlst:  JSON.stringify(rejectiolstarray)
                    }

                Productiondata.push(object);
                console.log(Productiondata);
                //Populat data in datatable
                var table = $('#tblProductionData').DataTable();
                table.row.add(tbldataaraay).draw(false);





                $("#TotalProduction").val('');
                $("#ReWork").val('');
                $("#Rejection").val('');
                $("#TotalRejection").val('');
                for (var j = 0; j < uploadedList.length; j++) {
                    $("#Reject_Reason_" + uploadedList[j].RejectionreasonID).val('');
                }
                $("#CurrentProductId").val("0");
                $("#CurrentProductId").trigger('chosen:updated');
            }

            else if (parametre === "Breakdown")
            {
                var starttime = $("#strttime").val();
                tbldataaraay.push(starttime);

                var endtime = $("#endtime").val();
                tbldataaraay.push(endtime);

                var stopagereson = $("#StoppageReaseonID option:selected").text();
                var stpgeid = $("#StoppageReaseonID").val();

                tbldataaraay.push(stopagereson);

                var substopagereson = $("#subreasonselect option:selected").text();
                var substpgeid = $("#subreasonselect").val();

                if (substpgeid === "0")
                    substopagereson = "NA";

                tbldataaraay.push(substopagereson);


                var totlstopagetime = $("#TotalStoppageTime").val();
                tbldataaraay.push(totlstopagetime);

                var remark = $("#Remarks").val();
                tbldataaraay.push(remark);
                console.log("Breakdown tbale data " + tbldataaraay);
                var tablebreak = $('#breaktbl').DataTable();

               // tablebreak.destroy();
                tablebreak.row.add(tbldataaraay).draw(false);
                objectbreakdown =
                    {

                         MachineID: $("#CurrentMachineId").val(),

                         UserID: $("#OperatorID").val(),
                         OperatorID: $("#OperatorID").val(),
                         OrganizationId: organizationID,
                         TimeOfEntry: "DateTimeNow",
                         ShiftId: $("#CurrentShiftId").val(),
                         ProductionDate: productiondate,
                         StartTime: starttime,
                         EndTime: endtime,
                         TotalStoppageTime: totlstopagetime,
                         Remarks: remark,
                         ReasonId: stpgeid
                    }
                BreakDownData.push(objectbreakdown);
                console.log(BreakDownData);
                setTimelimit();
                $("#Remarks").val('');
                $("#TotalStoppageTime").val("");
                $("#StoppageReaseonID").val("0");
                $("#StoppageReaseonID").trigger('chosen:updated');
                $("#subreasonselect").val("0");
                $("#subreasonselect").trigger('chosen:updated');
            }



        }

        function setTimelimit()
        {
            var shit = $("#CurrentShiftId").val();
            var shiflst =@Html.Raw(JsonConvert.SerializeObject(allshiftdatalst));

            var selectshidata = shiflst.filter(a => a.ShiftId == shit);
            debugger;
            //console.log("shift list data is " + selectshidata);
            //-------------shailendra start----------------
            var dbstarttime = selectshidata[0].StartTime;
            var dbendtime = selectshidata[0].EndTime;
            var dbIsOvernight = selectshidata[0].isOverNight;

            if (dbIsOvernight && dbstarttime >= 24)
                dbstarttime = dbstarttime - 24;

            if (dbIsOvernight && dbendtime >= 24)
                dbendtime = dbendtime - 24;

            var strttiming = String(dbstarttime);
            var endtiming = String(dbendtime);


            //-------------shailendra End----------------
            var formatstrttime = "";
            var endtime = "";
            var strttiming = String(dbstarttime);
            strttiming = strttiming.split('.');
            var strttim = parseInt(strttiming[0]);

            if (strttim < 10)
                formatstrttime = "0" + strttiming[0];
            else
                formatstrttime = strttiming[0];
            debugger;
            if (strttiming.length > 1)
            {

                //if (parseInt(strttiming[1]) < 10 && parseInt(strttiming[1]) > 0)
                //    formatstrttime = formatstrttime + ".0" + strttiming[1];
                //else
                   if (parseInt(strttiming[1]) === 0)
                    formatstrttime = formatstrttime + "." + strttiming[1];
                else
                    formatstrttime = formatstrttime + "." + strttiming[1];

            }
            else
                formatstrttime = formatstrttime + ".00";



            endtiming = endtiming.split('.');
            if (parseInt(endtiming[0]) < 10 && parseInt(endtiming[0])>0)
                endtime = "0" + endtiming[0];

            else
                endtime = endtiming[0];


            if (endtiming.length > 1)
            {

                if (parseInt(endtiming[1]) < 10 && parseInt(endtiming[1]) > 0)
                    endtime = endtime + ".0" + endtiming[1]
                else if (parseInt(endtiming[1]) === 0)
                    endtime = endtime + "." + endtiming[1]
                else
                    endtime = endtime + "." + endtiming[1]
            }
            else
                endtime = endtime + ".00";



            $('#strttime').val(formatstrttime);
            $('#endtime').val(endtime);
            Calculatetimespan(strttiming, endtiming);
        }
       
        function Calculatetimespan(starttimestr, endtimestr,filltimeID)
        {
           // alert(starttimestr + ',,' + endtimestr + ',,' + filltimeID);
            debugger;
            starttimestr = starttimestr.toString().replace(":", ".");
            endtimestr = endtimestr.toString().replace(":", ".");
            var shit = $("#CurrentShiftId").val();
            var shiflst =@Html.Raw(JsonConvert.SerializeObject(allshiftdatalst));

            var selectshidata = shiflst.filter(a => a.ShiftId == shit);

            var dbstarttime = selectshidata[0].StartTime;
            var dbendtime = selectshidata[0].EndTime;
            var dbIsOvernight = selectshidata[0].isOverNight;


            var workingminutes = "";
           // var endtime24hrs = parseInt(endtimestr[0]);


            //---------------Shailendra Code start-------------------
            var CalstartTime = parseFloat(starttimestr);
            var CalEndTime = parseFloat(endtimestr);
            if (dbIsOvernight) {
                if (parseFloat(starttimestr) < dbstarttime) {
                    if (parseFloat(starttimestr) + 24 < dbendtime) {
                        CalstartTime = parseFloat(starttimestr) + 24;
                    }
                    else {

                        $("#" + filltimeID + "").val("");
                        document.getElementById("endtime").focus();
                        alert("Breakdown time can not exceed shift timings.");
                        return;
                    }
                } else {
                    CalstartTime = parseFloat(starttimestr);
                }

                if (parseFloat(endtimestr) > dbendtime - 24) {
                    if (parseFloat(endtimestr) > dbstarttime) {
                        CalEndTime = parseFloat(endtimestr);
                    } else {
                        $("#" + filltimeID + "").val("");
                        document.getElementById("endtime").focus();
                        alert("Breakdown time can not exceed shift timings.");
                        return;
                    }
                } else {
                    CalEndTime = parseFloat(endtimestr) + 24;

                }

            }
            else {
                if (parseFloat(starttimestr) < dbstarttime || parseFloat(endtimestr) > dbendtime) {
                    $("#" + filltimeID + "").val("");
                    document.getElementById("endtime").focus();
                    alert("Breakdown time can not exceed shift timings.");
                    return;
                }

            }
            var strCalstartTime = CalstartTime.toString().split('.');
            var strCalEndTime = CalEndTime.toString().split('.');
            var endMinutes = parseInt(strCalEndTime[1]);
            var startMinuts = parseInt(strCalstartTime[1]);

            if (strCalEndTime.length > 1 && strCalEndTime[1].length == 1) {
                endMinutes = parseInt(strCalEndTime[1] + "0");
            }
            if (strCalstartTime.length > 1 && strCalstartTime[1].length == 1) {
                startMinuts = parseInt(strCalstartTime[1] + "0");
            }

            if (strCalstartTime.length > 1 && strCalEndTime.length > 1) {

                workingminutes = (parseInt(strCalEndTime[0]) - parseInt(strCalstartTime[0])) * 60 + (endMinutes - startMinuts);
            }
            else {
                if (strCalstartTime.length > 1 && strCalEndTime.length == 1) {
                    workingminutes = (parseInt(strCalEndTime[0]) - parseInt(strCalstartTime[0])) * 60 + (0 - startMinuts);
                }
                else if (strCalstartTime.length == 1 && strCalEndTime.length > 1) {
                    workingminutes = (parseInt(strCalEndTime[0]) - parseInt(strCalstartTime[0])) * 60 + (endMinutes - 0);
                }
                else {
                    workingminutes = (parseInt(strCalEndTime[0]) - parseInt(strCalstartTime[0])) * 60;
                }
            }
                // else {
            //   var strstarttimestr = starttimestr.toString().split('.');
            //   var strendtimestr = endtimestr.toString().split('.');
            //    workingminutes = (parseInt(strendtimestr[0]) - parseInt(strstarttimestr[0])) * 60 + (parseInt(strendtimestr[1]) - parseInt(strstarttimestr[1]));

            //   // workingminutes = (parseFloat(endtimestr) - parseFloat(starttimestr)) * 60;
            //}
            //workingminutes = (parseInt(endtimestr[0]) - parseInt(starttimestr[0])) * 60;
            //---------------Shailendra code end---------------------

            if (workingminutes < 0)
            {
                $("#" + filltimeID + "").val("");
                document.getElementById("endtime").focus();
                alert("End Time must be greater than start time");
                return;
            }



            $("#"+filltimeID+"").val(workingminutes);

        }
        function FillTotalStoopageTIme(filltimeID)
        {
            var strttiming = String($("#strttime").val());


            var endtiming = String($("#endtime").val());

            strttiming = strttiming.split(".");
            endtiming = endtiming.split(".");
            Calculatetimespan(strttiming, endtiming, filltimeID);
        }

        function ValidateData(parametre)
        {
            var returnvalue=false
            if (parametre === "InsertData")
            {
                var date = $("#ProdDate").val();
                var shit = $("#CurrentShiftId").val();
                if (date == undefined || date === "" || date === null ||
                    shit == undefined || shit === "" || shit === null ||
                    shit === "0")
                {

                    returnvalue = true;
                    $('#alert_message').show();
                    setTimeout(function ()
                    {

                        $("#alert_message").fadeIn(300).slideUp(600, function () {
                            $(this).hide();
                        });
                    }, 400);

                    return returnvalue;
                }
            }

            if (parametre == "Production" || parametre == "Breakdown") {

                if ($("#CurrentMachineId").val() == "0" || $("#CurrentMachineId").val() === undefined
                    || $("#CurrentMachineId").val() === "" || $("#CurrentMachineId").val() === null) {
                    alert("Please Select Machine First");
                    returnvalue = true;
                    return returnvalue;
                }

                if (parametre === "Breakdown") {
                    if ($("#StoppageReaseonID").val() == "0" || $("#StoppageReaseonID").val() === undefined
                        || $("#StoppageReaseonID").val() === "" || $("#StoppageReaseonID").val() === null) {
                        alert("Please Select StoppageReason First");
                        returnvalue = true;
                        return returnvalue;
                    }
                    if ($("#subreasonselect").val() === undefined
                        || $("#subreasonselect").val() === "" || $("#subreasonselect").val() === null) {
                        alert("Please Select SubStoppage Reason First");
                        returnvalue = true;
                        return returnvalue;
                    }
                }
            }





            if (parametre == "Production")
            {
                if ($("#CurrentProductId").val() == "0" || $("#CurrentProductId").val() === undefined
                    || $("#CurrentProductId").val() === "" || $("#CurrentProductId").val() === null)
                {
                    alert("Please Select Product First");
                    returnvalue = true;
                    return returnvalue;
                    return;
                }
            }



        }

        //function EditDeleData(prameter,data,rowid,rejectionlist)
        //{
        //    currentProductionID = data;
        //    if (prameter == "Edit") {

        //        if (rejectionlist === "NA") {
        //            rejectionlist = JSON.parse(shiftproductionapidata[rowid].rejectionlist);
        //        }




        //        rejecttotacount = 0;
        //        var modifiedlist = modifiedrejectionlist.filter(a => a.RowID == rowid);




        //        $("#Row_" + rowid).css("background-color", "yellow");
        //        currentrejectlist = rejectionlist;
        //        if (modifiedlist.length > 0) {
        //            rejectionlist = modifiedlist[0].CurremtRejectionList;
        //        }

        //        currentRowID = rowid;
        //        var table = $('#productiontable').DataTable();
        //        var datatabledata = table
        //            .row("#Row_" + rowid)
        //            .data();
        //        $("#fillrejectiondata").html('');
        //        $("#totprod").val(datatabledata[4]);
        //        $("#totrework").val(datatabledata[5]);
        //        $("#totmodalreject").val(datatabledata[6]);
        //        var textbox = "";
        //        for (var j = 0; j < rejectionlist.length; j++) {
        //            var textboxname = rejectionlist[j].Rejectiondiscription.trim() + "_" + rejectionlist[j].RejectionreasonID;
        //            textbox = textbox + '<div class="form-group col-md-3"><label>' + rejectionlist[j].Rejectiondiscription.trim() + '</label><input type="text"  class="form-control" value=' + rejectionlist[j].RejectionValue + ' name=' + textboxname + '  id="RejectTextbox_' + j + '" /></div>';
        //        }

        //        $("#fillrejectiondata").html(textbox);

        //        $('#ProductionModal').modal();


        //        //After Pressing modal save button data edited Successfully




        //    }

        //    else if (prameter == "Delete")
        //    {
        //        //Then DeleteData

        //        DeleteProductionEntry(data, rowid);
        //    }
        //}

        function SaveProductionEditedData()
        {



           var table = $('#productiontable').DataTable();
           var changetotprod= $("#totprod").val();
            var index = table.row("#Row_" + currentRowID).index()
            var celltotprod = table.cell(index, 4);
            celltotprod.data(changetotprod);

            var changerework = $("#totrework").val();
            var celltotrework = table.cell(index, 5);
            celltotrework.data(changerework);


            var totrejectt = 0;
            for (var j = 0; j < currentrejectlist.length; j++)
            {
                var value = $("#RejectTextbox_" + j + "").val();

                if ($("#RejectTextbox_" + j + "").val() == "" || $("#RejectTextbox_" + j + "").val() == undefined
                    || $("#RejectTextbox_" + j + "").val() == null)
                {
                    value = 0;
                }
                currentrejectlist[j].RejectionValue = value;
                if (parseInt(totrejectt) <= parseInt(changetotprod)) {
                    totrejectt = totrejectt + parseInt(value);
                }
                else
                {
                    alert("Total Rejection Less Than Total Production");
                    return;
                }


                if (parseInt(changerework) > parseInt(changetotprod))
                {
                    alert("Total Rework Less Than Total Production");
                    return;
                }


            }

            var obj =
            {
                RowID: currentRowID,
                CurremtRejectionList: currentrejectlist
            }
            modifiedrejectionlist.push(obj);
            $("#totmodalreject").val(totrejectt);
            var celltotreject = table.cell(index, 6);
            celltotreject.data($("#totmodalreject").val());



            if (currentProductionID != "" && currentProductionID != undefined && currentProductionID!=null) {
                var ProductionEditedobject =
                {


                    ProductionId: currentProductionID,
                    TotalProduction: changetotprod,
                    ReWork: changerework,
                    Rejection: totrejectt,
                    IsSaved: "0",
                    rejectinlst: JSON.stringify(currentrejectlist)
                }

                ProductionEditedData.push(ProductionEditedobject);

                //Save Edited Data TO DataBase
                currentProductionID = "";
                var objeditedfinal = { ProductionEntry: ProductionEditedData };
                $("#dvInput_ProdEdit_Loading").show();
                var jsonProductionData = JSON.stringify(ProductionEditedData);
                try {
                    $.ajax({
                        url: apiurl+"/api/ProductionApi/saveProductionEntry",
                        type: "Post",
                        data: JSON.stringify(jsonProductionData),
                        contentType: "application/json; charset=utf-8",
                        processData: true,
                        DataType: "json",
                        success: function (result) {



                            if (result)
                                alert("Data Saved Sucees Fully");

                            $("#Row_" + currentRowID).css("background-color", "#D5D6D6");
                            $("#Row_" + currentRowID).css("color", "black");
                            $("#dvInput_ProdEdit_Loading").hide();
                            ProductionEditedData = [];
                            $('#ProductionModal').modal('hide');
                        },
                        error: function (err) {
                            $("#dvInput_ProdEdit_Loading").hide();
                            $('#ProductionModal').modal('hide');
                            savedataflag = "Errorin save Data";
                            //  alert(err.statusText)
                        }
                    });

                }
                catch (err) {
                    alert(err.message);
                    $('#ProductionModal').modal('hide');
                }
            }
            //Upto Here
        }

        function GetShiftProductionData()
        {
            alert("GetShiftProductionData");
            $("#productiontablebox").hide();
            //var orgid = organizationID;
            var shiftid = $("#CurrentShiftId").val();
            $("#dvInput_Loading_production").show();


            //Get BreakProduction Data


            try {
                $.ajax({
                    url: apiurl+"/api/ProductionApi/getProductionEntryDataNew?Shiftidstr="+shiftid+"&organizationID="+@Model.CurrentOrganizationId+"",
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    success: function (result)
                    {

                        if (result.length > 0) {

                            shiftproductionapidata = result;
                            $("#productiontableboxbody").html('');
                            $("#dvInput_Loading_production").hide();


                            var table = '<table class="table" id="productiontable">';
                            table = table + '<thead><tr>';
                            table = table + '<th>ProductionDate</th><th>MachineName</th><th>ProductName</th><th>OperatorName</th>';
                            table = table + '<th>TotalProduction</th><th>ReWork</th><th>Rejection</th><th>Actions</th>';
                            table = table + '</tr></thead>';
                            table = table + '<tbody>';
                            for (var j = 0; j < result.length; j++) {

                                var proddates = moment(result[j].ProductionDate).format('YYYY-MM-DD');
                                var rejectionlist = "NA";
                                var paramedit = "Edit";
                                var paramdel = "Delete";
                                table = table + '<tr id="Row_' + j + '">';
                                table = table + '<td>' + proddates + '</td><td>' + result[j].MachineName + '</td><td>' + result[j].ProductName + '</td>';
                                table = table + '<td>' + result[j].OperatorName + '</td><td>' + result[j].TotalProduction + '</td><td>' + result[j].ReWork + '</td>';
                                table = table + '<td>' + result[j].Rejection + '</td>';
                                table = table + '<td><div class="row"><div class="col-md-2" style="margin-right:35px"><input type="button" class="btn-primary" value="Edit" onclick="EditDeleData(\'' + paramedit + '\',' + result[j].ProductionId + ',' + j + ',\'' + rejectionlist + '\')" /></div><div class="col-md-2"><input type="button" class="btn-primary" value="Delete" onclick="EditDeleData(\'' + paramdel + '\',' + result[j].ProductionId + ',\'' + j + '\')" /></div></div></td>'
                                table = table + '</tr>';
                            }
                            $("#productiontablebox").show();
                            $("#productiontableboxbody").html(table);
                            $('#productiontable').DataTable
                                ({
                                    "scrollX": true,
                                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                                    "order": [[0, "asc"], [1, "asc"]],
                                    dom: 'Bfrtip',

                                    buttons: [

                                        {
                                            extend: 'csv',
                                            title: 'Data'
                                        },

                                        {
                                            extend: 'pdfHtml5',
                                            orientation: 'landscape',
                                            pageSize: 'A3',
                                            customize: function (doc) {
                                                doc.defaultStyle.fontSize = 12;
                                                doc.styles.tableHeader.fontSize = 12;
                                            },



                                            title: ' Data'
                                        },

                                        {
                                            extend: 'pageLength'

                                        }
                                    ],
                                    "bLengthChange": true
                            });



                            //RefreshBreakDownList(shiftid);
                        }


                        else
                        {
                            alert("Data not Found for this shift");
                            $("#dvInput_Loading_production").hide();
                        }



                        console.log("Shift ID Data is "+result);

                    },
                    error: function (err) {
                        $("#dvInput_Loading_production").hide();;
                        $("#uploadpop").hide();
                        savedataflag = "Errorin save Data";
                        //  alert(err.statusText)
                    }
                });

            }
            catch (err) {
                $("#dvInput_Loading_production").hide();
                alert(err.message);
            }



    }

    function DeleteProductionEntry(pid,rowid)
    {



        var r = confirm("Are You Sure Want to delete");
        if (!r)
        {
            $("#Row_" + rowid).css("background-color", "white");
            $("#Row_" + rowid).css("color", "black");
        }
        if (r)
        {
            $("#Row_" + rowid).css("background-color", "Red");
            $("#Row_" + rowid).css("color", "white");
            try {
                $.ajax({
                    url: apiurl+"/api/ProductionApi/DeleteProductionEntry?productionID=" + pid + "",
                    type: "Get",
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    success: function (result) {
                        if (result)
                            alert("Data Deleted SuccesFully");

                        $('#productiontable').DataTable().row("#Row_" + rowid + "").remove().draw();

                    },
                    error: function (err) {
                        $("#dvInput_Loading_production").hide();;
                        $("#uploadpop").hide();
                        savedataflag = "Errorin save Data";

                    }
                });

            }
            catch (err) {
                $("#dvInput_Loading_production").hide();
                alert(err.message);
            }
        }
    }

    //function RefreshBreakDownList()
    //{
    //    alert('RefreshBreakDownList');
    //    $("#breakdownlstbox").hide();
    //    $("#productiontablebox").hide();
    //    var shiftid = $("#CurrentShiftId").val();
    //    var date = "23/09/2020";
    //    var machineid = "";
    //    $("#dvInput_Loading_production").show();
    //    try {
    //        $.ajax({
    //            type: 'GET',
    //            url: "/ProductionPage/BreakDownList/?ShiftId=" + shiftid + "&ProdDate=" + date + "&MachineId=" + machineid,
    //        }).done(function (result) {

    //            $("#BreakDownListPage").html('');
    //            $("#BreakDownListPage").append($(result));

    //            $("#breakdownlstbox").show();
    //            $("#BreakdownlistTable").DataTable(
    //                {
    //                    "scrollX": true,
    //                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    //                    "order": [[0, "asc"], [1, "asc"]],
    //                    dom: 'Bfrtip',

    //                    buttons: [

    //                        {
    //                            extend: 'csv',
    //                            title: 'Data'
    //                        },

    //                        {
    //                            extend: 'pdfHtml5',
    //                            orientation: 'landscape',
    //                            pageSize: 'A3',
    //                            customize: function (doc) {
    //                                doc.defaultStyle.fontSize = 12;
    //                                doc.styles.tableHeader.fontSize = 12;
    //                            },



    //                            title: ' Data'
    //                        },

    //                        {
    //                            extend: 'pageLength'

    //                        }
    //                    ],
    //                    "bLengthChange": true
    //                });


    //            GetShiftProductionData();
    //            $("#dvInput_Loading_production").hide();
    //        });
    //    }
    //    catch (err)
    //    {
    //        $("#dvInput_Loading_production").hide();
    //        alert(err.message);
    //    }

    //    //event.preventDefault();
    //}

        //function EditAction(actionname, idval, targetid, pagename) {


        //    $("#dvInput_ProdBreakEdit_Loading").show();
        //    debugger;
        //    $.ajax({
        //        type: 'GET',
        //        url: "/ProductionPage/" + actionname + "/?id=" + idval
        //    })
        //        .done(function (result) {
        //            debugger;
        //            //var r = $(result).find("#MainContentDiv").html();
        //            //$("#MainContentDiv").html(r);
        //            //var MachineId = $(result).find("#MachineID").val();
        //            //$("#CurrentMachineId").val(MachineId);
        //            //$("#CurrentMachineId").val(MachineId).trigger("chosen:updated");
        //            $("#dvInput_ProdBreakEdit_Loading").hide();
        //            $("#editbreakdownview").html('');
        //            // $("#" + targetid).html($(result));
        //            $("#editbreakdownview").html($(result));
        //               // RefreshBreakDownList();

        //            $("#EditBreakdonwModal").modal();
        //              //  OnLoadMain();
        //        })
        //        .fail(function (error) {
        //            $("#dvInput_ProdBreakEdit_Loading").hide();
        //            console.log(error);
        //            alert("An error occured");
        //        });

        //}

        //function DeleteAction(actionname, idval, targetid, pagename) {
        //    if (!confirm("Are you Sure..?")) {
        //        return;
        //    }
        //    $.ajax({
        //        type: 'GET',
        //        url: "/ProductionPage/" + actionname + "/?id=" + idval
        //    })
        //        .done(function (result) {

        //                RefreshBreakDownList();


        //            //OnLoadMain();
        //        })
        //        .fail(function (error) {
        //            console.log(error);
        //            alert("An error occured");
        //        });

        //}

        //For Edit Break Down Data

        function OnLoadMain() {
            $(".Hidden").hide();
            $("select").chosen();
            $('.cTimePick').timepicker({
                'timeFormat': 'H:i',
                'step': 5,
                'disableTextInput': true
            });
            $('.TimePick').timepicker({ 'timeFormat': 'H.i' });
            $(".accordion").accordion({
                collapsible: true
            });//ActiveIndexValue
            var activeIndexval = $("#ActiveIndexValue").val();
            $(".ui_tabs").tabs();
            $(".ui_tabs").tabs("option", "active", activeIndexval);
            $(".accordion").accordion("option", "active", activeIndexval);
            $(".Date-Picker").datepicker({
                dateFormat: 'yyyy/mm/dd'
            });
        }

        //function SubmitWithCheck() {

        //    $("#dvInput_ProdBreakSave_Loading").show();

        //    event.preventDefault();
        //    var basicvalidation = true;
        //    if ($("#CurrentMachineId").val() == "") {
        //        alert("Please select the machine");
        //        $("#CurrentMachineId").focus();
        //        basicvalidation = false;
        //    }
        //    if ($("#CurrentShiftId").val() == "") {
        //        alert("Please select the shift");
        //        $("#CurrentShiftId").focus();
        //        basicvalidation = false;
        //    }
        //    if ($("#SupervisorID").val() == "") {
        //        alert("Please select the Supervisor");
        //        $("#SupervisorID").focus();
        //        basicvalidation = false;
        //    }
        //    if ($("#OperatorID").val() == "") {
        //        alert("Please select the Operator");
        //        $("#OperatorID").focus();
        //        basicvalidation = false;
        //    }
        //    if (basicvalidation == false) {
        //        return;
        //    }

        //    //debugger;
        //    //SaveRejectionReasons();
        //    isProductionValid($("#sProductionStartTime").val(), $("#sProductionEndTime").val());
        //    $("#dvInput_ProdBreakSave_Loading").hide();
        //}

        //function isProductionValid(startTime, endTime) {

        //    try {
        //        $.ajax({
        //            type: 'GET',
        //            url: "/ProductionPage/isTimeValidProduction/?id=" + $("#ProductionId").val() + "&" +
        //                "optype=no" + "&" +
        //                "startTime=" + startTime + "&" +
        //                "endTime=" + endTime + "&" +
        //                "shiftid=" + getShiftId() + "&" +
        //                "machineid=" + getMachineId() + "&" +
        //                "_Date=" + getDate()
        //        })
        //            .done(function (result) {
        //                if (result == false || result == "False") {
        //                    alert("You have already entered Full shift data.");
        //                }
        //                else {
        //                    _ProductionDataSubmit();
        //                }
        //            })
        //            .fail(function (error) {
        //                console.log(error);
        //                alert("An error occured");
        //            });
        //    }
        //    catch (err) {
        //        document.getElementById("demo").innerHTML = err.message;
        //    }




        //}

        function CalculateTotalBreakDownTime()
        {
            var StartTimeVal = $('#sBreakDownStartTime').val();
            var EndTimeVal = $('#sBreakDownEndTime').val();
            Calculatetimespan(StartTimeVal, EndTimeVal, "EditBreakTotalStoppagetime");
            //calculateStoppageTime("sBreakDownStartTime", "sBreakDownEndTime", "TotalStoppageTime");
        }


    </script>
}

