﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var Productlist = (List<ProEfficient.Core.Models.MasterProduct>)ViewBag.ProductList;
    var Mouldlist = (List<ProEfficient.Core.Models.MasterMould>)ViewBag.MouldList;
}
<link href="~/content/customcss/productMouldmapping.css" rel="stylesheet" />
<script src="~/scripts/custompagejs/productMouldmapping.js"></script>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Product</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                <i class="glyphicon glyphicon-cog"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="ProductDropDown" id="ProductDropDown">

                                <li>
                                    <label>
                                        <input id="@("hdproduct"+"0")" type="hidden" value="" />
                                        <input id="@("hdcodeproduct"+"0")" type="hidden" value="0" />
                                        <input id="@("product"+"0")" onchange="SelectAllProduct(this)" type="checkbox"> Select All
                                    </label>
                                </li>
                                @if (Productlist != null)
                                {
                                    foreach (var prod in Productlist)
                                    {
                                        <li>
                                            <label>
                                                <input id="@("hdproduct"+prod.ProductId.ToString())" type="hidden" value="@prod.ProductName" />
                                                <input id="@("hdcodeproduct"+prod.ProductId.ToString())" type="hidden" value="@prod.ProductCode" />
                                                <input id="@("product"+prod.ProductId.ToString())" onchange="ShowProductSelection();" type="checkbox"> @prod.ProductName
                                            </label>
                                        </li>
                                    }

                                }

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label id="product_selection" class="selection-label"></label>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Mould</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button"
                                    id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                <i class="glyphicon glyphicon-cog"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="MouldDropDown" id="MouldDropDown">
                                <li>
                                    <label>
                                        <input id="@("hdMould"+"0")" type="hidden" value="" />
                                        <input id="@("Mould"+"0")" onchange="SelectAllMould(this)" type="checkbox"> Select All
                                    </label>
                                </li>
                                @if (Mouldlist != null)
                                {
                                    foreach (var Mould in Mouldlist)
                                    {
                                        <li>
                                            <label>
                                                <input id="@("hdMould"+Mould.MouldId.ToString())" type="hidden" value="@Mould.MouldDescription" />
                                                <input id="@("Mould"+Mould.MouldId.ToString())" onchange="ShowMouldSelection();" type="checkbox"> @Mould.MouldDescription
                                            </label>
                                        </li>
                                    }

                                }

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label id="Mould_selection" class="selection-label"></label>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 table-container" id="table_container">
        <table class="table table-bordered table-striped mb-0" cellspacing="0"
               width="100%" id="tbl_mapping">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Mould</th>
                </tr>
            </thead>
            <tbody id="mapping_body">
            </tbody>
        </table>
    </div>
</div>

<div class="row button-container">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <button type="button" id="SaveMapping" class="btn btn-info">Save Mapping</button>
    </div>
</div>
