﻿@model ProEfficient.Ui.Entity.Holidays

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Holidays</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolidayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolidayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HolidayDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HolidayDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThemeColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFullDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFullDay)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="HolidayID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
