﻿@model ProEfficient.Ui.Entity.Holidays

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Holidays</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HolidayID" />
            <div class="form-group">
                <label asp-for="HolidayName" class="control-label"></label>
                <input asp-for="HolidayName" class="form-control" />
                <span asp-validation-for="HolidayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HolidayDescription" class="control-label"></label>
                <input asp-for="HolidayDescription" class="form-control" />
                <span asp-validation-for="HolidayDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeColor" class="control-label"></label>
                <input asp-for="ThemeColor" class="form-control" />
                <span asp-validation-for="ThemeColor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFullDay" /> @Html.DisplayNameFor(model => model.IsFullDay)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

