﻿@model IEnumerable<ProEfficient.Ui.Entity.Holidays>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control {
        max-width: 100%;
    }
</style>
<div id="MainContentDiv">

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Holidays Calendar</h3>
        </div>
        <div class="box-body">
            <div id="calender"></div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                    <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalSave" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Save Holiday</h4>
                </div>
                <div class="modal-body" style="background-color: #fff;">
                    <div class="row" style="margin:auto;">
                        <form class="col-md-12 form-horizontal">
                            <input type="hidden" id="hdEventID" value="0" />
                            <div class="form-group">
                                <label>Holiday Name</label>
                                <input type="text" id="txtSubject" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Start</label>
                                <div class="input-group date" id="dtp1">
                                    <input type="text" id="txtStart" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*<div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Is Full Day event</label>
                </div>
            </div>*@
                            <div class="form-group" id="divEndDate">
                                <label>End</label>
                                <div class="input-group date" id="dtp2">
                                    <input type="text" id="txtEnd" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Theme Color</label>
                                <select id="ddThemeColor" class="form-control">
                                    <option value="">Default</option>
                                    <option value="red">Red</option>
                                    <option value="blue">Blue</option>
                                    <option value="black">Black</option>
                                    <option value="green">Green</option>
                                </select>
                            </div>
                            <button type="button" id="btnSave" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <link href="~/fullCal3.4/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/fullCal3.4/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/fullCal3.4/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    @section Scripts{
        <script src="~/fullCal3.4/moment.min.js"></script>
        <script src="~/fullCal3.4/fullcalendar.min.js"></script>
        <script type="text/javascript" src="~/fullCal3.4/bootstrap-datetimepicker.min.js"></script>
        <script>
            $(document).ready(function () {
                var events = [];
                var selectedEvent = null;
                FetchEventAndRenderCalendar();
                function FetchEventAndRenderCalendar() {
                    events = [];
                    $.ajax({
                        type: "GET",
                        url: "/Holidays/GetEvents",
                        success: function (data) {
                            $.each(data.data, function (i, v) {

                                events.push({

                                    eventID: v.HolidayID,
                                    title: v.HolidayName,
                                    description: v.HolidayDescription,
                                    start: moment(v.Start),
                                    end: v.End != null ? moment(v.End) : null,
                                    color: v.ThemeColor,
                                    allDay: v.IsFullDay
                                });
                            })

                            GenerateCalender(events);
                        },
                        error: function (error) {
                            alert('failed');
                        }
                    })
                }

                function GenerateCalender(events) {
                    $('#calender').fullCalendar('destroy');
                    $('#calender').fullCalendar({
                        contentHeight: 400,
                        defaultDate: new Date(),
                        timeFormat: 'h(:mm)a',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay,agenda'
                        },
                        eventLimit: true,
                        eventColor: '#378006',
                        events: events,
                        displayEventTime: false,
                        eventClick: function (calEvent, jsEvent, view) {
                            debugger;
                            selectedEvent = calEvent;
                            $('#myModal #eventTitle').text(calEvent.title);
                            var $description = $('<div/>');
                            $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                            if (calEvent.end != null) {
                                $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                            }
                            $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                            $('#myModal #pDetails').empty().html($description);

                            $('#myModal').modal();
                        },
                        selectable: true,
                        select: function (start, end) {

                            start = moment(start).set({ hour: 06, minute: 30, second: 0, millisecond: 0 });
                            end = moment(end).set({ hour: 06, minute: 30, second: 0, millisecond: 0 });

                            selectedEvent = {
                                eventID: 0,
                                title: '',
                                description: '',
                                start: start,
                                end: end,
                                allDay: false,
                                color: ''
                            };
                            openAddEditForm();
                            $('#calendar').fullCalendar('unselect');
                        },
                        editable: true,
                        eventDrop: function (event) {
                            var data = {
                                HolidayID: event.eventID,
                                HolidayName: event.title,
                                Start: event.start.format('DD-MMM-YYYY HH:mm A'),
                                End: event.end != null ? event.end.format('DD-MMM-YYYY HH:mm A') : null,
                                HolidayDescription: event.description,
                                ThemeColor: event.color,
                                IsFullDay: event.allDay
                            };
                            SaveEvent(data);
                        }
                    })
                }

                $('#btnEdit').click(function () {
                    //Open modal dialog for edit event
                    openAddEditForm();
                })
                $('#btnDelete').click(function () {
                    if (selectedEvent != null && confirm('Are you sure?')) {
                        $.ajax({
                            type: "POST",
                            url: '/Holidays/DeleteEvent',
                            data: { 'eventID': selectedEvent.eventID },
                            success: function (data) {
                                if (data.data.status) {
                                    //Refresh the calender
                                    FetchEventAndRenderCalendar();
                                    $('#myModal').modal('hide');
                                }
                            },
                            error: function () {
                                alert('Failed');
                            }
                        })
                    }
                })

                $('#dtp1,#dtp2').datetimepicker({
                    format: 'DD-MMM-YYYY HH:mm A'
                });

                //$('#chkIsFullDay').change(function () {
                //    if ($(this).is(':checked')) {
                //        $('#divEndDate').hide();
                //    }
                //    else {
                //        $('#divEndDate').show();
                //    }
                //});

                function openAddEditForm() {
                    if (selectedEvent != null) {
                        $('#hdEventID').val(selectedEvent.eventID);
                        $('#txtSubject').val(selectedEvent.title);
                        $('#txtStart').val(selectedEvent.start.format('DD-MMM-YYYY HH:mm A'));
                        //$('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                        //$('#chkIsFullDay').change();
                        $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD-MMM-YYYY HH:mm A') : '');
                        $('#txtDescription').val(selectedEvent.description);
                        $('#ddThemeColor').val(selectedEvent.color);
                    }
                    $('#myModal').modal('hide');
                    $('#myModalSave').modal();
                }

                $('#btnSave').click(function () {
                    //Validation/
                    if ($('#txtSubject').val().trim() == "") {
                        alert('Holiday Name required');
                        return;
                    }
                    if ($('#txtStart').val().trim() == "") {
                        alert('Start date required');
                        return;
                    }
                    //if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    //    alert('End date required');
                    //    return;
                    //}
                    //else {
                    var startDate = moment($('#txtStart').val(), "DD-MMM-YYYY HH:mm A").toDate();
                    var endDate = moment($('#txtEnd').val(), "DD-MMM-YYYY HH:mm A").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                    //}

                    var data = {
                        HolidayID: $('#hdEventID').val(),
                        HolidayName: $('#txtSubject').val().trim(),
                        Start: $('#txtStart').val().trim(),
                        End: $('#txtEnd').val().trim(),
                        //$('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                        HolidayDescription: $('#txtDescription').val(),
                        ThemeColor: $('#ddThemeColor').val(),
                        IsFullDay: false//$('#chkIsFullDay').is(':checked')
                    }
                    SaveEvent(data);
                    // call function for submit data to the server
                })

                function SaveEvent(data) {
                    $.ajax({
                        type: "POST",
                        url: '/Holidays/SaveEvent',
                        data: data,
                        success: function (data) {
                            if (data.data.status) {
                                //Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#myModalSave').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })
        </script>
    }
