﻿@model IList<ProEfficient.Core.Models.ViewModel.BreakdownEntryEditVM>
@using ProEfficient.Core.Models
@using ProEfficient.Dal.Utility
@using Newtonsoft.Json
@using (Html.BeginForm("EditBreakdownEntries", "BreakdownEntryEdit", FormMethod.Post, new { id = "MappingFrm" }))
{

    <div class="box box-primary">
        <div class="box-header with-border text-center" style="display:none;" id="saveDiv">
            <h3 class="box-title text-center">
                <span id="notificationBadge" style="background-color: red;"
                  class="badge badge-pill badge-danger text-center">You have un-saved changes. Please click "Save to Server".</span>
            </h3>

        </div><!-- /.box-header -->
    <div class="box-body">

            <div style="padding-left:0;padding-right:0;">
                <table id="MappingTable" class="table">
                    <thead>
                        <tr>

                            <th>
                                Machine Name
                            </th>
                            <th>
                                Shift Name
                            </th>
                            <th>
                                Start Time
                            </th>


                            <th>
                                End Time
                            </th>

                            <th>
                                Duration
                            </th>
                            <th>
                                Reason
                            </th>
                            <th>
                                Sub Reason
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count > 0)
                        {
                            var activeReasons = (List<SelectListItem>)ViewBag.ActiveReasons;
                            var subStoppageReasons = (List<SubStoppageReason>)ViewBag.SubStoppageReasons;

                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    @Html.HiddenFor(modelItem => modelItem[i].BreakdownId)
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem[i].MachineName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem[i].ShiftName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem[i].StartTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem[i].EndTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => modelItem[i].TotalStoppageTime)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(modelItem => modelItem[i].ReasonId, activeReasons, "Select Reason", new { @class = "form-control", onchange = "fillsubreasondrp(this)" })

                                    </td>
                                    <td>
                                        @*<select id="subreasonselect" class="form-control"></select>*@
                                        @Html.DropDownListFor(modelItem => modelItem[i].SubReasonId, subStoppageReasons.Where(m => m.ReasonID == Model[i].ReasonId).ToList().ToSelectList(c => c.SubReasonID.ToString(), c => c.SubReasonName), " Select Sub Reason", new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => modelItem[i].Remarks)
                                    </td>


                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="form-group" id="saveDivBtn" style="display:none;">
                <input type="submit" value="Save to Server" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
}
<script>
    var substoopageReason =@Html.Raw(JsonConvert.SerializeObject(UserUtility.GetSubstoppagereasonlst()));
    var unsaved = false;
    $(function () {
        $('#MappingTable :input').change(function (e) {
            unsaved = true;
            $('#saveDiv').show();
            $('#saveDivBtn').show();
        });
        var table = $('#MappingTable').DataTable({
            "paging": true,
            "ordering": false,
            "info": false,
            "searching": true,
            "pageLength": 100,
            //"scrollX": true

        });
        // Handle form submission event
        $("#MappingFrm").submit(function (e) {
            debugger;
            // if ($(this).valid()) {
            e.preventDefault();
            // alert($(this).serialize());
            var sData = table.$('select,input').serialize();
            // alert(sData.length);
            if (sData.length > 20) {
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: sData,
                    success: function (res) {
                        debugger;
                        if (res.length > 0) {
                            unsaved = false;
                            $('#saveDiv').hide();
                            $('#saveDivBtn').hide();
                            $("#OpPartialMachineProductLst").html("");
                            $("#OpPartialMachineProductLst").html(res);
                            alert('Data Saved Successfully ');
                        }
                        else { alert(res); }

                    }
                });
            }
            //}
        });

    });

    function fillsubreasondrp(_this) {

        var reasonid = $(_this).val();
        if (reasonid == "0") {
            alert("Please Select a Valid Reason");
            return;
        }
        var subreasonselect= $(_this).closest("td").next().find("select")
        debugger;
        var datasubreasonbasedonID = substoopageReason.filter(a => a.ReasonID == reasonid);

        var options = "";
        $(subreasonselect).empty();
        options = options + '<option value="0">Select Sub Reason</option>';

        for (var j = 0; j < datasubreasonbasedonID.length; j++) {
            options = options + '<option value=' + datasubreasonbasedonID[j].SubReasonID + '>' + datasubreasonbasedonID[j].SubReasonName + '</option>';
        }

        $(subreasonselect).append(options);

    }
</script>

