﻿@model ProEfficient.Core.Models.ViewModel.BreakdownSearchVM

@using (Html.BeginForm("GetBreakdowns", "BreakdownEntryEdit", FormMethod.Post, new { id = "SearchFrm" }))

{
    @Html.AntiForgeryToken()
    <style>
        .loader {
            top: 0px;
            left: 0;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: Black;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        .strip-holder {
            top: 250px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 50%;
            margin-left: -100px;
            position: relative;
        }
    </style>

    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <img src="~/Images/loader.gif" alt="Loader" />
        </div>

    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ProductionDate, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ProductionDate, "{0:yyyy-MM-dd}", new { @id = "ProdDate", @class = "form-control newdatepicker", @readonly = true })
                @Html.ValidationMessageFor(model => model.ProductionDate, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ShiftId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(m => m.ShiftId, Model.lstAllShift, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <input type="submit" class="btn-primary" value="Get Breakdown List" />
        </div>
        <div id="alert_message" class="alert form-group col-xs-12 col-md-3" style="width:150px;background-color:#f8d7da;display:none">
            <div class="row" style="margin-left:20px"><span><strong>Atention!</strong></span></div>
            <div class="row" style="margin-left:5px"><span>Please select shift</span></div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="~/Scripts/dataTables.bootstrap.min.css" />
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>

    <script>

        $(document).ready(function () {

            $("#SearchFrm").submit(function (e) {

                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    beforeSend: function () {
                        // Show image container
                        $('#AjaxLoader').show();
                    },
                    success: function (res) {

                        if (res.length > 40) {
                            $("#OpPartialBreakdownLst").html("");
                            $("#OpPartialBreakdownLst").html(res);
                        } else {
                            $("#OpPartialBreakdownLst").html("");
                        }
                    }, error: function (err) {
                        $('#AjaxLoader').hide();
                    }
                    ,
                    complete: function (data) {
                        // Hide image container
                        $('#AjaxLoader').hide();
                    }
                });
                // }
            });
        });
    </script>
}




