﻿@model ProEfficient.Core.Models.ViewModel.BreakdownEntryEditPageVM
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
    <div id="MainContentDiv">
        @{
            var orgids = Model.OrganizationId;
            var allshiftdatalst = Model.lstAllShift;
            var allReasons = Model.lstAllStopageReason;
            var allSubReasons = Model.lstAllSubStopageReason;
        }
        @Html.HiddenFor(i => i.OrganizationId)
        <div class="row">
            <div class="col-md-12">
                <div id="OpPartialBreakdownSearch">
                    <partial name="_breakdownSelect" model="Model.breakdownSearchVM" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="OpPartialBreakdownLst">
                    <partial name="_breakdownList" model="Model.lstBreakdownEntryEditVM" />
                </div>
            </div>

        </div>
      
    </div>


   

