﻿@model List<ProEfficient.Core.Models.ViewModel.ProductionBreakdownEntryModel>
@if (Model != null && Model.Count > 0)
{
    <table id="productionReajectList" class="back-white">
        <thead>
            <tr>
                <th>Reason Name</th>
                <th>Reject Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><strong>@item.ReasonName</strong></td>
                    <td>
                        <input type="number" data-ProductionRejectReasonId="@item.QualityEntryId"
                       data-ProductionId="@item.ProductionEntryId" data-ReasonId="@item.ReasonId" class="rejectcount form-control" value="@item.ProdCount" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}