﻿@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn{
        height:100px;
    }
    .loader {
        top: 100px;
        left: 0;
        position: fixed;
        opacity: 0.8;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .strip-holder {
        top: 150px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 50%;
        margin-left: -100px;
        position: relative;
    }
</style>
<div class="container-fluid">
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <img src="~/Images/loader.gif" alt="Loader" />
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="button" onclick="productionToExcel()" class="btn btn-block btn-lg btn-primary" style="float:right" value="Export Production Data" />
        </div>
        <div class="col-md-6">
            <input type="button" onclick="breakdownToExcel()" class="btn btn-block btn-lg btn-info" value="Export Breakdown Data" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="height:30px">
           &nbsp;
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="button" onclick="rejectionToExcel()" class="btn btn-block btn-lg btn-warning" style="float:right" value="Export Quality Data" />
        </div>
        <div class="col-md-6">
            <input type="button" onclick="removeAllData()" class="btn btn-block btn-lg btn-danger" value="Remove All Data" />
        </div>
    </div>
</div>
<script>
       
    function productionToExcel( )
    {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/DataD/ExportExcelProduction",
            beforeSend: function () {
                // Show image container
                $('#AjaxLoader').show();
            },
            success: function (response) {
                //get the file name for download
                if (response.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    window.location.href = "@Url.RouteUrl(new
            { Controller = "DataD", Action = "Download"})/?file=" + response.fileName;
                } else {
                    $('#AjaxLoader').hide();
                    alert(response.errorMessage);
                }
            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }
    function breakdownToExcel( )
    {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/DataD/ExportExcelBreakdown",
            beforeSend: function () {
                // Show image container
                $('#AjaxLoader').show();
            },
            success: function (response) {
                //get the file name for download
                if (response.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    window.location.href = "@Url.RouteUrl(new
            { Controller = "DataD", Action = "Download"})/?file=" + response.fileName;
                } else {
                    $('#AjaxLoader').hide();
                    alert(response.errorMessage);
                }
            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }
 function rejectionToExcel( )
    {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/DataD/ExportExcelRejection",
            beforeSend: function () {
                // Show image container
                $('#AjaxLoader').show();
            },
            success: function (response) {
                //get the file name for download
                if (response.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    window.location.href = "@Url.RouteUrl(new
            { Controller = "DataD", Action = "Download"})/?file=" + response.fileName;
                } else {
                    $('#AjaxLoader').hide();
                    alert(response.errorMessage);
                }
            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }
function removeAllData( )
    {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/DataD/DropAllData",
            beforeSend: function () {
                // Show image container
                return confirm(" This Process can't UNDO. Are you sure to delete All Data?");
                $('#AjaxLoader').show();
            },
            success: function (response) {
                //get the file name for download
                alert("All Data Removed from DB Successfully!");
            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }

</script>
