﻿
<div id="productionRejectionReason">
<table class="table table-striped table-bordered" >
    <caption>
        <center> <h4> Total Rejection Quantity is</h4> <h3> <div id="divRejQuantity"></div></h3></center>
    </caption>
    <thead>
        <tr>
            <th>
                Reason Name
            </th>
            <td>
                Quantity
            </td>
        </tr>
    </thead>
    <tbody id="rejectionReasonBody">
        
    </tbody>
</table>
</div>














