﻿@model IEnumerable<ProEfficient.Core.Models.RejectionReason>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Rejection Reason List @Html.ActionLink("New Rejection Reason", "Create", "RejectionReason", null, new { @class = "btn btn-primary" })</h2>

    <table class="table table-striped table-bordered">

        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ReasonName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReasonDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ReasonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td class="edit">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReasonId })

                </td>
            </tr>
            }
        </tbody>

    </table>

