﻿@using ProEfficient.Core.Models.ViewModel
@model ProEfficient.Core.Models.ProductionReport
@{
    ViewBag.Title = "Production Efficiency Report";
    Layout = "~/Views/Shared/_Layoutpdf.cshtml";


    //var Search = (SearchCriteria)Session["SearchCriteria"];
    var Search = Model.SearchCriteria;
}
@try
{
    @Html.AntiForgeryToken();
}
catch
{

}
<div class="form-horizontal">
    <div id="printJS-form">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @try
                {
                    @Html.Partial("~/Views/ProdEfficiency/ProdReportList.cshtml", Model.dtProd);
                }
                catch
                { }
            </div>
            <div class="form-group col-xs-12 report-table">
                @try
                {
                    @Html.Partial("~/Views/BreakDownReport/BreakDownList.cshtml", Model.dtBreakdown)
                }
                catch
                { }
            </div>
        </div>
        <hr />
        <br />
       
            <div id="container" style="width:50%;margin-left:120px;">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <img src="@Url.Action("CreateLineForLoss","ProdEfficiencyRDLC",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <img src="@Url.Action("CreateColumn","ProdEfficiencyRDLC",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <img src="@Url.Action("CreatePieForLoss","ProdEfficiencyRDLC",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <img src="@Url.Action("CreateColumnLossFrequency","ProdEfficiencyRDLC",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <img src="@Url.Action("CreateRadarForLoss","ProdEfficiencyRDLC",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />
                        </div>
                    </div>
                </div>
            </div> 
    </div>
</div> 