﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ProductionReport
@{
    ViewBag.Title = "Production Efficiency Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@try
{
    @Html.AntiForgeryToken();
}
catch
{

}
@using (Html.BeginForm("DisplaySearchResults", "ProdEfficiencyRDLC", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <section class="globalForm">
                <h1> Production <span>Efficiency Report</span></h1>
                <hr />
                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.MachineID, UserUtility.AllMachine, "Select Machine", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.ShiftId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.ShiftId, UserUtility.AllShift, "Select Shift", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-offset-4 col-md-4">
                    <input type="submit" name="command" command="Search" value="Search" class="btn btn-primary" />
                    <input type="submit" name="command" command="ExportExcel" value="Export To Excel" class="btn btn-primary" />
                    <input type="submit" name="command" command="ExportPdf" formtarget="_blank" value="Export To Pdf" class="btn btn-primary" />
                </div>
                <div id="printJS-form" class="printJS-wrapper">
                    <div class="form-group col-xs-12 report-table" style="height:250px;overflow:scroll;">
                        @try
                        {
                            @Html.Partial("~/Views/ProdEfficiencyRDLC/ProdReportList.cshtml", Model.dtProd);
                        }
                        catch
                        { }
                    </div>
                    <div class="form-group col-xs-12 report-table">
                        <div class="table-responsive">
                            @try
                            {
                                @Html.Partial("~/Views/BreakDownReport/BreakDownList.cshtml", Model.dtBreakdown)
                            }
                            catch
                            { }
                        </div>
                    </div>
                    <div id="dvcharts">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Efficiency Profile</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                            <iframe src="about:blank" id="iFrameEfficiencyProfile" name="iFrameEfficiencyProfileName" frameborder="0" width="100%" height="400px;" scrolling="no"></iframe>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Production Profile</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <iframe src="about:blank" id="iFrameProductionProfile" name="iFrameProductionProfileName" frameborder="0" width="100%" height="400px;" scrolling="no"></iframe>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Loss Duration</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <iframe src="about:blank" id="iFrameLossDurationPareto" name="iFrameLossDurationParetoName" frameborder="0" width="100%" height="400px;" scrolling="no"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Loss Duration</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <iframe src="about:blank" id="iFrameLossDuration" name="iFrameLossDurationName" frameborder="0" width="100%" height="400px;" scrolling="no"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Loss Freequency</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <iframe id="iFrameLossFreequency" name="iFrameLossFreequencyName" src="about:blank" frameborder="0" width="100%" height="400px;" scrolling="no"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Loss Data</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <iframe id="iFrameLossData" name="iFrameLossDataName" src="about:blank" frameborder="0" width="100%" height="400px;" scrolling="no"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    @section scripts
{
        <script src="~/Scripts/jquery-easyframe.min.js"></script>
        <script type="text/javascript">
            var StartDate = $("#StartDate").val();
            var EndDate = $("#EndDate").val();
            var MachineID = $("#MachineID").val();
            var ShiftId = $("#ShiftId").val();

            if (MachineID != "") {
                // FOR PRODUCTION PROFILE REPORT
                var columnUrl1 = '/RDLCReports/ProductionProfileResult.aspx?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId;
                //GenerateReport(columnUrl, "iFrameProductionProfile");
                //window.frames['iFrameProductionProfileName'].window.location.replace(columnUrl1);

                $('#iFrameProductionProfile').easyframe({
                    url: columnUrl1
                });


                // FOR EFFICIENCY PROFILE REPORT
                var columnUrl2 = '/RDLCReports/EfficiencyProfileResult.aspx?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId;
                //GenerateReport(columnUrl, "iFrameEfficiencyProfile");
                //window.frames['iFrameEfficiencyProfileName'].window.location.replace(columnUrl2);
                $('#iFrameEfficiencyProfile').easyframe({
                    url: columnUrl2
                });

                // FOR LOSS PROFILE REPORT
                var columnUrl3 = '/RDLCReports/LossDurationResult.aspx?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId;
                //GenerateReport(columnUrl, "iFrameLossDuration");
                //window.frames['iFrameLossDurationName'].window.location.replace(columnUrl3);
                $('#iFrameLossDuration').easyframe({
                    url: columnUrl3
                });

                // FOR LOSS PARETO REPORT
                var columnUrl4 = '/RDLCReports/LossDurationBarResult.aspx?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId;
                //GenerateReport(columnUrl, "iFrameLossDurationPareto");
                //window.frames['iFrameLossDurationParetoName'].window.location.replace(columnUrl4);
                $('#iFrameLossDurationPareto').easyframe({
                    url: columnUrl4
                });

                // FOR LOSS FREEQUENCY REPORT
                var columnUrl5 = '/RDLCReports/LossFreequencyResult.aspx?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId;
                //GenerateReport(columnUrl, "iFrameLossFreequency");
                //window.frames['iFrameLossFreequencyName'].window.location.replace(columnUrl5);
                $('#iFrameLossFreequency').easyframe({
                    url: columnUrl5
                });

                // FOR LOSS DATA REPORT
                var columnUrl6 = '/RDLCReports/LossDataResult.aspx?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId;
                //GenerateReport(columnUrl, "iFrameLossData");
                //window.frames['iFrameLossDataName'].window.location.replace(columnUrl6);
                $('#iFrameLossData').easyframe({
                    url: columnUrl6
                });
            }

            //function GenerateReport(url, destination) {
            //    debugger;
            //    var myFrame = document.getElementById(destination);
            //    if (myFrame !== null) {
            //        if (myFrame.src) {
            //            myFrame.src = url;
            //        }
            //        else if (myFrame.contentWindow !== null && myFrame.contentWindow.location !== null) {
            //            myFrame.contentWindow.location = url;
            //        }
            //        else {
            //            myFrame.setAttribute('src', url);
            //        }
            //    }
            //    return false;
            //}
        </script>
    }
}
