﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ProductionReport
@{
    ViewBag.Title = "Production Efficiency Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@try
{
    @Html.AntiForgeryToken();
}
catch
{

}
@using (Html.BeginForm("DisplaySearchResults", "ProdEfficiencyRDLC", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <section class="globalForm">
                <h1> Production <span>Efficiency Report</span></h1>
                <hr />
                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.MachineID, UserUtility.AllMachine, "Select Machine", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-2">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-2">
                    @Html.LabelFor(model => model.ShiftId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.ShiftId, UserUtility.AllShift, "Select Shift", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-2">
                    <label class="control-label">&nbsp;</label>
                    <input type="submit" name="command" command="Search" value="Search" class="btn btn-primary" />
                </div>
                @*<div class="form-group col-xs-12 col-md-offset-4 col-md-4">
                    <input type="submit" name="command" command="Search" value="Search" class="btn btn-primary" />
                    <input type="submit" name="command" command="ExportExcel" value="Export To Excel" class="btn btn-primary" />
                    <input type="submit" name="command" command="ExportPdf" formtarget="_blank" value="Export To Pdf" class="btn btn-primary" />
                </div>*@
                <div id="printJS-form" class="printJS-wrapper">
                    @*<div class="form-group col-xs-12 report-table" style="height:250px;overflow:scroll;">
                        @try
                        {
                            @Html.Partial("~/Views/ProdEfficiencyRDLC/ProdReportList.cshtml", Model.dtProd);
                        }
                        catch
                        { }
                    </div>
                    <div class="form-group col-xs-12 report-table">
                        <div class="table-responsive">
                            @try
                            {
                                @Html.Partial("~/Views/BreakDownReport/BreakDownList.cshtml", Model.dtBreakdown)
                            }
                            catch
                            { }
                        </div>
                    </div>*@
                    <div id="dvcharts"> 
                        <div class="form-group col-xs-12 report-table">
                            <div class="table-responsive">
                                <iframe src="about:blank" id="iFrameFinalReport" name="iFrameFinalReport" frameborder="0" width="100%" height="700px;" scrolling="yes"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    @section scripts
{
        <script src="~/Scripts/jquery-easyframe.min.js"></script>
        <script type="text/javascript">
            var StartDate = $("#StartDate").val();
            var EndDate = $("#EndDate").val();
            var MachineID = $("#MachineID").val();
            var ShiftId = $("#ShiftId").val();

            if (MachineID != "") {
                // FOR PRODUCTION PROFILE REPORT
                var columnUrl1 = '/RDLCReports/FinalAllReportResult.aspx?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId;
                //GenerateReport(columnUrl, "iFrameProductionProfile");
                //window.frames['iFrameProductionProfileName'].window.location.replace(columnUrl1);

                $('#iFrameFinalReport').easyframe({
                    url: columnUrl1
                }); 
            } 
        </script>
    }
}
