﻿@model List<ProEfficient.Core.Models.ViewModel.vwMachineProductPlanning>
@{
    var FullProductionList = (List<ProEfficient.Core.Models.ProductionPlanning>)ViewBag.ProductionPlanningList;
    var TodaysProductionList = FullProductionList.FindAll(i => i.SheduleDate.ToString("dd/MM/yyyy") ==
     DateTime.Now.ToString("dd/MM/yyyy")).ToList();
    var RestProductionList = FullProductionList.FindAll(i => i.SheduleDate.ToString("dd/MM/yyyy") !=
         DateTime.Now.ToString("dd/MM/yyyy")).ToList();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    try
    {
        <script>
            $(function () {
                $("#tabs").tabs();
                $('.data_Table').DataTable();
            });
        </script>
        <div class="row">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Production Planning Entry</a></li>
                    <li><a href="#tabs-2">Report For @DateTime.Now.ToString("dd/MM/yyyy")</a></li>
                    <li><a href="#tabs-3">Report For Rest Of The Month</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="row">

                        <div class="box-body">
                            <div class="col-md-10">
                                For Today
                                @Html.RadioButton("IsRestOfTheMonth", "Today", true)
                                For Rest Of the Month
                                @Html.RadioButton("IsRestOfTheMonth", "RestOfTheMonth")
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="box box-primary">
                            <div class="box-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Machine Code

                                            </th>

                                            <th>
                                                Machine Name
                                            </th>

                                            <th>
                                                Product
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @{
                                            int index = 1;
                                        }

                                        @foreach (var productmachinemodel in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.Hidden("MachineId_" + index.ToString(),
                                        @productmachinemodel.machine.MachineID)
                                                    @productmachinemodel.machine.MachineCode
                                                </td>
                                                <td>
                                                    @productmachinemodel.machine.MachineName
                                                </td>
                                                <td>
                                                    @{
                                                        var SelectionList = (IEnumerable<SelectListItem>)ViewBag.ProductList;

                                                    }
                                                    @Html.DropDownList("ddlProductList_" + index.ToString(),
                                        new SelectList(SelectionList, "Value", "Text", productmachinemodel.product?.ProductId.ToString()),
                                        new { id = ("ddlProductList_" + index.ToString()), @class = "form-control ddlProductList" })
                                                </td>
                                            </tr>

                                            index++;
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <div class="box-body">
                            <div class="col-md-10">
                                <input type="submit" value="Save" id="btnSaveProdPlannnngData" class="btn-add-product" />
                            </div>

                        </div>

                    </div>
                </div>
                <div id="tabs-2">
                    <div class="row">
                        <div class="box box-primary">
                            <div class="box-body">
                                <table class="table data_Table">
                                    <thead>
                                        <tr>


                                            <th>
                                                Machine Name
                                            </th>

                                            <th>
                                                Product Name
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        @foreach (var prodlist in TodaysProductionList)
                                        {
                                            <tr>
                                                <td>
                                                    @prodlist.MachineName
                                                </td>
                                                <td>
                                                    @prodlist.ProductName
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tabs-3">
                    <div class="row">
                        <div class="box box-primary">
                            <div class="box-body">
                                <table class="table data_Table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Date
                                            </th>

                                            <th>
                                                Machine Name
                                            </th>

                                            <th>
                                                Product Name
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        @foreach (var prodlist in RestProductionList)
                                        {
                                            <tr>
                                                <td>
                                                    @prodlist.SheduleDate.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @prodlist.MachineName
                                                </td>
                                                <td>
                                                    @prodlist.ProductName
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    }
    catch (Exception ex)
    {

    }
}

@section Scripts {
<link href="~/Multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<script src="~/Multiselect/bootstrap-multiselect.js"></script>

<script type="text/javascript">
    setInterval(function ()    {
      document.getElementById("btnSaveProdPlannnngData").click();
    }, 60000);
    $(function () {
        $('.ddlProductList').multiselect({
            buttonWidth: '400px',
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true
        });

        $('span.input-group-btn').remove();
    });
</script>
}
