﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.Shift

@{
    ViewBag.Title = "Edit Shift";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <h2>Edit</h2> -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.ShiftInfoList)

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1>Edit Shift</h1>
                @Html.HiddenFor(i => i.AddBy)
                @Html.HiddenFor(i => i.EdittedBy)
                @Html.HiddenFor(i => i.IsActive)
                @Html.HiddenFor(i => i.ShiftId)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-xs-12 col-md-4">
                    @Html.LabelFor(model => model.ShiftName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ShiftName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShiftName, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-4">
                    @Html.LabelFor(model => model.ShiftDescription, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ShiftDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ShiftDescription, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-4">
                    @Html.LabelFor(model => model.isOverNight, htmlAttributes: new { @class = "control-label" })
                    @Html.CheckBoxFor(model => model.isOverNight, new { @class = "form-check-label" })
                </div>

                <div class="form-group col-xs-12 col-md-4">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.strStartTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.strStartTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-4">
                    @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.strEndTime, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.strEndTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-4">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.OrganizationId, UserUtility.AllOrganizations, "Select Organization", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                </div>

                <table class="table table-bordered" id="tblBreakInfo">
                    <thead>
                        <tr>
                            <th>
                                Break Name
                            </th>
                            <th>
                                Start Time
                            </th>
                            <th>
                                End Time
                            </th>
                            <th style="width:130px;">
                                Action
                            </th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model._BreakInfo)
                        {
                            <tr>
                                <td>@item.BreakName</td>
                                <td>@item.strBreakStartTime</td>
                                <td>@item.strBreakEndTime</td>
                                <td><input type="button" value="Remove" onclick="Remove(this)" class="btn btn-remove-time" /></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                @Html.TextBoxFor(model => model.BreakName, new { @class = "form-control", @id = "txtBreakName" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.BreakStartTime, new { @class = "form-control", @id = "txtStartTime" })
                            <td>
                                @Html.TextBoxFor(model => model.BreakEndTime, new { @class = "form-control", @id = "txtEndTime" })
                            <td class="edit">
                                <input type="button" id="btnAdd" value="Add" class="btn btn-add-time" />
                            </td>
                        </tr>
                    </tfoot>

                </table>

                <div class="form-group col-xs-12 col-md-4">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                </div>

                <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                    <input type="submit" value="Save" id="btnSave" class="btn btn-create-user" />
                </div>

            </section>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/js/bundles/shiftcustompagejs.min.js"></script>


}