﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Utility
@using ProEfficient.Dal.DAL
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model IEnumerable<ProEfficient.Core.Models.Shift>

@{
    ViewBag.Title = "Shifting list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Shift List @Html.ActionLink("Create New Shift", "Create","Shift", null, new { @class = "btn btn-primary" })</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOverNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftDescription)
                </td>
                <td>
                    @(item.isOverNight.ToBoolean() ? "Yes" : "No")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strEndTime)
                </td>
                <td>
                    @(new OrganizationDAL(Configuration).GetOrganization(new Organization() { OrganizationId = item.OrganizationId.ToInteger() }).OrganizationName)
                </td>
                <td>
                    @(item.IsActive.ToBoolean() ? "Active" : "InActive")
                </td>
                <td class="edit">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShiftId })
                    @*@Html.ActionLink("Details", "Details", new { id=item.ShiftId }) |*@
                    @Html.ActionLink(item.IsActive.ToBoolean() ? "Deactivate" : "Activate", "Delete", new { id = item.ShiftId }, new { @class = "DeleteAnc" })
                </td>
            </tr>
        }
    </tbody>
</table>
