﻿@model ProEfficient.Core.Models.StopageReason

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllStoppageReasonType = (SelectList)ViewBag.AllStoppageReasonType;
    var listOfStoppagereasonType = new SelectList(AllStoppageReasonType.ToList(), "Value", "Text", Model.StoppageReasonTypeId);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1> Create <span>Stoppage Reason</span></h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.ReasonCode, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ReasonCode, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.ReasonCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6">
                            @Html.LabelFor(model => model.StoppageReasonTypeId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model=>model.StoppageReasonTypeId,listOfStoppagereasonType ,"Please select" , new {  @class = "form-control chosen-select" })
                            @Html.ValidationMessageFor(model => model.StoppageReasonTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.ReasonName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ReasonName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.ReasonName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.IsSchLoss, htmlAttributes: new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.IsSchLoss, new { @class = "form-check-input", style = "width:20px;height:20px" })
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.InfluxReasonId, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.InfluxReasonId, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.InfluxReasonId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-4">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                    </div>

                    <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                        <input type="submit" value="Create" class="btn btn-create-user" />
                    </div>
                </div>
            </section>
        </div>
    </div>
}



@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>

    @*@Scripts.Render("~/bundles/jqueryval")*@
}


