﻿@using ProEfficient.Core.Utility
@model IEnumerable<ProEfficient.Core.Models.StopageReason>

@{
    ViewBag.Title = "Reason List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .right15{
        margin-right:15px;
    }
</style>

<h2 class="page-title">Stopage Reason List  @Html.ActionLink("Sub Reason", "Index", "StoppageSubReason", null, new { @class = "btn btn-primary" }) @Html.ActionLink("Create New Reason", "Create", "StoppageReason", null, new { @class = "btn btn-primary right15" })</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>       
            <th>
                @Html.DisplayNameFor(model => model.ReasonCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonName)
            </th>    
            <th>
                @Html.DisplayNameFor(model => model.IsSchLoss)
            </th>    
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>       
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>       
            <td>
                @Html.DisplayFor(modelItem => item.ReasonCode)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.ReasonName)
            </td>      
            <td>
                @(item.IsSchLoss.ToBoolean() ? "Yes" : "No")
            </td> 
            <td>
                @(item.IsActive.ToBoolean() ? "Active" : "InActive")
            </td>       
            <td class="edit">
                @Html.ActionLink("Edit", "Edit", new { id = item.ReasonId })
            @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink(item.IsActive.ToBoolean() ? "Deactivate" : "Activate", "Delete", new {  id=item.ReasonId }, new { @class = "DeleteAnc" })
            </td>
        </tr>
    }
    </tbody>
</table>
