﻿@model ProEfficient.Core.Models.HomeDashBoardModels.ChartsModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .divcolor {
        background-color: #212123
    }
    .bar.total rect {
        fill: steelblue;
    }

    .bar.positive rect {
        fill: #00a65a;
    }

    .bar.negative rect {
        fill: #e46b74;
    }

    .bar line.connector {
        stroke: white;
       /* stroke-dasharray: 3;*/
    }

    .bar text {
        fill: white;
        font: 12px sans-serif;
        text-anchor: middle;
    }

    .axis text {
        fill: white;
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: white;
        /*stroke: #fff;*/
        shape-rendering: crispEdges;
    }
    .bubble {
        font-weight: bold;
    }

    .ellipse {
        fill: #488290;
        stroke: #2b2b2b;
        stroke-width: 2;
    }
</style>
<div class="container-fluid divcolor">

   
   
    <div class="row" >
        <div class="col-md-12 chart">
            <svg id="svg1"></svg>
        </div>
        @*<div class="col-md-6">
            <svg id="svg2" class="bubble"></svg>
        </div>*@
    </div>

</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
@*<script src="https://d3js.org/d3.v4.min.js"></script>*@

<script>
    var w = window,
        d = document,
        e = d.documentElement,
        g = d.getElementsByTagName('body')[0],
        x = w.innerWidth || e.clientWidth || g.clientWidth,
        y = w.innerHeight || e.clientHeight || g.clientHeight;
    var margin = { top: 60, right: 30, bottom: 30, left: 50 },
        width = x - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom,
        padding = 0.1;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], padding);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .tickFormat(function (d) { return dollarFormatter(d); });

    var chart = d3.select("#svg1")
        //.append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    $(document).ready(function ()
    {

        var lstWaterFall = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.waterFallList) as String)';
      //  var lstBubbleChart ='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.bubbleChartList) as String)';

        DisplayWaterFallChart(lstWaterFall);
      //  DisplayBubbleChart(lstBubbleChart);

    });
    function DisplayWaterFallChart(response) {
        debugger;
        var da = $.parseJSON(response);
        var data = [];
        $.each(da[0], function (k, v) {
            var myObj = {
                "name": k.replace('_', ' '),
                "value": parseFloat(v)
            };
            data.push(myObj);
        });
        //data.sort(function (a, b) {
        //    return parseFloat(b.value) - parseFloat(a.value);
        //});
       // d3.csv("../CSV/data.csv", type, function (error, data) {

            // Transform data (i.e., finding cumulative values and total) for easier charting
            var cumulative = 0;
            for (var i = 0; i < data.length; i++) {
                data[i].start = cumulative;
                cumulative += data[i].value;
                data[i].end = cumulative;

                data[i].class = (data[i].value >= 0) ? 'positive' : 'negative'
            }
            data.push({
                name: 'Value Added Time',
                end: cumulative,
                start: 0,
                class: 'total'
            });
            debugger;
            x.domain(data.map(function (d) { return d.name; }));
            y.domain([0, d3.max(data, function (d) { return d.end; })]);

            chart.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            chart.append("g")
                .attr("class", "y axis")
                .call(yAxis);

            var bar = chart.selectAll(".bar")
                .data(data)
                .enter().append("g")
                .attr("class", function (d) { return "bar " + d.class })
                .attr("transform", function (d) { return "translate(" + x(d.name) + ",0)"; });

            bar.append("rect")
                .attr("y", function (d) { return y(Math.max(d.start, d.end)); })
                .attr("height", function (d) { return Math.abs(y(d.start) - y(d.end)); })
                .attr("width", x.rangeBand());

            bar.append("text")
                .attr("x", x.rangeBand() / 2)
                .attr("y", function (d) { return y(d.end) + 5; })
                .attr("dy", function (d) { return ((d.class == 'negative') ? '-' : '') + ".75em" })
                .text(function (d) { return dollarFormatter(d.end - d.start); });
        bar.filter((d, i) => {
                // filter out first bar and total bars
                return (d.class !== 'total' && i !== 0);
            })
            .append('ellipse')
            .attr('class', 'bubble')
            .attr('class', 'ellipse')
            .attr('cx', x.rangeBand() / 2)
            .attr('cy', (0 - margin.top) / 2)
            .attr('rx', 30)
            .attr('ry', '1em');

        bar.filter((d, i) => {
                // filter out first bar and total bars
                return (d.class !== 'total' && i !== 0);
            })
            .append('text')
            .attr('x', x.rangeBand() / 2)
            .attr('y', (0 - margin.top) / 2)
            .attr('dy', '.3em')
            .attr('class', 'bubble')
            .text((d) => {
                const percentage = d3.format('.1f')(((100 * (d.end - d.start)) / d.start));
                return percentage+'%';
            });
            //bar.filter(function (d) { return d.class != "total" }).append("line")
            //    .attr("class", "connector")
            //    .attr("x1", x.rangeBand() + 5)
            //    .attr("y1", function (d) { return y(d.end) })
            //    .attr("x2", x.rangeBand() / (1 - padding) - 5)
            //    .attr("y2", function (d) { return y(d.end) })
       // });
    }
    function type(d) {
        d.value = +d.value;
        return d;
    }

    function dollarFormatter(n) {
        n = Math.round(n);
        var result = Math.abs(n);
        var hours = Math.floor(result / 60);
        var minutes = result % 60;

        result = hours+'h';//+ ':' + minutes;
        //if (Math.abs(n) > 60) {
        //    result = Math.round(n / 1000) + 'K';
        //}
        return  result;
    }
   
//    function DisplayBubbleChart(response) {
//        var w = window,
//            d = document,
//            e = d.documentElement,
//            g = d.getElementsByTagName('body')[0],
//            a = w.innerWidth || e.clientWidth || g.clientWidth,
//            b = w.innerHeight || e.clientHeight || g.clientHeight;
        
//        var da = $.parseJSON(response);
//    dataset = { "children": da };
//        var diameter = a/4;
//        var color = d3.scaleOrdinal(d3.schemeCategory20);

//        var bubble = d3.pack(dataset)
//            .size([diameter, diameter])
//            .padding(1.5);

//        var svg = d3.select("#svg2")
//            //.append("svg")
//            .attr("width", diameter)
//            .attr("height", diameter);
//            //.attr("class", "bubble");

//        var nodes = d3.hierarchy(dataset)
//            .sum(function (d) { return d.Count; });

//        var node = svg.selectAll(".node")
//            .data(bubble(nodes).descendants())
//            .enter()
//            .filter(function (d) {
//                return !d.children
//            })
//            .append("g")
//            .attr("class", "node")
//            .attr("transform", function (d) {
//                //debugger;
//                return "translate(" + d.x + "," + d.y + ")";
//            });

//        node.append("title")
//            .text(function (d) {
//                return d.Name + ": " + d.Count;
//            });

//        node.append("circle")
//            .attr("r", function (d) {
//                return d.r;
//            })
//            .style("fill", function (d, i) {
//                return color(i);
//            });

//        node.append("text")
//            .attr("dy", ".2em")
//            .style("text-anchor", "middle")
//            .text(function (d) {
//                return d.data.Name.substring(0, d.r / 3);
//            })
//            .attr("font-family", "sans-serif")
//            .attr("font-size", function (d) {
//                return d.r / 5;
//            })
//            .attr("fill", "white");

//        node.append("text")
//            .attr("dy", "1.3em")
//            .style("text-anchor", "middle")
//            .text(function (d) {
//                return d.data.Count;
//            })
//            .attr("font-family", "Gill Sans", "Gill Sans MT")
//            .attr("font-size", function (d) {
//                return d.r / 5;
//            })
//            .attr("fill", "white");

//        d3.select(self.frameElement)
//            .style("height", x/4 + "px");
//}
</script>

