﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Utility
@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ViewModel.VwProductionBreakDownEntry

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Decimal ShiftStart = 0.00m;
    Decimal ShiftEnd = 100.00m;
    Decimal ShiftStartTime = 0;
    Decimal ShiftEndTime = 0;
    Boolean IsOverNight = false;
    if (ViewBag.CurrentShift != null)
    {

        Shift objShift = new Shift();
        objShift = (Shift)ViewBag.CurrentShift;
        ShiftStartTime = objShift.StartTime.ToDecimal0();
        ShiftEndTime = objShift.EndTime.ToDecimal0();
        if (!objShift.isOverNight)
        {
            ShiftStart = objShift.StartTime.ToDecimal0();
            ShiftEnd = objShift.EndTime.ToDecimal0();

        }
        else
        {
            IsOverNight = objShift.isOverNight;
        }

    }

}
<div id="MainContentDiv">
    @Html.HiddenFor(i => i.ActiveIndex, new { @id = "ActiveIndexValue" })
    @Html.Hidden("overNightValue", (ViewBag.CurrentShift != null) ? (((Shift)ViewBag.CurrentShift).isOverNight ? (24 * 60) : 0) : 0)
    @Html.AntiForgeryToken()
    <div class="row productin-breakdown">

        <div class="col-xs-12">
            <section class="globalForm">
                <h1> Production and Down Time </h1>
                <table style="border:5px double black;" cellspacing="2"><tbody><tr><td><b>Shift Type</b>:<b>[ @(IsOverNight ? "Overnight" : "Non Overnight") ]</b> </td> <td>|<b>Shift Start Time</b>:<b>[ @ShiftStartTime ]</b></td><td> <b>|Shift End Time</b>:<b>[ @ShiftEndTime ]</b></td></tr></tbody></table>

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-xs-12 col-md-4">
                    @Html.LabelFor(model => model.strProductionDate, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.strProductionDate, new { @id = "ProductionDate", @class = "form-control", @readonly = true })
                    @Html.ValidationMessageFor(model => model.strProductionDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-2">
                    @Html.LabelFor(model => model.CurrentShiftId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.CurrentShiftId, UserUtility.AllShift, "Select Shift", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CurrentShiftId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-2">
                    @Html.LabelFor(model => model.CurrentMachineId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.CurrentMachineId, UserUtility.AllMachine, "Select Machine", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CurrentMachineId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-2">
                    @Html.LabelFor(model => model.OperatorID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.OperatorID, UserUtility.AllUser, "Select Operator", new { @class = "form-control MasterOperator" })
                    @Html.ValidationMessageFor(model => model.OperatorID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-2">
                    @Html.LabelFor(model => model.SupervisorID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SupervisorID, UserUtility.AllUser, "Select Supervisor", new { @class = "form-control MasterSupervisor" })
                    @Html.ValidationMessageFor(model => model.SupervisorID, "", new { @class = "text-danger" })
                </div>

            </section>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12">
            <section class="globalForm">
                <h1> Production</h1>
                <hr />
                @Html.EditorFor(model => model.AddedProductionEntry, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.AddedProductionEntry, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.ListOfProduction, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.ListOfProduction, "", new { @class = "text-danger" })
            </section>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12">
            <section class="globalForm">
                <h1>Down Time</h1>
                <hr />
                @Html.EditorFor(model => model.AddedBreakDown, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.AddedBreakDown, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.ListOfBreakDown, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.ListOfBreakDown, "", new { @class = "text-danger" })
            </section>
        </div>

    </div>

    <div class="clearfix"></div>
    <div class="row">
        @using (Html.BeginForm("Submit", "Production", FormMethod.Post))
        {

            <div class="col-xs-12 col-md-offset-5 col-md-2">
                <input type="submit" command="Submit" value="Submit" class="btn btn-production" @(Model.IsSubmitted ? "disabled" : "") />
            </div>

        }
    </div>

    @section Scripts {
        <script src="~/js/bundles/jqueryval.min.js"></script>

        <script src="~/js/bundles/custompagejs.min.js"></script>
        <script src="~/js/bundles/production.min.js"></script>

        @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/custompagejs")
        @Scripts.Render("~/bundles/production")*@
    }

</div>

@Html.Partial("~/Views/Shared/EditorTemplates/PartialViews/RejectionReasons.cshtml")