﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Utility
@using ProEfficient.Dal.DAL
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@model IEnumerable<ProEfficient.Core.Models.MasterMould>

@{
    ViewBag.Title = "Mould List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h2 style="display:inline;">Mould List</h2>
    <table style="display:inline;float:right;">
        <tr>
            <td>@Html.ActionLink("Create New Mould", "Create","Mould", null, new { @class = "btn btn-primary" })</td>           
        </tr>
    </table>
</div>


<br />

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.MouldDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableCavityCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>

                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @if (Model!=null){
                foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.MouldDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableCavityCount)
                        </td>

                        <td>
                            @(item.IsActive.ToBoolean() ? "Active" : "InActive")
                        </td>

                        <td class="edit">
                            @Html.ActionLink("Edit", "Edit", new { id = item.MouldId })
                            @Html.ActionLink((item.IsActive.ToBoolean() ? "Deactivate" : "Activate"), "Delete", new { id = item.MouldId }, new { @class = "DeleteAnc" })
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>