﻿@model IEnumerable<ProEfficient.Core.Models.MasterMachine>

@{
    ViewBag.Title = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.MachineName)
        </th>

        <th> Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MachineName)
            </td>

            <td>
                @if ((item.CategoryId == null) || (item.CategoryId == 0))
                {
                    @Html.ActionLink("Assign", "DoAssign", new { id = item.MachineID })
                }
                else
                {
                    @Html.ActionLink("UnAssign", "UnAssign", new { id = item.MachineID })
                }


            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to List", "Index")
