﻿@model IEnumerable<ProEfficient.Core.Models.MachineCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Machine Category List @Html.ActionLink("Create New Category", "Create","MachineCategory", null, new { @class = "btn btn-primary" })</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td class="edit">
                        @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId}) |
                        @Html.ActionLink("Assign", "Assign", new { id = item.CategoryId }) @*|
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })*@
                    </td>
                </tr>
            }
        </tbody>



    </table>
</div>
