﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.MasterMachine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1> Edit <span>Master Machine</span></h1>
                <hr />
                @Html.HiddenFor(i => i.AddBy)
                @Html.HiddenFor(i => i.EdittedBy)
                @Html.HiddenFor(i => i.IsActive)
                @Html.HiddenFor(i => i.MachineID)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.MachineName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.MachineName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.MachineCode, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.MachineCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MachineCode, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.DemandType, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.DemandType, new SelectList(Enum.GetNames(typeof(ProEfficient.Core.Models.ProductType))), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DemandType, "", new { @class = "text-danger" })
                </div>

                @Html.HiddenFor(i => i.OrganizationId)
                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.OrganizationId, UserUtility.AllOrganizations, "Select Organization", new { @class = "form-control", @required = "required", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>*@



                <div class="form-group col-xs-12 col-md-4">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                </div>

                <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                    <input type="submit" value="Save" class="btn btn-create-user" />
                </div>

            </section>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
