﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Utility
@using ProEfficient.Dal.DAL
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@model IEnumerable<ProEfficient.Core.Models.MasterMachine>

@{
    ViewBag.Title = "Machine List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title"><h2 style="display:inline;">Machine List</h2>
    <table style="display:inline;float:right;"><tr><td>@Html.ActionLink("Create New Machine", "Create","Machine", null, new { @class = "btn btn-primary" })</td>
        <td>&nbsp;</td>
        <td><a class="btn btn-primary" href="/MachineCategory/Index">Category</a></td></tr></table></div>


<br />

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.MachineName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MachineCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DemandType)
                </th>
                @*<th>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </th>*@

                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>

                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.MachineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DemandType)
                </td>
                @*<td>
            @(new OrganizationDAL(Configuration).GetOrganization(new Organization() { OrganizationId = item.OrganizationId.ToInteger() }).OrganizationName)
        </td>*@

                <td>
                    @(item.IsActive.ToBoolean() ? "Active" : "InActive")
                </td>

                <td class="edit">
                    @Html.ActionLink("Edit", "Edit", new { id = item.MachineID })
                    @Html.ActionLink((item.IsActive.ToBoolean() ? "Deactivate" : "Activate"), "Delete", new { id = item.MachineID }, new { @class = "DeleteAnc" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>