﻿@model ProEfficient.Core.Models.ViewModel.SupervisorCalendarViewModel
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<script>

        const apiURL = @Json.Serialize(@Configuration.GetSection("ApiUrls").Value)
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.css">
<div id="MainContentDiv">
    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            @Html.LabelFor(model => model.machineId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(m => m.machineId, Model.AllMachine, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.machineId, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-xs-12 col-md-6">
            @Html.LabelFor(model => model.shiftId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(m => m.shiftId, Model.AllShift, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.shiftId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="sticky-top mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Supervisors</h4>
                    </div>
                    <div class="card-body">
                        <!-- the events -->
                        <div id="external-events">
                            <div class="external-event bg-success" id="1" data-event='{ "title": "my event", "duration": "02:00" }'>Ram Prasaad</div>
                            <div class="external-event bg-warning" id="2">Shyam Prasaad</div>
                            <div class="external-event bg-info" id="3">Ram Lal</div>
                            <div class="external-event bg-primary" id="4">Mohan Lal</div>
                            <div class="external-event bg-danger" id="5">Bihari Lal</div>

                        </div>
                        <button id='display' type='button'>Save To Server</button>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary">
                <div class="card-body p-0">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">

        <div class="box">
            <div class="box-body">
                <div id='calendar'></div>

            </div>
        </div>

    </div>

</div>
@section Scripts {

    
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.js"></script>


    <script type="text/javascript">
            $(function () {
                // define a container for both a UID counter and eventsData
                var eventsData = [], uid = 0;

                /* initialize the external events
                 -----------------------------------------------------------------*/
                function ini_events(ele) {
                    ele.each(function () {

                        // create an Event Object (https://fullcalendar.io/docs/event-object)
                        // it doesn't need to have a start or end
                        var eventObject = {
                            title: $.trim($(this).text()), // use the element's text as the event title
                            sid: $.trim($(this).attr("id")),
                            machineId: 0,
                            shiftId:0
                        }

                        // store the Event Object in the DOM element so we can get to it later
                        $(this).data('eventObject', eventObject)

                        // make the event draggable using jQuery UI
                        $(this).draggable({
                            zIndex: 1070,
                            revert: true, // will cause the event to go back to its
                            revertDuration: 0  //  original position after the drag
                        })

                    })
                }

                ini_events($('#external-events div.external-event'))

                // Find Is Event is overlapping
                //function checkOverlap(event) {

                //    var start = new Date(event.start);
                //    var end = new Date(event.end);

                //    var overlap = $('#calendar').fullCalendar('clientEvents', function (ev) {
                //        if (ev == event)
                //            return false;
                //        var estart = new Date(ev.start);
                //        var eend = new Date(ev.end);

                //        return (Math.round(estart) / 1000 < Math.round(end) / 1000 && Math.round(eend) > Math.round(start));
                //    });

                //    if (overlap.length) {
                //        //either move this event to available timeslot or remove it
                //    }
                //}

                // use a common function to validate the event items UID on `eventDrop`
                // and `eventResize`.
                function validateUID(event) {
                    debugger;
                    var shiftid = $("#shiftId").val();
                    var machineid = $("#machineId").val();
                    if (event.id.indexOf('new') !== -1) {
                        if (eventsData.length == 0) {
                            eventsData.push({
                                name: event.title,
                                startDate: new Date(event.start).getTime(),
                                endDate: new Date(event.end).getTime(),
                                id: event.id,
                                shiftId: shiftid,
                                machineId: machineid,
                                sid: event.extendedProps.sid
                            });
                        } else {
                            var isFound = false;
                            eventsData.forEach(function (elm, idx) {
                                if (elm.id == event.id) {
                                    isFound = true;
                                    eventsData[idx] = {
                                        name: event.title,
                                        startDate: new Date(event.start).getTime(),
                                        endDate: new Date(event.end).getTime(),
                                        id: event.id,
                                        shiftId: shiftid,
                                        machineId: machineid,
                                        sid: event.extendedProps.sid
                                    };
                                } 
                            });
                            if (!isFound) {
                                eventsData.push({
                                    name: event.title,
                                    startDate: new Date(event.start).getTime(),
                                    endDate: new Date(event.end).getTime(),
                                    id: event.id,
                                    shiftId: shiftid,
                                    machineId: machineid,
                                    sid: event.extendedProps.sid
                                });
                            }
                        }
                       
                    } else {
                        eventsData.forEach(function (elm, idx) {
                            if (elm.id == event.id) {
                                eventsData[idx] = {
                                    name: event.title,
                                    startDate: new Date(event.start).getTime(),
                                    endDate: new Date(event.end).getTime(),
                                    //endDate: event.end.toISOString().substring(0, 10),
                                    id: event.id,
                                    shiftId: shiftid,
                                    machineId: machineid,
                                    sid: event.extendedProps.sid
                                };
                            }
                        });
                    }
                    
                    console.log(eventsData);
                }
                /* initialize the calendar
                 -----------------------------------------------------------------*/
                //Date for the calendar events (dummy data)
                var date = new Date()
                var d = date.getDate(),
                    m = date.getMonth(),
                    y = date.getFullYear()

                var Calendar = FullCalendar.Calendar;
                var Draggable = FullCalendar.Draggable;

                var containerEl = document.getElementById('external-events');
                var checkbox = document.getElementById('drop-remove');
                var calendarEl = document.getElementById('calendar');

                // initialize the external events
                // -----------------------------------------------------------------
                var shiftid = $("#shiftId").val();
                var machineid = $("#machineId").val();
                new Draggable(containerEl, {
                    itemSelector: '.external-event',
                    eventData: function (eventEl) {
                        return {
                            title: eventEl.innerText,
                            backgroundColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                            borderColor: window.getComputedStyle(eventEl, null).getPropertyValue('background-color'),
                            textColor: window.getComputedStyle(eventEl, null).getPropertyValue('color'),
                            sid: eventEl.id,
                            machineId: machineid,
                            shiftId: shiftid,
                            id: 'new_' + uid++
                        };
                    }
                });

                var calendar = new Calendar(calendarEl, {
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    //themeSystem: 'bootstrap',
                    //Random default events

                    editable: true,
                    droppable: true, // this allows things to be dropped onto the calendar !!!
                    // as the external drop does not modify existing event items, there
                    // is no need to validate its UID.
                    eventReceive: function (info) {
                       
                        alert(info.event.title + " was received  on " + info.event.start.toISOString());
                       // console.log(info);
                        validateUID(info.event);
                    },
                    eventDrop: function (info) {
                        alert(info.event.title + " was dropped on " + info.event.start.toISOString());
                       // console.log(info);
                        validateUID;
                    },
                    eventResize: function (info) {
                       
                        alert(info.event.title + " end is now " + info.event.end.toISOString() + "id:" + info.event.id);
                        validateUID(info.event);
                    }
                    //drop: function (date, allDay /*, jsEvent, ui [, this]*/) {
                    //    var fixed = new Date(date).getTime(),
                    //        item = $.trim($(this).html());

                    //    // instead of explicitely defining an eventObject, we pass a generic
                    //    // object with the needed attributes to the renderEvent.
                    //    $('#calendar').fullCalendar('renderEvent', {
                    //        title: item,
                    //        start: date,
                    //        allDay: allDay,
                    //        id: uid++
                    //    }, true);

                    //    // push a new eventObject (formatted to your needs) to the eventsData
                    //    // array.
                    //    eventsData.push({
                    //        name: item,
                    //        startDate: fixed,
                    //        endDate: fixed,
                    //        id: uid
                    //    });
                    //},
                    //eventDrop: validateUID,
                    //eventResize: validateUID

                    //drop: function (info) {
                    //    // code to create event

                    //}
                });

                calendar.render();
                // $('#calendar').fullCalendar()



            });
        // handle the button click to send the data to the web console.
        $('#display').click(function () {
            try {
                $.ajax({
                    url: apiURL + "/api/ProductionApi/saveProductionEntry",
                    type: "Post",
                    data: JSON.stringify(jsonProductionData),
                    contentType: "application/json; charset=utf-8",
                    processData: true,
                    DataType: "json",
                    success: function (result) {


                        if (result)
                            alert("Data Saved Sucees Fully");




                        $("#dvInput_Loading").hide();
                        Productiondata = [];
                        BreakDownData = [];
                        savedataflag = "Saved";
                        var cleartable = $('#tblProductionData').DataTable();
                        cleartable.clear().draw();

                        var Cleartablebrakdwon = $('#breaktbl').DataTable();
                        Cleartablebrakdwon.clear().draw();

                        $('#myModal').modal('hide');
                        //Get That shift production Data
                        // GetShiftProductionData();
                        // RefreshBreakDownList();


                    },
                    error: function (err) {
                        $('#dvInput_Loading').hide();
                        $("#uploadpop").hide();
                        $('#myModal').modal('hide');
                        savedataflag = "Errorin save Data";
                        //  alert(err.statusText)
                    }
                });

            }
            catch (err) {
                alert(err.message);
                $('#myModal').modal('hide');
            }

        });
			@*$(document).ready(function () {
				$('#calendar').fullCalendar({
        			header: {
            			left: 'prev,next today',
            			center: 'title',
            			right: 'month,agendaWeek,agendaDay'
					},
            		firstDay: 1, //The day that each week begins (Monday=1)
            		slotMinutes: 60,
            		events: '@Url.RouteUrl(new{ action="GetEvents", controller="Home"})'
        		});
    		});*@
    </script>
}