﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Auth.DTO.UserForRegistrationDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OrganizationId)
    <div class="row">

        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1> Create User</h1>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                    </div>*@

                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.OrganizationId, new { htmlAttributes = new { @class = "form-control"
                            } })
                            @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                    </div>*@

                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.UserTypeId, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.UserTypeId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
                    </div>*@


                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.OrganizationId, UserUtility.AllOrganizations, "Select Organization", new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.UserTypeId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.UserTypeId, UserUtility.AllUserTypes, "Select User Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserTypeId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>*@

                @*<div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.AddBy, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AddBy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AddBy, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.EdittedBy, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.EdittedBy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EdittedBy, "", new { @class = "text-danger" })
                    </div>*@

                <div class="form-group col-xs-12 col-md-4">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                </div>

                <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                    <input type="submit" value="Save" class="btn btn-create-user" />
                </div>

            </section>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}