﻿@using ProEfficient.Core.Utility
@model IEnumerable<ProEfficient.Core.Auth.DTO.UserForListDTO>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2 class="page-title">User List  @Html.ActionLink("Create New User", "Create","User", null, new { @class="btn btn-primary" })</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrganizationId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserTypeId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.AddBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EdittedBy)
                    </th>*@
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserTypeId)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>*@
                <td>
                    @(item.IsActive.ToBoolean() ? "Active" : "InActive")
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AddBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EdittedBy)
                    </td>*@
                <td class="edit">
                    @if (item.IsActive.ToBoolean())
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @Html.ActionLink((item.IsActive.ToBoolean() ? "Deactivate" : "Activate"), "Delete", new { id = item.Id }, new { @class = "DeleteAnc" })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
