﻿@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using ProEfficient.Core.Models.ViewModel
@model ProEfficient.Core.Models.ProductionReport

@{
    ViewBag.Title = "Production Efficiency Report";
    Layout = "~/Views/Shared/_Layoutpdf.cshtml";



    //var Search = (SearchCriteria)Session["SearchCriteria"];

    var Search = Model.SearchCriteria;
}

@try
{
    @Html.AntiForgeryToken();
}
catch
{

}
@using (Html.BeginForm("DisplaySearchResults", "ProdEfficiency", FormMethod.Post))
{
    <div class="form-horizontal">

        <div id="printJS-form">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @try
                    {
                        @Html.Partial("~/Views/ProdEfficiency/ProdReportList.cshtml", Model.dtProd);
                    }
                    catch
                    { }
                </div>

                <div class="form-group col-xs-12 report-table">
                    @try
                    {
                        @Html.Partial("~/Views/BreakDownReport/BreakDownList.cshtml", Model.dtBreakdown)
                    }
                    catch
                    { }
                </div>
            </div>
            <hr />
            <hr />
            <br />

            <fieldset>
                <legend>@*LOSS DATA*@</legend>
                <hr />
                <img height="1300" width="1400" src="@Url.Action("CreateLineForLoss","ProdEfficiency",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />
            </fieldset>
            <br />
            <hr />
            <hr />
            <fieldset>
                <legend>@*LOSS DURATION*@</legend>
                <hr />
                <img height="1300" width="1400" src="@Url.Action("CreateColumn","ProdEfficiency",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />

            </fieldset>
            <hr />
            <hr />
            <fieldset>
                <legend>@*LOSS DURATION*@</legend>
                <hr />
                <img height="1300" width="1400" src="@Url.Action("CreatePieForLoss","ProdEfficiency",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />

            </fieldset>
            <hr />
            <hr />
            <fieldset>
                <legend>@*LOSS FREQUENCY*@</legend>
                <hr />
                <img height="1300" width="1400" src="@Url.Action("CreateColumnLossFrequency","ProdEfficiency",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />

            </fieldset>
            <hr />
            <hr />
            <fieldset>
                <legend>@*LOSS DATA*@</legend>
                <hr />
                <img height="1300" width="1400" src="@Url.Action("CreateRadarForLoss","ProdEfficiency",new { MachineID=Search.MachineID,StartDate=Search.StartDate,EndDate=Search.EndDate,ShiftID=Search.ShiftID})" alt="column Chart" />
            </fieldset>
            @*<div>
            <table>
                <tr>
                    <td>
                        <img src="@Url.Action("CreateBar","ProdEfficiency")" alt="Bar Chart using MVC" />
                    </td>
                    <td>
                        <img src="@Url.Action("CreatePie","ProdEfficiency")" alt="Pie Chart using MVC" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="@Url.Action("CreateLine","ProdEfficiency")" alt="Line Chart using MVC" />
                    </td>
                </tr>
            </table>


        </div>*@
            @*<div class="form-group" id="dvcharts">

            <div class="col-md-offset-2 col-md-12">

                <!-- /.col (LEFT) -->
                <div class="col-md-10">
                    <!-- LINE CHART -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Line Chart</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="lineChart" style="height:200px"></canvas>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <!-- BAR CHART -->
                    <!-- /.box -->
                </div>
            </div>
            <div class="col-md-offset-2 col-md-12">
                <div class="col-md-8">
                    <!-- BAR CHART -->
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bar Chart</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart" style="height:230px"></canvas>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>*@

        </div>
    </div>
    <script src="http://tms.infixia.in/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="http://tms.infixia.in/bower_components/Chart.js/Chart.js" type="text/javascript"></script>
    <script>
        $(function () {
            var areaChartData = {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        label: 'Electronics',
                        fillColor: 'rgba(210, 214, 222, 1)',
                        strokeColor: 'rgba(210, 214, 222, 1)',
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: 'Digital Goods',
                        fillColor: 'rgba(60,141,188,0.9)',
                        strokeColor: 'rgba(60,141,188,0.8)',
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            }
            var barchartData = {};
            var areaChartOptions = {
                //Boolean - If we should show the scale at all
                showScale: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: false,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - Whether the line is curved between points
                bezierCurve: true,
                //Number - Tension of the bezier curve between points
                bezierCurveTension: 0.3,
                //Boolean - Whether to show a dot for each point
                pointDot: false,
                //Number - Radius of each point dot in pixels
                pointDotRadius: 4,
                //Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,
                //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 20,
                //Boolean - Whether to show a stroke for datasets
                datasetStroke: true,
                //Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,
                //Boolean - Whether to fill the dataset with a color
                datasetFill: true,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].lineColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true
            }
            var barChartOptions = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to make the chart responsive
                responsive: true,
                maintainAspectRatio: true
            }
            $(document).ready(function (e) {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                var MachineID = $("#MachineID").val();
                var ShiftId = $("#ShiftId").val();
                if (MachineID != "") {

                    $.ajax({
                        type: "GET",
                        async: "false",
                        url: '/ProdEfficiency/getData?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId,
                        datatype: 'json',
                        success: function (result) {
                            // alert(result);
                            //console.log(result);
                            areaChartData = JSON.parse(result);
                            //console.log(areaChartData);
                            $("#dvcharts").show();
                            //--------------
                            //- AREA CHART -
                            //--------------

                            // Get context with jQuery - using jQuery's .get() method.
                            ////var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
                            // This will get the first returned node in the jQuery collection.
                            ////var areaChart = new Chart(areaChartCanvas)
                            //Create the line chart
                            ////areaChart.Line(areaChartData, areaChartOptions)

                            //-------------
                            //- LINE CHART -
                            //--------------
                            var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
                            var lineChart = new Chart(lineChartCanvas)
                            var lineChartOptions = areaChartOptions
                            lineChartOptions.datasetFill = false
                            lineChart.Line(areaChartData, lineChartOptions)


                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred..");
                        }
                    });
                    $.ajax({
                        type: "GET",
                        async: "false",
                        url: '/ProdEfficiency/getProductionRejectionData?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId,
                        datatype: 'json',
                        success: function (result) {
                            // alert(result);
                            //console.log(result);
                            barchartData = JSON.parse(result);
                            //console.log(areaChartData);
                            $("#dvcharts").show();

                            //-------------
                            //- BAR CHART -
                            //-------------
                            var barChartCanvas = $('#barChart').get(0).getContext('2d')
                            var barChart = new Chart(barChartCanvas)
                            var barChartData = barchartData
                            barChartData.datasets[1].fillColor = '#bc0d1e'
                            barChartData.datasets[1].strokeColor = '#bc0d1e'
                            barChartData.datasets[1].pointColor = '##bc0d1e'


                            barChartOptions.datasetFill = false
                            barChart.Bar(barChartData, barChartOptions)
                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred..");
                        }
                    });
                }
                else { $("#dvcharts").hide(); }

            });



        })
    </script>
}
