﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ProductionReport

@{
    ViewBag.Title = "Production Efficiency Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@try
{
    @Html.AntiForgeryToken();
}
catch
{

}
@using (Html.BeginForm("DisplaySearchResults", "ProdEfficiency", FormMethod.Post))
{


    <div class="row">
        <div class="col-xs-12">
            <section class="globalForm">
                <h1> Production <span>Efficiency Report</span></h1>
                <hr />

                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.MachineID, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.MachineID, UserUtility.AllMachine, "Select Machine", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MachineID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-3">
                    @Html.LabelFor(model => model.ShiftId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.ShiftId, UserUtility.AllShift, "Select Shift", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-offset-4 col-md-4">
                    <input type="submit" name="command" command="Search" value="Search" class="btn btn-primary" />
                    <input type="submit" name="command" command="ExportExcel" value="Export To Excel" class="btn btn-primary" />
                    <input type="submit" name="command" command="ExportPdf" value="Export To Pdf" class="btn btn-primary" />
                    @*<button type="button" onclick="printJS('printJS-form', 'html')">
                            Export To Pdf
                        </button>*@
                </div>

                <div id="printJS-form" class="printJS-wrapper">
                    <div class="form-group col-xs-12 report-table">
                        @try
                        {
                            @Html.Partial("~/Views/ProdEfficiency/ProdReportList.cshtml", Model.dtProd);
                        }
                        catch
                        { }
                    </div>

                    <div class="form-group col-xs-12 report-table">
                        <div class="table-responsive">
                            @try
                            {
                                @Html.Partial("~/Views/BreakDownReport/BreakDownList.cshtml", Model.dtBreakdown)
                            }
                            catch
                            { }
                        </div>
                    </div>
                    <div id="dvcharts" style="display:none;">
                        <div class="form-group"  >
                            <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Efficiency Profile</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <canvas id="lineChart" style="height:200px"></canvas>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Production Profile</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"> <i class="fa fa-minus"></i></button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <canvas id="barChart" style="height:230px"></canvas>
                                        <div id="legend"></div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>

                        <div class="form-group col-xs-12">

                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Loss Duration</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <canvas id="barChart1" style="height:230px"></canvas>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>

                            <!-- DONUT CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Loss Duration</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <canvas id="pieChart" style="height:250px"></canvas>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Loss Frequency</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <canvas id="barChartFr" style="height:230px"></canvas>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>


                            <!-- BAR CHART -->
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Loss Data</h3>

                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="chart">
                                        <canvas id="RaderChart" style="height:265px"></canvas>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>


                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>



    <script src="http://tms.infixia.in/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js" type="text/javascript"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js" type="text/javascript"></script>
    //<script src="http://tms.infixia.in/bower_components/Chart.js/Chart.js" type="text/javascript"></script>
    <script>
        $(function () {
            var areaChartData = {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        label: 'Electronics',
                        fillColor: 'rgba(210, 214, 222, 1)',
                        strokeColor: 'rgba(210, 214, 222, 1)',
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: 'Digital Goods',
                        fillColor: 'rgba(60,141,188,0.9)',
                        strokeColor: 'rgba(60,141,188,0.8)',
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            }
            var barchartData = {};
            var areaChartOptions = {
                //Boolean - If we should show the scale at all
                showScale: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: false,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - Whether the line is curved between points
                bezierCurve: true,
                //Number - Tension of the bezier curve between points
                bezierCurveTension: 0.3,
                //Boolean - Whether to show a dot for each point
                pointDot: false,
                //Number - Radius of each point dot in pixels
                pointDotRadius: 4,
                //Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,
                //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 20,
                //Boolean - Whether to show a stroke for datasets
                datasetStroke: true,
                //Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,
                //Boolean - Whether to fill the dataset with a color
                datasetFill: true,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].lineColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true
            }
            var barChartOptions = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to make the chart responsive
                responsive: true,
                maintainAspectRatio: true
            }
            $(document).ready(function (e) {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                var MachineID = $("#MachineID").val();
                var ShiftId = $("#ShiftId").val();
                if (MachineID != "") {

                    $.ajax({
                        type: "GET",
                        async: "false",
                        url: '/ProdEfficiency/getData?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId,
                        datatype: 'json',
                        success: function (result) {
                            // alert(result);
                            console.log(result);
                            areaChartData = JSON.parse(result);
                            //console.log(areaChartData);
                            $("#dvcharts").show();
                            //--------------
                            //- AREA CHART -
                            //--------------

                            // Get context with jQuery - using jQuery's .get() method.
                            ////var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
                            // This will get the first returned node in the jQuery collection.
                            ////var areaChart = new Chart(areaChartCanvas)
                            //Create the line chart
                            ////areaChart.Line(areaChartData, areaChartOptions)

                            //-------------
                            //- LINE CHART -
                            //--------------
                            /*var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
                            var lineChart = new Chart(lineChartCanvas)
                            var lineChartOptions = areaChartOptions
                            lineChartOptions.datasetFill = false
                            lineChart.Line(areaChartData, lineChartOptions)*/

                            var ctx = document.getElementById('lineChart').getContext('2d');
			                 window.myLine = new Chart(ctx, areaChartData);


                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred..");
                        }
                    });
                    $.ajax({
                        type: "GET",
                        async: "false",
                        url: '/ProdEfficiency/getProductionRejectionData?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId,
                        datatype: 'json',
                        success: function (result) {
                            // alert(result);
                            //console.log(result);
                            barchartData = JSON.parse(result);
                            //console.log(areaChartData);
                            $("#dvcharts").show();

                            //-------------
                            //- BAR CHART -
                            //-------------
                           /* var barChartCanvas = $('#barChart').get(0).getContext('2d')
                            var barChart = new Chart(barChartCanvas)
                            var barChartData = barchartData
                            barChartData.datasets[1].fillColor = '#bc0d1e'
                            barChartData.datasets[1].strokeColor = '#bc0d1e'
                            barChartData.datasets[1].pointColor = '##bc0d1e'


                            barChartOptions.datasetFill = false
                            barChart.Bar(barChartData, barChartOptions)
                            var legend = barChart.generateLegend();
                            $('#legend').append(legend);*/
                            var ctx = document.getElementById('barChart').getContext('2d');
			                window.myBar = new Chart(ctx, {
				                type: 'bar',
				                data: barchartData,
				                options: {
					                title: {
						                display: true,
						                text: ''
					                },
					                tooltips: {
						                mode: 'index',
						                intersect: false
					                },
					                responsive: true,
					                scales: {
						                xAxes: [{
							                stacked: true,
						                }],
						                yAxes: [{
							                stacked: true
						                }]
					                }
				                }
			                });
                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred..");
                        }
                    });
                }
                else { $("#dvcharts").hide(); }

            });



        })
    </script>

    <script>
        $(function () {
            var areaChartData = {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        label: 'Electronics',
                        fillColor: 'rgba(210, 214, 222, 1)',
                        strokeColor: 'rgba(210, 214, 222, 1)',
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        label: 'Digital Goods',
                        fillColor: 'rgba(60,141,188,0.9)',
                        strokeColor: 'rgba(60,141,188,0.8)',
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    }
                ]
            }
            var barchartData = {};
            var areaChartOptions = {
                //Boolean - If we should show the scale at all
                showScale: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: false,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - Whether the line is curved between points
                bezierCurve: true,
                //Number - Tension of the bezier curve between points
                bezierCurveTension: 0.3,
                //Boolean - Whether to show a dot for each point
                pointDot: false,
                //Number - Radius of each point dot in pixels
                pointDotRadius: 4,
                //Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,
                //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 20,
                //Boolean - Whether to show a stroke for datasets
                datasetStroke: true,
                //Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,
                //Boolean - Whether to fill the dataset with a color
                datasetFill: true,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].lineColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true
            }
            var barChartOptions = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                //legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to make the chart responsive
                legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>",
                responsive: true,
                maintainAspectRatio: true
            }
            var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
            var pieChart = new Chart(pieChartCanvas)
            var PieData = [
                {
                    value: 700,
                    color: '#f56954',
                    highlight: '#f56954',
                    label: 'Chrome'
                },
                {
                    value: 500,
                    color: '#00a65a',
                    highlight: '#00a65a',
                    label: 'IE'
                },
                {
                    value: 400,
                    color: '#f39c12',
                    highlight: '#f39c12',
                    label: 'FireFox'
                },
                {
                    value: 600,
                    color: '#00c0ef',
                    highlight: '#00c0ef',
                    label: 'Safari'
                },
                {
                    value: 300,
                    color: '#3c8dbc',
                    highlight: '#3c8dbc',
                    label: 'Opera'
                },
                {
                    value: 100,
                    color: '#d2d6de',
                    highlight: '#d2d6de',
                    label: 'Navigator'
                }
            ]
            var pieOptions = {
                //Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                //String - The colour of each segment stroke
                segmentStrokeColor: '#fff',
                //Number - The width of each segment stroke
                segmentStrokeWidth: 2,
                //Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                //Number - Amount of animation steps
                animationSteps: 100,
                //String - Animation easing effect
                animationEasing: 'easeOutBounce',
                //Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                //Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                //Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var chartOptions = { "elements": { "line": { "tension": 0, "borderWidth": 3 } } };
            $(document).ready(function (e) {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                var MachineID = $("#MachineID").val();
                var ShiftId = $("#ShiftId").val();
                if (MachineID != "") {


                    $.ajax({
                        type: "GET",
                        async: "false",
                        url: '/BreakDownReport/getLossData?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId,
                        datatype: 'json',
                        success: function (result) {
                            // alert(result);
                            //console.log(result);
                            barchartData = JSON.parse(result);
                            //console.log(areaChartData);
                            $("#dvcharts").show();

                            //-------------
                            //- BAR CHART -
                            //-------------
                            /* var barChartCanvas = $('#barChart1').get(0).getContext('2d')
                            var barChart = new Chart(barChartCanvas)
                            var barChartData = barchartData
                           barChartData.datasets[1].fillColor = '#bc0d1e'
                            barChartData.datasets[1].strokeColor = '#bc0d1e'
                            barChartData.datasets[1].pointColor = '##bc0d1e'


                            barChartOptions.datasetFill = false
                            barChart.Bar(barChartData, barChartOptions)*/
                            var ctx = document.getElementById('barChart1').getContext('2d');
			                window.myBar = new Chart(ctx, {
				                type: 'bar',
				                data: barchartData,
				                options: {
					                title: {
						                display: true,
						                text: 'Loss Duration'
					                },
					                tooltips: {
						                mode: 'index',
						                intersect: false
					                },
					                responsive: true,
					                scales: {
						                xAxes: [{
							                stacked: true,
						                }],
						                yAxes: [{
							                stacked: true
						                }]
					                }
				                }
			                });
                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred..");
                        }
                    });
                    $.ajax({
                        type: "GET",
                        async: "false",
                        url: '/BreakDownReport/getLossDataDonutChart?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId,
                        datatype: 'json',
                        success: function (result) {
                            // alert(result);
                            //console.log(result);
                            PieData = JSON.parse(result);
                            //console.log(areaChartData);
                            $("#dvcharts").show();
                           // pieChart.Doughnut(PieData, pieOptions)
                            var ctx = document.getElementById('pieChart').getContext('2d');
                            window.myPie = new Chart(ctx, PieData);

                           
                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred..");
                        }
                    });
                    $.ajax({
                        type: "GET",
                        async: "false",
                        url: '/BreakDownReport/getLossFrequencyData?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId,
                        datatype: 'json',
                        success: function (result) {
                            var barChartData1 = JSON.parse(result);
                            //console.log(areaChartData);
                            $("#dvcharts").show();
                            /*var barChartCanvas = $('#barChartFr').get(0).getContext('2d')
                            var barChart = new Chart(barChartCanvas)

                            barChartOptions.datasetFill = false
                            barChart.Bar(barChartData1, barChartOptions)*/
                            var ctx = document.getElementById('barChartFr').getContext('2d');
			                window.myBar = new Chart(ctx, {
				                type: 'bar',
				                data: barChartData1,
				                options: {
					                title: {
						                display: true,
						                text: ''
					                },
					                tooltips: {
						                mode: 'index',
						                intersect: false
					                },
					                responsive: true,
					                scales: {
						                xAxes: [{
							                stacked: true,
						                }],
						                yAxes: [{
							                stacked: true
						                }]
					                }
				                }
			                });
                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred..");
                        }
                    });
                    function adjustRadiusBasedOnData(ctx) {
			                var v = ctx.dataset.data[ctx.dataIndex];
			                return v < 10 ? 5
				                : v < 25 ? 7
				                : v < 50 ? 9
				                : v < 75 ? 11
				                : 15;
                    }
                    function alternatePointStyles(ctx) {
			                var index = ctx.dataIndex;
			                return index % 2 === 0 ? 'circle' : 'rect';
		                }
                    var RadarOptions = {
			        legend: false,
			        tooltips: true,
			        elements: {
				        point: {
					        hoverBackgroundColor: "#f5d8b5",
					        radius: adjustRadiusBasedOnData,
					        pointStyle: alternatePointStyles,
					        hoverRadius: 15,
				        }
			        }
		         };

		
                    $.ajax({
                        type: "GET",
                        async: "false",
                        url: '/BreakDownReport/getLossDataRaderChart?MachineID=' + MachineID + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&ShiftID=' + ShiftId,
                        datatype: 'json',
                        success: function (result) {
                            var RaderChartData1 = JSON.parse(result);
                            console.log(RaderChartData1);
                            $("#dvcharts").show();
                            /*var RadersCanvas = $('#RaderChart').get(0).getContext('2d');
                            var raderChart = new Chart(RadersCanvas)
                            raderChart.Radar(RaderChartData1, chartOptions);*/

                            var chart = new Chart('RaderChart', {
			                            type: 'radar',
			                            data: RaderChartData1,
			                            options: RadarOptions
		                            });
                        },
                        error: function (xhr) {
                            //debugger;
                            console.log(xhr.responseText);
                            alert("Error has occurred..");
                        }
                    });
                }
                else { $("#dvcharts").hide(); }

            });

        })
    </script>
}
