﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.MasterDie

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1> Edit <span>Master Die</span></h1>
                <hr />
                @Html.HiddenFor(i => i.AddBy)
                @Html.HiddenFor(i => i.EditBy)
                @Html.HiddenFor(i => i.IsActive)
                @Html.HiddenFor(i => i.DieId)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.AvailableCavityCount, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.AvailableCavityCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AvailableCavityCount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.DieDescription, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DieDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DieDescription, "", new { @class = "text-danger" })
                </div> 
                @Html.HiddenFor(i => i.OrganizationId)
                <div class="form-group col-xs-12 col-md-4">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                </div>

                <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                    <input type="submit" value="Save" class="btn btn-create-user" />
                </div>

            </section>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>   
}
