﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Models.HomeDashBoardModels
@model ProEfficient.Core.Models.HomeDashBoardModels.FinalResultSetModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*
    <script src="~/DashboradjsModel/DashboardMOdel.js"></script>*@



<link rel="stylesheet" type="text/css" href="~/plugins/daterangepicker/daterangepicker.css" />

@*
    <script src="~/DashboradjsModel/SweetAlert.js"></script>*@
<script src="https://unpkg.com/sweetalert2@7.19.3/dist/sweetalert2.all.js"></script>
<style>
    .swal-wide {
        width: 750px !important;
    }

    #nav > ul > li > a {
        background-color: lightgray;
        border: 1px;
        border-top-left-radius: 4px 4px 0 0;
    }

    .body-content {
        background-color: #161719
    }

    .containerhead {
        background-color: #e8b271;
        height: 40px;
        border: 1px solid;
        border-radius: 5px;
    }

    .swal2-popup {
        min-width: 60em;
        background: #d0d0d0
    }

    .divcolor {
        background-color: #212123
    }

    .mypichart {
        padding: 5px;
    }

        .mypichart > canvas {
            height: 80px;
        }

    .zeroPadding {
        padding-left: 5px !important;
    }
</style>

<div class="clearfix">&nbsp;</div>
<div class="container-fluid containerhead divcolor">
    <div class="row">
        <div class="col-md-6">
            <div style="width:30%;float:left">
                <p style="margin-top:10px;color:white;margin-left:20px">
                    Report Name
                </p>
            </div>
            <div style="width:50%;float:left;top: 2px; position: relative;">


                <select class="form-control" asp-items="@Model.MachineList" id="MachineDrp">
                </select>

            </div>
            <div style="width:18%;float:left;margin-left:2px;top: 2px; position: relative;">

                @Html.ActionLink("Add New", "Index", "UserMachineReport", null, new { @class = "btn btn-info" })

            </div>
        </div>
        <div class="col-md-6">
            <div style="width:20%;float:left">
                <p style="margin-top:10px;color:white">Select Date</p>

            </div>
            <div style="width:50%;float:left;top: 2px; position: relative;">
                <button type="button" class="btn btn-default" id="daterange-btn">
                    <span>
                        <i class="fa fa-calendar"></i> Date range picker
                    </span>
                    <i class="fa fa-caret-down"></i>
                </button>

            </div>
            <div style="width: 18%; float: left; top: 2px; position: relative; margin-left: 5px;">
                <input type="button" onclick="getData()" class="btn btn-success" value="GetData" />
            </div>
        </div>



    </div>
</div>
<div class="clearfix">
    &nbsp;

</div>
<div class="container-fluid divcolor">

    <input type="hidden" id="rptMonth" data-value="@ViewBag.rptMonth" />
    <input type="hidden" id="rptMachine" data-value="@ViewBag.rptMachine" />
    <input type="hidden" id="rptDate" data-value="@ViewBag.rptDate" />
    <!--<div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6" style="height:150px;border:5px solid #161719;text-align:center;color:#d0cfcd">
                    <div style="padding:10px 0px">-->

                        @*<span style="margin-right:15px;cursor:pointer" onclick="SetPreviousmonth()">
                                <img src="~/Images/PrevTrans.png" />
                            </span>*@
                        <!--<span id="curmonspan" style="color:white">

                        </span>-->
                        @*<span style="margin-left:15px;cursor:pointer" onclick="Setnextmonth()">
                                <img src="~/Images/NextTrans.png" />
                            </span>*@
                    <!--</div>-->


                    @*<h6 id="monhead">Plant OEE August</h6>*@
                    <!--<div style="top: 25%;position: relative;font-size: 42px;font-weight: 800;" id="ploeecrmon">
                        N/A
                    </div>

                </div>
                <div class="col-md-6" style="height:150px;border:5px solid #161719;text-align:center;color:#d0cfcd">
                    <h6>Plant OEE YTD</h6>
                    <div style="position: relative;
    font-size: 42px;
    font-weight: 800;
    top: 10%;" id="ploeeytd">

                    </div>
                </div>
            </div>



        </div>



    </div>-->
    <div class="row">
        <div class="col-md-12" style="text-align:center;border:5px solid #161719">

            <div id="nav">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_0" id="Excisting_Pop" data-toggle="tab" aria-expanded="true">Duration</a></li>
                    <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Freequency</a></li>
                </ul>
            </div>
            <div class="tab-content">

                <div class="tab-pane active" id="tab_0">
                    <div class="myCanvaCustom" id="paretochartContainer" style="height: 300px; width: 100%;">
                        @*Draw Pareto here*@
                    </div>
                </div>
                <div class="tab-pane" id="tab_1">
                    <div class="myCanvaCustom" id="paretochartContainerFreequency" style="height: 300px; width: 100%;">
                        @*Draw Pareto here*@
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;border:5px solid #161719">
            <h4 style="color:white">Loss Report</h4>
            <div style="position:relative" id="displaylossdiv">
                <table class="table" id="tblLoss">
                    <!-- here goes our data! -->
                </table>

            </div>


        </div>
    </div>

</div>



<div class="modal fade" id="LossDetailsModel" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalheader"></h4>
            </div>
            <div class="modal-body">

                <table class="table table-striped table-sm" id="tblLossDetails" style="width:100%">
                    <thead>
                        <tr>
                            <th class="zeroPadding">Date</th>
                            <th class="zeroPadding">SubReason</th>
                            <th class="zeroPadding">Duration</th>
                            <th class="zeroPadding">Line</th>
                            <th class="zeroPadding">Remark</th>
                        </tr>
                    </thead>
                </table>

                <div class="overlay" style="z-index: 1000; display: none" id="dvInput_ProdEdit_Loading">
                    <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                </div>


            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="~/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/plugins/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.flash.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.html5.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/jszip.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/pdfmake.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/vfs_fonts.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/plugins/datatables/buttons.dataTables.min.css" />
<script src="~/plugins/canvasjs.min.js"></script>
<script src="~/lib/easy-pie-chart/jquery.easypiechart.min.js"></script>
<script>

    $(function() {
        $('#MachineDrp').change(function() {
        var url = $(this).val();
            if (url.toLowerCase() == "add new") {
           location.href = "@Url.Action("Index", "UserMachineReport")";
        }
    });
});


    let montharrya = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]


    var rangeName = '';
    var lossReportData='';
    var d = new Date();
    var month = d.getMonth();
    var rptMonth = $("#rptMonth").data("value");
    var rptMachine = $("#rptMachine").data("value");
    var rptDate = $("#rptDate").data("value");
    function setRptDate(rptdate) {

        $("#rptDate").val(rptdate);

        rptDate = rptdate;
        //alert(rptDate);

    }
    if (rptMonth != null) {
        month = rptMonth - 1;
        $("#MachineDrp").val(rptMachine);
        $('#daterange-btn span').html(rptDate);
    }
    let setmonarry = [month+1];
    var monnumber = setmonarry.pop() - 1;
    if (monnumber >= 0) {
        $("#curmonspan").html('');
        $("#curmonspan").html(montharrya[monnumber]);
        setmonarry.push(monnumber);
        // findPLYTD(monnumber);
    }
    else {
        $("#curmonspan").html('');
        $("#curmonspan").html(montharrya[11]);
        setmonarry.push(0);
    }


    let MachineType = ["Runner", "Repeater", "Stranger"]
    let Color = ["#e7ba39", "#7eb36d", "#5eb26d"]
    $(document).ready(function ()
    {
        debugger;
        var datearray = rptDate.split('to');
        var startd = new Date(datearray[0].trim()); ;
        var endd = new Date(datearray[1].trim());
        var start = moment(startd); //moment().subtract(29, 'days');
        var end = moment(endd); //moment();
        function cb(start, end) {
            $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        }
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                startDate: start,
                endDate: end,
                "showCustomRangeLabel": false,
                ranges: {
                    //'Today': [moment(), moment()],
                    //'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'This Week': [moment().startOf('isoWeek'), moment()],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    //,'This Year': [moment().startOf('year'), moment()]
                },

                //"alwaysShowCalendars": false
                //, startDate: datearray[0],
                //endDate: datearray[1]
            },
            cb);
        cb(start, end);
            //function (start, end) {
            //    $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'))

        $(".ranges ul li").click(function () {
            rangeName = $(this).text();
        });
        var lstPerformance ='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PerformanceReportList) as String)';
        var lstLoss = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.LossReportList) as String)';
        var lstWeek ='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PerformanceReportWEEKList) as String)';
        var data = $.parseJSON(lstPerformance);
        for (var i = 0; i < data.length; i++)
    {
            if (data[i].DataLevel == 'PlantLevel') {
                var data0 = data[i];

                setRptDate(data[0].rptDate);
                findPLMON(parseFloat(data0.OEE));
            }
            if (data[i].DataLevel =='YTD') {
                var data0 = data[i];

                findPLYTD(month, parseFloat(data0.OEE));
            }
    }

        DisplayLossValue(lstLoss);
        $('[href="#tab_1"]').on('shown.bs.tab', function (e) {
       // $('#tab_1').on("shown.bs.tab", function () {

            DrawParetoFreequency(lossReportData);
            $('#tab_1').off();//to remove the binded event after initial rendering
        });
        $('[href="#tab_0"]').on('shown.bs.tab', function (e) {
            // $('#tab_1').on("shown.bs.tab", function () {

            DrawPareto(lossReportData);
            $('#tab_0').off();//to remove the binded event after initial rendering
        });



        function toolTipContent(e) {
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> " + e.entries[i].dataSeries.name + "</span>: $<strong>" + e.entries[i].dataPoint.y + "</strong>bn<br/>";
                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:DodgerBlue;\"><strong>" + (e.entries[0].dataPoint.x).getFullYear() + "</strong></span><br/>";
            total = Math.round(total * 100) / 100;
            str3 = "<span style = \"color:Tomato\">Total:</span><strong> $" + total + "</strong>bn<br/>";
            return (str2.concat(str)).concat(str3);
        }



    });

    function getData()
    {
        var machineid = $("#MachineDrp option:selected").val();

        var sdat = "0";
        var edat = "0";
        var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
        if (daterange != "") {
            if (daterange.indexOf("to") > -1) {
                var datearray = daterange.split('to');
                sdat = datearray[0].trim();
                edat = datearray[1].trim();
            }
        }
        data =
        {
            StartDate: sdat,
            EndDate: edat,
            typeofdata: "DateWise",
            MachineID: machineid
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/HomeDashBoard/FinalResult",
            data: JSON.stringify(data),
           // processData: true,
            dataType: "json",
            success: function (response) {
                debugger;
                     var dataperformance = JSON.stringify(response.PerformanceReportList);
                var dataloss = response.LossReportList;
                var lstWeek = response.PerformanceReportWEEKList;
                     var data = $.parseJSON(dataperformance);
                for (var i = 0; i < data.length; i++) {
                    if (data[i].DataLevel == 'PlantLevel') {
                        var data0 = data[i];

                        setRptDate(data[0].rptDate);
                        findPLMON(parseFloat(data0.OEE));
                    }
                    if (data[i].DataLevel == 'YTD') {
                        var data0 = data[i];

                        findPLYTD(month, parseFloat(data0.OEE));
                    }
                }

                DisplayLossValue(JSON.stringify(dataloss));


            },
            error: function (error) {
                debugger;
                $("#dvInput_Loading_Data").hide();
            }
        });
    }
    function findPLYTD(uptomonth, OEE) {


        //$("#monhead").html('');

        $("#ploeeytd").html('');
        if (OEE > 0.00) {
            $("#ploeeytd").html(OEE);

        } else {
            $("#ploeeytd").html('');

        }
        // $("#monhead").html('Plant OEE ' + montharrya[uptomonth] + '');

    }
    function findPLMON(OEE) {
        debugger;
        var datearray = rptDate.split('to');
        var monarr = datearray[0].split('-');
        var mon = monarr[1];
        var monthh = parseInt(mon);
        setmonarry = [monthh];
        var monnumber = setmonarry.pop() - 1;
        if (monnumber >= 0) {
            $("#curmonspan").html('');
            $("#curmonspan").html(montharrya[monnumber]);
            setmonarry.push(monnumber);
            // findPLYTD(monnumber);
        }
        else {
            $("#curmonspan").html('');
            $("#curmonspan").html(montharrya[11]);
            setmonarry.push(0);
        }

        $("#ploeecrmon").html('');
        if (OEE > 0.00) {
            $("#ploeecrmon").html(OEE);

        } else {
            $("#ploeecrmon").html('');

        }




    }
    function DisplayLossValue(response) {
       // debugger;
                var data = $.parseJSON(response);
        let table = document.getElementById('tblLoss'); //document.querySelector("table");
        $("#tblLoss tr").remove();
        if (data!=null && data.length > 0) {
            let alldata = Object.keys(data[0]);
            generateTable(table, data); // generate the table first
            generateTableHead(table, alldata); // then the head

        }
        lossReportData = data;
        DrawPareto(lossReportData);
        DrawParetoFreequency(lossReportData);


    }

    function PassParetoPoints(data,typ) {
        var datapoints = [];
        if (data != null) {
           // debugger;
            //data.sort(function (a, b) {
            //    return a.Duration>b.Duration;
            //});
            for (var i = 0; i < data.length; i++) {
                if (typ === 'Freequency') {
                    data.sort((a, b) => parseInt(b.Freequency) - parseInt(a.Freequency));
                    datapoints.push({
                        "label": data[i].Reason,
                        y: data[i].Freequency

                    });
                   // datapoints.sort(function (a, b) { return b[1] - a[1]  });
                   // datapoints.reverse();
                }
                else {
                    data.sort((a, b) => parseInt(b.Duration) - parseInt(a.Duration));
                    datapoints.push({
                        "label": data[i].Reason,
                        y: data[i].Duration

                    });
                }
            }
        }
        return datapoints;
    }
    function DrawPareto(lossData) {
        var chart = new CanvasJS.Chart("paretochartContainer",
            {
                animationEnabled: true, backgroundColor: "#212123",

                title: {
                    text: "Duration"
                },
                axisX: {

                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "15"
                },
                axisY: {

                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "12",
                    title: "Duration",
                    lineColor: "#4F81BC",
                    tickColor: "#4F81BC",
                    labelFontColor: "#4F81BC",
                    maximum: 120
                },


                axisY2: {
                    title: "Percent",
                    suffix: "%",
                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "15"

                },
                data: [{
                    type: "column",
                    dataPoints: PassParetoPoints(lossData,'Duration')
                }]
            });
        chart.render();
        createPareto();
        function createPareto() {
            var dps = [];
            var yValue, yTotal = 0, yPercent = 0;

            for (var i = 0; i < chart.data[0].dataPoints.length; i++)
                yTotal += chart.data[0].dataPoints[i].y;

            for (var i = 0; i < chart.data[0].dataPoints.length; i++) {
                yValue = chart.data[0].dataPoints[i].y;
                yPercent += (yValue / yTotal * 100);
                dps.push({ label: chart.data[0].dataPoints[i].label, y: yPercent });
            }

            chart.addTo("data", { type: "line", yValueFormatString: "0.##\"%\"", dataPoints: dps });
            chart.data[1].set("axisYType", "secondary", false);
            chart.axisY[0].set("maximum", yTotal);
            chart.axisY2[0].set("maximum", 100);
        }
    }
     function DrawParetoFreequency(lossData) {
        var chart1 = new CanvasJS.Chart("paretochartContainerFreequency",
            {
                animationEnabled: true, backgroundColor: "#212123",

                title: {
                    text: "Freequency"
                },
                axisX: {

                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "15"
                },
                axisY: {

                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "12",
                    title: "Freequency",
                    lineColor: "#4F81BC",
                    tickColor: "#4F81BC",
                    labelFontColor: "#4F81BC",
                    maximum: 120
                },


                axisY2: {
                    title: "Percent",
                    suffix: "%",
                    labelFontColor: "White",
                    labelFontWeight: "bold",
                    labelFontSize: "15"

                },
                data: [{
                    type: "column",
                    dataPoints: PassParetoPoints(lossData,'Freequency')
                }]
            });
        chart1.render();
        createPareto();
        function createPareto() {
            var dps = [];
            var yValue, yTotal = 0, yPercent = 0;

            for (var i = 0; i < chart1.data[0].dataPoints.length; i++)
                yTotal += chart1.data[0].dataPoints[i].y;

            for (var i = 0; i < chart1.data[0].dataPoints.length; i++) {
                yValue = chart1.data[0].dataPoints[i].y;
                yPercent += (yValue / yTotal * 100);
                dps.push({ label: chart1.data[0].dataPoints[i].label, y: yPercent });
            }

            chart1.addTo("data", { type: "line", yValueFormatString: "0.##\"%\"", dataPoints: dps });
            chart1.data[1].set("axisYType", "secondary", false);
            chart1.axisY[0].set("maximum", yTotal);
            chart1.axisY2[0].set("maximum", 100);
        }
    }
    function ShowData(loss) {



        var tblhead = loss[0].Reason + ' (' + rptDate+')';
        //$('#tblLossDetails tbody').empty();
        var table =$('#tblLossDetails').DataTable
            ({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: tblhead,
                        messageBottom: null
                    },

                    {
                        extend: 'print',
                        messageTop: tblhead,
                        messageBottom: null
                    }
                ]
            });
        table.clear().draw();
        for (var j = 0; j < loss.length; j++) {
            var tbldataaraay = [];
            tbldataaraay.push(loss[j].ProductionDate);
            tbldataaraay.push(loss[j].SubReason);
            tbldataaraay.push(loss[j].TotalStoppagetime);
            tbldataaraay.push(loss[j].MachineName);
            tbldataaraay.push(loss[j].Remarks);
            table.row.add(tbldataaraay).draw(false);
        }
        $("#modalheader").text(loss[0].Reason + ' (' + rptDate+')');
        $('#LossDetailsModel').modal();

    }

    function generateTableHead(table, data) {

        let thead = table.createTHead();
        let row = thead.insertRow();
        row.style.color = "white";
        for (let key of data) {
            if (key == 'Reason' || key == 'Duration' || key == 'Freequency') {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
        }

    }

    function generateTable(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            row.style.color = "white";
            for (key in element) {
                if (key == 'Reason' || key == 'Duration' || key == 'Freequency') {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[key]);
                    cell.appendChild(text);
                    cell.style.textAlign = "left";
                    if (key == 'Reason') {
                        cell.style.fontWeight = "bold";
                        cell.style.cursor = "pointer";
                       
                        cell.onclick = function () {
                            ShowData(element.LossDetails);
                        };
                    }
                }
            }

        }
    }


</script>

