﻿
@model System.Data.DataTable
@{
    ViewBag.Title = "BreakDownReport";

}
<table border="1" cellpadding="5" class="table table-bordered">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Columns)
            {
                <th ><a onclick="FillBreakDownList('@col.Caption');" class="alert-link" data-toggle="modal" data-target="#myModal">@col.Caption</a></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                    <td>@(string.IsNullOrEmpty(cell.ToString()) ? "0" : cell.ToString().Replace(".00", ""))</td>
                }
            </tr>
        }
    </tbody>
</table>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Break Down Details</h4>
            </div>
            <div class="modal-body" id="BreakDownBody">
                <p>No Data Found</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>