﻿@model IEnumerable<ProEfficient.Core.Models.BreakDownEntry>;


<table class="table table-bordered">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.BreakDownID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupervisorID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TimeOfEntry)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ShiftId)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.BreakDownStartTime)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BreakDownEndTime)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalStoppageTime)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdittedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSaved)
        </th>*@
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.BreakDownID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MachineID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfEntry)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ShiftId)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.BreakDownStartTime)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BreakDownEndTime)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalStoppageTime)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EdittedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSaved)
        </td>*@
       
    </tr>
}

</table>
