﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Models.HomeDashBoardModels
@model ProEfficient.Core.Models.HomeDashBoardModels.FinalResultSetModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/plugins/daterangepicker/daterangepicker.css" />



<style>
    td.details-control {
        background-image: url('@Url.Content("~/Images/details_open.png")');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background-image: url('@Url.Content("~/Images/details_close.png")');
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .showData {
        display: block;
    }

    .noData {
        display: none;
    }

    .loader {
        top: 100px;
        left: 0;
        position: fixed;
        opacity: 0.8;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .strip-holder {
        top: 150px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 50%;
        margin-left: -100px;
        position: relative;
    }

    .table thead tr th {
        text-align: left;
        background-color: #f3b34e;
    }

    .tblinner thead tr th {
        text-align: left;
        background-color: #dcd3c3 !important
    }

    .table tbody tr td {
        text-align: left;
    }
    /* .table.table-bordered thead tr th {
            text-align: left;
        }*/

    /* .table.table-bordered tbody tr td:first-child {
            border-left: solid 1px #e9e6f4;
            cursor: pointer;
            color: #3c8dbc;
            text-decoration: underline;
        }*/

    .table.table-bordered tbody tr:nth-child(odd) td {
        background-color: #f2f2f2;
    }

    .table.table-bordered thead tr th:last-child {
        background: #36304a;
        border-bottom: solid 5px #fed24c;
        text-align: left;
    }


    .table.table-bordered tbody tr td {
        vertical-align: middle;
        font-weight: 500;
        border: none;
        padding: 0px;
        border-bottom: solid 1px #e9e6f4;
        text-align: left;
    }

        .table.table-bordered tbody tr td:last-child {
            background: none !important;
            border-bottom: solid 1px #e9e6f4;
            text-align: left;
        }

    .table.table-bordered tbody tr.odd td:last-child {
        background: #f2f2f2 !important;
        border-bottom: solid 1px #e9e6f4;
        text-align: left;
    }

    .table.table-bordered tbody tr td {
        vertical-align: middle;
        font-weight: 500;
        border: none;
        padding: 0px;
        border-bottom: solid 1px #e9e6f4;
        padding: 10px;
    }

    .hometbl .dataTables_wrapper .dataTables_paginate .paginate_button {
        color: #f4f4f4 !important;
    }

        .hometbl .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            color: #333 !important;
        }
</style>
<style>
    .swal-wide {
        width: 750px !important;
    }

    #nav > ul > li > a {
        background-color: lightgray;
        border: 1px;
        border-top-left-radius: 4px 4px 0 0;
    }

    .body-content {
        background-color: #161719
    }

    .containerhead {
        background-color: #e8b271;
        height: 40px;
        border: 1px solid;
        border-radius: 5px;
    }

    .swal2-popup {
        min-width: 60em;
        background: #d0d0d0
    }

    .divcolor {
        background-color: #212123
    }

    .mypichart {
        padding: 5px;
    }

        .mypichart > canvas {
            height: 80px;
        }

    .zeroPadding {
        padding-left: 5px !important;
    }
</style>
<div id='loader' style='display: none;'>
    <img src="~/Images/loader.gif">
</div>

<input type="hidden" id="rptDate" data-value="@ViewBag.rptDate" />
<div class="container-fluid containerhead divcolor">
    <div class="row">
        <div class="col-md-6">
            <div style="width:30%;float:left">
                <p style="margin-top:10px;color:white;margin-left:20px">
                    Report Name
                </p>
            </div>
            <div style="width:50%;float:left;top: 2px; position: relative;">


                <select class="form-control" asp-items="@Model.MachineList" id="MachineDrp">
                </select>

            </div>
            <div style="width:18%;float:left;margin-left:2px;top: 2px; position: relative;display:none">
                @Html.ActionLink("Add New", "Index", "UserMachineReport", null, new { @class = "btn btn-info" })
            </div>
        </div>
        <div class="col-md-6">
            <div style="width:20%;float:left">
                <p style="margin-top:10px;color:white">Select Date</p>

            </div>
            <div style="width:30%;float:left;top: 2px; position: relative;">
                <button type="button" class="btn btn-default" id="daterange-btn">
                    <span>
                        <i class="fa fa-calendar"></i> Date range picker
                    </span>
                    <i class="fa fa-caret-down"></i>
                </button>

            </div>
            <div style="width: 18%; float: left; top: 2px; position: relative; margin-left: 25px;">
                <input type="button" onclick="getData()" class="btn btn-success" value="Get Report" />

            </div>
            <div style="width: 18%; float: left; top: 2px; position: relative; margin-left: 5px;">
                <input type="button" onclick="exportToExcel()" class="btn btn-info" value="Export" />

            </div>
        </div>



    </div>
</div>
<div class="clearfix">
    &nbsp;

</div>
<div class="container-fluid divcolor">
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <img src="~/Images/loader.gif" alt="Loader" />
        </div>

    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="totalAR">100</h3>

                    <p>Day_First</p>
                </div>
                <div class="icon" style="top:4px">
                    <i class="fa fa-bar-chart"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 id="totalPR">100</h3>

                    <p>Day_Night</p>
                </div>
                <div class="icon" style="top:4px">
                    <i class="fa fa-line-chart"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
       @* <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="totalQR">100</h3>

                    <p>Shift C</p>
                </div>
                <div class="icon" style="top:4px">
                    <i class="fa fa-area-chart"></i>
                </div>

            </div>
        </div>*@
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 id="totalOEE">100</h3>

                    <p>Over All</p>
                </div>
                <div class="icon" style="top:4px">
                    <i class="fa fa-pie-chart"></i>
                </div>

            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">

        <div class="col-md-12" style="text-align:center;border:5px solid #161719">

            <div class="col-md-6">


                <div id="showbar" class="showData" style="height:400px">
                    <canvas id="canvas"></canvas>
                </div>
                <div id="nobar" style="margin-top:150px" class="noData">
                    <span style="color:white">No Data Available</span>

                </div>
            </div>

            <div class="col-md-6 hometbl" style="text-align:center;border:0px solid #161719;">

                @* <table class="table table-striped" id="opiniondt" width="100%">
                    <thead>
                    <tr>
                    <th></th>
                    <th class="zeroPadding">MachineName</th>
                    @foreach (var item in Model.ShiftList)
                    {
                    <th class="zeroPadding">@item.Text</th>

                    }
                    <th class="zeroPadding">All</th>

                    </tr>
                    </thead>
                    <tr>
                    <td></td>
                    <td></td>
                    @foreach (var item in Model.ShiftList)
                    {
                    <td></td>

                    }
                    <td></td>

                    </tr>
                    </table> *@

                <table class="table table-striped" id="opiniondt" width="100%">
                    <thead>
                        <tr>
                            <th class="zeroPadding">MachineName</th>
                            @foreach (var item in Model.ShiftList)
                            {
                                <th class="zeroPadding">@item.Text</th>
                            }
                            <th class="zeroPadding">All</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript" src="~/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/plugins/daterangepicker/daterangepicker.min.js"></script>
@*<script type="text/javascript" src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/jszip.min.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/plugins/datatables/buttons.print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/plugins/datatables/buttons.dataTables.min.css" />*@
<script src="~/plugins/chartjs/Chart.min.js"></script>
<script src="~/plugins/chartjs/utils.js"></script>

<script>

        $(function() {
            $('#MachineDrp').change(function() {
            var url = $(this).val();
                if (url.toLowerCase() == "add new") {
               location.href = "@Url.Action("Index", "UserMachineReport")";
            }
        });
    });

        var toeeHead = [];
        toeeHead.push("MachineName");
        toeeHead.push("ShiftA");
        toeeHead.push("ShiftB");
        toeeHead.push("ShiftC");
        toeeHead.push("OverAll");
        var rangeName = '';

        var d = new Date();
        var month = d.getMonth();
        var oeeReportData = '';
        var rptMachine = $("#rptMachine").data("value");
        var rptDate = $("#rptDate").data("value");
        var retShifts = [];

        function setRptDate(rptdate) {

            $("#rptDate").val(rptdate);

            rptDate = rptdate;
            //alert(rptDate);

        }


        $(document).ready(function ()
        {

            var datearray = rptDate.split('to');
            var startd = new Date(datearray[0].trim()); ;
            var endd = new Date(datearray[1].trim());
            var start = moment(startd); //moment().subtract(29, 'days');
            var end = moment(endd); //moment();
            function cb(start, end) {
                $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            }
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    startDate: start,
                    endDate: end,
                    "showCustomRangeLabel": true,
                },
                cb);
            cb(start, end);
            $(".ranges ul li").click(function () {
                rangeName = $(this).text();
            });
            var lstPerformance ='@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PerformanceReportListHome) as String)';

            var lstShifts = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ShiftList) as String)';
           //
            var shiftData = $.parseJSON(lstShifts);

            var i;
            for (i = 0; i < shiftData.length; i++)
            { retShifts.push(shiftData[i].Text);}
            retShifts.push("Over All");

            var data = $.parseJSON(lstPerformance);
            oeeReportData = lstPerformance;
           // DisplayOEETable(lstPerformance);

            FillTable(lstPerformance);
            DisplayOEEChart(lstPerformance);


            $('#tblOEE tbody').on('click', 'tr', function () {

                var data = $('#tblOEE').DataTable().row(this).data();
                if (data === undefined) { alert('No data to display!'); } else { ShowData(data[0]); }
            });
        });
        function appendARPRQR(str) {
            if (str == null || str == 'undefined') { return '';}
            var choppedUpURL = str.split(",");
            var finalURL = "AR:" + choppedUpURL[0] + " PR:" + choppedUpURL[1] + " QR:" + choppedUpURL[2];
            return finalURL;
        }
        function DisplayOEEChart(response) {
            if (response.length > 4) {

                var color = Chart.helpers.color;
                var data = $.parseJSON(response).filter(a => a.DataLevel == "TotalLevel");
                var dataPrev = $.parseJSON(response).filter(a => a.DataLevel == "TotalLevelPrev");
                var resultOverall = [];
                var result = [];
                var resultPrev = [];
                var resultPrevOverall = [];
                var tooltop = Array.from(Array(4), () => new Array(4));
                if (data.length > 0) {
                    tooltop[0][0] = appendARPRQR(data[0].tShiftA);
                    tooltop[0][1] = appendARPRQR(data[0].tShiftB);
                    tooltop[0][2] = appendARPRQR(data[0].tShiftC);
                    tooltop[0][3] = appendARPRQR(data[0].tOverAll);
                    tooltop[2][0] = appendARPRQR(data[0].tShiftA);
                    tooltop[2][1] = appendARPRQR(data[0].tShiftB);
                    tooltop[2][2] = appendARPRQR(data[0].tShiftC);
                    tooltop[2][3] = appendARPRQR(data[0].tOverAll);
                    result.push(data[0].ShiftA);
                    result.push(data[0].ShiftB);
                    result.push(data[0].ShiftC);
                    result.push(data[0].OverAll);
                    debugger;
                    $('#totalOEE').text((parseFloat(data[0].OverAll) * 100).toFixed(2) + '%');
                    $('#totalAR').text((parseFloat(data[0].ShiftA) * 100).toFixed(2) + '%');
                    $('#totalPR').text((parseFloat(data[0].ShiftB) * 100).toFixed(2) + '%');
                    $('#totalQR').text((parseFloat(data[0].ShiftC) * 100).toFixed(2) + '%');
                    resultOverall.push(data[0].ShiftA);
                    resultOverall.push(data[0].ShiftB);
                    resultOverall.push(data[0].ShiftC);
                    resultOverall.push(data[0].OverAll);
                }
                if (dataPrev.length > 0) {
                    resultPrev.push(dataPrev[0].ShiftA);
                    resultPrev.push(dataPrev[0].ShiftB);
                    resultPrev.push(dataPrev[0].ShiftC);
                    resultPrev.push(dataPrev[0].OverAll);

                    resultPrevOverall.push(dataPrev[0].ShiftA);
                    resultPrevOverall.push(dataPrev[0].ShiftB);
                    resultPrevOverall.push(dataPrev[0].ShiftC);
                    resultPrevOverall.push(dataPrev[0].OverAll);

                    tooltop[1][0] = appendARPRQR(dataPrev[0].tShiftA);
                    tooltop[1][1] = appendARPRQR(dataPrev[0].tShiftB);
                    tooltop[1][2] = appendARPRQR(dataPrev[0].tShiftC);
                    tooltop[1][3] = appendARPRQR(dataPrev[0].tOverAll);
                    tooltop[3][0] = appendARPRQR(dataPrev[0].tShiftA);
                    tooltop[3][1] = appendARPRQR(dataPrev[0].tShiftB);
                    tooltop[3][2] = appendARPRQR(dataPrev[0].tShiftC);
                    tooltop[3][3] = appendARPRQR(dataPrev[0].tOverAll);
                }


                var barChartData = {
                    //labels: ['Shift A', 'Shift B', 'Shift C', 'Over All'],
                    labels: retShifts,

                    datasets: [{
                        label: 'Current Bar',
                        backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.blue,
                        borderWidth: 1,
                        data: result
                    }, {
                        label: 'Current Line',
                        backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                            borderColor: window.chartColors.red,
                        borderWidth: 1,
                        type: 'line',
                        fill: false,
                        data: resultOverall
                        }
                        //, {
                        //    label: 'Last Bar',
                        //    backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                        //    borderColor: window.chartColors.red,
                        //    borderWidth: 1,
                        //    data: resultPrev
                        //}, {
                        //label: 'Last Line',
                        //backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                        //borderColor: window.chartColors.red,
                        //borderWidth: 1,
                        //type: 'line',
                        //fill: false,
                        //data: resultPrevOverall
                        //}
                    ]



                };

                var ctx = document.getElementById('canvas').getContext('2d');
                if (window.myBar != undefined)
                    window.myBar.destroy();
                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'OEE',
                            fontSize: 14,
                            fontColor:'#fff'
                        }, scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                title: function (tooltipItem, data) {
                                    return data['labels'][tooltipItem[0]['index']];
                                },
                                label: function (tooltipItem, data) {
                                    return data['datasets'][tooltipItem['datasetIndex']]['data'][tooltipItem['index']];
                                },
                                afterLabel: function (tooltipItem, data) {
                                    //
                                    //let value = tooltop[tooltipItem['index']];
                                    let value = tooltop[tooltipItem['datasetIndex']][tooltipItem['index']]
                                    return value;
                                }
                            },
                            backgroundColor: '#FFF',
                            titleFontSize: 16,
                            titleFontColor: '#0066ff',
                            bodyFontColor: '#000',
                            bodyFontSize: 14,
                            displayColors: false
                        }
                    }
                });
            }

            if (response != null && response.length > 4) {
                document.getElementById("showbar").classList.remove("noData");
                document.getElementById("showbar").classList.add("showData");
                document.getElementById("nobar").classList.remove("showData");
                document.getElementById("nobar").classList.add("noData");

            } else {
                document.getElementById("showbar").classList.remove("showData");
                document.getElementById("showbar").classList.add("noData");
                document.getElementById("nobar").classList.remove("noData");
                document.getElementById("nobar").classList.add("showData");
            }


        }
        function DisplayOEETable(response) {

            //
                var data = $.parseJSON(response).filter(a => a.DataLevel == "ShiftLevel");
            let table = document.getElementById('tblOEE');
            $('#tblOEE').DataTable().clear().draw();
            var table1 = $('#tblOEE').DataTable
                ({
                    "destroy": true,
                    "paging": true,
                    "ordering": true,
                    "info": false,
                    "searching": false,
                    "pageLength": 25,
                    "lengthChange": false,
                    "columnDefs": [
                        {
                            "targets": [-1],
                            "visible": false,
                            "searchable": false
                        }, { "width": 175, "targets": [0] }
                    ]
                });
            $.each(data, function (i, l) {
                //
                var row_dtable = new Array();
                $.each(l, function (key, value) {
                    if (retShifts.length == 3) {
                        if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'OverAll') {
                            row_dtable.push(value);
                        }
                    }
                    else {
                        if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'ShiftC' || key == 'OverAll') {
                            row_dtable.push(value);
                        }
                    }

                });
                row_dtable.push("");
                table1.row.add(row_dtable).draw(false);
            });

        }
        function generateOEETableHead(table, data) {

            let thead = table.createTHead();
            let row = thead.insertRow();
            row.style.color = "white";
            for (let key of data) {
                if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'ShiftC' || key == 'OverAll') {
                    let th = document.createElement("th");
                    let text = document.createTextNode(key);
                    th.appendChild(text);
                    row.appendChild(th);
                }
            }

        }

        function generateOEETable(table, data) {
            for (let element of data) {
                let row = table.insertRow();
               // row.style.color = "white";
                for (key in element) {
                    if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'ShiftC' || key == 'OverAll') {
                        let cell = row.insertCell();
                        let text = document.createTextNode(element[key]);
                        cell.appendChild(text);
                        if (key == 'MachineName') {
                            cell.style.fontWeight = "bold";
                            cell.style.cursor = "pointer";
                            cell.style.textAlign = "left";
                            cell.onclick = function () {
                                ShowData(element.MachineName);
                            };
                        }
                    }
                }

            }
        }
        function exportToExcel()
        {
            var machineid = $("#MachineDrp option:selected").val();

            var sdat = "0";
            var edat = "0";
            var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
            if (daterange != "") {
                if (daterange.indexOf("to") > -1) {
                    var datearray = daterange.split('to');
                    sdat = datearray[0].trim();
                    edat = datearray[1].trim();
                }
                setRptDate(daterange);
            }
            data =
            {
                StartDate: sdat,
                EndDate: edat,
                typeofdata: "DateWise",
                MachineID: machineid
            }

            $.ajax({

                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Report/ExportExcel",
                data: JSON.stringify(data),
               // processData: true,
                dataType: "json",
                beforeSend: function () {
                    // Show image container
                    $('#AjaxLoader').show();
                },
                success: function (response) {
                    //get the file name for download
                    if (response.fileName != "") {
                        //use window.location.href for redirect to download action for download the file
                        window.location.href = "@Url.RouteUrl(new
                { Controller = "Report", Action = "Download"})/?file=" + response.fileName;
                    } else {
                        $('#AjaxLoader').hide();
                        alert(response.errorMessage);
                    }
                },
                error: function (err) {
                    $('#AjaxLoader').hide();
                }
                ,
                complete: function (data) {
                    // Hide image container
                    $('#AjaxLoader').hide();
                }
            });
        }
        function getData()
        {
            var machineid = $("#MachineDrp option:selected").val();

            var sdat = "0";
            var edat = "0";
            var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
            if (daterange != "") {
                if (daterange.indexOf("to") > -1) {
                    var datearray = daterange.split('to');
                    sdat = datearray[0].trim();
                    edat = datearray[1].trim();
                }
                setRptDate(daterange);
            }
            data =
            {
                StartDate: sdat,
                EndDate: edat,
                typeofdata: "DateWise",
                MachineID: machineid
            }

            $.ajax({

                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Report/FinalResult",
                data: JSON.stringify(data),
               // processData: true,
                dataType: "json",
                beforeSend: function () {
                    // Show image container
                    $('#AjaxLoader').show();
                },
                success: function (response) {

                    var lstPerformance = JSON.stringify(response.PerformanceReportListHome);
                    var data = $.parseJSON(lstPerformance);
                    oeeReportData = lstPerformance;
                    // DisplayOEETable(lstPerformance);

                    FillTable(lstPerformance);
                    DisplayOEEChart(lstPerformance);

                },
                error: function (err) {
                    $('#AjaxLoader').hide();
                }
                ,
                complete: function (data) {
                    // Hide image container
                    $('#AjaxLoader').hide();
                }
            });
        }
        function ShowData(machineName) {

            var lstPerformance = oeeReportData;
                //'@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PerformanceReportListHome) as String)';
            var data = $.parseJSON(lstPerformance);
            var oee = data.filter(a => a.DataLevel == "DateLevel" && a.MachineName==machineName);

            var tblhead = machineName + ' (' + rptDate + ')';
            var table = $('#tblOEEDetails').DataTable
                ({
                    destroy: true,
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'excel',
                            messageTop: tblhead,
                            messageBottom: null
                        },

                        {
                            extend: 'print',
                            messageTop: tblhead,
                            messageBottom: null
                        }
                    ]
                });
            table.clear().draw();
            for (var j = 0; j < oee.length; j++) {
                var tbldataaraay = [];
                tbldataaraay.push(oee[j].RecordDate);
                tbldataaraay.push(oee[j].ShiftA);
                tbldataaraay.push(oee[j].ShiftB);
                tbldataaraay.push(oee[j].ShiftC);
                tbldataaraay.push(oee[j].OverAll);
                table.row.add(tbldataaraay).draw(false);
            }
            $("#modalheader").text('OEE for '+machineName + ' (' + rptDate + ')');
            $('#OEEDetailsModel').modal();

        }
        function format(table_id) {
            return '<table class="table tblinner" width="90%" id="opiniondt_' + table_id + '">' +
                '<thead><tr><th>Date</th><th>Shift A</th><th>Shift B</th><th>Shift C</th><th>Over All</th></tr></thead>' +'</table>';
        }
        var iTableCounter = 1;
        var oInnerTable;

        function FillTable(response){
            var opinions = $.parseJSON(response).filter(a => a.DataLevel == "ShiftLevel");
            TableHtml = $('#opiniondt').html();
            //var table = $('#opiniondt').DataTable();

             var table1 = $('#opiniondt').DataTable
            ({
                "destroy": true,
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": false,
                "pageLength": 5,
                "lengthChange": false,
                "columnDefs": [
                    {
                        "targets": [-1],
                        "visible": false,
                        "searchable": false
                    }, { "width": 175, "targets": [0] }
                ]
            });
        $.each(opinions, function (i, l) {
           
            var row_dtable = new Array();
            $.each(l, function (key, value) {
                if (retShifts.length == 3) {
                    if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'OverAll') {
                        row_dtable.push(value);
                    }
                }
                else {
                    if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'ShiftC' || key == 'OverAll') {
                        row_dtable.push(value);
                    }
                }

            });
            row_dtable.push("");
            table1.row.add(row_dtable).draw(false);
        });

            //var table = $('#opiniondt').DataTable({
            //    destroy: true,
            //    paging: false,
            //    searching: false,
            //    info: false,
            //    data: opinions,
            //    columns: [
            //        {
            //            className: 'details-control',
            //            orderable: false,
            //            data: null,
            //            defaultContent: ''
            //        },
            //        { data: 'MachineName' },
            //        { data: 'ShiftA' },
            //        { data: 'ShiftB' },
            //        { data: 'ShiftC' },
            //        { data: 'OverAll' }
            //    ],
            //    order: [[1, 'asc']]
            //});
            /* Add event listener for opening and closing details
             * Note that the indicator for showing which row is open is not controlled by DataTables,
             * rather it is done here
             */
            //$('#opiniondt tbody').on('click', 'td.details-control', function () {
            //    // var data = $('#tblOEE').DataTable().row(this).data();
            //    // if (data === undefined) { alert('No data to display!'); } else { ShowData(data[0]); }

            //    var tr = $(this).closest('tr');
            //    //var machineRow = table.row(this).data();
            //    var machineName = $(this).closest('tr').find('td').eq(1).html();
            //    var row = table.row(tr);
            //    var lstPerformance = oeeReportData;
            //    var data = $.parseJSON(lstPerformance);
            //    var sections = data.filter(a => a.DataLevel == "DateLevel" && a.MachineName == machineName);

            //    if (row.child.isShown()) {
            //        //  This row is already open - close it
            //        row.child.hide();
            //        tr.removeClass('shown');
            //    }
            //    else {
            //        // Open this row
            //        row.child(format(iTableCounter)).show();
            //        tr.addClass('shown');
            //        // try datatable stuff
            //        oInnerTable = $('#opiniondt_' + iTableCounter).dataTable({
            //            data: sections,
            //            //autoWidth: true,
            //            deferRender: true,
            //            info: false,
            //            lengthChange: false,
            //            ordering: false,
            //            paging: false,
            //            scrollX: false,
            //            scrollY: false,
            //            searching: false,
            //            columns: [
            //                { data: 'RecordDate' },
            //                { data: 'ShiftA' },
            //                { data: 'ShiftB' },
            //                { data: 'ShiftC' },
            //                { data: 'OverAll' }
            //            ]
            //        });
            //        iTableCounter = iTableCounter + 1;
            //    }
            //});
        }

</script>


