﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Models.HomeDashBoardModels
@model ProEfficient.Core.Models.HomeDashBoardModels.FinalResultSetModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/plugins/daterangepicker/daterangepicker.css" />



<style>
    td.details-control {
        background-image: url('@Url.Content("~/Images/details_open.png")');
        background-repeat:no-repeat;
        background-position:center;
         cursor: pointer;
    }

tr.shown td.details-control {background-image: url('@Url.Content("~/Images/details_close.png")');
        background-repeat:no-repeat;
        background-position:center;
         cursor: pointer; }
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .showData {
        display: block;
    }

    .noData {
        display: none;
    }

    .loader {
        top: 100px;
        left: 0;
        position: fixed;
        opacity: 0.8;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .strip-holder {
        top: 150px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 50%;
        margin-left: -100px;
        position: relative;
    }
    .table thead tr th {
        text-align: left;
        background-color: #f3b34e;
    }

    .tblinner thead tr th {
        text-align: left;
        background-color: #dcd3c3 !important
    }
    .table tbody tr td {
        text-align: left;
    }
   /* .table.table-bordered thead tr th {
        text-align: left;
    }*/

   /* .table.table-bordered tbody tr td:first-child {
        border-left: solid 1px #e9e6f4;
        cursor: pointer;
        color: #3c8dbc;
        text-decoration: underline;
    }*/

    .table.table-bordered tbody tr:nth-child(odd) td {
        background-color: #f2f2f2;
    }

    .table.table-bordered thead tr th:last-child {
        background: #36304a;
        border-bottom: solid 5px #fed24c;
        text-align: left;
    }


    .table.table-bordered tbody tr td {
        vertical-align: middle;
        font-weight: 500;
        border: none;
        padding: 0px;
        border-bottom: solid 1px #e9e6f4;
        text-align: left;
    }

        .table.table-bordered tbody tr td:last-child {
            background: none !important;
            border-bottom: solid 1px #e9e6f4;
            text-align: left;
        }

    .table.table-bordered tbody tr.odd td:last-child {
        background: #f2f2f2 !important;
        border-bottom: solid 1px #e9e6f4;
        text-align: left;
    }

    .table.table-bordered tbody tr td {
        vertical-align: middle;
        font-weight: 500;
        border: none;
        padding: 0px;
        border-bottom: solid 1px #e9e6f4;
        padding: 10px;
    }

    .hometbl .dataTables_wrapper .dataTables_paginate .paginate_button {
        color: #f4f4f4 !important;
    }

        .hometbl .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            color: #333 !important;
        }
</style>
<style>
    .swal-wide {
        width: 750px !important;
    }

    #nav > ul > li > a {
        background-color: lightgray;
        border: 1px;
        border-top-left-radius: 4px 4px 0 0;
    }

    .body-content {
        background-color: #161719
    }

    .containerhead {
        background-color: #e8b271;
        height: 40px;
        border: 1px solid;
        border-radius: 5px;
    }

    .swal2-popup {
        min-width: 60em;
        background: #d0d0d0
    }

    .divcolor {
        background-color: #212123
    }

    .mypichart {
        padding: 5px;
    }

        .mypichart > canvas {
            height: 80px;
        }

    .zeroPadding {
        padding-left: 5px !important;
    }
</style>
<div id='loader' style='display: none;'>
    <img src="~/Images/loader.gif">
</div>

<input type="hidden" id="rptDate" data-value="@ViewBag.rptDate" />
<div class="container-fluid containerhead divcolor">
    <div class="row">
        <div class="col-md-6">
            <div style="width:30%;float:left">
                <p style="margin-top:10px;color:white;margin-left:20px">
                    Report Name
                </p>
            </div>
            <div style="width:50%;float:left;top: 2px; position: relative;">


                <select class="form-control" asp-items="@Model.MachineList" id="MachineDrp">
                </select>

            </div>
            <div style="width:18%;float:left;margin-left:2px;top: 2px; position: relative;display:none">
                @Html.ActionLink("Add New", "Index", "UserMachineReport", null, new { @class = "btn btn-info" })
            </div>
        </div>
        <div class="col-md-6">
            <div style="width:20%;float:left">
                <p style="margin-top:10px;color:white">Select Date</p>

            </div>
            <div style="width:30%;float:left;top: 2px; position: relative;">
                <button type="button" class="btn btn-default" id="daterange-btn">
                    <span>
                        <i class="fa fa-calendar"></i> Date range picker
                    </span>
                    <i class="fa fa-caret-down"></i>
                </button>

            </div>
            <div style="width: 18%; float: left; top: 2px; position: relative; margin-left: 25px;">
                <input type="button" onclick="getData()" class="btn btn-success" value="Get Report" />

            </div>
            <div style="width: 18%; float: left; top: 2px; position: relative; margin-left: 5px;">
                <input type="button" onclick="exportToExcel()" class="btn btn-info" value="Export" />

            </div>
        </div>



    </div>
</div>
<div class="clearfix">
    &nbsp;

</div>
<div class="container-fluid divcolor">
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <img src="~/Images/loader.gif" alt="Loader" />
        </div>

    </div>
   
    <div class="row">

        <div class="col-md-12" style="text-align:center;border:5px solid #161719">

            <div class="col-md-6">

                <div id="showId" class="showData" style="height:400px">
                    <canvas id="doughBreak"></canvas>
                </div>
                <div id="noId" style="margin-top:150px" class="noData">
                    <span style="color:white">No Data Available</span>

                </div>
            </div>

            <div class="col-md-6 hometbl" style="text-align:center;border:0px solid #161719;">
                <table class="table table-striped " id="opiniondt" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="zeroPadding">Reason</th>
                            <th class="zeroPadding">Duration(Mins)</th>
                            <th class="zeroPadding">Frequency</th>

                        </tr>
                    </thead>
                </table>

            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="~/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/plugins/daterangepicker/daterangepicker.min.js"></script>
@*<script type="text/javascript" src="~/plugins/datatables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.flash.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.html5.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/jszip.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/vfs_fonts.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/plugins/datatables/buttons.dataTables.min.css" />*@
<script src="~/plugins/chartjs/Chart.min.js"></script>
<script src="~/plugins/chartjs/utils.js"></script>

<script>

    $(function() {
        $('#MachineDrp').change(function() {
        var url = $(this).val();
            if (url.toLowerCase() == "add new") {
           location.href = "@Url.Action("Index", "UserMachineReport")";
        }
    });
});

    var tbreakHead = [];
    tbreakHead.push("Reason");
    tbreakHead.push("Duration");
    tbreakHead.push("Freequency");
    var rangeName = '';

    var d = new Date();
    var month = d.getMonth();
    var lossReportData = '';
    var rptMachine = $("#rptMachine").data("value");
    var rptDate = $("#rptDate").data("value");
    var retShifts = [];

    function setRptDate(rptdate) {

        $("#rptDate").val(rptdate);

        rptDate = rptdate;
        //alert(rptDate);

    }


    $(document).ready(function ()
    {
        debugger;
        var datearray = rptDate.split('to');
        var startd = new Date(datearray[0].trim()); ;
        var endd = new Date(datearray[1].trim());
        var start = moment(startd); //moment().subtract(29, 'days');
        var end = moment(endd); //moment();
        function cb(start, end) {
            $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        }
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                startDate: start,
                endDate: end,
                "showCustomRangeLabel": true,
            },
            cb);
        cb(start, end);
        $(".ranges ul li").click(function () {
            rangeName = $(this).text();
        });
        var lstLoss = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.LossReportRptList) as String)';
        //debugger;
        var lstLossGroup = $.parseJSON(lstLoss).filter(a => a.MAchineID == 0);
        debugger;
        lossReportData = lstLoss;
        FillTable(lstLoss);
       // DisplayLossValue(lstLossGrouped);
        DisplayDoughnutBreakChart(lstLossGroup);

        //$('#tblLoss tbody').on('click', 'tr', function () {
        //    var data = $('#tblLoss').DataTable().row(this).data();
        //    if (data === undefined) { alert('No data to display!'); } else { getLossDetail(data[0]); }
        //});
    });
     function exportToExcel()
    {
        var machineid = $("#MachineDrp option:selected").val();

        var sdat = "0";
        var edat = "0";
        var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
        if (daterange != "") {
            if (daterange.indexOf("to") > -1) {
                var datearray = daterange.split('to');
                sdat = datearray[0].trim();
                edat = datearray[1].trim();
            }
            setRptDate(daterange);
        }
        data =
        {
            StartDate: sdat,
            EndDate: edat,
            typeofdata: "DateWise",
            MachineID: machineid
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Report/ExportExcelBreak",
            data: JSON.stringify(data),
           // processData: true,
            dataType: "json",
            beforeSend: function () {
                // Show image container
                $('#AjaxLoader').show();
            },
            success: function (response) {
                //get the file name for download
                if (response.fileName != "") {
                    //use window.location.href for redirect to download action for download the file
                    window.location.href = "@Url.RouteUrl(new
            { Controller = "Report", Action = "Download"})/?file=" + response.fileName;
                } else {
                    $('#AjaxLoader').hide();
                    alert(response.errorMessage);
                }
            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }
    function getData()
    {
        var machineid = $("#MachineDrp option:selected").val();

        var sdat = "0";
        var edat = "0";
        var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
        if (daterange != "") {
            if (daterange.indexOf("to") > -1) {
                var datearray = daterange.split('to');
                sdat = datearray[0].trim();
                edat = datearray[1].trim();
            }
            setRptDate(daterange);
        }
        data =
        {
            StartDate: sdat,
            EndDate: edat,
            typeofdata: "DateWise",
            MachineID: machineid
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Report/LossFinalResult",
            data: JSON.stringify(data),
           // processData: true,
            dataType: "json",
            beforeSend: function () {
                // Show image container
                $('#AjaxLoader').show();
            },
            success: function (response) {
                debugger;
                var lstLoss = JSON.stringify(response.LossReportRptList);
                 
        //debugger;
        var lstLossGroup = $.parseJSON(lstLoss).filter(a => a.MAchineID == 0);
        debugger;
        lossReportData = lstLoss;
        FillTable(lstLoss);
       // DisplayLossValue(lstLossGrouped);
        DisplayDoughnutBreakChart(lstLossGroup);               

            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }
    function DisplayLossValue(response) {
        debugger;
        var data = $.parseJSON(response);
        $('#tblLoss').DataTable().clear().draw();
        var table3 = $('#tblLoss').DataTable
            ({
                "destroy": true,
                "paging": false,
                "ordering": true,
                "info": false,
                "searching": false,
                "pageLength": 20,
                "lengthChange": false,
                "columnDefs": [
                    {
                        "targets": [3],
                        "visible": false,
                        "searchable": false
                    }, { "width": 200, "targets": [0] }
                ]
            });
        $.each(data, function (i, l) {
            debugger;
            var row_dtable = new Array();
            $.each(l, function (key, value) {
                if (key == 'Reason' || key == 'Duration' || key == 'Freequency') {
                    row_dtable.push(value);
                }

            });
            row_dtable.push("");
            table3.row.add(row_dtable).draw(false);
        });


            lossReportData = data;

    }
     function DisplayDoughnutBreakChart(response) {
         @*var myBoolValue = @ViewBag.HasBreakdown.ToString().ToLower();
        if (myBoolValue) {*@
            var lbls = [];
            var vals = [];
            var color = Chart.helpers.color;
            if (response != null && response.length > 0) {
                for (let element of response) {
                    for (key in element) {
                        if (key == 'Reason' || key == 'Duration') {
                            if (key == 'Reason') {
                                lbls.push(element.Reason);
                            }
                            if (key == 'Duration') {
                                vals.push(element.Duration);
                            }
                        }
                    }

                }
            }

            var doughnutChartData = {
                labels: lbls,

                datasets: [{

                    data: vals,
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                        window.chartColors.purple,
                        window.chartColors.grey,
                    ]
                }]



            };

            var ctx = document.getElementById('doughBreak').getContext('2d');
            if (window.myDougnut != undefined)
                window.myDougnut.destroy();
            window.myDougnut = new Chart(ctx, {
                type: 'doughnut',
                data: doughnutChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'Breakdown',
                        position: 'top',
                        fontSize: 14,
                        fontColor: '#fff'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            });
            if (response != null && response.length > 0) {
                document.getElementById("showId").classList.remove("noData");
                document.getElementById("showId").classList.add("showData");
                document.getElementById("noId").classList.remove("showData");
                document.getElementById("noId").classList.add("noData");

            } else {
                document.getElementById("showId").classList.remove("showData");
                document.getElementById("showId").classList.add("noData");
                document.getElementById("noId").classList.remove("noData");
                document.getElementById("noId").classList.add("showData");
            }
       // }
    }
    function format(table_id) {
        return '<table class="table tblinner" width="90%" id="opiniondt_' + table_id + '">' +
            '<thead><tr><th>Machine</th><th>Duration</th><th>Frequency</th></tr></thead>' +'</table>';
    }
    var iTableCounter = 1;
    var oInnerTable;

    function FillTable(response){
       // var opinions = $.parseJSON(response).filter(a => a.DataLevel == "ShiftLevel");
        var lstLossGrouped = $.parseJSON(response).filter(a => a.MAchineID == 0);
        TableHtml = $('#opiniondt').html();
        debugger;
        var table = $('#opiniondt').DataTable({
            destroy: true,
            paging: false,
            searching: false,
            info: false,
            data: lstLossGrouped,
            columns: [
                {
                    className: 'details-control',
                    orderable: false,
                    data: null,
                    defaultContent: ''
                },
                { data: 'Reason' },
                { data: 'Duration' },
                { data: 'Freequency' }
            ],
            order: [[1, 'asc']]
        });
        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#opiniondt tbody').on('click', 'td.details-control', function () {
            // var data = $('#tblOEE').DataTable().row(this).data();
            // if (data === undefined) { alert('No data to display!'); } else { ShowData(data[0]); }
            debugger;
            var tr = $(this).closest('tr');
            //var machineRow = table.row(this).data();
            var machineName = $(this).closest('tr').find('td').eq(1).html();
            var row = table.row(tr);
            var lstPerformance = lossReportData;
            var data = $.parseJSON(lstPerformance);
            var sections = data.filter(a => a.Reason == machineName && a.MAchineID > 0);

            if (row.child.isShown()) {
                //  This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(iTableCounter)).show();
                tr.addClass('shown');
                // try datatable stuff
                oInnerTable = $('#opiniondt_' + iTableCounter).dataTable({
                    data: sections,
                    //autoWidth: true,
                    deferRender: true,
                    info: false,
                    lengthChange: false,
                    ordering: false,
                    paging: false,
                    scrollX: false,
                    scrollY: false,
                    searching: false,
                    columns: [
                        { data: 'MachineName' },
                        { data: 'Duration' },
                        { data: 'Freequency' }
                    ]
                });
                iTableCounter = iTableCounter + 1;
            }
        });
    }

</script>


