﻿@using ProEfficient.Core.Models
@model IList<ProEfficient.Core.Models.ProductionReportResult>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/plugins/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="~/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/plugins/daterangepicker/daterangepicker.min.js"></script>
<style type="text/css">
    input {
        color: black;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        LoadDatePicker();
        try {
            LoadReportDataTable();
            debugger;
            IsEnableExportOption();
            IsEnableSearchOption();
        }
        catch (ex) {

        }
    })


    var rptDate = $("#rptDate").data("value");
    var startDate = new Date();
    var endDate = new Date();
    function LoadDatePicker() {
        var start = new Date();
        var end = new Date();
        $('#daterange-btn').daterangepicker(
            {
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, function (start, end, label) {
                startDate = start;
                endDate = end;
                $("#rptStartDate").val(startDate.format('YYYY-MM-DD'));
                $("#rptEndDate").val(endDate.format('YYYY-MM-DD'));
                $("#txtSelectedDate").val(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                IsEnableSearchOption();
            });
        $(".ranges ul li").click(function () {
            rangeName = $(this).text();
        });
    }

    function LoadReportDataTable() {
        $('#tblProductionReport thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#tblProductionReport thead');

        var table = $('#tblProductionReport').DataTable({
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                try {
                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                }
                                catch (e) {

                                }

                            });
                    });
            },
        });
        $('th input').first().remove();

    }
    function Search() {
        $("#rptAction").val("search");
    }
    function IsEnableExportOption() {
        if ('@ViewBag.SelectedStartDate' == 'undefined' || '@ViewBag.SelectedStartDate' == null || '@ViewBag.SelectedStartDate' == '') {
            $("#exportToExcelButton").hide();
            $("#exportToEmailButton").hide();
            $("#exportToDailyReportExcelButton").hide();
        }
        else {
            $("#exportToExcelButton").show();
            $("#exportToEmailButton").show();
            $("#exportToDailyReportExcelButton").show();
        }
    }
    function IsEnableSearchOption() {
        if ($("#rptStartDate").val() == 'undefined' || $("#rptStartDate").val() == null || $("#rptStartDate").val() == '') {
            $("#searchButton").hide();
        }
        else {
            $("#searchButton").show();
            $("#exportToExcelButton").hide();
            $("#exportToEmailButton").hide();
            $("#exportToDailyReportExcelButton").hide();
        }
    }

    function ExportToEmail() {
        if ($("#EmailForReport").val() == "" || $("#EmailForReport").val() == null || $("#EmailForReport").val() == undefined) {
            alert("Email is not valid..");
            $("#EmailForReport").focus();
            return;
        }
        $("#rptAction").val("excel");
        var data =
        {
            StartDate: '@ViewBag.SelectedStartDate',
            EndDate: '@ViewBag.SelectedEndDate',
            EmailId: $("#EmailForReport").val()
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Report/ExportEmailProduction",
            data: JSON.stringify(data),
            dataType: "json",
            beforeSend: function () {
                //$('#AjaxLoader').show();
            },
            success: function (response) {

                if (response.fileName != "") {
                    alert("Email sent successfully.");
                } else {
                    $('#AjaxLoader').hide();
                    alert(response.errorMessage);
                }
            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }

    function ExportToExcel() {
        $("#rptAction").val("excel");
        var data =
        {
            StartDate: '@ViewBag.SelectedStartDate',
            EndDate: '@ViewBag.SelectedEndDate'
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Report/ExportexcelProduction",
            data: JSON.stringify(data),
            dataType: "json",
            beforeSend: function () {
                //$('#AjaxLoader').show();
            },
            success: function (response) {
                debugger;
                if (response.filename != "") {
                    window.location.href = "@Url.RouteUrl(new
                    { Controller = "Report", Action = "Download"})/?file=" + response.filename;
                } else {
                    $('#AjaxLoader').hide();
                    alert(response.errorMessage);
                }
            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }
    function ExportToExcelDPR() {
        $("#rptAction").val("excel");
        var data =
        {
            StartDate: '@ViewBag.SelectedStartDate',
            EndDate: '@ViewBag.SelectedEndDate'
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Report/ExportExcelProductionDaily",
            data: JSON.stringify(data),
            dataType: "json",
            beforeSend: function () {
                //$('#AjaxLoader').show();
            },
            success: function (response) {

                if (response.fileName != "") {
                    window.location.href = "@Url.RouteUrl(new
                    { Controller = "Report", Action = "Download"})/?file=" + response.fileName;
                } else {
                    $('#AjaxLoader').hide();
                    alert(response.errorMessage);
                }
            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }
</script>
@using (Html.BeginForm("ProductionReportSearch", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    //*************Modal
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <div class="row">
                        <div class="col-md-10"><h5 class="modal-title" id="exampleModalLongTitle">Email Report</h5></div>
                        <div class="col-md-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>


                </div>
                <div class="modal-body" style="padding:20px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">

                                <label>Email id</label>
                            </div>
                            <div class="row">
                                <input type="text" class="form-control" id="EmailForReport" value="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="ExportToEmail()">Send Email</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    //*********** */




    <div class="row rounded">
        <input type="hidden" id="rptDate" value="" />

        <input type="hidden" id="rptAction" name="rptAction" value="search" />
        <input type="hidden" id="rptStartDate" name="rptStartDate" value="" />
        <input type="hidden" id="rptEndDate" name="rptEndDate" value="" />
        <div class="col-md-1"></div>
        <div class="col-md-2">

            <button type="button" class="btn btn-default" id="daterange-btn">
                <span>
                    <i class="fa fa-calendar"></i> Date range picker
                </span>
                <i class="fa fa-caret-down"></i>
            </button>

        </div>
        <div class="col-md-2">

            <input id="txtSelectedDate" type="text" class="form-control" readonly value="@ViewBag.DateRange" />

        </div>

        <div class="col-md-2" id="searchButton">

            <button onclick="Search()" type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>

        </div>
        <div class="col-md-2" id="exportToExcelButton">
            <span><b>Production Report:</b> </span>
            <button onclick="ExportToExcel()" type="button" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>

        </div>
        <div class="col-md-2" id="exportToDailyReportExcelButton">

            <span><b>DP Report:</b> </span>   <button onclick="ExportToExcelDPR()" type="button" class="btn btn-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>

        </div>
        <div class="col-md-2" id="exportToEmailButton">
         <span><b>Email Report:</b> </span>  <button data-toggle="modal" data-target="#exampleModalCenter" type="button" class="btn btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @try
            {
                <div style="width:1000px; overflow:auto;">
                    <table class="table table-bordered" id="tblProductionReport">
                        <thead>
                            <tr>
                                <th scope="row"></th>
                                <th scope="row">Time Of Entry</th>
                                <th scope="row">Shift Name</th>
                                <th scope="row">Operator Name</th>
                                <th scope="row">Machine Name</th>
                                <th scope="row">Product Code</th>
                                <th scope="row">Product Name</th>
                                <th scope="row">Operation Name</th>
                                <th scope="row">Die Name</th>
                                <th scope="row">Mould Name</th>
                                <th scope="row">Total Production</th>
                                <th scope="row">Target Production</th>
                                <th scope="row">Mould Cavity</th>
                                <th scope="row">Die Cavity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@i.ToString()</th>
                                    <td>@item.TimeOfEntry</td>
                                    <td>@item.ShiftName</td>
                                    <td>@item.OperatorName</td>
                                    <td>@item.MachineName</td>
                                    <td>@item.ProductCode</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.OperationName</td>
                                    <td>@item.DieName</td>
                                    <td>@item.MouldName</td>
                                    <td>@item.TotalProduction</td>
                                    <td>@item.TargetProduction</td>
                                    <td>@item.MouldCavity</td>
                                    <td>@item.DieCavity</td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            }
            catch (Exception ex)
            {
                System.IO.File.AppendAllText(@"Logs/ErrorLog.log", ex.ToString());
            }
        </div>
    </div>
}