﻿@using ProEfficient.Core.Models
@using ProEfficient.Core.Models.HomeDashBoardModels
@model ProEfficient.Core.Models.HomeDashBoardModels.FinalResultSetModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/plugins/daterangepicker/daterangepicker.css" />



<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .showData {
        display: block;
    }

    .noData {
        display: none;
    }

    .loader {
        top: 100px;
        left: 0;
        position: fixed;
        opacity: 0.8;
        z-index: 10000000;
        background: Black;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .strip-holder {
        top: 150px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 50%;
        margin-left: -100px;
        position: relative;
    }

    .table.table-bordered thead tr th {
        text-align: left;
    }

    .table.table-bordered tbody tr td:first-child {
        border-left: solid 1px #e9e6f4;
        cursor: pointer;
        color: #3c8dbc;
        text-decoration: underline;
    }

    .table.table-bordered tbody tr:nth-child(odd) td {
        background-color: #f2f2f2;
    }

    .table.table-bordered thead tr th:last-child {
        background: #36304a;
        border-bottom: solid 5px #fed24c;
        text-align: left;
    }


    .table.table-bordered tbody tr td {
        vertical-align: middle;
        font-weight: 500;
        border: none;
        padding: 0px;
        border-bottom: solid 1px #e9e6f4;
        text-align: left;
    }

        .table.table-bordered tbody tr td:last-child {
            background: none !important;
            border-bottom: solid 1px #e9e6f4;
            text-align: left;
        }

    .table.table-bordered tbody tr.odd td:last-child {
        background: #f2f2f2 !important;
        border-bottom: solid 1px #e9e6f4;
        text-align: left;
    }

    .table.table-bordered tbody tr td {
        vertical-align: middle;
        font-weight: 500;
        border: none;
        padding: 0px;
        border-bottom: solid 1px #e9e6f4;
        padding: 10px;
    }

    .hometbl .dataTables_wrapper .dataTables_paginate .paginate_button {
        color: #f4f4f4 !important;
    }

        .hometbl .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            color: #333 !important;
        }
</style>
<style>
    .swal-wide {
        width: 750px !important;
    }

    #nav > ul > li > a {
        background-color: lightgray;
        border: 1px;
        border-top-left-radius: 4px 4px 0 0;
    }

    .body-content {
        background-color: #161719
    }

    .containerhead {
        background-color: #e8b271;
        height: 40px;
        border: 1px solid;
        border-radius: 5px;
        padding:5px;
        margin:2px;
        height:55px;
    }

    .swal2-popup {
        min-width: 60em;
        background: #d0d0d0
    }

    .divcolor {
        background-color: #212123
    }

    .mypichart {
        padding: 5px;
    }

        .mypichart > canvas {
            height: 80px;
        }

    .zeroPadding {
        padding-left: 5px !important;
    }
</style>
<div id='loader' style='display: none;'>
    <img src="~/Images/loader.gif">
</div>

<input type="hidden" id="rptDate" data-value="@ViewBag.rptDate" />
<div class="container-fluid containerhead divcolor">
    <div class="row">
        <div class="col-md-6">
            <div style="width:30%;float:left">
                <p style="margin-top:10px;color:white;margin-left:20px">
                    Report Name
                </p>
            </div>
            <div style="width:50%;float:left;top: 2px; position: relative;">


                <select class="form-control" asp-items="@Model.MachineList" id="MachineDrp">
                </select>

            </div>
            <div style="width:18%;float:left;margin-left:2px;top: 2px; position: relative;display:none">
                @Html.ActionLink("Add New", "Index", "UserMachineReport", null, new { @class = "btn btn-info" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <p style="margin-top:10px;color:white">Select Date</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div style="width:50%;float:left;top: 2px; position: relative;">
                                <button type="button" class="btn btn-default" id="daterange-btn">
                                    <span>
                                        <i class="fa fa-calendar"></i> Date range picker
                                    </span>
                                    <i class="fa fa-caret-down"></i>
                                </button>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-3">     
                    
                        <input type="button" onclick="getData()" class="btn btn-success" value="Get Report" />                   
                </div>
                <div class="col-md-3">
                    @Html.Partial("_UtilityConfig")
                </div>
            </div>




        </div>



    </div>
</div>
<div class="clearfix">
    &nbsp;

</div>
<div class="container-fluid divcolor">
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <img src="~/Images/loader.gif" alt="Loader" />
        </div>

    </div>
    <div class="row">
        @Html.Partial("_MachineMonitor")
    </div>
    <div class="row">
        <div class="col-md-6" style="text-align:center;border:5px solid #161719;height:350px">
            <div id="showbar" class="showData">
                <canvas id="canvas"></canvas>
            </div>
            <div id="nobar" style="margin-top:150px" class="noData">
                <span style="color:white">No Data Available</span>

            </div>


        </div>
        <div class="col-md-6 hometbl" style="text-align:center;border:5px solid #161719;height:350px">
            <h5 style="color:white">OEE Report</h5>
            <table class="table table-striped table-bordered" id="tblOEE">
                <thead>
                    <tr>
                        <th class="zeroPadding">MachineName</th>
                        @foreach (var item in Model.ShiftList)
                        {
                            <th class="zeroPadding">@item.Text</th>

                        }
                        <th class="zeroPadding">All</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

    @if (ViewBag.HasBreakdown)
    {
        <div class="row">
            <div class="col-md-6 hometbl" style="text-align:center;border:5px solid #161719;height:350px">
                @*<div style="position:relative" id="displaylossdiv">*@
                <h5 style="color:white">Loss Report</h5>
                <table class="table table-striped table-bordered" id="tblLoss">
                    <thead>
                        <tr>
                            <th class="zeroPadding">Reason</th>
                            <th class="zeroPadding">Duration(Mins)</th>
                            <th class="zeroPadding">Frequency</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>

                @*</div>*@

            </div>
            <div class="col-md-6" style="text-align:center;border:5px solid #161719;height:350px">
                <div id="showId" class="showData">
                    <canvas id="doughBreak"></canvas>
                </div>
                <div id="noId" style="margin-top:150px" class="noData">
                    <span style="color:white">No Data Available</span>

                </div>

            </div>

        </div>
    }
    @if (ViewBag.HasRejection)
    {
        <div class="row">
            <div class="col-md-6 hometbl" style="text-align:center;border:5px solid #161719;height:350px">
                @*<h5 style="color:white;height:2px;">Rejections  </h5>
            <svg id="svg1"></svg>*@
                <div class="myCanvaCustom" id="paretochartContainerRej" style="height: 340px; ">
                    @*Draw Pareto here*@
                </div>

            </div>
            <div class="col-md-6 hometbl" style="text-align:center;border:5px solid #161719;height:350px">
                <h5 style="color:white"> Rejection Report </h5>
                <table class="table table-striped table-bordered" id="tblRej">
                    <thead>
                        <tr>
                            <th class="zeroPadding">Reason</th>
                            <th class="zeroPadding">Count</th>

                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    }
    @if (ViewBag.HasBreakdown)
    {
        <div class="row">

            <div class="col-md-12" style="text-align:center;border:5px solid #161719">
                <div id="nav">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_0" id="Excisting_Pop" data-toggle="tab" aria-expanded="true">Duration</a></li>
                        <li class=""><a href="#tab_1" data-toggle="tab" aria-expanded="false">Frequency</a></li>
                        @*<li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Grid View</a></li>*@
                    </ul>
                </div>
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_0">
                        <div class="myCanvaCustom" id="paretochartContainer" style="height: 300px; width: 100%;">
                            @*Draw Pareto here*@
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_1">
                        <div class="myCanvaCustom" id="paretochartContainerFreequency" style="height: 300px; width: 100%;">
                            @*Draw Pareto here*@
                        </div>
                    </div>
                    @*<div class="tab-pane" id="tab_2">
                <h4 style="color:white">Loss Report</h4>

                </div>*@
                </div>
            </div>
        </div>
    }
</div>
<div class="modal fade" id="OEEDetailsModel" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalheader"></h4>
            </div>
            <div class="modal-body">

                <table class="table table-striped table-sm" id="tblOEEDetails" style="width:100%">
                    <thead>
                        <tr>
                            <th class="zeroPadding">Date</th>
                            @foreach (var item in Model.ShiftList)
                            {
                                <th class="zeroPadding">@item.Text</th>

                            }

                            <th class="zeroPadding">Over All</th>
                        </tr>
                    </thead>
                </table>

                <div class="overlay" style="z-index: 1000; display: none" id="dvInput_ProdEdit_Loading">
                    <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                </div>


            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="LossDetailsModel" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalheaderb"></h4>
            </div>
            <div class="modal-body">

                <table class="table table-striped table-sm" id="tblLossDetails" style="width:100%">
                    <thead>
                        <tr>
                            <th class="zeroPadding">Date</th>
                            <th class="zeroPadding">Line</th>
                            <th class="zeroPadding">Duration</th>

                            <th class="zeroPadding">SubReason</th>
                            <th class="zeroPadding">Remark</th>
                        </tr>
                    </thead>
                </table>

                <div class="overlay" style="z-index: 1000; display: none" id="dvInput_ProdEdit_Loading">
                    <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                </div>


            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="RejDetailsModel" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalheaderr"></h4>
            </div>
            <div class="modal-body">

                <table class="table table-striped table-sm" id="tblRejDetails" style="width:100%">
                    <thead>
                        <tr>
                            <th class="zeroPadding">Date</th>
                            <th class="zeroPadding">Line</th>
                            <th class="zeroPadding">Count</th>
                        </tr>
                    </thead>
                </table>

                <div class="overlay" style="z-index: 1000; display: none" id="dvInput_ProdEdit_Loading">
                    <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                </div>


            </div>

        </div>
    </div>

</div>
<script type="text/javascript" src="~/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="~/plugins/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.flash.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.html5.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/jszip.min.js"></script>
<script type="text/javascript" src="~/plugins/datatables/vfs_fonts.js"></script>
<script type="text/javascript" src="~/plugins/datatables/buttons.print.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/plugins/datatables/buttons.dataTables.min.css" />
<script src="~/plugins/chartjs/Chart.min.js"></script>
<script src="~/plugins/chartjs/utils.js"></script>
<script src="~/plugins/canvasjs.min.js"></script>
<script src="~/plugins/d3/d3.v4.min.js"></script>
<script>
    //$(document).ajaxStart(function () {
    //    // Show image container
    //    $("#loader").show();
    //});
    //$(document).ajaxComplete(function () {
    //    // Hide image container
    //    $("#loader").hide();
    //});
    $(function () {
        $('#MachineDrp').change(function () {
            var url = $(this).val();
            if (url.toLowerCase() == "add new") {
                location.href = "@Url.Action("Index", "UserMachineReport")";
            }
        });
    });

    var tbreakHead = [];
    tbreakHead.push("Reason");
    tbreakHead.push("Duration");
    tbreakHead.push("Frequency");

    var toeeHead = [];
    toeeHead.push("MachineName");
    toeeHead.push("ShiftA");
    toeeHead.push("ShiftB");
    toeeHead.push("ShiftC");
    toeeHead.push("OverAll");
    var rangeName = '';
    var lossReportData = '';
    var d = new Date();
    var month = d.getMonth();
    var oeeReportData = '';
    var rptMachine = $("#rptMachine").data("value");
    var rptDate = $("#rptDate").data("value");
    var retShifts = [];
    var rejReportData = '';
    function setRptDate(rptdate) {

        $("#rptDate").val(rptdate);

        rptDate = rptdate;
        //alert(rptDate);

    }


    $(document).ready(function () {
        var datearray = rptDate.split('to');
        var startd = new Date(datearray[0].trim());;
        var endd = new Date(datearray[1].trim());
        var start = moment(startd); //moment().subtract(29, 'days');
        var end = moment(endd); //moment();
        function cb(start, end) {
            $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        }
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
                startDate: start,
                endDate: end,
                "showCustomRangeLabel": false,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'This Week': [moment().startOf('isoWeek'), moment()],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    //'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    //,'This Year': [moment().startOf('year'), moment()]
                },

                //"alwaysShowCalendars": false
                //, startDate: datearray[0],
                //endDate: datearray[1]
            },
            cb);
        cb(start, end);
        //function (start, end) {
        //    $('#daterange-btn span').html(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'))

        $(".ranges ul li").click(function () {
            rangeName = $(this).text();
        });
        var lstPerformance = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PerformanceReportListHome) as String)';
        var lstLoss = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.LossReportList) as String)';
        var lstRej = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.RejectionReportListHome) as String)';
        var lstShifts = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ShiftList) as String)';

        var shiftData = $.parseJSON(lstShifts);

        var i;
        for (i = 0; i < shiftData.length; i++) { retShifts.push(shiftData[i].Text); }
        retShifts.push("Over All");

        var data = $.parseJSON(lstPerformance);
        oeeReportData = lstPerformance;
        DisplayOEETable(lstPerformance);


        DisplayOEEChart(lstPerformance);

        DisplayLossValue(lstLoss);
        DisplayRejections(lstRej);
        //if (lstRej.length > 5) {
        //    DisplayBubbleChart(lstRej);
        //} else {
        //    $("#svg1").empty();
        //}

        DisplayDoughnutBreakChart(lossReportData);
        $('[href="#tab_1"]').on('shown.bs.tab', function (e) {

            DrawParetoFreequency(lossReportData);
            $('#tab_1').off();//to remove the binded event after initial rendering
        });
        $('[href="#tab_0"]').on('shown.bs.tab', function (e) {
            DrawPareto(lossReportData);
            $('#tab_0').off();//to remove the binded event after initial rendering
        });
        $('#tblRej tbody').on('click', 'tr', function () {
            var data = $('#tblRej').DataTable().row(this).data();
            if (data === undefined) { alert('No data to display!'); } else { getRejDetail(data[0]); }

        });
        $('#tblLoss tbody').on('click', 'tr', function () {
            var data = $('#tblLoss').DataTable().row(this).data();
            if (data === undefined) { alert('No data to display!'); } else { getLossDetail(data[0]); }
        });
        $('#tblOEE tbody').on('click', 'tr', function () {

            var data = $('#tblOEE').DataTable().row(this).data();
            if (data === undefined) { alert('No data to display!'); } else { ShowData(data[0]); }
        });
    });
    function appendARPRQR(str) {
        if (str == null || str == 'undefined') { return ''; }
        var choppedUpURL = str.split(",");
        var finalURL = "AR:" + choppedUpURL[0] + " PR:" + choppedUpURL[1] + " QR:" + choppedUpURL[2];
        return finalURL;
    }
    function DisplayOEEChart(response) {
        if (response.length > 4) {

            var color = Chart.helpers.color;
            var data = $.parseJSON(response).filter(a => a.DataLevel == "TotalLevel");
            var dataPrev = $.parseJSON(response).filter(a => a.DataLevel == "TotalLevelPrev");
            var resultOverall = [];
            var result = [];
            var resultPrev = [];
            var resultPrevOverall = [];
            var tooltop = Array.from(Array(4), () => new Array(4));
            if (data.length > 0) {
                tooltop[0][0] = appendARPRQR(data[0].tShiftA);
                tooltop[0][1] = appendARPRQR(data[0].tShiftB);
                tooltop[0][2] = appendARPRQR(data[0].tShiftC);
                tooltop[0][3] = appendARPRQR(data[0].tOverAll);
                tooltop[2][0] = appendARPRQR(data[0].tShiftA);
                tooltop[2][1] = appendARPRQR(data[0].tShiftB);
                tooltop[2][2] = appendARPRQR(data[0].tShiftC);
                tooltop[2][3] = appendARPRQR(data[0].tOverAll);
                result.push(data[0].ShiftA);
                result.push(data[0].ShiftB);
                result.push(data[0].ShiftC);
                result.push(data[0].OverAll);

                resultOverall.push(data[0].ShiftA);
                resultOverall.push(data[0].ShiftB);
                resultOverall.push(data[0].ShiftC);
                resultOverall.push(data[0].OverAll);
            }
            if (dataPrev.length > 0) {
                resultPrev.push(dataPrev[0].ShiftA);
                resultPrev.push(dataPrev[0].ShiftB);
                resultPrev.push(dataPrev[0].ShiftC);
                resultPrev.push(dataPrev[0].OverAll);

                resultPrevOverall.push(dataPrev[0].ShiftA);
                resultPrevOverall.push(dataPrev[0].ShiftB);
                resultPrevOverall.push(dataPrev[0].ShiftC);
                resultPrevOverall.push(dataPrev[0].OverAll);

                tooltop[1][0] = appendARPRQR(dataPrev[0].tShiftA);
                tooltop[1][1] = appendARPRQR(dataPrev[0].tShiftB);
                tooltop[1][2] = appendARPRQR(dataPrev[0].tShiftC);
                tooltop[1][3] = appendARPRQR(dataPrev[0].tOverAll);
                tooltop[3][0] = appendARPRQR(dataPrev[0].tShiftA);
                tooltop[3][1] = appendARPRQR(dataPrev[0].tShiftB);
                tooltop[3][2] = appendARPRQR(dataPrev[0].tShiftC);
                tooltop[3][3] = appendARPRQR(dataPrev[0].tOverAll);
            }


            var barChartData = {
                //labels: ['Shift A', 'Shift B', 'Shift C', 'Over All'],
                labels: retShifts,

                datasets: [{
                    label: 'Current Bar',
                    backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.blue,
                    borderWidth: 1,
                    data: result
                }, {
                    label: 'Last Bar',
                    backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.red,
                    borderWidth: 1,
                    data: resultPrev
                }, {
                    label: 'Current Line',
                    backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.blue,
                    borderWidth: 1,
                    type: 'line',
                    fill: false,
                    data: resultOverall
                }, {
                    label: 'Last Line',
                    backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                    borderColor: window.chartColors.red,
                    borderWidth: 1,
                    type: 'line',
                    fill: false,
                    data: resultPrevOverall
                }]



            };

            var ctx = document.getElementById('canvas').getContext('2d');
            if (window.myBar != undefined)
                window.myBar.destroy();
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'OEE',
                        fontSize: 14,
                        fontColor: '#fff'
                    }, scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    tooltips: {
                        callbacks: {
                            title: function (tooltipItem, data) {
                                return data['labels'][tooltipItem[0]['index']];
                            },
                            label: function (tooltipItem, data) {
                                return data['datasets'][tooltipItem['datasetIndex']]['data'][tooltipItem['index']];
                            },
                            afterLabel: function (tooltipItem, data) {
                                //debugger;
                                //let value = tooltop[tooltipItem['index']];
                                let value = tooltop[tooltipItem['datasetIndex']][tooltipItem['index']]
                                return value;
                            }
                        },
                        backgroundColor: '#FFF',
                        titleFontSize: 16,
                        titleFontColor: '#0066ff',
                        bodyFontColor: '#000',
                        bodyFontSize: 14,
                        displayColors: false
                    }
                }
            });
        }

        if (response != null && response.length > 4) {
            document.getElementById("showbar").classList.remove("noData");
            document.getElementById("showbar").classList.add("showData");
            document.getElementById("nobar").classList.remove("showData");
            document.getElementById("nobar").classList.add("noData");

        } else {
            document.getElementById("showbar").classList.remove("showData");
            document.getElementById("showbar").classList.add("noData");
            document.getElementById("nobar").classList.remove("noData");
            document.getElementById("nobar").classList.add("showData");
        }


    }
    function DisplayOEETable(response) {


        var data = $.parseJSON(response).filter(a => a.DataLevel == "ShiftLevel");
        let table = document.getElementById('tblOEE');
        $('#tblOEE').DataTable().clear().draw();
        var table1 = $('#tblOEE').DataTable
            ({
                "destroy": true,
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": false,
                "pageLength": 5,
                "lengthChange": false,
                "columnDefs": [
                    {
                        "targets": [-1],
                        "visible": false,
                        "searchable": false
                    }, { "width": 175, "targets": [0] }
                ]
            });
        $.each(data, function (i, l) {

            var row_dtable = new Array();
            $.each(l, function (key, value) {
                if (retShifts.length == 3) {
                    if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'OverAll') {
                        row_dtable.push(value);
                    }
                }
                else {
                    if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'ShiftC' || key == 'OverAll') {
                        row_dtable.push(value);
                    }
                }

            });
            row_dtable.push("");
            table1.row.add(row_dtable).draw(false);
        });

    }
    function generateOEETableHead(table, data) {

        let thead = table.createTHead();
        let row = thead.insertRow();
        row.style.color = "white";
        for (let key of data) {
            if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'ShiftC' || key == 'OverAll') {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
        }

    }

    function generateOEETable(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            // row.style.color = "white";
            for (key in element) {
                if (key == 'MachineName' || key == 'ShiftA' || key == 'ShiftB' || key == 'ShiftC' || key == 'OverAll') {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[key]);
                    cell.appendChild(text);
                    if (key == 'MachineName') {
                        cell.style.fontWeight = "bold";
                        cell.style.cursor = "pointer";
                        cell.style.textAlign = "left";
                        cell.onclick = function () {
                            ShowData(element.MachineName);
                        };
                    }
                }
            }

        }
    }
    function getData() {
        var machineid = $("#MachineDrp option:selected").val();

        var sdat = "0";
        var edat = "0";
        var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
        if (daterange != "") {
            if (daterange.indexOf("to") > -1) {
                var datearray = daterange.split('to');
                sdat = datearray[0].trim();
                edat = datearray[1].trim();
            }
            setRptDate(daterange);
        }
        data =
        {
            StartDate: sdat,
            EndDate: edat,
            typeofdata: "DateWise",
            MachineID: machineid
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/UserDashBoard/FinalResult",
            data: JSON.stringify(data),
            // processData: true,
            dataType: "json",
            beforeSend: function () {
                // Show image container
                $('#AjaxLoader').show();
            },
            success: function (response) {

                var dataperformance = JSON.stringify(response.PerformanceReportListHome);
                var dataloss = JSON.stringify(response.LossReportList);
                var datarej = JSON.stringify(response.RejectionReportListHome);
                var data = $.parseJSON(dataperformance);
                oeeReportData = dataperformance;
                DisplayOEETable(dataperformance);
                DisplayOEEChart(dataperformance);
                DisplayLossValue(dataloss);
                DisplayDoughnutBreakChart(lossReportData);
                DisplayRejections(datarej);
                //if (datarej.length > 5) {
                //    DisplayBubbleChart(datarej);
                //} else {
                //    $("#svg1").empty();
                //}

            },
            error: function (err) {
                $('#AjaxLoader').hide();
            }
            ,
            complete: function (data) {
                // Hide image container
                $('#AjaxLoader').hide();
            }
        });
    }
    function ShowData(machineName) {

        var lstPerformance = oeeReportData;
        //'@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.PerformanceReportListHome) as String)';
        var data = $.parseJSON(lstPerformance);
        var oee = data.filter(a => a.DataLevel == "DateLevel" && a.MachineName == machineName);

        var tblhead = machineName + ' (' + rptDate + ')';
        var table = $('#tblOEEDetails').DataTable
            ({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: tblhead,
                        messageBottom: null
                    },

                    {
                        extend: 'print',
                        messageTop: tblhead,
                        messageBottom: null
                    }
                ]
            });
        table.clear().draw();
        for (var j = 0; j < oee.length; j++) {
            var tbldataaraay = [];
            tbldataaraay.push(oee[j].RecordDate);
            tbldataaraay.push(oee[j].ShiftA);
            tbldataaraay.push(oee[j].ShiftB);
            tbldataaraay.push(oee[j].ShiftC);
            tbldataaraay.push(oee[j].OverAll);
            table.row.add(tbldataaraay).draw(false);
        }
        $("#modalheader").text('OEE for ' + machineName + ' (' + rptDate + ')');
        $('#OEEDetailsModel').modal();

    }
    function DisplayLossValue(response) {

        var data = $.parseJSON(response);
        $('#tblLoss').DataTable().clear().draw();
        var table3 = $('#tblLoss').DataTable
            ({
                "destroy": true,
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": false,
                "pageLength": 5,
                "lengthChange": false,
                "columnDefs": [
                    {
                        "targets": [3],
                        "visible": false,
                        "searchable": false
                    }, { "width": 200, "targets": [0] }
                ]
            });
        $.each(data, function (i, l) {

            var row_dtable = new Array();
            $.each(l, function (key, value) {
                if (key == 'Reason' || key == 'Duration' || key == 'Freequency') {
                    row_dtable.push(value);
                }

            });
            row_dtable.push("");
            table3.row.add(row_dtable).draw(false);
        });


        lossReportData = data;
        DrawPareto(lossReportData);
        DrawParetoFreequency(lossReportData);

    }

    function PassParetoPoints(data, typ) {
        var datapoints = [];
        if (data != null) {

            for (var i = 0; i < data.length; i++) {
                if (typ === 'Freequency') {
                    data.sort((a, b) => parseInt(b.Freequency) - parseInt(a.Freequency));
                    datapoints.push({
                        "label": data[i].Reason,
                        y: data[i].Freequency

                    });

                }
                else if (typ === 'Duration') {
                    data.sort((a, b) => parseInt(b.Duration) - parseInt(a.Duration));
                    datapoints.push({
                        "label": data[i].Reason,
                        y: data[i].Duration

                    });
                }
                else if (typ === 'Rejection') {
                    data.sort((a, b) => parseInt(b.Count) - parseInt(a.Count));
                    datapoints.push({
                        "label": data[i].Name.substring(0, 20),
                        y: data[i].Count
                    });
                }
            }
        }
        return datapoints;
    }
    function DrawPareto(lossData) {
        var myBoolValue = @ViewBag.HasBreakdown.ToString().ToLower();
        if (myBoolValue) {
            var chart = new CanvasJS.Chart("paretochartContainer",
                {
                    animationEnabled: true, backgroundColor: "#212123",

                    title: {
                        text: "Breakdown Duration (Minuts)"
                    },
                    axisX: {

                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "15"
                    },
                    axisY: {

                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "12",
                        title: "Duration",
                        lineColor: "#4F81BC",
                        tickColor: "#4F81BC",
                        labelFontColor: "#4F81BC",
                        maximum: 120
                    },


                    axisY2: {
                        title: "Percent",
                        suffix: "%",
                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "15"

                    },
                    data: [{
                        type: "column",
                        dataPoints: PassParetoPoints(lossData, 'Duration')
                    }]
                });
            chart.render();
            createPareto();
            function createPareto() {
                var dps = [];
                var yValue, yTotal = 0, yPercent = 0;

                for (var i = 0; i < chart.data[0].dataPoints.length; i++)
                    yTotal += chart.data[0].dataPoints[i].y;

                for (var i = 0; i < chart.data[0].dataPoints.length; i++) {
                    yValue = chart.data[0].dataPoints[i].y;
                    yPercent += (yValue / yTotal * 100);
                    dps.push({ label: chart.data[0].dataPoints[i].label, y: yPercent });
                }

                chart.addTo("data", { type: "line", yValueFormatString: "0.##\"%\"", dataPoints: dps });
                chart.data[1].set("axisYType", "secondary", false);
                chart.axisY[0].set("maximum", yTotal);
                chart.axisY2[0].set("maximum", 100);
            }
        }

    }
    function DrawParetoFreequency(lossData) {
        var myBoolValue = @ViewBag.HasBreakdown.ToString().ToLower();
        if (myBoolValue) {
            var chart1 = new CanvasJS.Chart("paretochartContainerFreequency",
                {
                    animationEnabled: true, backgroundColor: "#212123",

                    title: {
                        text: "Breakdown Frequency"
                    },
                    axisX: {

                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "15"
                    },
                    axisY: {

                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "12",
                        title: "Frequency",
                        lineColor: "#4F81BC",
                        tickColor: "#4F81BC",
                        labelFontColor: "#4F81BC",
                        maximum: 120
                    },


                    axisY2: {
                        title: "Percent",
                        suffix: "%",
                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "15"

                    },
                    data: [{
                        type: "column",
                        dataPoints: PassParetoPoints(lossData, 'Freequency')
                    }]
                });
            chart1.render();
            createPareto();
            function createPareto() {
                var dps = [];
                var yValue, yTotal = 0, yPercent = 0;

                for (var i = 0; i < chart1.data[0].dataPoints.length; i++)
                    yTotal += chart1.data[0].dataPoints[i].y;

                for (var i = 0; i < chart1.data[0].dataPoints.length; i++) {
                    yValue = chart1.data[0].dataPoints[i].y;
                    yPercent += (yValue / yTotal * 100);
                    dps.push({ label: chart1.data[0].dataPoints[i].label, y: yPercent });
                }

                chart1.addTo("data", { type: "line", yValueFormatString: "0.##\"%\"", dataPoints: dps });
                chart1.data[1].set("axisYType", "secondary", false);
                chart1.axisY[0].set("maximum", yTotal);
                chart1.axisY2[0].set("maximum", 100);
            }
        }
    }
    function DrawParetoRej(rejData) {
        var myBoolValue = @ViewBag.HasRejection.ToString().ToLower();
        if (myBoolValue) {
            var chartRej = new CanvasJS.Chart("paretochartContainerRej",
                {
                    animationEnabled: true, backgroundColor: "#212123",

                    title: {
                        text: "Rejections"
                    },
                    axisX: {

                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "15",
                        labelWrap: true
                    },
                    axisY: {

                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "12",
                        title: "Rejection Count",
                        //lineColor: "#FFCD56",
                        //tickColor: "#FFCD56",
                        //labelFontColor: "#FFCD56",
                        lineColor: "#4F81BC",
                        tickColor: "#4F81BC",
                        labelFontColor: "#4F81BC",
                        maximum: 120
                    },


                    axisY2: {
                        title: "Percent",
                        suffix: "%",
                        labelFontColor: "White",
                        labelFontWeight: "bold",
                        labelFontSize: "15"

                    },
                    data: [{
                        // color: "#FFCD56",
                        type: "column",
                        dataPoints: PassParetoPoints(rejData, 'Rejection')
                    }]
                });
            chartRej.render();
            createPareto();
            function createPareto() {
                var dps = [];
                var yValue, yTotal = 0, yPercent = 0;

                for (var i = 0; i < chartRej.data[0].dataPoints.length; i++)
                    yTotal += chartRej.data[0].dataPoints[i].y;

                for (var i = 0; i < chartRej.data[0].dataPoints.length; i++) {
                    yValue = chartRej.data[0].dataPoints[i].y;
                    yPercent += (yValue / yTotal * 100);
                    dps.push({ label: chartRej.data[0].dataPoints[i].label, y: yPercent });
                }

                chartRej.addTo("data", { type: "line", yValueFormatString: "0.##\"%\"", dataPoints: dps });
                chartRej.data[1].set("axisYType", "secondary", false);
                chartRej.axisY[0].set("maximum", yTotal);
                chartRej.axisY2[0].set("maximum", 100);
            }
        }
    }

    function GetchildLossData(reason) {

        var loss;
        for (let element of lossReportData) {

            for (key in element) {
                if (key == 'Reason') {

                    if (element[key] == reason) {

                        loss = element.LossDetails;
                        break;
                    }
                }
            }

        }
        var tblhead = loss[0].Reason + ' (' + rptDate + ')';
        var table = $('#tblLossDetails').DataTable
            ({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: tblhead,
                        messageBottom: null
                    },

                    {
                        extend: 'print',
                        messageTop: tblhead,
                        messageBottom: null
                    }
                ]
            });
        table.clear().draw();
        for (var j = 0; j < loss.length; j++) {
            var tbldataaraay = [];
            tbldataaraay.push(loss[j].ProductionDate);
            tbldataaraay.push(loss[j].SubReason);
            tbldataaraay.push(loss[j].TotalStoppagetime);
            tbldataaraay.push(loss[j].MachineName);
            tbldataaraay.push(loss[j].Remarks);
            table.row.add(tbldataaraay).draw(false);
        }
        $("#modalheaderb").text(loss[0].Reason + ' (' + rptDate + ')');
        $('#LossDetailsModel').modal();

    }
    function generateTableHead(table, data) {

        let thead = table.createTHead();
        let row = thead.insertRow();
        row.style.color = "white";
        for (let key of data) {
            if (key == 'Reason' || key == 'Duration' || key == 'Freequency') {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
        }


    }

    function generateTable(table, data) {
        for (let element of data) {
            let row = table.insertRow();
            //row.style.color = "white";
            for (key in element) {
                if (key == 'Reason' || key == 'Duration' || key == 'Freequency') {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[key]);
                    cell.appendChild(text);
                    cell.style.textAlign = "left";
                    if (key == 'Reason') {
                        cell.style.fontWeight = "bold";
                        cell.style.cursor = "pointer";

                        cell.onclick = function () {
                            ShowLossData(element.LossDetails);
                        };
                    }
                }
            }

        }
    }
    function DisplayDoughnutBreakChart(response) {
        var myBoolValue = @ViewBag.HasBreakdown.ToString().ToLower();
        if (myBoolValue) {
            var lbls = [];
            var vals = [];
            var color = Chart.helpers.color;
            if (response != null && response.length > 0) {
                for (let element of response) {
                    for (key in element) {
                        if (key == 'Reason' || key == 'Duration') {
                            if (key == 'Reason') {
                                lbls.push(element.Reason);
                            }
                            if (key == 'Duration') {
                                vals.push(element.Duration);
                            }
                        }
                    }

                }
            }

            var doughnutChartData = {
                labels: lbls,

                datasets: [{

                    data: vals,
                    backgroundColor: [

                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                        window.chartColors.purple,
                        window.chartColors.grey,
                        window.chartColors.darkblue,


                    ]
                }]



            };

            var ctx = document.getElementById('doughBreak').getContext('2d');
            if (window.myDougnut != undefined)
                window.myDougnut.destroy();
            window.myDougnut = new Chart(ctx, {
                type: 'doughnut',
                data: doughnutChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'right',
                    },
                    title: {
                        display: true,
                        text: 'Breakdown',
                        position: 'top',
                        fontSize: 14,
                        fontColor: '#fff'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            });
            if (response != null && response.length > 0) {
                document.getElementById("showId").classList.remove("noData");
                document.getElementById("showId").classList.add("showData");
                document.getElementById("noId").classList.remove("showData");
                document.getElementById("noId").classList.add("noData");

            } else {
                document.getElementById("showId").classList.remove("showData");
                document.getElementById("showId").classList.add("noData");
                document.getElementById("noId").classList.remove("noData");
                document.getElementById("noId").classList.add("showData");
            }
        }
    }
    function getLossDetail(reason) {
        var machineid = $("#MachineDrp option:selected").val();

        var sdat = "0";
        var edat = "0";
        var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
        if (daterange != "") {
            if (daterange.indexOf("to") > -1) {
                var datearray = daterange.split('to');
                sdat = datearray[0].trim();
                edat = datearray[1].trim();
            }
            setRptDate(daterange);
        }
        data =
        {
            StartDate: sdat,
            EndDate: edat,
            typeofdata: "DateWise",
            MachineID: machineid,
            Reason: reason
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/UserDashBoard/GetLossDetails",
            data: JSON.stringify(data),
            // processData: true,
            dataType: "json",
            success: function (response) {
                // debugger;
                //var lossdata = JSON.stringify(response);

                showLossDetails(response);

            },
            error: function (error) {

                $("#loder").hide();
            }
        });
    }
    function showLossDetails(loss) {
        var tblhead = loss[0].Reason + ' (' + rptDate + ')';
        var table = $('#tblLossDetails').DataTable
            ({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: tblhead,
                        messageBottom: null
                    },

                    {
                        extend: 'print',
                        messageTop: tblhead,
                        messageBottom: null
                    }
                ]
            });
        table.clear().draw();
        for (var j = 0; j < loss.length; j++) {
            var tbldataaraay = [];
            tbldataaraay.push(loss[j].ProductionDate);
            tbldataaraay.push(loss[j].MachineName);
            tbldataaraay.push(loss[j].TotalStoppagetime);

            tbldataaraay.push(loss[j].SubReason);
            tbldataaraay.push(loss[j].Remarks);
            table.row.add(tbldataaraay).draw(false);
        }
        $("#modalheaderb").text(loss[0].Reason + ' (' + rptDate + ')');
        $('#LossDetailsModel').modal();

    }
    function DisplayRejections(response) {

        var data = $.parseJSON(response);
        $('#tblRej').DataTable().clear().draw();
        var table4 = $('#tblRej').DataTable
            ({
                "destroy": true,
                "paging": true,
                "ordering": true,
                "info": false,
                "searching": false,
                "pageLength": 5,
                "lengthChange": false,
                "columnDefs": [
                    {
                        "targets": [2],
                        "visible": false,
                        "searchable": false
                    }, { "width": 50, "targets": [1] }
                ]
            });
        $.each(data, function (i, l) {

            var row_dtable = new Array();
            $.each(l, function (key, value) {
                if (key == 'Name' || key == 'Count') {
                    row_dtable.push(value);
                }

            });
            row_dtable.push("");
            table4.row.add(row_dtable).draw(false);
        });
        rejReportData = data;
        DrawParetoRej(rejReportData);
        // lossRejData = data;


    }
    function DisplayBubbleChart(response) {

        var w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            a = w.innerWidth || e.clientWidth || g.clientWidth,
            b = w.innerHeight || e.clientHeight || g.clientHeight;

        var da = $.parseJSON(response);
        dataset = { "children": da };
        var diameter = (a / 4) - 25;
        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var bubble = d3.pack(dataset)
            .size([diameter, diameter])
            .padding(1.5);

        var svg = d3.select("#svg1")
            //.append("svg")
            .attr("width", diameter)
            .attr("height", diameter);
        //.attr("title", "Rejection Reasons");

        //.attr("class", "bubble");

        var nodes = d3.hierarchy(dataset)
            .sum(function (d) { return d.Count; });

        var node = svg.selectAll(".node")
            .data(bubble(nodes).descendants())
            .enter()
            .filter(function (d) {
                return !d.children
            })
            .append("g")
            .attr("class", "node")
            .attr("transform", function (d) {
                //debugger;
                return "translate(" + d.x + "," + d.y + ")";
            });

        node.append("title")
            .text(function (d) {
                return d.data.Name + ": " + d.data.Count;
            });

        node.append("circle")
            .attr("r", function (d) {
                return d.r;
            })
            .style("fill", function (d, i) {
                return color(i);
            });

        node.append("text")
            .attr("dy", ".2em")
            .style("text-anchor", "middle")
            .text(function (d) {
                return d.data.Name.substring(0, d.r / 3);
            })
            .attr("font-family", "sans-serif")
            .attr("font-size", function (d) {
                return d.r / 5;
            })
            .attr("fill", "white");

        node.append("text")
            .attr("dy", "1.3em")
            .style("text-anchor", "middle")
            .text(function (d) {
                return d.data.Count;
            })
            .attr("font-family", "Gill Sans", "Gill Sans MT")
            .attr("font-size", function (d) {
                return d.r / 5;
            })
            .attr("fill", "white");

        d3.select(self.frameElement)
            .style("height", a / 4 + "px");
    }
    function getRejDetail(reason) {
        var machineid = $("#MachineDrp option:selected").val();

        var sdat = "0";
        var edat = "0";
        var daterange = $('#daterange-btn span').html();//$("#txtDateRange").val();
        if (daterange != "") {
            if (daterange.indexOf("to") > -1) {
                var datearray = daterange.split('to');
                sdat = datearray[0].trim();
                edat = datearray[1].trim();
            }
            setRptDate(daterange);
        }
        data =
        {
            StartDate: sdat,
            EndDate: edat,
            typeofdata: "DateWise",
            MachineID: machineid,
            Reason: reason
        }

        $.ajax({

            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/UserDashBoard/GetRejectionDetails",
            data: JSON.stringify(data),
            // processData: true,
            dataType: "json",
            success: function (response) {
                // debugger;
                //var lossdata = JSON.stringify(response);
                if (response.length > 0) {
                    showRejDetails(response);
                }

            },
            error: function (error) {

                $("#loder").hide();
            }
        });
    }
    function showRejDetails(rej) {
        var tblhead = rej[0].ReasonName + ' (' + rptDate + ')';
        var table = $('#tblRejDetails').DataTable
            ({
                destroy: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        messageTop: tblhead,
                        messageBottom: null
                    },

                    {
                        extend: 'print',
                        messageTop: tblhead,
                        messageBottom: null
                    }
                ]
            });
        table.clear().draw();
        for (var j = 0; j < rej.length; j++) {

            var tbldataaraay = [];
            tbldataaraay.push(rej[j].ProductionDate);
            tbldataaraay.push(rej[j].MachineName);
            tbldataaraay.push(rej[j].ProdCount);

            table.row.add(tbldataaraay).draw(false);
        }
        $("#modalheaderr").text(rej[0].ReasonName + ' (' + rptDate + ')');
        $('#RejDetailsModel').modal();

    }
</script>


