﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.StopageSubReason

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(i=>i.SubReasonId)
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1> Edit <span>Stoppage Sub Reason</span></h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.ReasonId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.ReasonId, UserUtility.AllStopageReason, "Select Reason", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReasonId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.SubReasonName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.SubReasonName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubReasonName, "", new { @class = "text-danger" })

                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.SubReasonCode, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.SubReasonCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubReasonCode, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.ReasonDescription, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ReasonDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReasonDescription, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", style = "width:20px;height:20px" })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.InfluxSubReasonId, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.InfluxSubReasonId, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.InfluxSubReasonId, "", new { @class = "text-danger" })
                </div>
                
                <div class="row">
                    <div class="form-group col-xs-12 col-md-4">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                    </div>

                    <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                        <input type="submit" value="Save" class="btn btn-create-user" />
                    </div>
                </div>
            </section>
        </div>
    </div>
}



@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>

    @*@Scripts.Render("~/bundles/jqueryval")*@
}
