﻿@using ProEfficient.Dal.Utility
@model IEnumerable<ProEfficient.Core.Models.StopageSubReason>

@{
    ViewBag.Title = "Sub Reason List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="page-title">Sub Reason List @Html.ActionLink("Create New Sub Reason", "Create","StoppageSubReason", null, new { @class = "btn btn-primary" })</h2>


<table class="table table-striped table-bordered">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ReasonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubReasonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubReasonCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonDescription)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>

                    @UserUtility.AllStopageReason.FirstOrDefault(i => i.Value == item.ReasonId.ToString()).Text
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubReasonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubReasonCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonDescription)
                </td>

                <td class="edit">
                    @Html.ActionLink("Edit", "Edit", new { id = item.SubReasonId })
                </td>
            </tr>
        }
        </tbody>
</table>
