﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.ProductionReportAllMachine

@{
    ViewBag.Title = "Production Efficiency Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@try
{
    @Html.AntiForgeryToken();
}
catch
{

}

<style>

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        /* color: #555; */
        cursor: default;
        background-color: #fff;
        /* border: 1px solid #ddd; */
        border-bottom-color: transparent;
    }




    .nav-tabs > li > a:hover {
        color: rgba(255,255,255,0.7);
        border-color: none
    }

    .nav-tabs > li > a {
        /*margin-right: 2px;
        line-height: 1.42857143;*/
        border: none;
        border-radius: 4px 4px 0 0;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: white;
        background-color: none;
        border: none;
        cursor: default;
        background-color: #00bcd4;
        border-bottom: 3px solid;
        border-bottom-color: #ffeb3b;
    }

    .nav > li > a:focus, .nav > li > a:hover {
        text-decoration: none;
        background-color: none;
        /* background-color: cyan; */
        background-color: #03A9F4;
        background-color: #3ac1dc;
    }

    .classic-tabs .nav.tabs li a.active {
        border-color: #ffeb3b;
    }

    .tabs {
        background-color: #00bcd4 !important;
    }

    .classic-tabs .nav li a.active {
        color: #fff;
        border-bottom: 3px solid;
    }

    .classic-tabs .nav {
        position: relative;
        /*overflow-x: auto;*/
        white-space: nowrap;
        border-radius: .3rem .3rem 0 0;
    }

        .classic-tabs .nav li a {
            display: block;
            padding: 20px 24px;
            font-size: 13px;
            color: rgba(255,255,255,0.7);
            text-align: center;
            text-transform: uppercase;
            border-radius: 0;
        }

    .nav-link:hover, .nav-link:focus {
        text-decoration: none;
    }
</style>
<div class="content-wrapper" style="    margin-left: 0px;
        border: 1px solid #00c0ef;
        background-color: transparent;
        border-top: 3px solid #06b2dc;
    ">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Production
            <small>Efficiency Report For All Machine All Shift </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Efficiency</a></li>
            <li><a href="#">Report</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Apply Filters</h3>

                @*<div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>*@
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group col-xs-12 col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-4" style=" margin-top: 20px;">
                                        @*@Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })*@
                                        @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { placeholder = "Your Placeholder Text" } })*@

                                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @Value = ViewBag.StartDate, autocomplete = "off", placeholder = "Enter Start Date", @class = "form-control datepicker", id = "startdate" } })
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-4" style="margin-top: 20px;">

                                        @*@Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @Value = @ViewBag.EndDate, autocomplete = "off", placeholder = "Enter End Date", @class = "form-control datepicker", id = "enddate" } })
                                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-3" style="margin-top:15px">
                                        <input typeof="button" class="btn btn-primary" id="exportButton" value="Export as PDF" />
                                    </div>
                                </div>


                                <div class="overlay" style="z-index: 1000; display: none" id="dvInput_Loading_Data">
                                    <i class="fa fa-refresh fa-spin" style="font-size:25px"></i>
                                </div>



                            </div>
                        </div>
                        <div class="box box-default" id="UsageId">
                            <div class="box-header with-border">
                                <h3 class="box-title">Usage</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="chart-responsive">
                                            @*<canvas id="pieChart" height="150"></canvas>*@
                                            <div class="row" id="easypyarprqroeechrt" style="display:none;">
                                                <div id="easypichartAR" class="col-md-4" style="margin-left: -10px;" data-percent="73">
                                                    <span class="label" id="spanAR" style="background-color: #000000f2;position:absolute;top:144px;left:61px"></span>
                                                </div>

                                                <div id="easypichartPR" class="col-md-4" style="margin-left: -77px;" data-percent="73">
                                                    <span class="label" id="spanPR" style="background-color: #000000f2;position:absolute;top:144px;left:61px"></span>
                                                </div>
                                                <div id="easypichartQR" class="col-md-4" style="margin-left: -75px;" data-percent="73">
                                                    <span class="label" id="spanQR" style="background-color: #000000f2;position:absolute;top:144px;left:61px"></span>
                                                </div>
                                                <div id="easypichartOEE" class="col-md-4" style="margin-left: -75px;" data-percent="73">
                                                    <span class="label" id="spanOEE" style="background-color: #000000f2;position:absolute;top:144px;left:61px"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        @*this for puttin tabs here*@


                        @*tabs code end here*@


                        @*for showing modal*@
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" id="modalheader">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">



                                        <div class="row">
                                            <div class="col-md-6" style="margin-bottom:5px">
                                                <label>Select date for datewise data</label>
                                            </div>
                                        </div>
                                        <div class="row">


                                            <div class="col-md-6" id="selectDrpdiv" style="margin-bottom:10px">

                                            </div>
                                        </div>
                                        <div id="modalseriestable" style="max-height:400px;overflow-y:scroll;display:none">

                                        </div>

                                        <div id="modaldatewisetable" style="max-height:400px;overflow-y:scroll;display:none">

                                        </div>



                                        <div style="margin-top:5px;margin-left:10px">
                                            <a onclick="showhidetable()"><i class="fa fa-arrow-left" style="font-size:18px;color:forestgreen" aria-hidden="true"></i></a>

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        @*upto here*@
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Machine Groups</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">

                                @for (int j = 0; j < UserUtility.AllMachineCategory.Count; j++)
                                {
                                    var setupid = "setup" + j;
                                    var webpopoverid = "webuiPopover" + j;
                                    var iddata = "fixedplugin" + UserUtility.AllMachineCategory[j].Value;
                                    var machinename = UserUtility.AllMachineCategory[j].Text.ToString().Trim();


                                    <li class="item" onclick="GetCategorywiseData(@UserUtility.AllMachineCategory[j].Value,'@machinename',@j)">
                                        <div class="product-img">
                                            <img src="~/Content/img/images.jpg" alt="Product Image">
                                            <a href="#" onclick="GetCategorywiseData(@UserUtility.AllMachineCategory[j].Value,'@machinename',@j)" class="pull-right icon-setup" id=@setupid style="display:none">
                                                <i class="fa fa-industry" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="product-info" style="margin-top: 7px;">
                                            <a href="javascript:void(0)" class="product-title">
                                                @machinename
                                                <span class="label label-warning pull-right">Chart</span>
                                            </a>
                                            <span class="product-description" style="margin-top: 3px;">
                                                Click @machinename to view the chart presentaion.
                                            </span>
                                        </div>
                                    </li>
                                }
                                <!-- /.item -->
                                <!-- /.item -->
                            </ul>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
@*tabs section Defined here*@
<section>
    <div style="width:inherit;margin-left:1.5rem !important;margin-right:1.5rem !important;
display: block;" class="classic-tabs">
        <h2>Efficiency Reports</h2>
        <ul class="nav nav-tabs" style="background-color: #00bcd4 !important;" role="tablist">
            <li class="active nav-item">
                <a class="nav-link waves-light waves-effect waves-light"
                   data-toggle="tab" role="tab" aria-controls="follow-classic-shadow"
                   aria-selected="false"
                   href="#home">
                    Report
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light waves-effect waves-light"
                   data-toggle="tab"
                   aria-controls="follow-classic-shadow"
                   aria-selected="false"
                   id="bs-tab2"
                   href="#menu1">Category Report</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" id="bs-tab3" href="#menu2">Quality Report</a>
            </li>
            <li class="nav-item">
                <a data-toggle="tab" id="bs-tab4" href="#menu3">Value Addition Report</a>

            </li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Detailed Report</h3>
                <p>All Details Report Should be Added here.</p>
            </div>
            <div id="menu1" class="tab-pane fade">

                <div class="box">
                    <div class="box-header">
                        <h3>Effiency Chart Reports</h3>
                    </div>
                    @*put charts here*@
                    <div class="box-body">

                        <div class="row" id="effiencybarandline">


                            <div class="col-md-6">
                                <div id="effcencychart" style="display:none;border-color: darkkhaki" class="box">


                                    <div class="box-warning">


                                        <div id="chartContainer" style="height:250px;width:100%"></div>



                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                @*this is barchart*@
                                <div class="box" id="effcencybarchart" style="border-color:blue;display:none">


                                    <div class="box-warning">

                                        <div id="barchartContainer" style="height:250px;width:100%"></div>




                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">





                            <div class="col-md-6" id="effcencychartpareto" style="display:none">

                                <div class="box" style="border-color: darkkhaki">


                                    <div class="box-warning">


                                        <div id="chartContainer8" style="height:250px;width:100%"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" id="effcencychartpareto2" style="display:none">


                                <div class="box" style="border-color: darkkhaki">


                                    <div class="box-warning">



                                        <div id="chartContainer9" style="height:250px;width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">


                            <div class="col-md-6" id="CtegoryPiChart" style="display:none">
                                <div class="box" style="border-color: darkkhaki">


                                    <div class="box-warning">
                                        <div id="CategorypichartContainer" style="height:250px;width:100%"></div>
                                    </div>
                                </div>
                            </div>





                            <div class="col-md-6" id="CtegoryPiChartDownFreq" style="display:none">
                                <div class="box" style="border-color: darkkhaki">


                                    <div class="box-warning">
                                        <div id="CategorypichartFreqContainer" style="height:250px;width:100%;"></div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                @*</div>*@
                @*</section>*@

            </div>

            @*upto here*@
            <div id="menu2" class="tab-pane fade">



                <div class="box">
                    <div class="box-header">
                        <h3>Quality Reports</h3>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="box" style="border-color: darkkhaki">


                                    <div class="box-warning">


                                        <div id="bubblechartContainer" style="height:300px;width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>








            </div>
            <div id="menu3" class="tab-pane fade">


                <div class="box">
                    <div class="box-header">
                        <h3>Value Addation Reports</h3>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="box" style="border-color: darkkhaki">


                                    <div class="box-warning">


                                        <div id="waterfallchartContainer" style="height:300px;width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </div>
    </div>
</section>

@*upto here*@












<!-- jvectormap -->


@section Scripts
    {


    <script src="~/CreatePDFJS/jspdf.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>*@
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    @*<script src="~/Scripts/ChartingFolder/koopjs.min.js"></script>*@
    <script src="~/lib/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/NewPopoverDemo/jquery.webui-popover.min.js"></script>

    <script src="~/lib/jquery-sparklines/jquery.sparkline.js"></script>
    <link href="~/NewPopoverDemo/jquery.webui-popover.min.css" rel="stylesheet" />
   
    <script type="text/javascript">

        $("#UsageId").hide();
        $("#MachineWiseInfoId").hide();
        $("#chartsectionid").hide();

        var seriesdatatableshowhide = 0;
        var chartdata = "";
        var machinewisechartData = "";
        var barchartdata = "";
        var modalheaderseries = "";
        var modalheaderdate = "";
        var infoboxDt = "";
        var averagearprqr = "";
        var displaycategorybox = "true";
        var RenderChartArray = [];
        var previousmachineID = "";
        var currentmachineID = "";
        var clickeidmachine = [];
        var globalmachnename = "";
        var datewisecategorymachinedata = "";
        var typeofdata = "";
        var comefromcategoryfunction = 0;
        var linechart = "";
        var barchart = "";
        var linechartdata = "";
        var breakmachinedata = "";
        var breakmachineparetodataglobal = "";

        var freqmachinedata = "";
        var freqmachineparetodataglobal = "";
        var picharfreqdata = "";
        var pichartbreqdowndata = "";

        var machinewisecharclick = 0;
        function setupPopOver(setupindex, heightnew, popovercontent) {


            $('#setup' + setupindex + '').webuiPopover(
                {

                    width: 350,
                    height: 300,
                    padding: false,
                    animation: 'pop',
                    trigger: 'hover',
                    //content: $('#optionsWrapper' + setupindex + '').html(),
                    content: popovercontent,
                    onShow: function () {
                        var machinewisearprqroee = chartdata.DT5;
                        var dataforsparklinechrt = chartdata.DT3;
                        if (machinewisearprqroee != undefined && machinewisearprqroee != null && machinewisearprqroee != "") {
                            $('#optionsWrapper' + setupindex + '').css('position', 'fixed');



                            for (var mch = 0; mch < machinewisearprqroee.length; mch++) {
                                var mchineID = machinewisearprqroee[mch].machineid;
                                var filterdata = dataforsparklinechrt.filter(a => a.MachineID == mchineID);
                                var saprklinedata = [];
                                for (var mchfilt = 0; mchfilt < filterdata.length; mchfilt++) {
                                    var machdata = filterdata[mchfilt].MachineOee;
                                    var mchID = dataforsparklinechrt[mchfilt].MachineID;
                                    if (machdata == undefined || machdata == null || machdata == "")
                                        machdata = 0;
                                    var data = parseFloat(machdata);
                                    saprklinedata.push(data);
                                }

                                $('#span' + mchineID + '').sparkline(saprklinedata, { type: 'line', Color: 'green', width: '50%', height: '50px' })

                            }
                        }
                    }


                });



        }
        function GetCategorywiseData(categoryID, machinenames, conentindex) {
            machinewisecharclick = 0;
            RenderChartArray = [];
            comefromcategoryfunction = 1;
            console.log("Value of Parametre is " + conentindex);
            $('#infobox').hide();
            $("#effcencychart").hide();
            $("#effcencychartpareto").hide();
            $("#effcencychartpareto2").hide();
            $("#effcencychartpareto3").hide();
            $("#effcencychartpareto4").hide();
            $("#easypyarprqroeechrt").hide();
            $("#effcencybarchart").hide();
            $("#CtegoryPiChart").hide();
            $("#CtegoryPiChartDownFreq").hide();
            //criteria =
            //{
            //    MachineID: 1,
            //    EndDate: "01/04/2020",
            //    StartDate: "30/04/2020"

            //}
            var StartDate = $("#startdate").val();
            var EndDate = $("#enddate").val();


            if (StartDate == "" || StartDate == undefined || StartDate == null
                || EndDate == "" || EndDate == undefined || EndDate == null) {
                alert("Please Select Date First");
                return;
            }
            var machineid = parseInt(categoryID);
            var data = JSON.stringify({ MachineID: machineid, StartDate: StartDate, EndDate: EndDate });
            console.log(data);
            $("#dvInput_Loading_Data").show();
            //  $("#effcencybarchart").hide();
            $.ajax({

                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/ProdEfficiencyAllMachine/DisplaySearchResults?command=Search",
                data: data,
                success: function (response) {

                    chartdata = $.parseJSON(response);
                    console.log(chartdata);
                    $("#dvInput_Loading_Data").hide();
                    if (chartdata.data == undefined || response === "Not Found" || chartdata.data == null || chartdata.data == "" || response === "Not Found") {
                        alert("Data not found");

                        return;
                    }
                    globalmachnename = "";
                    $("#reportheader").html('');
                    $("#reportheader").html('<h5><span>Production Efficiency Report For ' + machinenames + ' All Shift </span></h5>');
                    globalmachnename = machinenames;
                    for (var j = 0; j < 4; j++) {
                        $('#setup' + j + '').hide();
                    }

                    var machinewisearprqroee = chartdata.DT5;

                    //Now bind the html with the element again
                    var webcontent = "";
                    var height = 100;
                    if (machinewisearprqroee.length > 0) {


                        $("#UsageId").show();
                        $("#chartsectionid").show();
                        $("#MachineWiseInfoId").show();
                        webcontent = webcontent + '<center><h4>Machine Wise Info</h4></center>';
                        for (var mh = 0; mh < machinewisearprqroee.length; mh++) {
                            var MachineNameData = machinewisearprqroee[mh]["MachineName"];
                            var AR = machinewisearprqroee[mh]["Average AR"];
                            var PR = machinewisearprqroee[mh]["Average PR"];
                            var QR = machinewisearprqroee[mh]["Average QR"];
                            var OEE = machinewisearprqroee[mh]["Average OEE"];
                            var individualmachineID = machinewisearprqroee[mh]["machineid"];
                            webcontent = webcontent + '<div class="row info-box" id=infobox' + individualmachineID + ' style="margin-left:5px;margin-bottom:10px;backgound-color:lightgrey"><div class="col-md-6">';
                            webcontent = webcontent + '<span style="cursor:pointer" onclick="GenerateMachineWiseData(' + individualmachineID + ',\'' + MachineNameData + '\')">' + MachineNameData + '</span>';
                            webcontent = webcontent + '<div class="row"><div class="col-md-2">';
                            webcontent = webcontent + '<span>AR::' + AR + '</span></div></div>';
                            webcontent = webcontent + '<div class="row"><div class="col-md-2">';
                            webcontent = webcontent + '<span>PR::' + PR + '</span></div></div>';
                            webcontent = webcontent + '<div class="row"><div class="col-md-2">';
                            webcontent = webcontent + '<span>QR::' + QR + '</span></div></div>';
                            webcontent = webcontent + '<div class="row"><div class="col-md-2">';
                            webcontent = webcontent + '<span>OEE::' + OEE + '</span></div></div></div>';
                            webcontent = webcontent + '<div class="col-md-6"><span id=span' + individualmachineID + '></span></div>';
                            webcontent = webcontent + '</div>';
                            height = height + 150;

                        }





                        $('#setup' + conentindex + '').show();
                        setupPopOver(conentindex, height, webcontent);



                    }
                    else {
                        webcontent = webcontent + '<center><h4>Machine Wise Data Not Available</h4></center>';
                        setupPopOver(conentindex, height, webcontent);
                    }


                    //  $("#effcencychart").show();
                    $("#easypyarprqroeechrt").show();
                    infoboxDt = chartdata.DT;
                    console.log(chartdata.data);
                    $("#selectDrpdiv").html('');
                    var unique = [...new Set(chartdata.jsonslst.map(item => item.ShiftDate))];
                    console.log(unique);
                    datewisecategorymachinedata = "";
                    datewisecategorymachinedata = chartdata.DT1;
                    //here bind date to the modal
                    typeofdata = "";
                    typeofdata = "categorywise";
                    var select = '<select onchange="ShowTableAcctodate()" id="drpdate">';
                    select = select + '<option value="selectDate">--select Date--</option>';

                    for (var h = 0; h < unique.length; h++) {
                        select = select + '<option value=' + unique[h] + '>' + unique[h] + '</option>';
                    }
                    select = select + '</select>';

                    $("#selectDrpdiv").html(select);
                    barchartdata = "";
                    drawARChart();
                    drawPRChart();
                    drawQRChart();
                    drawOEEChart();
                    barchartdata = chartdata.DT2;
                    linechartdata = chartdata.data;
                    DarwChart(chartdata.data);
                    DarwBarChart(chartdata.DT2);
                    WaterFallChart();

                },
                error: function (error) {
                    $("#dvInput_Loading_Data").hide();
                }
            });

        }
        function GenerateMachineWiseData(vachineids, machinename) {

            machinewisecharclick = 1;

            $("#CtegoryPiChart").hide();
            $("#CtegoryPiChartDownFreq").hide();
            RenderChartArray = [];
            var StartDate = $("#startdate").val();
            var EndDate = $("#enddate").val();
            var indivdualmachinepaetodata = "";
            var data = JSON.stringify({ MachineID: "555555", StartDate: StartDate, EndDate: EndDate });
            $.ajax({

                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/ProdEfficiencyAllMachine/DisplaySearchResults?command:Search&indvmachineid:" + vachineids + "",
                data: data,
                success: function (response) {

                    indivdualmachinepaetodata = $.parseJSON(response);

                    var machinewiseparetodata = indivdualmachinepaetodata.MachinewsiedataPareto;
                    if (machinewiseparetodata != undefined && machinewiseparetodata != null && machinewiseparetodata != "") {
                        //Darw Canvas pareto chart for that machine

                        //Create Data For Columns

                        var machinebreaktimedata = [];
                        var frqmchdata = [];
                        for (var k = 0; k < machinewiseparetodata.length; k++) {
                            var seconds = machinewiseparetodata[k].Count;
                            //if (seconds === "0" || parseInt(seconds) === 0)
                            //    continue;

                            var resonbreak = machinewiseparetodata[k].Items;
                            var breakfilter = machinebreaktimedata.filter(a => a.label == resonbreak);






                            if (breakfilter.length == 0) {
                                var objbreak =
                                {
                                    label: resonbreak,
                                    y: seconds
                                }
                                machinebreaktimedata.push(objbreak);
                            }
                            else {
                                machinebreaktimedata.pop(objbreak);
                                var calseconds = breakfilter[0].y + seconds;
                                var objbreak =
                                {
                                    label: resonbreak,
                                    y: calseconds
                                }
                                machinebreaktimedata.push(objbreak);
                            }



                            var freqfilter = frqmchdata.filter(a => a.label == resonbreak);

                            if (freqfilter.length == 0) {
                                var freqcount = 0;
                                if (seconds > 0)
                                    freqcount = 1;

                                var objFreqdata =
                                {
                                    label: resonbreak,
                                    y: freqcount
                                }
                                frqmchdata.push(objFreqdata);
                            }
                            else {
                                var count = 0;
                                frqmchdata.pop(objFreqdata);
                                count = freqfilter[0].y + 1;
                                var objFreqdata =
                                {
                                    label: resonbreak,
                                    y: count
                                }
                                frqmchdata.push(objFreqdata);
                            }




                        }

                        //After Getting Machinewise time data get paretodata for that


                        machinebreaktimedata.sort(function (a, b) {
                            return b.y - a.y
                        });




                        frqmchdata.sort(function (a, b) {
                            return b.y - a.y
                        });

                        breakmachinedata = "";
                        breakmachineparetodataglobal = "";

                        freqmachinedata = "";
                        freqmachineparetodataglobal = "";



                        var breakmachinepareto = CreatePareto(machinebreaktimedata);

                        breakmachinedata = machinebreaktimedata;
                        breakmachineparetodataglobal = breakmachinepareto;

                        myparetocanvaschart(machinebreaktimedata, breakmachinepareto);
                        DarwPiChart(machinebreaktimedata);

                        // myparetocanvaschart(machinebreaktimedata, breakmachinepareto);
                        //After Getting Machinewise frequncy count data get pareto for that
                        var freqmachinepareto = CreatePareto(frqmchdata);

                        freqmachinedata = frqmchdata;
                        freqmachineparetodataglobal = freqmachinepareto;

                        myparetocanvaschart2(frqmchdata, freqmachinepareto);
                        DarwPiChartDownFreq(frqmchdata);
                    }




                }
            });

            if (chartdata.data == undefined || chartdata.data == null || chartdata.data == "") {
                alert("Data not found Please Select Category again");
                return;
            }





            //Set Header
            globalmachnename = "";
            $("#reportheader").html('');
            $("#reportheader").html('<h5><span>Production Efficiency Report For ' + machinename + ' All Shift </span></h5>');
            globalmachnename = machinename;

            $("#selectDrpdiv").html('');
            var unique = [...new Set(chartdata.DT3.filter(a => a.MachineID == vachineids).map(item => item.Date))];
            console.log("Machine Wise Unique Date is " + unique);

            //here bind date to the modal
            var machinwisedate = chartdata.DT3.filter(a => a.MachineID == vachineids);
            datewisecategorymachinedata = "";
            datewisecategorymachinedata = machinwisedate;
            typeofdata = "";
            typeofdata = "machinewise";
            var select = '<select onchange="ShowTableAcctodate()" id="drpdate">';
            select = select + '<option value="selectDate">--select Date--</option>';

            for (var h = 0; h < unique.length; h++) {
                select = select + '<option value=' + unique[h] + '>' + unique[h] + '</option>';
            }
            select = select + '</select>';

            $("#selectDrpdiv").html(select);

            if (clickeidmachine.length == 0) {
                clickeidmachine.push(vachineids);
                $("#infobox" + vachineids + "").css('background-color', '#e0d9d9cf');
            }
            else {
                var popids = clickeidmachine.pop();
                $("#infobox" + popids + "").css('background-color', 'white');
                $("#infobox" + vachineids + "").css('background-color', '#e0d9d9cf');
                clickeidmachine.push(vachineids);
            }




            var filtermachinedata_ar_pr_qr = chartdata.DT5.filter(a => a.machineid == vachineids);


            var datemachinewisedata = chartdata.DT3.filter(a => a.MachineID == vachineids);

            var data = [];
            var loopvaraible = [];
            loopvaraible.push("MachineAR");
            loopvaraible.push("MachinePR");
            loopvaraible.push("MachineQR");
            loopvaraible.push("MachineOee");
            for (var lp = 0; lp < loopvaraible.length; lp++) {

                var seriecname = "";
                if (loopvaraible[lp].includes("AR"))
                    seriecname = "Ar";
                else if (loopvaraible[lp].includes("PR"))
                    seriecname = "Pr";
                if (loopvaraible[lp].includes("QR"))
                    seriecname = "Qr";
                if (loopvaraible[lp].includes("Oee"))
                    seriecname = "Oee";

                var dataPoints = [];
                var finalobj = {};
                for (var lich = 0; lich < datemachinewisedata.length; lich++) {
                    var objpoints = {};
                    var yvalue = parseFloat(datemachinewisedata[lich][loopvaraible[lp]]);
                    //var mchinedate = new Date(datemachinewisedata[lich].Date);
                    var mchinedate = moment(datemachinewisedata[lich].Date).format('MM/DD/YYYY');
                    var objpoints =
                    {
                        y: yvalue,
                        label: mchinedate + "-" + datemachinewisedata[lich].shiftname,
                        x: lich
                    }
                    dataPoints.push(objpoints);
                }


                finalobj =
                {
                    name: seriecname,
                    type: "spline",
                    showInLegend: true,
                    lineThickness: 1,
                    dataPoints: dataPoints
                }

                data.push(finalobj);

            }



            infoboxDt = "";
            infoboxDt = filtermachinedata_ar_pr_qr;
            drawARChart();
            drawPRChart();
            drawQRChart();
            drawOEEChart();

            console.log("Machine wisr AR,PR,QR,OEE" + data);

            linechartdata = data;
            DarwChart(data);


            var filtermachinedata_barchart = chartdata.DT4.filter(a => a.MachineID == vachineids);

            barchartdata = filtermachinedata_barchart;
            DarwBarChart(filtermachinedata_barchart);


            //myparetocanvaschart3();
            //myparetocanvaschart4();

        }

        function DarwChart(data) {
            $("#effcencychart").show();
            var formchartdatahere = [];
            RenderChartArray.push("chartContainer");
            for (var j = 0; j < data.length; j++) {
                var obj = {};

                obj =
                {
                    click: onClick,
                    name: data[j].name,
                    type: data[j].type,
                    showInLegend: data[j].showInLegend,
                    lineThickness: data[j].lineThickness,
                    legend: {
                        itemclick: function (e) {
                            alert("Legend item clicked with type : " + e.dataSeries.type);
                        }
                    },
                    dataPoints: data[j].dataPoints,
                }

                formchartdatahere.push(obj);
            }
            linechart = new CanvasJS.Chart("chartContainer",
                {
                    backgroundColor: "#E0E0E0",
                    title: {
                        text: "Efficiency Report"
                    },
                    toolTip: { shared: true },
                    axisY: { gridThickness: 0.5 },
                    data: formchartdatahere

                });
            linechart.render();

            function onClick(e) {
                seriesdatatableshowhide = 1;
                $("#modaldatewisetable").hide();
                $("#modalheader").html('');
                $("#modalseriestable").html('');
                var filterdata = formchartdatahere.filter(a => a.name == e.dataSeries.name);
                console.log(filterdata[0].dataPoints);
                modalheaderseries = e.dataSeries.name + " Value";
                $("#modalheader").html(modalheaderseries);
                var keys = Object.keys(filterdata[0].dataPoints[0]);
                var modaltable = '<table border="1" cellpadding="5" class="table table-bordered">';
                modaltable = modaltable + '<thead><tr>';
                for (var j = 0; j < keys.length; j++) {
                    var headername = "";

                    if (keys[j] == "y")
                        headername = e.dataSeries.name + "-" + "Value";

                    if (keys[j] == "label")
                        headername = "Date";

                    if (keys[j] == "x")
                        continue;

                    modaltable = modaltable + '<th>' + headername + '</th>';
                }
                modaltable = modaltable + '</tr></thead>';
                modaltable = modaltable + '<tbody>';

                modaltable = modaltable + '<tr>';
                for (var k = 0; k < filterdata[0].dataPoints.length; k++) {
                    for (var j = 0; j < keys.length; j++) {
                        if (keys[j] == "x")
                            continue;
                        modaltable = modaltable + '<td>' + filterdata[0].dataPoints[k][keys[j]] + '</td>';
                    }
                    modaltable = modaltable + '</tr>';
                }

                modaltable = modaltable + '</tr></tbody></table>';
                console.log(modaltable);
                $("#modalseriestable").html(modaltable);
                $("#modalseriestable").show();
                $("#myModal").modal();
            }
        }

        function DarwBarChart(data) {
            RenderChartArray.push("barchartContainer");
            $("#effcencybarchart").show();
            var dataproduction = [];
            var datarejection = [];
            var objprod = {};
            var objrej = {};


            for (var h = 0; h < data.length; h++) {


                objprod = {}
                objrej = {};

                var totalproduction = data[h].TotalProduction;

                if (totalproduction == null || totalproduction == undefined || totalproduction == "")
                    totalproduction = 0;


                var totalrejection = data[h].TotalRejection;
                if (totalrejection == null || totalrejection == undefined || totalrejection == "")
                    totalrejection = 0;


                objprod =
                {
                    y: parseFloat(totalproduction),
                    x: new Date(data[h].Date)
                };
                objrej = {
                    y: parseFloat(totalrejection),
                    x: new Date(data[h].Date)
                };
                dataproduction.push(objprod);
                datarejection.push(objrej);
            }

            console.log(dataproduction);
            console.log(datarejection);



            var barchart = new CanvasJS.Chart("barchartContainer",
                {
                    backgroundColor: "#F0F0F0",
                    animationEnabled: true,
                    title: {
                        text: "Production Rejection Rate",
                        fontFamily: "arial black",
                        fontColor: "#3c8dbc"
                    },
                    axisX: {
                        interval: 5,
                        intervalType: "day"
                    },
                    axisY: {

                        tickColor: "#c10000f2"
                    },
                    toolTip: {
                        shared: true,
                        //content: toolTipContent
                    },
                    data: [{
                        type: "stackedColumn",
                        showInLegend: true,
                        color: "#3c8dbc",
                        name: "TotalProduction",
                        dataPoints: dataproduction
                    },
                    {
                        type: "stackedColumn",
                        showInLegend: true,
                        name: "TotalRejection",
                        color: "#c10000f2",
                        dataPoints: datarejection
                    }]
                });
            barchart.render();


        }



        $('#bs-tab2').on("shown.bs.tab", function () {
            RenderChartArray = [];
            DarwChart(linechartdata);
            DarwBarChart(barchartdata);
            if (machinewisecharclick == 1) {
                //Bind Machine Related chart here
                myparetocanvaschart(breakmachinedata, breakmachineparetodataglobal);
                DarwPiChart(breakmachinedata);
                myparetocanvaschart2(freqmachinedata, freqmachineparetodataglobal);
                DarwPiChartDownFreq(freqmachinedata);
            }



            //$('#bs-tab2').off();
        });

        function DarwPiChart(data) {
            $("#CtegoryPiChart").show();

            RenderChartArray.push("CategorypichartContainer");
            var chart = new CanvasJS.Chart("CategorypichartContainer",
                {
                    backgroundColor: "#E0E0E0",
                    animationEnabled: true,
                    title: {
                        text: "Down Time Duration"
                    },
                    data: [{
                        type: "pie",

                        yValueFormatString: "##0.00\"%\"",
                        indexLabel: "{label} {y}",
                        dataPoints: data
                    }]
                });
            chart.render();

        }

        function DarwPiChartDownFreq(data) {
            RenderChartArray.push("CategorypichartFreqContainer");
            $("#CtegoryPiChartDownFreq").show();

            var chart = new CanvasJS.Chart("CategorypichartFreqContainer", {
                animationEnabled: true,
                backgroundColor: "#E0E0E0",
                title: {
                    text: "Down Time Frequncy"
                },
                data: [{
                    type: "pie",
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: data
                }]
            });
            chart.render();

        }

        function toolTipContent(e) {
            var str = "";
            var total = 0;
            var str2, str3;
            for (var i = 0; i < e.entries.length; i++) {
                var str1 = "<span style= \"color:" + e.entries[i].dataSeries.color + "\"> " + e.entries[i].dataSeries.name + "</span>: <strong>" + e.entries[i].dataPoint.y + "</strong><br/>";
                total = e.entries[i].dataPoint.y + total;
                str = str.concat(str1);
            }
            str2 = "<span style = \"color:DodgerBlue;\"><strong>" + moment((e.entries[0].dataPoint.x)).format('MM/DD/YYYY') + "</strong></span><br/>";
            total = Math.round(total * 100) / 100;
            str3 = "<span style = \"color:Tomato\">Total:</span><strong> " + total + "</strong><br/>";
            return (str2.concat(str)).concat(str3);
        }


        function drawARChart() {
            var chartids = "easypichartAR";


            var avgar = "";
            if (infoboxDt[0]["Average AR"] != null && infoboxDt[0]["Average AR"] != "null" &&
                infoboxDt[0]["Average AR"] != "NULL" && infoboxDt[0]["Average AR"] != undefined)
                avgar = parseFloat(infoboxDt[0]["Average AR"]) * 100;
            else
                avgar = 0;


            drawEasyPIChart(avgar, "AR", chartids);
        }

        function drawPRChart() {
            var avgar = "";
            if (infoboxDt[0]["Average PR"] != null && infoboxDt[0]["Average PR"] != "null" &&
                infoboxDt[0]["Average PR"] != "NULL" && infoboxDt[0]["Average PR"] != undefined)
                avgar = parseFloat(infoboxDt[0]["Average PR"]) * 100;
            else
                avgar = 0;
            var chartids = "easypichartPR";

            drawEasyPIChart(avgar, "PR", chartids);
        }

        function drawQRChart() {



            var avgar = "";
            if (infoboxDt[0]["Average QR"] != null && infoboxDt[0]["Average QR"] != "null" &&
                infoboxDt[0]["Average QR"] != "NULL" && infoboxDt[0]["Average QR"] != undefined)
                avgar = parseFloat(infoboxDt[0]["Average QR"]) * 100;
            else
                avgar = 0;



            var chartids = "easypichartQR";

            drawEasyPIChart(avgar, "QR", chartids);
        }

        function drawOEEChart() {

            var avgar = parseFloat(infoboxDt[0]["Average OEE"]) * 100;

            var avgar = "";
            if (infoboxDt[0]["Average OEE"] != null && infoboxDt[0]["Average OEE"] != "null" &&
                infoboxDt[0]["Average OEE"] != "NULL" && infoboxDt[0]["Average OEE"] != undefined)
                avgar = parseFloat(infoboxDt[0]["Average OEE"]) * 100;
            else
                avgar = 0;



            var chartids = "easypichartOEE";

            drawEasyPIChart(avgar, "OEE", chartids);
        }



        function ShowTableAcctodate() {
            $("#modalseriestable").hide();

            $("#modalheader").html('');
            $("#modaldatewisetable").html('');
            var ShiftDateslect = $("#drpdate option:selected").val();
            console.log("slected shift date is " + ShiftDateslect);
            modalheaderdate = "Date Wise Data";
            $("#modalheader").html(modalheaderdate);
            seriesdatatableshowhide = 0;
            var modaltable = '<table border="1" cellpadding="5" class="table table-bordered">';
            modaltable = modaltable + '<thead><tr>';

            var keys = Object.keys(datewisecategorymachinedata[0]);
            for (var t = 0; t < keys.length; t++) {
                if (keys[t] == "Date" || keys[t] == "ShiftDateTime")
                    continue;
                modaltable = modaltable + '<th>' + keys[t] + '</th>';
            }

            modaltable = modaltable + '</tr></thead>';
            modaltable = modaltable + '<tbody>';

            modaltable = modaltable + '<tr>';
            for (var k = 0; k < datewisecategorymachinedata.length; k++) {
                for (var j = 0; j < keys.length; j++) {


                    if (keys[j] == "Date" || keys[j] == "ShiftDateTime")
                        continue;
                    if (typeofdata == "categorywise") {
                        if (datewisecategorymachinedata[k].ShiftDateTime != ShiftDateslect)
                            continue;
                    }
                    else if (typeofdata == "machinewise") {
                        if (datewisecategorymachinedata[k].Date != ShiftDateslect)
                            continue;
                    }

                    modaltable = modaltable + '<td>' + datewisecategorymachinedata[k][keys[j]] + '</td>';
                }
                modaltable = modaltable + '</tr>';
            }

            modaltable = modaltable + '</tr></tbody></table>';
            console.log(modaltable);
            $("#modaldatewisetable").html(modaltable);
            $("#modaldatewisetable").show();

        }


        function showhidetable() {
            if (seriesdatatableshowhide == 1) {
                $("#modalheader").html('');
                $("#modaldatewisetable").show();
                $("#modalseriestable").hide();
                $("#modalheader").html("Date Wise Data");
                seriesdatatableshowhide = 0;
                return;
            }
            if (seriesdatatableshowhide == 0) {
                $("#modalheader").html('');
                $("#modaldatewisetable").hide();
                $("#modalseriestable").show();
                $("#modalheader").html(modalheaderseries);
                seriesdatatableshowhide = 1;
                return;
            }
        }


        function drawEasyPIChart(seteaspivalue, type, chrtids) {



            var dynaColorsSet = [
                "#FFFFFF", // red
                "#070AEB", // blue
                "#00a65a", // green
                "#FAF211", // yellow
                "#F76F30" // orange
            ];
            var mybarcolor = "";
            if (seteaspivalue >= 50 && seteaspivalue < 70)
                mybarcolor = 'orange';
            else if (seteaspivalue < 50)
                mybarcolor = 'red';
            else if (seteaspivalue >= 70)
                mybarcolor = dynaColorsSet[2];;






            $('#' + chrtids + '').easyPieChart
                ({
                    // The color of the curcular bar. You can pass either a css valid color string like rgb, rgba hex or string colors. But you can also pass a function that accepts the current percentage as a value to return a dynamically generated color.
                    barColor: function (percent) {
                        return (percent < 50 ? 'red' : percent < 70 && percent >= 50 ? 'orange' : '#00a65a');
                    },
                    // The color of the track for the bar, false to disable rendering.
                    trackColor: 'white',
                    // The color of the scale lines, false to disable rendering.
                    // scaleColor: 'orange',
                    // Defines how the ending of the bar line looks like. Possible values are: butt, round and square.
                    lineCap: 'butt',
                    // Width of the bar line in px.
                    lineWidth: 30,
                    // Size of the pie chart in px. It will always be a square.
                    size: 150,
                    // Time in milliseconds for a eased animation of the bar growing, or false to deactivate.
                    animate: 1000,
                    // Callback function that is called at the start of any animation (only if animate is not false).
                    onStart: $.noop,
                    // Callback function that is called at the end of any animation (only if animate is not false).
                    onStop: $.noop
                });

            var newValue = 25;
            var valueinspan = parseFloat(seteaspivalue / 100);
            var spanval = type + "-" + valueinspan.toFixed(3);
            var spanids = "span" + type;
            console.log("aaaaa", spanval)
            $('#' + chrtids + '').data('easyPieChart').update(seteaspivalue);
            $('#' + spanids + '', $('#' + chrtids + '')).text(spanval);

        }


        function myparetocanvaschart(coldata, paretodata) {
            RenderChartArray.push("chartContainer8");
            var maxyaxisdata = "";
            if (parseFloat(coldata[0].y / 50) != 0) {

                maxyaxisdata = Math.ceil(parseFloat(coldata[0].y / 50));
                maxyaxisdata = maxyaxisdata * 50;
            }
            else {
                maxyaxisdata = coldata[0].y + 50;
            }

            $("#effcencychartpareto").show();
            var chart = new CanvasJS.Chart("chartContainer8", {
                title: {
                    text: "DownTime Duration"
                },
                backgroundColor: "#E0E0E0",

                axisY: {
                    maximum: maxyaxisdata,

                    interval: 50,
                    gridThickness: 0,
                    title: "Time (min.)",
                    lineColor: "#4F81BC",
                    tickColor: "#4F81BC",
                    labelFontColor: "#4F81BC"

                },
                axisY2: {
                    maximum: 120,
                    interval: 20,
                    gridThickness: 0,
                    title: "Percent",
                    suffix: "%",
                    lineColor: "#C0504E",
                    tickColor: "#C0504E",
                    labelFontColor: "#C0504E"
                },
                data: [
                    {
                        type: "column",
                        click: function onClick(e) {
                            alert(e.dataSeries.type + ", dataPoint { x:" + e.dataPoint.x + ", y: " + e.dataPoint.y + " }");
                        },



                        dataPoints: coldata
                    },

                    {
                        type: "line",

                        axisYType: "secondary",

                        axisYIndex: 1,


                        dataPoints: paretodata
                    }
                ]
            });

            chart.render();
        }

        function myparetocanvaschart2(coldata, paretodata) {
            RenderChartArray.push("chartContainer9");
            var maxyaxisdata = "";
            if (parseFloat(coldata[0].y / 2) != 0) {

                maxyaxisdata = Math.ceil(parseFloat(coldata[0].y / 2));
                maxyaxisdata = maxyaxisdata * 2;
            }
            else {
                maxyaxisdata = coldata[0].y + 2;
            }


            $("#effcencychartpareto2").show();
            var chart = new CanvasJS.Chart("chartContainer9", {
                title: {
                    text: "DownTime Frequency"
                },
                backgroundColor: "#E0E0E0",

                axisY: {
                    maximum: coldata[0].y + 2,
                    interval: 2,
                    gridThickness: 0,
                    title: "Freq",
                    lineColor: "#4F81BC",
                    tickColor: "#4F81BC",
                    labelFontColor: "#4F81BC"

                },
                axisY2: {
                    maximum: 120,
                    interval: 20,
                    gridThickness: 0,
                    title: "Percent",
                    suffix: "%",
                    lineColor: "#C0504E",
                    tickColor: "#C0504E",
                    labelFontColor: "#C0504E"
                },
                data: [
                    {
                        type: "column",
                        click: function onClick(e) {
                            alert(e.dataSeries.type + ", dataPoint { x:" + e.dataPoint.x + ", y: " + e.dataPoint.y + " }");
                        },



                        dataPoints: coldata
                    },

                    {
                        type: "line",

                        axisYType: "secondary",

                        axisYIndex: 1,


                        dataPoints: paretodata
                    }
                ]
            });

            chart.render();
        }



        function CreatePareto(ParetoData) {

            var dps = [];
            var yValue, yTotal = 0, yPercent = 0;

            for (var i = 0; i < ParetoData.length; i++) {
                var value = parseFloat(ParetoData[i].y);
                yTotal += value;
            }

            for (var i = 0; i < ParetoData.length; i++) {
                yValue = parseFloat(ParetoData[i].y);
                yPercent += parseFloat((yValue / yTotal * 100));
                dps.push({ label: ParetoData[i].label, y: yPercent });
            }
            return dps;

        }





        $("#exportButton").click(function () {


            var canvasurls = [];
            //Get Urls of Chart to Render
            for (var k = 0; k < RenderChartArray.length; k++) {
                var chartID = "#" + RenderChartArray[k];
                try {
                    var canvas = $("" + chartID + " .canvasjs-chart-canvas").get(0);
                    var dataURL = canvas.toDataURL();
                    canvasurls.push(dataURL);
                }
                catch (err) { console.log(err.message) }
            }

            console.log("ChartPdf Urls is " + canvasurls);

            var pointY = 40;
            var pageaddcounter = 0;
            var pdf = new jsPDF('p', 'pt', 'a4');
            pdf.text("" + globalmachnename + " Report Data", 200, 20);
            for (var k = 0; k < canvasurls.length; k++) {

                if (k % 3 != 0 || k == 0) {

                    if (k == canvasurls.length - 1) {

                        //specialElementHandlers = {
                        //    // element with id of "bypass" - jQuery style selector
                        //    '#bypassme': function (element, renderer) {
                        //        // true = "handled elsewhere, bypass text extraction"
                        //        return true
                        //    }
                        //};

                        //pdf.fromHTML
                        //    (
                        //    getTableDynamically(),
                        //    40,
                        //    400,
                        //    {

                        //        'width': 400,// max width of content on PDF
                        //        'elementHandlers': specialElementHandlers
                        //    });
                        pdf.text("Produced by ProEfficient Pvt.Ltd", 195, 820);

                    }
                    pdf.addImage(canvasurls[k], 'JPEG', 0, pointY);
                    pageaddcounter = 0;

                }


                if (k % 3 == 0 && k != 0) {
                    pageaddcounter = 1;
                    if (pageaddcounter == 1) {
                        pdf.addPage();
                        pointY = 40;
                    }
                    if (k == canvasurls.length - 1 && k % 3 == 0) {


                        //This is for embeeding Datatable to pdf
                        //specialElementHandlers = {
                        //    // element with id of "bypass" - jQuery style selector
                        //    '#bypassme': function (element, renderer) {
                        //        // true = "handled elsewhere, bypass text extraction"
                        //        return true
                        //    }
                        //};

                        //pdf.fromHTML
                        //    (
                        //    getTableDynamically(),
                        //    40,
                        //    400,

                        //    { // y coord
                        //        'width': 400,// max width of content on PDF
                        //        'elementHandlers': specialElementHandlers
                        //    });


                        pdf.text("Produced by ProEfficient Pvt.Ltd", 195, 820);

                    }
                    pdf.addImage(canvasurls[k], 'JPEG', 0, pointY);

                }



                pointY = pointY + 250;

            }


            pdf.save("" + globalmachnename + ".pdf");


        });

        function getTableDynamically() {
            var table = "";
            table = table + '<div class="row">';
            table = table + '<div>';
            table = table + '<table><thead><tr>';
            var keys = Object.keys(datewisecategorymachinedata[0]);
            for (var t = 0; t < keys.length; t++) {
                if (keys[t] == "ShiftDateTime")
                    continue;
                table = table + '<th>' + keys[t] + '</th>';
            }

            table = table + '</tr></thead>';
            table = table + '<tbody>';

            table = table + '<tr>';
            for (var k = 0; k < datewisecategorymachinedata.length; k++) {
                for (var j = 0; j < keys.length; j++) {


                    if (keys[j] == "ShiftDateTime")
                        continue;



                    table = table + '<td>' + datewisecategorymachinedata[k][keys[j]] + '</td>';
                }
                table = table + '</tr>';
            }

            table = table + '</tbody></table></div></div>';
            return table;
        }



        $('#bs-tab3').on("shown.bs.tab", function () {
            RenderChartArray = [];
            BubbleChart1();
        });


        $('#bs-tab4').on("shown.bs.tab", function () {
            RenderChartArray = [];
            WaterFallChart();
        });




        function WaterFallChart() {


            RenderChartArray.push("waterfallchartContainer");
            var chart = new CanvasJS.Chart("waterfallchartContainer",
                {

                    backgroundColor: "#E0E0E0",
                    title: {
                        text: "Value Addition",
                    },
                    axisX: {
                        labelAngle: 0
                    },
                    axisY: {
                        title: "Time"
                    },
                    data: [{
                        type: "waterfall",
                        indexLabel: "{y}",
                        dataPoints: [
                            { y: 21600, label: "TotalDayTime" },
                            { y: -3600, label: "NonWorkingTime", color: "red" },
                            { isCumulativeSum: true, label: "TotalWorkingShiftTime" },
                            { y: -1200, label: "ShutdownTime", color: "red" },
                            { isCumulativeSum: true, label: "AvailableTime" },



                            { y: -230, label: "UtilisationLoss", color: "red" },
                            { isCumulativeSum: true, label: "OperatingTime" },

                            { y: -2570, label: "Minor Loss", color: "red" },
                            { isCumulativeSum: true, label: "TotalProductionTime" },

                            { y: -239, label: "QualityLoss", color: "red" },
                            { isCumulativeSum: true, label: "ValueAddedTime" },


                        ]
                    }]
                });
            chart.render();

        }

        function BubbleChart1() {

            RenderChartArray.push("bubblechartContainer");
            var chart = new CanvasJS.Chart("bubblechartContainer",
                {
                    backgroundColor: "#E0E0E0",
                    data: [
                        {
                            type: "bubble",
                            dataPoints: [
                                { label: "Asthetic", y: 12, z: 0 },
                                { label: "Noise", y: 10, z: 0 },
                                { label: "Performance", y: 5, z: 0 },
                                { label: "Insulation failure", y: 21, z: 0 },
                                { label: "Shorting", y: 8, z: 0 }
                            ]
                        }
                    ]
                });

            chart.render();
        }




    </script>
}
