﻿
@model System.Data.DataTable

@{
    ViewBag.Title = "Production Efficency Report";
    
}
<table border="1" cellpadding="5" class="table table-bordered">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in Model.Columns)
            {
                <th>@col.Caption</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                @foreach (var cell in row.ItemArray)
                {
                <td>@(string.IsNullOrEmpty(cell.ToString())?"0":cell.ToString().Replace(".00",""))</td>
                }
            </tr>
        }
    </tbody>
</table>