﻿@model ProEfficient.Core.Models.UserReportConfig

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1> Create <span>Machine Report</span></h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.ReportName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ReportName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <label>Choose Machine </label>
                    @Html.ListBoxFor(model => model.arrMachineIds, (IEnumerable<SelectListItem>)ViewBag.MachineIds, new { @class = "listbox", id = "allMachines" })
                    @Html.ValidationMessageFor(model => model.arrMachineIds, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.DateRange, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.DateRange, (IEnumerable<SelectListItem>)ViewBag.Freequency, htmlAttributes: new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.DateRange, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.IsDefault, htmlAttributes: new { @class = "control-label" })
                    @Html.CheckBoxFor(model => model.IsDefault, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-12">
                    
                        <label>Choose Recipients </label>
                        @Html.ListBoxFor(model => model.arrRecipients, (IEnumerable<SelectListItem>)ViewBag.UserIds, new { @class = "listbox", id = "allUsers" })
                        @Html.ValidationMessageFor(model => model.arrRecipients, "", new { @class = "text-danger" })
                    
                    @*@Html.LabelFor(model => model.MailTo, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.MailTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MailTo, "", new { @class = "text-danger" })*@
                </div>

                <div class="form-group col-xs-12 col-md-4">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                </div>

                <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                    <input type="submit" value="Create" class="btn btn-create-user" />
                </div>

            </section>
        </div>
    </div>
}

@section Scripts {

    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>
    <link href="~/Multiselect/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="~/Multiselect/bootstrap-multiselect.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@

}
<script type="text/javascript">
    $(function () {
        $('.listbox').chosen('destroy');
        $('.listbox').multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '100%',
            maxHeight: 300,
            buttonClass: 'form-control',
            selectedClass: 'multiselect-selected'

        });
        $('.listbox').chosen('destroy');
    });
</script>