﻿@model IEnumerable<ProEfficient.Core.Models.UserReportConfig>

@{
    ViewBag.Title = "Machine Report List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title"><h2 style="display:inline;">Machine Report List</h2>
    <table style="display:inline;float:right;"><tr><td>@Html.ActionLink("Create New Report", "Create","UserMachineReport", null, new { @class = "btn btn-primary" })</td>
        <td>&nbsp;</td>
        <td></td></tr></table></div>


<br />

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ReportName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateRange)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDefault)
                </th>

                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ReportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
               

                <td>
                    @(item.IsDefault ? "YES" : "NO")
                </td>

                <td class="edit">
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserMachineReportID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserMachineReportID }, new { onclick = "return confirm('Are you sure you wish to delete this Report?');" })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>