﻿@using ProEfficient.Dal.Utility
@model ProEfficient.Core.Models.Organization

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

            <section class="globalForm">
                <h1> Change Organization</h1>
                <hr />
                <div class="form-group col-xs-12 col-md-8 col-md-offset-2">
                    @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.OrganizationId, UserUtility.AllOrganizationsList, "Select Organization", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-xs-12 col-md-8 col-md-offset-2">
                    <input type="submit" value="Set" class="btn btn-create-user" />
                </div>
            </section>
            
        </div>
    </div>
}



