﻿@model ProEfficient.Core.Models.Organization

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <section class="globalForm">
                <h1> <i class="fa fa-user-secret" aria-hidden="true"></i> Edit Organization</h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OrganizationId)
                @Html.HiddenFor(model => model.IsActive)
                @Html.HiddenFor(model => model.AddBy)
                @Html.HiddenFor(model => model.EdittedBy)

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.OrganizationName, htmlAttributes: new { @class = "control-label required" })
                    @Html.EditorFor(model => model.OrganizationName, new { htmlAttributes = new { @class = "form-control text-box single-line", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.OrganizationName, "", new { @class = "text-danger" })

                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label required" })
                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control text-box single-line", @required = "required", type = "number" } })
                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2 required" })
                    @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control text-box single-line", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-xs-12 col-md-6">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>

                @*<div class="form-group col-xs-12 col-md-6">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                            @Html.LabelFor(model => model.AddBy, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.AddBy, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                            @Html.ValidationMessageFor(model => model.AddBy, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                            @Html.LabelFor(model => model.EdittedBy, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.EdittedBy, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                            @Html.ValidationMessageFor(model => model.EdittedBy, "", new { @class = "text-danger" })
                    </div>*@

                <div class="form-group col-xs-12 col-md-4">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i> @Html.ActionLink("Back to List", "Index")
                </div>

                <div class="form-group col-xs-12 col-md-4 col-md-offset-4">
                    <input type="submit" value="Save" class="btn btn-create-user" />
                </div>

            </section>
        </div>
    </div>


}


@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>

    @*@Scripts.Render("~/bundles/jqueryval")*@
}
