﻿@using ProEfficient.Core.Utility
@model IEnumerable<ProEfficient.Core.Models.Organization>

@{
    ViewBag.Title = "Organization List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Organization List @Html.ActionLink("Create New Organization", "Create", null, new { @class="btn btn-primary" })</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrganizationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @(item.IsActive.ToBoolean() ? "Active" : "InActive")
                    </td>

                    <td class="edit">
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrganizationId })
                        @Html.ActionLink((item.IsActive.ToBoolean() ? "Deactivate" : "Activate"), "Delete", new { id = item.OrganizationId }, new { @class = "DeleteAnc" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
