﻿@model ProEfficient.Core.Models.LoginModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <h2>Login</h2> -->

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <section id="loginForm">
                <img class="login-container-icon" src="~/Content/img/log-in-icon.png" title="">
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.OrganizationId, htmlAttributes: new { @class = "" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.OrganizationId,
                            ProEfficient.Utility.UserUtility.AllOrganizations, "Select Organization", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <input type="submit" value="Login" class="btn btn-login" />
                @*@Html.ActionLink("Forgot Password", "Index", "ForgotPassword")*@
            </section>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/bundles/jqueryval.min.js"></script>
    <script src="~/Scripts/unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
