﻿@model ProEfficient.Ui.Entity.UserSendReportConfig

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>UserSendReportConfig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserSendReportConfigId" />
            <div class="form-group">
                <label asp-for="ReportGroupId" class="control-label"></label>
                <input asp-for="ReportGroupId" class="form-control" />
                <span asp-validation-for="ReportGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportTypeId" class="control-label"></label>
                <input asp-for="ReportTypeId" class="form-control" />
                <span asp-validation-for="ReportTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportName" class="control-label"></label>
                <input asp-for="ReportName" class="form-control" />
                <span asp-validation-for="ReportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRange" class="control-label"></label>
                <input asp-for="DateRange" class="form-control" />
                <span asp-validation-for="DateRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidDays" class="control-label"></label>
                <input asp-for="ValidDays" class="form-control" />
                <span asp-validation-for="ValidDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekStartDay" class="control-label"></label>
                <input asp-for="WeekStartDay" class="form-control" />
                <span asp-validation-for="WeekStartDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthStartDate" class="control-label"></label>
                <input asp-for="MonthStartDate" class="form-control" />
                <span asp-validation-for="MonthStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportSentTime" class="control-label"></label>
                <input asp-for="ReportSentTime" class="form-control" />
                <span asp-validation-for="ReportSentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MailTo" class="control-label"></label>
                <input asp-for="MailTo" class="form-control" />
                <span asp-validation-for="MailTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationId" class="control-label"></label>
                <input asp-for="OrganizationId" class="form-control" />
                <span asp-validation-for="OrganizationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

