﻿@model IEnumerable<ProEfficient.Ui.Entity.UserSendReportConfig>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekStartDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportSentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MailTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationId)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserSendReportConfig1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSendReportConfigNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekStartDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportSentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationId)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserSendReportConfig1.DateRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSendReportConfigNavigation.ReportTypeName)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserSendReportConfigId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserSendReportConfigId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserSendReportConfigId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
